<!-- <h2 mat-dialog-title>{{ filedList.name }}</h2> -->

<mat-dialog-content class="mat-typography">
  <div *ngIf="filedList.length <= 0; else dialog_content">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #dialog_content>
    <div *ngFor="let item of filedList">
      Nhóm: {{ item.name }}
      <app-form-group [filed]="item.filed"></app-form-group>
    </div>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Hủy</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Xác nhận</button>
</mat-dialog-actions>
