<div class="page__list">
    <div class="container-fluid">
        <form
            *ngIf="form"
            [formGroup]="form"
            class="form-submit"
            (ngSubmit)="onSubmit()"
        >
            <div class="row">
                <div class="col-md-6">
                    <h4 class="title">
                        {{
                            isEdit === false
                                ? 'Tạo đợt quân số ăn'
                                : 'Sửa đợt quân số ăn'
                        }}
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="basic-info">
                        <div class="box">Thông tin cơ bản</div>

                        <dynamic-form-builder [form]="form" [fields]="field">
                        </dynamic-form-builder>
                    </div>

                    <div class="add-eater">
                        <form
                            *ngIf="formEater"
                            [formGroup]="formEater"
                            class="form-submit"
                            (ngSubmit)="addEater()"
                        >
                            <div class="box">Bổ sung quân số</div>

                            <dynamic-form-builder
                                [form]="formEater"
                                [fields]="fieldAddEater"
                            >
                            </dynamic-form-builder>

                            <div class="action">
                                <app-button
                                    [type]="'submit'"
                                    [matType]="'flat'"
                                    [title]="'Thêm'"
                                    [color]="'primary'"
                                    [isDisabled]="!formEater.valid"
                                ></app-button>

                                <app-button
                                    [type]="'button'"
                                    [matType]="'flat'"
                                    [title]="'Nhập từ file excel'"
                                    [color]="'primary'"
                                    (handleClick)="fileUpload.click()"
                                ></app-button>

                                <app-button
                                    [type]="'button'"
                                    [matType]="'stroked'"
                                    [title]="'Tải mẫu excel'"
                                    [color]="'primary'"
                                    (handleClick)="downloadExample()"
                                ></app-button>
                            </div>

                            <input
                                #fileUpload
                                type="file"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                class="file-input"
                                (change)="onFileSelected($event)"
                                class="file-input"
                            />
                        </form>
                    </div>

                    <div class="list-eater">
                        <div class="box">Danh sách quân nhân ăn</div>

                        <div class="filter">
                            <div class="row">
                                <div class="col-5 col-md-5">
                                    <mat-form-field appearance="legacy">
                                        <mat-label
                                            >Tìm kiếm theo tên quân
                                            nhân</mat-label
                                        >
                                        <input
                                            matInput
                                            (keyup)="applyFilter.next($event)"
                                            #input
                                            placeholder="Nhập tên quân nhân"
                                        />
                                        <mat-icon matSuffix>search</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-3 col-md-3">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Đối tượng ăn</mat-label>
                                        <mat-select
                                            [(value)]="selected"
                                            (selectionChange)="
                                                handleSelectFilter($event)
                                            "
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let item of listObjectEatFilter
                                                "
                                                [value]="item.key"
                                                >{{ item.name }}</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div
                            class="info-eater"
                            *ngIf="dataSource.data.length > 0"
                        >
                            <table mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox
                                            (change)="
                                                $event ? toggleAllRows() : null
                                            "
                                            [checked]="
                                                selection.hasValue() &&
                                                isAllSelected()
                                            "
                                            [indeterminate]="
                                                selection.hasValue() &&
                                                !isAllSelected()
                                            "
                                            [aria-label]="checkboxLabel()"
                                        >
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox
                                            (click)="$event.stopPropagation()"
                                            (change)="
                                                $event
                                                    ? selection.toggle(row)
                                                    : null
                                            "
                                            [checked]="
                                                selection.isSelected(row)
                                            "
                                            [aria-label]="checkboxLabel(row)"
                                        >
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="stt">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Thứ tự
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="
                                            let element;
                                            let index = index
                                        "
                                        class="text-left"
                                    >
                                        {{
                                            paginator.pageIndex *
                                                paginator.pageSize +
                                                index +
                                                1
                                        }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="tenQuanNhan">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Tên quân nhân
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let element"
                                        class="text-left"
                                    >
                                        {{ element.tenQuanNhan }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="capBac">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Cấp bậc
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{
                                            getNameById(element.capBac, 'Rank')
                                        }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="chucVu">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Chức vụ
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{
                                            getNameById(
                                                element.chucVu,
                                                'Position'
                                            )
                                        }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="doiTuongAnId">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Đối tượng ăn
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{
                                            getNameById(
                                                element.doiTuongAnId,
                                                'Eat'
                                            )
                                        }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="mucTienAn">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Mức tiền ăn
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{
                                            getPrieById(element.doiTuongAnId)
                                                | currency
                                                    : 'VND'
                                                    : 'symbol'
                                                    : '1.0'
                                                    : 'vi'
                                        }}
                                    </td>
                                </ng-container>
                                <!-- priceConvert -->

                                <ng-container matColumnDef="trangThai">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Trạng thái
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="let element"
                                        [ngClass]="
                                            element.trangThai === false
                                                ? 'is-pause'
                                                : 'stt-doing'
                                        "
                                    >
                                        {{
                                            element.trangThai === false
                                                ? 'Tạm ngưng'
                                                : 'Hoạt động'
                                        }}
                                    </td>
                                </ng-container>

                                <!-- Actions Column -->
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Thao tác
                                    </th>
                                    <td
                                        mat-cell
                                        *matCellDef="
                                            let element;
                                            let index = index
                                        "
                                        class="text-center"
                                    >
                                        <button
                                            type="button"
                                            class="btn btn-xs blue ng-star-inserted"
                                            (click)="editEater(element, index)"
                                        >
                                            <i
                                                class="fa fa-pencil-square-o"
                                            ></i>
                                            Sửa
                                        </button>

                                        <button
                                            type="button"
                                            class="btn btn-xs red ng-star-inserted"
                                            (click)="deleteEater(element)"
                                        >
                                            <i class="fa fa-trash"></i>
                                            Xoá
                                        </button>
                                    </td>
                                </ng-container>

                                <tr
                                    mat-header-row
                                    *matHeaderRowDef="displayedColumnsOfField"
                                ></tr>
                                <tr
                                    mat-row
                                    *matRowDef="
                                        let row;
                                        columns: displayedColumnsOfField
                                    "
                                ></tr>
                            </table>
                        </div>

                        <div
                            class="text-center"
                            *ngIf="dataSource.data.length === 0"
                        >
                            Chưa có danh sách quân nhân ăn
                        </div>

                        <div
                            class="d-flex justify-content-between align-items-end"
                        >
                            <app-button
                                [type]="'button'"
                                [matType]="'stroked'"
                                [title]="'Xoá danh sách đã chọn'"
                                [color]="'warn'"
                                [isDisabled]="selection.selected.length === 0"
                                (handleClick)="deleteList()"
                            ></app-button>
                            <mat-paginator
                                class="custom-paginator"
                                [pageSizeOptions]="[10, 15, 20]"
                                showFirstLastButtons
                            >
                            </mat-paginator>
                        </div>
                    </div>

                    <mat-divider class="mt-20"></mat-divider>

                    <div class="footer">
                        <app-button
                            [type]="'button'"
                            [matType]="'stroked'"
                            [title]="'Quay lại danh sách'"
                            [color]="'primary'"
                            (handleClick)="goBack()"
                        ></app-button>
                        <app-button
                            [type]="'submit'"
                            [matType]="'flat'"
                            [title]="isEdit ? 'Lưu lại' : 'Tạo mới'"
                            [color]="'primary'"
                            [isDisabled]="!form.valid"
                        ></app-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
