.box {
    background: #ededed;
    padding: 10px 0 10px 20px;
    margin-bottom: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

input[type='file'] {
    display: none;
}

.align-items-end {
    align-items: end;
}

.action {
    margin-bottom: 2em;
}

.mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}

.is-pause {
    color: #f44336;
}

.stt-doing {
    color: #138301;
}

::ng-deep {
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: #337ab7;
    }

    .mat-radio-button.mat-accent .mat-radio-inner-circle {
        background-color: #337ab7;
    }
}
