<div class="wrapper">
    <div class="btn-group">
        <app-button
            class="add-row-btn"
            [type]="'button'"
            [matType]="'stroked'"
            [title]="'Xóa nhiều hàng'"
            [color]="'warn'"
            [iconLeft]="'fa fa-trash'"
            [isDisabled]="selection.selected.length === 0"
            (handleClick)="removeSelectedRows()"
        ></app-button>

        <app-button
            class="add-row-btn"
            [type]="'button'"
            [matType]="'raised'"
            [title]="'Thêm hàng'"
            [color]="'warn'"
            [iconLeft]="'fa fa-plus'"
            [hidden]="data.fixed.LOCK"
            (handleClick)="addRow()"
        ></app-button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container
            *ngFor="let col of columnsSchema; let index = index"
            [matColumnDef]="col.key"
        >
            <th mat-header-cell *matHeaderCellDef>
                <div [ngSwitch]="col.type">
                    <ng-container *ngSwitchCase="'isSelected'">
                        <mat-checkbox
                            (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="
                                selection.hasValue() && !isAllSelected()
                            "
                            [aria-label]="checkboxLabel()"
                        >
                        </mat-checkbox>
                    </ng-container>

                    <span *ngSwitchDefault>
                        {{ col.label }}
                    </span>
                </div>
            </th>
            <td mat-cell *matCellDef="let element">
                <!-- Không ở trạng thái chỉnh sửa -->
                <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                    <!--Select Column -->
                    <ng-container *ngSwitchCase="'isSelected'">
                        <mat-checkbox
                            (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(element) : null"
                            [checked]="selection.isSelected(element)"
                            [aria-label]="checkboxLabel(element)"
                        >
                        </mat-checkbox>
                    </ng-container>

                    <!-- Actions Column -->
                    <div class="btn-edit" *ngSwitchCase="'isEdit'">
                        <!-- Edit Button -->
                        <a
                            class="btn btn-xs green ng-star-inserted btn-md pm margin-0 wh width-p-100 margin-l-10"
                            (click)="element.isEdit = !element.isEdit"
                        >
                            Cập nhật
                            <i class="fa fa-pencil"></i
                        ></a>

                        <!-- Delte Button -->
                        <a
                            class="btn btn-xs default ng-star-inserted btn-md pm margin-0 wh width-p-100 margin-l-10"
                            (click)="removeRow(element.id)"
                        >
                            Xóa
                            <i class="fa fa-trash"></i
                        ></a>
                    </div>

                    <!-- Data Column -->
                    <span *ngSwitchDefault>
                        {{ element[col.key] }}
                    </span>
                </div>

                <!-- Ở trạng thái chỉnh sửa -->
                <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                    <!-- Select Column -->
                    <ng-container *ngSwitchCase="'isSelected'"></ng-container>

                    <!-- Actions Column -->
                    <div class="btn-edit" *ngSwitchCase="'isEdit'">
                        <!-- Done Button -->
                        <a
                            class="btn btn-xs red ng-star-inserted btn-md pm margin-0 wh width-p-100 margin-l-10"
                            (click)="updateRow(element)"
                        >
                            Xong
                            <i class="fa fa-check"></i
                        ></a>

                        <!-- <a
                            *ngIf="isAddRow"
                            class="btn btn-xs default ng-star-inserted btn-md pm margin-0 wh width-p-100 margin-l-10"
                            (click)="removeRow(element.id)"
                        >
                            Hủy
                            <i class="fa fa-ban"></i
                        ></a> -->
                    </div>

                    <!-- Data Column -->
                    <!-- DATETIME -->
                    <mat-form-field *ngSwitchCase="'date'">
                        <mat-label>Choose a date</mat-label>
                        <input
                            matInput
                            [matDatepicker]="picker"
                            [(ngModel)]="element[col.key]"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <!-- CÁC KIỂU CÒN LẠI (TEXT, NUMBER, ...) -->
                    <mat-form-field *ngSwitchDefault>
                        <mat-label>{{ col.label }}</mat-label>
                        <input
                            [type]="col.type"
                            matInput
                            [(ngModel)]="element[col.key]"
                        />
                    </mat-form-field>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
