::ng-deep .wrapper {
    [hidden] {
        display: none !important;
    }

    padding: 0 20px 20px;

    .btn-group {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        app-button {
            button {
                border-radius: 20px !important;

                i {
                    margin-left: unset;
                }
            }
        }
    }

    table.mat-table {
        margin-top: 24px;
        width: 100%;

        tr.mat-header-row {
            background-color: var(--primary-color);
        }
        th.mat-header-cell {
            color: #fff;
        }

        .mat-column {
            &-required,
            &-size {
                width: 5%;
            }

            &-isEdit {
                width: 200px;
            }
        }

        td.mat-cell,
        td.mat-footer-cell,
        th.mat-header-cell {
            padding: 8px;
        }

        .mat-form-field-appearance-outline .mat-form-field-infix {
            padding: 0;
        }

        .mat-form-field {
            width: 100%;
        }

        th.mat-header-cell,
        td {
            text-align: center;
        }

        .primary-custom {
            color: #fff;
            background-color: #8877a9;
            border-color: #8877a9;
        }

        .margin-l-10 {
            margin-left: 10px;
        }
    }

    table.mat-table {
        .mat-form-field-appearance-outline .mat-form-field-wrapper {
            padding: 0;
        }

        .mat-form-field-appearance-outline .mat-form-field-infix {
            padding: 0.5em 0;
        }

        .mat-form-field-infix {
            width: 80px;
        }
    }
}


