.active {
    color: #28a745;
}

.pause {
    color: #f44336;
}

.text-nodata {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.loading {
    .mat-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
    }
}
