<mat-toolbar class="h-40">
    <div class="footer-content">
        <span>© 2022 - </span>
        <b>
            Trung tâm Công nghệ thông tin và Ngoại Ngữ, Trường Đại học Thông tin
            liên lạc</b
        >
        <span> (Công viên phần mềm Quân đội - ASP)</span>
    </div>
</mat-toolbar>
