<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="heading">
        <div mat-dialog-title>
            <i class="fa fa-pencil-square-o"></i>
            {{ title }}
        </div>

        <mat-icon (click)="onCloseDialog()">close</mat-icon>
    </div>

    <div mat-dialog-content>
        <dynamic-form-builder [form]="form" [fields]="getFields()">
        </dynamic-form-builder>
    </div>

    <div mat-dialog-actions align="end" class="btn-group">
        <app-button
            [type]="'button'"
            [matType]="'flat'"
            [title]="'Xác nhận xóa'"
            [color]="'warn'"
            [iconRight]="'fa fa-trash'"
            [hidden]="!isEnableDelete"
            (handleClick)="onConfirmDelete()"
        ></app-button>

        <app-button
            [type]="'button'"
            [matType]="'stroked'"
            [title]="'Trở lại'"
            [color]="'basic'"
            [iconRight]="'fa fa-rotate-right'"
            [hidden]="!isEnableDelete"
            (handleClick)="onCancelDelete()"
        ></app-button>
        
        <!-- Check condition to show button "Xoá" -->
        <app-button
            [type]="'button'"
            [matType]="'flat'"
            [title]="'Xóa'"
            [color]="'warn'"
            [iconRight]="'fa fa-trash'"
            [hidden]="isEnableDelete || (data.type !== 'UPDATE_FIELD' && data.type !== 'EDIT')"
            (handleClick)="onDelete()"
        ></app-button>

        <app-button
            [type]="'submit'"
            [matType]="'flat'"
            [title]="'Lưu'"
            [color]="'primary'"
            [iconRight]="'fa fa-save'"
            [hidden]="isEnableDelete"
            [isDisabled]="!form.valid"
        ></app-button>
    </div>
</form>
