.justify-space-between {
    justify-content: space-between;
}

::ng-deep {
    .mat-tab-group-custom {
        .mat-tab-body {
            margin-top: 20px;
        }

        .mat-tab-label {
            color: #48465b;
            font-weight: bold;

            &-active {
                color: #ff7f50;
            }
        }

        .mat-ink-bar {
            background-color: #ff7f50 !important;
        }
    }
    .filter {
        .mat-form-field {
            width: 100%;
        }
    }

    table {
        width: 100%;

        tr.mat-header-row {
            background-color: #337ab7;
        }
        th.mat-header-cell {
            color: #fff;
        }

        .mat-checkbox .mat-checkbox-frame {
            border-color: #dddddd;
        }

        button + button {
            margin-left: 12px;
        }
    }
    td.mat-cell.mat-column-buoiAn,
    th.mat-header-cell.mat-column-buoiAn {
        width: 10%;
    }

    td.mat-cell.mat-column-buoiAn {
        padding-top: 1em;
        padding-right: 0;
    }
}
