<form *ngIf="form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="heading">
        <div mat-dialog-title>Danh sách món ăn</div>
    </div>

    <div mat-dialog-content>
        <dynamic-form-builder
            [form]="form"
            [fields]="getFields()"
            [data]="data"
        >
        </dynamic-form-builder>

        <mat-tab-group
            class="mat-tab-group-custom"
            dynamicHeight
            [selectedIndex]="tabSelected.value"
            (selectedIndexChange)="tabSelected.setValue($event)"
            (selectedTabChange)="tabSelectionChanged($event)"
        >
            <mat-tab
                *ngFor="let item of chiTietNgay; let index = index"
                [label]="item.buoiAn"
            >
                <div class="filter">
                    <div class="row">
                        <div class="col-7 col-md-7">
                            <mat-form-field appearance="legacy">
                                <mat-label
                                    >Tìm kiếm theo mã, tên món ăn</mat-label
                                >
                                <input matInput [formControl]="filterCtrl" />
                                <span matSuffix>
                                    <i class="fa fa-magnifying-glass"></i>
                                </span>
                            </mat-form-field>
                        </div>
                        <div class="col-4 col-md-4">
                            <!-- Lấy api từ danh mục loại món ăn -->
                            <mat-form-field appearance="legacy">
                                <mat-label>Loại món ăn</mat-label>
                                <mat-select
                                    [(value)]="selected"
                                    (selectionChange)="
                                        handleSelectFilter($event)
                                    "
                                >
                                    <mat-option
                                        *ngFor="let item of listTypeOfFood"
                                        [value]="item.key"
                                        >{{ item.name }}</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-1 col-md-1 pt-10">
                            <app-button
                                [type]="'button'"
                                [matType]="'flat'"
                                [title]="'Lọc'"
                                [color]="'primary'"
                                (handleClick)="filter(index)"
                            ></app-button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table
                            mat-table
                            [dataSource]="tables[index]?.dataSource"
                        >
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox
                                        (change)="
                                            $event ? toggleAllRows() : null
                                        "
                                        [checked]="
                                            selection.hasValue() &&
                                            isAllSelected()
                                        "
                                        [indeterminate]="
                                            selection.hasValue() &&
                                            !isAllSelected()
                                        "
                                        [aria-label]="checkboxLabel()"
                                    >
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox
                                        (click)="$event.stopPropagation()"
                                        (change)="
                                            $event
                                                ? toggleRow($event, row)
                                                : null
                                        "
                                        [checked]="selection.isSelected(row)"
                                        [aria-label]="checkboxLabel(row)"
                                    >
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="ma">
                                <th mat-header-cell *matHeaderCellDef>
                                    Mã món ăn
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.maMonAn }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="tenMonAn">
                                <th mat-header-cell *matHeaderCellDef>
                                    Tên món ăn
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.tenMonAn }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="loaiMonAn">
                                <th mat-header-cell *matHeaderCellDef>
                                    Loại món ăn
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{
                                        compareObject(element.loaiMonAn, 'FOOD')
                                    }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="buoiAn">
                                <th mat-header-cell *matHeaderCellDef>
                                    Định lượng
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-form-field appearance="legacy">
                                        <input
                                            matInput
                                            type="number"
                                            min="0"
                                            placeholder="Nhập định lượng"
                                            [(ngModel)]="element.dinhLuong"
                                            (keyup)="onKey($event)"
                                            [ngModelOptions]="{
                                                standalone: true
                                            }"
                                        />
                                        <span matSuffix>gr</span>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="
                                    tables[index].columnsToDisplay
                                "
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="
                                    let row;
                                    columns: tables[index].columnsToDisplay
                                "
                            ></tr>
                        </table>

                        <mat-paginator
                            [pageSizeOptions]="[10, 15, 20]"
                            showFirstLastButtons
                            aria-label="Select page of listDataTable[index]"
                        >
                        </mat-paginator>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div mat-dialog-actions class="btn-group justify-space-between">
        <app-button
            [type]="'button'"
            [matType]="'stroked'"
            [title]="'Huỷ'"
            [color]="'primary'"
            (handleClick)="onCloseDialog()"
        ></app-button>
        <div class="wrapper-button">
            <!-- <app-button
              [type]="'button'"
              [matType]="'flat'"
              [title]="'Thêm mới và tới ngày tiếp theo'"
              [color]="'primary'"
              [isDisabled]="
                  !form.valid || this.selection.selected.length <= 0
              "
              (handleClick)="(null)"
          ></app-button> -->
            <app-button
                [type]="'submit'"
                [matType]="'flat'"
                [title]="
                    this.selection.selected.length < 0
                        ? 'Chưa chọn món ăn'
                        : data.datas
                        ? 'Lưu lại'
                        : 'Thêm mới'
                "
                [color]="'primary'"
                [isDisabled]="
                    !form.valid || this.selection.selected.length <= 0
                "
            ></app-button>
        </div>
    </div>
</form>
