<div class="page__list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-9">
                <h4 class="title">
                    <mat-icon>list</mat-icon>
                    DANH SÁCH HÀNG TRONG KHO
                </h4>
            </div>

            <div class="col-12 col-md-3 text-right" *ngIf="allowExec">
                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Nhập tồn kho ban đầu'"
                    [color]="'primary'"
                    (handleClick)="navigate()"
                ></app-button>
            </div>
        </div>

        <!-- SEARCH -->
        <div class="search-layout">
            <form
                class="form-search"
                [formGroup]="formSearch"
                (ngSubmit)="handleSearch(formSearch.value)"
            >
                <dynamic-form-builder
                    [form]="formSearch"
                    [fields]="getFields()"
                >
                </dynamic-form-builder>

                <div ng class="btn-group">
                    <app-button
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="'Xóa dữ liệu'"
                        [color]="'warn'"
                        [iconLeft]="'fa fa-trash'"
                        (handleClick)="onDeleteSearchInfo()"
                    ></app-button>
                    <app-button
                        [type]="'submit'"
                        [matType]="'flat'"
                        [title]="'Lọc'"
                        [color]="'primary'"
                        [iconLeft]="'fa fa-filter'"
                        [isDisabled]="!formSearch.valid"
                    ></app-button>
                </div>
            </form>
        </div>

        <div class="row" [hidden]="isLoading">
            <div class="col-12 col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <!-- Code Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenLttpChatDot }}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nameMaterial">
                        <th mat-header-cell *matHeaderCellDef>
                            Nhóm nguyên vật liệu
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenNhomLttpChatDot }}
                        </td>
                    </ng-container>

                    <!-- Amount Column -->
                    <ng-container matColumnDef="unit">
                        <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.donViTinh }}
                        </td>
                    </ng-container>

                    <!-- Amount Column -->
                    <ng-container matColumnDef="inventory">
                        <th mat-header-cell *matHeaderCellDef>Kho</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenKho }}
                        </td>
                    </ng-container>

                    <!-- Unit Column -->
                    <ng-container matColumnDef="amountImport">
                        <th mat-header-cell *matHeaderCellDef>Tồn đầu kì</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tonDauKy }}
                        </td>
                    </ng-container>

                    <!-- Unit Column -->
                    <ng-container matColumnDef="import">
                        <th mat-header-cell *matHeaderCellDef>
                            Nhập trong ngày
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tongNhap }}
                        </td>
                    </ng-container>

                    <!-- Unit Column -->
                    <ng-container matColumnDef="export">
                        <th mat-header-cell *matHeaderCellDef>
                            Xuất trong ngày
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tongXuat }}
                        </td>
                    </ng-container>

                    <!-- Unit Column -->
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef>SL tồn</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.ton }}
                        </td>
                    </ng-container>

                    <!-- Unit Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                element.donGia
                                    | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                            }}
                        </td>
                        <!-- priceConvert -->
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="p-0"
                                mat-button
                                (click)="showDetail(element)"
                            >
                                <i class="fa fa-bars size-24"></i>
                                Xem chi tiết
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="this.dataSource.data.length <= 0">
                    <p class="text-nodata">Không có hàng trong kho</p>
                </ng-container>

                <mat-paginator
                    [pageSizeOptions]="[10, 15, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>
