<div class="heading">
    <div mat-dialog-title>
        <i class="fa fa-pencil-square-o"></i>
        DANH SÁCH VẬT TƯ, HÀNG HÓA
    </div>

    <mat-icon (click)="onCloseDialog()">close</mat-icon>
</div>

<div mat-dialog-content>
    <div class="row">
        <div class="col-12 col-lg-8">
            <mat-form-field appearance="legacy">
                <mat-label>
                    Tìm kiếm theo mã vật tư, hàng hoá và tên vật tư, hàng hoá
                </mat-label>
                <input
                    #input
                    matInput
                    placeholder="Nhập tên vật tư, hàng hóa"
                    spellcheck="false"
                    (keyup)="applyFilter($event)"
                />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

        <div class="col-12 col-lg-4">
            <mat-form-field appearance="legacy">
                <mat-label>Phân loại nguyên vật liệu</mat-label>
                <mat-select (selectionChange)="handleSelectFilter($event)">
                    <mat-option>Tất cả</mat-option>
                    <mat-option
                        *ngFor="let opt of typeOptions"
                        [value]="opt.name"
                    >
                        {{ opt.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 material-table-dialog"
    >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                    (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()"
                >
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="selectCurrent($event.checked, row)"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                >
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tenLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.tenLttpChatDot }}
            </td>
        </ng-container>

        <!-- Group Column -->
        <ng-container matColumnDef="tenNhomLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Nhóm VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.tenNhomLttpChatDot }}
            </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="donViTinh">
            <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
            <td mat-cell *matCellDef="let element">
                {{ data.donViTinh }}
            </td>
        </ng-container>
        <!-- Unit Column -->
        <ng-container matColumnDef="soluongTonKho">
            <th mat-header-cell *matHeaderCellDef>SL tồn</th>
            <td mat-cell *matCellDef="let element">
                {{ element.soluongTonKho }}
            </td>
        </ng-container>
        <!-- Unit Column -->
        <ng-container matColumnDef="donGia">
            <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
            <td mat-cell *matCellDef="let element">
                {{ element.donGia }}
            </td>
        </ng-container>
        <!-- Unit Column -->
        <ng-container matColumnDef="khoId">
            <th mat-header-cell *matHeaderCellDef>Kho</th>
            <td mat-cell *matCellDef="let element">
                {{ element.khoId }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsFoody"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsFoody"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
            </td>
        </tr>
    </table>

    <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of dataSource"
    ></mat-paginator>
</div>

<div mat-dialog-actions align="end" class="btn-group">
    <app-button
        [type]="'button'"
        [matType]="'flat'"
        [title]="'Thêm'"
        [color]="'primary'"
        [iconRight]="'fa fa-plus'"
        (handleClick)="onSubmit()"
        [isDisabled]="false"
    ></app-button>
</div>
