:host {
    .m-loading-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    ::ng-deep {
        .mat-progress-bar-background {
            opacity: 0;
        }
        .mat-progress-bar-buffer {
            opacity: 0.3;
        }
    }

    button.mat-button.is-active {
        background-color: #3f51b5;
        color: #fff;
    }

    .menu-item {
        margin: 0 5px;
    }

    mat-toolbar {
        background: #337ab7;
        color: white;
        display: flex;
        justify-content: space-between;

        .main__header-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.button-menu {
    color: white;
    background-color: #28a745;
}

// .menu {
//   background: #444d58;
// }

.menu-item {
    i {
        margin-right: 5px;
    }
}

.menu-item.logout {
    color: #f44336;
}

.version-text {
    cursor: pointer;
    font-size: 14px;
}

::ng-deep {
    .mat-menu-panel.headerMenu {
        max-width: 100% !important;
        max-height: 100% !important;
        .mat-menu-content {
            padding: 0.625rem !important;
            width: 100%;
            height: auto;
            overflow: hidden;
        }
    }
}

.px-10-20 {
    padding: 0 20px 0 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-0 {
    margin-bottom: 0px;
}

.flex-33 {
    flex: 0 0 33.333333%;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.legitRipple {
    position: relative;
    overflow: hidden;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.p-3 {
    padding: 1.25rem !important;
}

.text-center {
    text-align: center !important;
}

.text-default {
    color: #333;
}

button.text-default:not(.btn) {
    transition: color ease-in-out 0.15s;
}

.mt-2 {
    margin-top: 0.625rem;
}

.wrap-text {
    overflow-wrap: break-word;
}

.fa-2x {
    font-size: 2rem;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.px-0 {
    padding-right: 0;
    padding-left: 0;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}
