<mat-toolbar>
    <div class="main__header-title">
        <button mat-button (click)="toggleDrawHandle()">
            <mat-icon>apps</mat-icon>
        </button>
        <h3>
            QUẢN LÝ BẾP ĂN
            <span class="version-text" (click)="goPageVersion()">{{
                version
            }}</span>
        </h3>

        <div style="margin-left: 24px" *ngIf="dauMoiBepOptions.length > 0">
            <ng-container *ngIf="isArmy === false">
                <button
                    mat-flat-button
                    extended
                    color="basic"
                    [matMenuTriggerFor]="menuBep"
                >
                    {{ getNameBep() || 'Chọn bếp ăn' }}
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menuBep="matMenu">
                    <button
                        mat-menu-item
                        *ngFor="let dmb of dauMoiBepOptions"
                        (click)="handleSelectBep(dmb)"
                    >
                        {{ dmb.tenBep }}
                    </button>
                </mat-menu>
            </ng-container>

            <ng-container *ngIf="isArmy === true">
                <button
                    mat-flat-button
                    extended
                    color="basic"
                    [matMenuTriggerFor]="menuBep"
                >
                    {{ getNameBep() || 'Chọn bếp ăn' }}
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menuBep="matMenu">
                    <ng-container *ngFor="let item of dauMoiBepOptions">
                        <h4 class="px-10-20 mt-15 mb-0">
                            {{ item.nameParent }}
                        </h4>
                        <mat-list>
                            <mat-list-item *ngFor="let dmb of item.danhSach">
                                <button
                                    mat-menu-item
                                    (click)="handleSelectBep(dmb)"
                                >
                                    - {{ dmb.tenBep }}
                                </button>
                            </mat-list-item>
                        </mat-list>
                    </ng-container>
                </mat-menu>
            </ng-container>
        </div>
    </div>

    <div class="main__header-button">
        <!-- Menu dành riêng cho admin -->
        <ng-container *ngIf="dataMenuHeader.length > 0">
            <button
                class="button menu-item"
                mat-raised-button
                extended
                [matMenuTriggerFor]="menuHeader"
            >
                <mat-icon>settings</mat-icon>
                Quản trị
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu
                class="headerMenu"
                #menuHeader="matMenu"
                xPosition="before"
            >
                <div class="row no-gutters text-center d-flex flex-wrap">
                    <ng-container *ngFor="let item of menuTop">
                        <div
                            class="col-6 col-sm-12 px-0 d-flex align-items-center justify-content-center"
                            [ngClass]="{ 'flex-33': menuTop.length > 1 }"
                        >
                            <a
                                [routerLink]="['/manager', item?.valueData]"
                                class="d-block text-default ripple-dark p-3 legitRipple"
                                (click)="saveIdMenu(item?.id)"
                            >
                                <i [ngClass]="item.icon" class="fa-2x"></i>
                                <div class="mt-2 wrap-text">
                                    {{ item?.name }}
                                </div>
                            </a>
                        </div>
                    </ng-container>
                </div>

                <mat-divider class="px-20 light-pink"></mat-divider>

                <div class="row no-gutters text-center d-flex flex-wrap">
                    <ng-container *ngFor="let item of menuBottom">
                        <div
                            class="col-6 col-sm-12 px-0 d-flex align-items-center justify-content-center flex-33"
                        >
                            <a
                                [routerLink]="['/manager', item?.valueData]"
                                class="d-block text-default ripple-dark p-3 legitRipple"
                                (click)="saveIdMenu(item?.id)"
                            >
                                <i [ngClass]="item.icon" class="fa-2x"></i>
                                <div class="mt-2 wrap-text">
                                    {{ item?.name }}
                                </div>
                            </a>
                        </div>
                    </ng-container>
                </div>
            </mat-menu>
        </ng-container>

        <!-- <button
            mat-flat-button
            [routerLink]="['/manage/app/category/van-hanh-bep']"
            [routerLinkActive]="['is-active']"
        >
            Test
        </button> -->

        <button
            class="button button-menu menu-item"
            mat-raised-button
            [matMenuTriggerFor]="menu"
        >
            {{
                userCurrentLogin?.surname + ' ' + userCurrentLogin?.name ||
                    'DEFAULT'
            }}
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button
                mat-menu-item
                class="menu-item"
                (click)="navigateToAccountInfo()"
            >
                <i class="fa fa-user"></i>
                <span>Thông tin tài khoản</span>
            </button>
            <button mat-menu-item class="menu-item logout" (click)="logout()">
                <i class="fa fa-power-off"></i>
                <span>Đăng xuất</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
