table {
    th {
        text-align: center;
    }
}

::ng-deep .mat-card {
    padding: 0 !important;
    border-radius: 4px;
    overflow: hidden;

    .mat-card-header {
        background-color: var(--primary-color);
        padding: 16px;

        .mat-card-title {
            text-align: center;
            color: #fff;
            margin: 0;
        }
    }

    .mat-card-content {
        margin: 0;

        .mat-tab-body-wrapper {
            // margin-top: 15px;

            .container {
                padding: 10px 16px 0;
                width: auto;
            }
        }

        .group__wrapper {
            margin-top: 24px;
            padding: 16px 0 0;
            border: 1px solid #f5f5f5;
            border-radius: 8px;
            box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2);

            .mat-dialog-title {
                margin: 0 20px;
                // font-weight: 600;
            }
        }

        mat-tab-group .mat-tab-body-content {
            padding: 0 16px 16px;
        }
    }

    .mat-card-actions {
        margin: 0 !important;
        padding: 8px 16px !important;
        background-color: #e5e5e5;
    }
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  //337ab7
