<div class="page__list">
    <div class="container">
        <mat-card class="example-card" *ngIf="tabs.length > 0">
            <form [formGroup]="formRender">
                <mat-card-header>
                    <mat-card-title>
                        <i class="fa fa-pencil-square-o"></i>
                        {{ dataRenderForm.name }}
                    </mat-card-title>
                </mat-card-header>

                <mat-divider inset></mat-divider>

                <mat-card-content>
                    <mat-tab-group animationDuration="0ms">
                        <mat-tab *ngFor="let tab of tabs" [label]="tab.name">
                            <div
                                class="group__wrapper"
                                *ngFor="let group of tab.items"
                            >
                                <div mat-dialog-title>{{ group.name }}</div>

                                <dynamic-form-render
                                    *ngIf="group.type === 'Group'; else isTable"
                                    [form]="formRender"
                                    [fields]="group.items"
                                    [tabCtrl]="tab.code"
                                    [groupCtrl]="group.code"
                                    [isFlatForm]="isFlatForm"
                                >
                                </dynamic-form-render>

                                <ng-template #isTable>
                                    <app-form-table
                                        [data]="group"
                                    ></app-form-table>
                                </ng-template>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </form>
        </mat-card>
    </div>
</div>
