<form [formGroup]="UpdateFieldForm" validation>
    <div class="heading">
        <div mat-dialog-title>
            <i class="fa fa-pencil-square-o"></i>
            {{ title }}
        </div>

        <mat-icon (click)="onNoClick()">close</mat-icon>
    </div>

    <div mat-dialog-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Định dạng</mat-label>
                    <input matInput formControlName="format" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Tính toàn vẹn</mat-label>
                    <input matInput formControlName="validate" />
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>Danh mục</mat-label>
                    <input matInput formControlName="category" />
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>Công thức</mat-label>
                    <input matInput formControlName="formula" />
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>Xem công thức</mat-label>
                    <textarea
                        matInput
                        formControlName="formulaView"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                    ></textarea>
                    <mat-hint>
                        {{
                            '{"title": "Mã", "index": "2", "placeholder": "", "showInList":"true", "icon": "fa fa-code", "class": "wh width-100"}'
                        }}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div mat-dialog-actions align="end">
        <app-button
            [type]="'button'"
            [matType]="'stroked'"
            [title]="'Xóa'"
            [color]="'warn'"
            [iconRight]="'fa fa-trash'"
            (handleClick)="onDelete()"
        ></app-button>

        <button
            mat-raised-button
            color="primary"
            type="submit"
            [mat-dialog-close]="UpdateFieldForm.valid"
            [attr.disabled]="!name"
            cdkFocusInitial
            (click)="onSubmit()"
            style="margin-left: 10px;"
        >
            Lưu
            <i class="fa fa-edit"></i>
        </button>
    </div>
</form>
