<ng-container
    *ngIf="dataSource.data.length < 0 && !!purchaseId"
    class="spinner-custom"
>
    <mat-spinner></mat-spinner>
</ng-container>

<div class="page__list">
    <div class="container-fluid">
        <form
            *ngIf="form"
            (ngSubmit)="onSubmit()"
            [formGroup]="form"
            class="form-submit"
        >
            <div class="header">
                <h4 class="adjustment__title">
                    <p class="text-title">
                        <mat-icon>assignment</mat-icon>
                        {{ isEdit ? titleOnEdit : 'Tạo phiếu xuất kho' }}

                        <ng-container *ngIf="dataEdit">
                            <ng-container [ngSwitch]="dataEdit.trangThai">
                                <ng-container *ngSwitchCase="0">
                                    <span
                                        class="alert-custom alert-custom--primary"
                                        >Lưu nháp</span
                                    >
                                </ng-container>
                                <ng-container *ngSwitchCase="3">
                                    <span
                                        class="alert-custom alert-custom--secondary"
                                        >Đã xuất kho
                                    </span>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </p>
                </h4>

                <div class="adjustment__btn-group">
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Trở về'"
                        [color]="'warn'"
                        [iconRight]="'fa fa-power-off'"
                        (handleClick)="onBack()"
                    ></app-button>

                    <app-button
                        *ngIf="typeAction !== 3"
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="this.isEdit ? 'Lưu lại' : 'Lưu nháp'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        [isDisabled]="!form.valid || currentTable.length === 0"
                        (handleClick)="onSave(0)"
                    ></app-button>

                    <app-button
                        *ngIf="typeAction === 3"
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="'Xuất Exel'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-file-excel-o'"
                        (handleClick)="exportExcel()"
                    ></app-button>

                    <app-button
                        *ngIf="typeAction !== 3"
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="'Xuất Exel'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-file-excel-o'"
                        [isDisabled]="!form.valid || currentTable.length === 0"
                        (handleClick)="exportExcelAndSave()"
                    ></app-button>

                    <app-button
                        *ngIf="typeAction !== 3"
                        [type]="'submit'"
                        [matType]="'flat'"
                        [title]="'Xuất kho'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        [isDisabled]="!form.valid || currentTable.length === 0"
                    ></app-button>
                </div>
            </div>

            <mat-divider class="divider-custom"></mat-divider>

            <div class="form-builder-content">
                <dynamic-form-builder [form]="form" [fields]="fields">
                </dynamic-form-builder>
            </div>
        </form>

        <div class="table-range">
            <div class="adjustment__search">
                <mat-form-field appearance="legacy">
                    <mat-label>Tìm kiếm theo từ khoá</mat-label>
                    <input
                        matInput
                        placeholder="Nhập vào từ khóa"
                        (keyup)="applyFilter.next($event)"
                    />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Thêm hàng'"
                    [color]="'primary'"
                    [iconLeft]="'fa fa-plus'"
                    [isDisabled]="
                        !isActive ||
                        typeAction === 3 ||
                        typeAction === 1 ||
                        typeAction === 4
                    "
                    (handleClick)="addRow()"
                ></app-button>
            </div>

            <table mat-table [dataSource]="dataSource">
                <!-- Code Column -->
                <ng-container matColumnDef="mavthh">
                    <th mat-header-cell *matHeaderCellDef>Mã VT, HH</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ compareIdToCode(element.lttpChatDotId) }}
                    </td>
                </ng-container>

                <!-- Code Column -->
                <ng-container matColumnDef="tenvthh">
                    <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.tenLttpChatDot }}
                    </td>
                </ng-container>

                <!-- So Chung Tu Column -->
                <ng-container matColumnDef="donViTinh">
                    <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.donViTinh }}
                    </td>
                </ng-container>

                <!-- Ngày nhập -->
                <!-- <ng-container matColumnDef="ngayNhap">
                    <th mat-header-cell *matHeaderCellDef>Ngày nhập</th>
                    <td mat-cell *matCellDef="let element" class="text-left">
                        {{ element.ngayXuatKho | date: 'dd/MM/yyyy' }}
                    </td>
                </ng-container> -->

                <!-- phaiXuat Column -->
                <ng-container matColumnDef="phaiXuat">
                    <th mat-header-cell *matHeaderCellDef>Phải xuất</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.soLuongPhaiXuat }}
                    </td>
                </ng-container>

                <!-- phaiXuat Column -->
                <ng-container matColumnDef="thucXuat">
                    <th mat-header-cell *matHeaderCellDef>Thực xuất</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.soLuongThucXuat }}
                    </td>
                </ng-container>

                <!-- Out Price Column -->
                <ng-container matColumnDef="donGia">
                    <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{
                            element.donGia || '10000'
                                | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                        }}
                        <!-- priceConvert -->
                    </td>
                </ng-container>

                <!-- Notes Column -->
                <ng-container matColumnDef="thanhTien">
                    <th mat-header-cell *matHeaderCellDef>Thành tiền</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{
                            element.thanhTien
                                | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                        }}
                        <!-- priceConvert -->
                    </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        [ngClass]="typeAction === 3 ? 'none' : 'block'"
                    >
                        Thao tác
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="text-center"
                        [ngClass]="typeAction === 3 ? 'none' : 'block'"
                    >
                        <button
                            class="btn btn-xs red ng-star-inserted"
                            (click)="deleteAction(element)"
                            [disabled]="
                                typeAction === 3 ||
                                typeAction === 1 ||
                                typeAction === 4
                            "
                        >
                            <i class="fa fa-trash"></i> Xóa
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>

            <mat-paginator
                [pageSizeOptions]="[10, 15, 20]"
                hidePageSize
                showFirstLastButtons
                aria-label="Select page of periodic elements"
            >
            </mat-paginator>

            <div class="total-price">
                <p>
                    <b
                        >Tổng:
                        {{ totalPrice }}
                        VND</b
                    >
                    <!-- priceConvert -->
                </p>
            </div>
        </div>
    </div>
</div>
