.material-table-dialog {
    width: 100%;
}

.pt-10 {
    padding-top: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.filter {
    margin-bottom: 20px;

    .row-actions {
        display: flex;
        justify-content: center;
    }
}

::ng-deep {
    .mat-header-row {
        background-color: #337ab7;

        .mat-header-cell {
            text-align: center;
            color: white;
        }
    }

    .mat-cell {
        text-align: center;
    }

    .filter {
        .mat-form-field {
            width: 100%;
        }
    }
}

::ng-deep .my-custom-dialog-class {
    --primary-color: #337ab7;

    mat-dialog-container {
        overflow: hidden;
        padding: 0 0 24px;

        // .mat-form-field-appearance-outline .mat-form-field-outline {
        //     color: rgba(0, 0, 0, 0.25);
        // }

        .heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: #8775a7
            background-color: var(--primary-color);
            padding: 0 20px;

            .mat-dialog-title {
                margin: 0;
                padding: 8px 0;
                height: 52px;
                line-height: 36px;
                text-align: center;
                color: #fff;
            }

            mat-icon {
                text-align: center;
                border: 1px solid #ccc;
                border-radius: 50%;
                background-color: #fff;
                font-size: 18px;
                font-weight: 600;
                line-height: 22px;
                opacity: 1;

                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }

        .mat-dialog-content {
            margin: 30px 0 0;
            min-height: 200px;

            .container {
                width: 100%;
            }

            // .mat-form-field-wrapper {
            //     padding-bottom: 1em;
            // }

            .mat-radio-button.mat-accent.mat-radio-checked
                .mat-radio-outer-circle {
                border-color: var(--primary-color);
            }

            .mat-radio-button.mat-accent .mat-radio-inner-circle,
            .mat-radio-button.mat-accent
                .mat-radio-ripple
                .mat-ripple-element:not(.mat-radio-persistent-ripple),
            .mat-radio-button.mat-accent.mat-radio-checked
                .mat-radio-persistent-ripple,
            .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
                background-color: var(--primary-color);
            }
        }

        .mat-dialog-actions {
            padding: 0 20px;
            background-color: #e5e5e5;
        }
    }
}

.tinhKho {
    color: #c35831;
}

.tonKho {
    color: #2271b3;
}

.nhapKho {
    color: #308446;
}

.xuatKho {
    color: #412227;
}

.chuyenKho {
    color: #a18594;
}

.positive {
    color: #308446;
}

.negative {
    color: #c35831;
}

.wrap-icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
