<form [formGroup]="GroupDataFieldForm" (ngSubmit)="submitForm()" validation>
  <button mat-raised-button color="primary" type="submit">Test Hander</button>

  <div class="row">
    <div formArrayName="fieldForm">
      <ng-container
        *ngFor="let item of fieldForm; let i = index"
        [formGroupName]="i"
      >
        <!-- {{ item.value | json }} -->
        <!-- <div *ngFor="let item of filed"></div> -->
        <!-- <input matInput formControlName="type" required />
      <p>{{ item.value.type }}</p> -->

        <!-- <div *ngIf="item.value.type === 'text'">
        {{ item.value.type === "text" }}
        <mat-form-field appearance="outline">
          <mat-label>Nhập mã</mat-label>
          <input matInput formControlName="defaultValue" required />
        </mat-form-field>
      </div> -->
        <div [ngSwitch]="item.value.type">
          <div [ngClass]="item.value.sizeCol ? 'col-md-6' : 'col-md-12'">
            {{ item.value.type }}
            <!-- sizeCol::{{ renderCol(item.value.sizeCol) }} -->
            <br />
            <!-- sizeCol::{{ Math.ceil(item.value.sizeCol / 12) }} -->

            <div *ngSwitchCase="'text'">
              <mat-form-field appearance="outline">
                <mat-label>{{ item.value.name }}</mat-label>
                <input
                  matInput
                  formControlName="defaultValue"
                  [required]="!required"
                />
              </mat-form-field>
            </div>
            <div *ngSwitchCase="'message'">
              <mat-form-field appearance="outline">
                <mat-label>{{ item.value.name }}</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="10"
                  formControlName="defaultValue"
                  [required]="!required"
                ></textarea>
              </mat-form-field>
            </div>

            <div *ngSwitchCase="'video'">
              <mat-form-field appearance="outline">
                <mat-label>{{ item.value.name }}</mat-label>
                <input
                  matInput
                  formControlName="defaultValue"
                  placeholder="Mời nhập Email"
                  [required]="!required"
                />
                <mat-error>{{ getErrorMessage() }}</mat-error>
              </mat-form-field>
            </div>

            <div *ngSwitchCase="'audio'">
              <mat-form-field appearance="outline">
                <mat-label>{{ item.value.name }}</mat-label>
                <input
                  matInput
                  formControlName="defaultValue"
                  placeholder="Mời nhập Email"
                  [required]="!required"
                />
                <mat-error>{{ getErrorMessage() }}</mat-error>
              </mat-form-field>
            </div>

            <div *ngSwitchDefault>
              <mat-form-field appearance="outline">
                <mat-label>{{ item.value.name }}</mat-label>
                <input
                  matInput
                  formControlName="defaultValue"
                  [required]="!required"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- <div *ngFor="let item of filed">
    <h1>{{ item.type }}</h1>
    {{ item.type === "text" }}
    <div *ngIf="item.type === 'text'">
      <mat-form-field appearance="outline">
        <mat-label>Nhập mã</mat-label>
        <input matInput value="123" required />
      </mat-form-field>
    </div>
  </div> -->
</form>
