<ng-container *ngIf="nhatKyId && !dataEdit" class="spinner-custom">
    <mat-spinner></mat-spinner>
</ng-container>

<div class="page__list">
    <div class="container-fluid">
        <form
            *ngIf="form"
            (ngSubmit)="onSubmit()"
            [formGroup]="form"
            class="form-submit"
        >
            <div class="header">
                <h4 class="adjustment__title">
                    <p class="text-title">
                        <mat-icon>assignment</mat-icon>
                        {{
                            this.isEdit
                                ? titleOnEdit
                                : 'Tạo mới nhật ký vận hành'
                        }}
                        {{ pageTitle }}
                    </p>
                </h4>

                <div class="adjustment__btn-group">
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Huỷ'"
                        [color]="'warn'"
                        [iconRight]="'fa fa-power-off'"
                        (handleClick)="onBack()"
                    ></app-button>

                    <!-- Chỉ hiện button này khi phiếu đang ở trạng thái 0: Lưu nháp -->
                    <app-button
                        [type]="'submit'"
                        [matType]="'flat'"
                        [title]="this.isEdit ? 'Cập nhật' : 'Tạo mới'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        [isDisabled]="!form.valid || !chiTietForm.valid"
                    ></app-button>

                    <!-- [isDisabled]="!form.valid || currentTable.length === 0" -->
                </div>
            </div>

            <mat-divider class="divider-custom"></mat-divider>

            <div>
                <dynamic-form-builder [form]="form" [fields]="fields">
                </dynamic-form-builder>
            </div>
        </form>

        <form [formGroup]="chiTietForm">
            <div formArrayName="datas">
                <div
                    *ngFor="let data of datas().controls; let dataIndex = index"
                >
                    <div [formGroupName]="dataIndex">
                        <div class="box">Ca nấu - {{ data.value.CaNau }}</div>

                        <div
                            class="chitiet__wrapper"
                            style="margin-bottom: 12px"
                        >
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <mat-form-field
                                        appearance="legacy"
                                        (click)="picker.open()"
                                    >
                                        <mat-label>Thời điểm bắt đầu</mat-label>
                                        <input
                                            matInput
                                            [ngxMatDatetimePicker]="picker"
                                            placeholder="Chọn thời điểm bắt đầu"
                                            readonly
                                            formControlName="ThoiDiemBatDau"
                                        />
                                        <mat-datepicker-toggle
                                            matSuffix
                                            [for]="picker"
                                        ></mat-datepicker-toggle>
                                        <ngx-mat-datetime-picker
                                            #picker
                                            [showSpinners]="showSpinners"
                                            [showSeconds]="showSeconds"
                                            [stepHour]="stepHour"
                                            [stepMinute]="stepMinute"
                                            [stepSecond]="stepSecond"
                                            [touchUi]="touchUi"
                                            [enableMeridian]="enableMeridian"
                                        >
                                        </ngx-mat-datetime-picker>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <mat-form-field
                                        appearance="legacy"
                                        (click)="picker2.open()"
                                    >
                                        <mat-label
                                            >Thời điểm kết thúc</mat-label
                                        >
                                        <input
                                            matInput
                                            [ngxMatDatetimePicker]="picker2"
                                            placeholder="Chọn thời điểm kết thúc"
                                            [readonly]="true"
                                            formControlName="ThoiDiemKetThuc"
                                        />
                                        <mat-datepicker-toggle
                                            matSuffix
                                            [for]="picker2"
                                        ></mat-datepicker-toggle>
                                        <ngx-mat-datetime-picker
                                            #picker2
                                            [showSpinners]="showSpinners"
                                            [showSeconds]="showSeconds"
                                            [stepHour]="stepHour"
                                            [stepMinute]="stepMinute"
                                            [stepSecond]="stepSecond"
                                            [touchUi]="touchUi"
                                            [enableMeridian]="enableMeridian"
                                        >
                                        </ngx-mat-datetime-picker>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Trạng thái</mat-label>
                                        <mat-select
                                            formControlName="TrangThaiHoatDong"
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let opt of trangThaiOptions
                                                "
                                                [value]="opt.key"
                                            >
                                                {{ opt.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Mô tả</mat-label>
                                        <input
                                            matInput
                                            type="text"
                                            placeholder="Nhập mô tả"
                                            spellcheck="false"
                                            formControlName="MoTa"
                                        />
                                    </mat-form-field>
                                </div>

                                <ng-container
                                    *ngIf="loaiBepParam === 'Bếp lò hơi cơ khí'"
                                >
                                    <div class="col-12 col-lg-12">
                                        <mat-form-field appearance="legacy">
                                            <mat-label
                                                >Mực nước trong nồi
                                                hơi</mat-label
                                            >
                                            <input
                                                matInput
                                                type="number"
                                                placeholder="Nhập mực nước trong nồi hơi"
                                                spellcheck="false"
                                                formControlName="MucNuoc"
                                            />
                                        </mat-form-field>
                                    </div>
                                </ng-container>

                                <ng-container
                                    *ngIf="loaiBepParam !== 'Bếp lò hơi cơ khí'"
                                >
                                    <div class="col-12 col-lg-3">
                                        <mat-form-field appearance="legacy">
                                            <mat-label
                                                >Quân số đảm bảo nấu</mat-label
                                            >
                                            <input
                                                matInput
                                                type="number"
                                                placeholder="Nhập quân số đảm bảo nấu"
                                                spellcheck="false"
                                                formControlName="QuanSo"
                                            />
                                        </mat-form-field>
                                    </div>

                                    <div class="col-12 col-lg-3">
                                        <mat-form-field appearance="legacy">
                                            <mat-label
                                                >Kết quả nấu cơm, thức
                                                ăn</mat-label
                                            >
                                            <input
                                                matInput
                                                type="text"
                                                placeholder="Nhập kết quả nấu cơm, thức ăn"
                                                spellcheck="false"
                                                formControlName="KetQua"
                                            />
                                        </mat-form-field>
                                    </div>

                                    <div class="col-12 col-lg-3">
                                        <mat-form-field appearance="legacy">
                                            <mat-label
                                                >Tổng thời gian nấu</mat-label
                                            >
                                            <input
                                                matInput
                                                type="number"
                                                placeholder="Nhập tổng thời gian nấu"
                                                spellcheck="false"
                                                formControlName="TongThoiGian"
                                            />
                                        </mat-form-field>
                                    </div>

                                    <div class="col-12 col-lg-3">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>{{
                                                loaiBepParam === 'Bếp dầu'
                                                    ? 'Lượng dầu tiêu hao'
                                                    : 'Năng lượng điện tiêu hao'
                                            }}</mat-label>
                                            <input
                                                matInput
                                                type="number"
                                                [placeholder]="
                                                    loaiBepParam === 'Bếp dầu'
                                                        ? 'Nhập lượng dầu tiêu hao'
                                                        : 'Nhập năng lượng điện tiêu hao'
                                                "
                                                spellcheck="false"
                                                formControlName="LuongTieuHao"
                                            />
                                        </mat-form-field>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
