.header {
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .adjustment__title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #337ab7;
        font-weight: bold;

        mat-icon {
            font-size: 28px;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .text-title {
            margin: 0;
            display: flex;
            align-items: center;
        }
    }
}

.text-nodata {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.info {
    margin-top: 25px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.tg .tg-0p91 {
    border-color: inherit;
    font-family: 'Times New Roman', Times, serif !important;
    text-align: center;
    vertical-align: middle;
}
.tg .tg-qymg {
    border-color: inherit;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.tg .tg-mrhi {
    border-color: inherit;
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.tg .tg-iucd {
    border-color: inherit;
    font-family: 'Times New Roman', Times, serif !important;
    text-align: left;
    vertical-align: middle;
}

.loading {
    .mat-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
    }
}
