<div class="page__list" [hidden]="isLoading === true">
    <div class="container-fluid">
        <form
            (ngSubmit)="onSubmit()"
            *ngIf="form"
            [formGroup]="form"
            class="form-submit"
        >
            <div class="header">
                <h4 class="adjustment__title">
                    <p class="text-title">Tổng nhập kho</p>
                </h4>

                <ng-container *ngIf="typeAction !== 3">
                    <div class="adjustment__btn-group">
                        <app-button
                            [type]="'button'"
                            [matType]="'stroked'"
                            [title]="'Hủy'"
                            [color]="'warn'"
                            (handleClick)="onBack()"
                        ></app-button>

                        <app-button
                            [type]="'button'"
                            [matType]="'flat'"
                            [title]="isEdit ? 'Lưu lại' : 'Lưu nháp'"
                            [color]="'primary'"
                            [isDisabled]="!form.valid && !isEdit"
                            (handleClick)="saveDraft()"
                        ></app-button>

                        <app-button
                            [type]="'button'"
                            [matType]="'stroked'"
                            [title]="'Xuất Exel'"
                            [color]="'primary'"
                            [iconRight]="'fa fa-save'"
                            [isDisabled]="
                                (!form.valid && !isEdit) ||
                                (dataDetail && dataDetail.length === 0)
                            "
                            (handleClick)="exportExcel()"
                        ></app-button>

                        <app-button
                            [type]="'submit'"
                            [matType]="'flat'"
                            [title]="'Trình duyệt'"
                            [color]="'primary'"
                            [isDisabled]="
                                (!form.valid && !isEdit) ||
                                (dataDetail && dataDetail.length === 0)
                            "
                        ></app-button>
                    </div>
                </ng-container>

                <ng-container *ngIf="typeAction === 3">
                    <div class="adjustment__btn-group">
                        <app-button
                            [type]="'button'"
                            [matType]="'stroked'"
                            [title]="'Hủy'"
                            [color]="'warn'"
                            (handleClick)="onBack()"
                        ></app-button>

                        <app-button
                            [type]="'button'"
                            [matType]="'stroked'"
                            [title]="'Xuất Exel'"
                            [color]="'primary'"
                            [iconRight]="'fa fa-save'"
                            [isDisabled]="!form.valid && !isEdit"
                            (handleClick)="exportExcel()"
                        ></app-button>
                    </div>
                </ng-container>
            </div>

            <div class="info">
                <dynamic-form-builder [form]="form" [fields]="field">
                </dynamic-form-builder>
            </div>

            <mat-divider></mat-divider>

            <ng-container *ngIf="dataDetail && dataDetail.length > 0">
                <table class="tg table table-striped">
                    <colgroup>
                        <col style="width: 467px" />
                        <col style="width: 105px" />
                        <col style="width: 105px" />
                        <col style="width: 105px" />
                        <col style="width: 105px" />
                        <col style="width: 105px" />
                        <col style="width: 105px" />
                        <col style="width: 105px" />
                        <col style="width: 157px" />
                        <col style="width: 145px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="tg-qymg" rowspan="4">
                                Tên lương thực thực phẩm, chất đốt
                            </th>
                            <th class="tg-qymg" rowspan="4">ĐVT</th>
                            <th class="tg-qymg" colspan="5">Số lượng</th>
                            <th class="tg-qymg" rowspan="4">Giá lẻ</th>
                            <th class="tg-qymg" rowspan="4">
                                Thành tiền (Đồng)
                            </th>
                            <th class="tg-qymg" rowspan="4">Ghi chú</th>
                        </tr>
                        <tr>
                            <th class="tg-mrhi" rowspan="3">Phải nhập</th>
                            <th class="tg-mrhi" colspan="4">Thực nhập</th>
                        </tr>
                        <tr>
                            <th class="tg-mrhi" colspan="2">Trên đảm bảo</th>
                            <th class="tg-mrhi" colspan="2">Đơn vị đảm bảo</th>
                        </tr>
                        <tr>
                            <th class="tg-mrhi">Mua TT</th>
                            <th class="tg-mrhi">TGSX</th>
                            <th class="tg-mrhi">Mua TT</th>
                            <th class="tg-mrhi">TGSX</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataDetail">
                            <td class="tg-iucd">
                                {{
                                    convertIdToResult(
                                        item.lttpChatDotId,
                                        'name'
                                    )
                                }}
                            </td>
                            <td class="tg-0p91">
                                {{
                                    convertIdToResult(item.lttpChatDotId, 'dvt')
                                }}
                            </td>
                            <td class="tg-0p91">{{ item.soLuongPhaiNhap }}</td>
                            <td class="tg-0p91">
                                {{
                                    item.soLuongTrenBdMua
                                        ? item.soLuongTrenBdMua
                                        : ''
                                }}
                            </td>
                            <td class="tg-0p91">
                                {{
                                    item.soLuongTrenBdTg
                                        ? item.soLuongTrenBdTg
                                        : ''
                                }}
                            </td>
                            <td class="tg-0p91">
                                {{
                                    item.soLuongDonViBdMua
                                        ? item.soLuongDonViBdMua
                                        : ''
                                }}
                            </td>
                            <td class="tg-0p91">
                                {{
                                    item.soLuongDonViBdTg
                                        ? item.soLuongDonViBdTg
                                        : ''
                                }}
                            </td>
                            <td class="tg-0p91">
                                {{
                                    item.giaLe
                                        | currency
                                            : 'VND'
                                            : 'symbol'
                                            : '1.0'
                                            : 'vi'
                                        | priceConvert
                                }}
                            </td>
                            <td class="tg-0p91">
                                {{
                                    item.thanhTien
                                        | currency
                                            : 'VND'
                                            : 'symbol'
                                            : '1.0'
                                            : 'vi'
                                        | priceConvert
                                }}
                            </td>
                            <td class="tg-0p91">
                                <mat-form-field
                                    appearance="legacy"
                                    class="w-20"
                                >
                                    <input
                                        matInput
                                        type="text"
                                        [(ngModel)]="item.ghiChu"
                                        [ngModelOptions]="{
                                            standalone: true
                                        }"
                                        [disabled]="typeAction === 3"
                                    />
                                </mat-form-field>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>

            <ng-container *ngIf="dataDetail && dataDetail.length <= 0">
                <p class="text-nodata">Chưa có phiếu xuất kho trong ngày</p>
            </ng-container>
        </form>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>
