.mt-16 {
    margin-top: 16px;
}

.page__list {
    .mat-column-actions {
        width: 18%;
        text-align: center;
    }
}

.loading {
    .mat-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
    }
}
