<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH BẾP
            </h4>

            <div class="btn-group" *ngIf="allowExec === true">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="createAction()"
                ></app-button>
            </div>
        </div>

        <mat-divider class="header-divider"></mat-divider>

        <div class="search-layout">
            <app-search-advanced
                [label]="'Tìm kiếm'"
                [placeHolder]="'Tìm kiếm theo chủng loại bếp'"
                [fieldSearch]="fieldSearch"
                (getSearchName)="handleInputFilter($event)"
                (getSearchInfo)="handleSearchAdvanced($event)"
            ></app-search-advanced>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource" *ngIf="!isLoading">
                    <!-- ChungLoaiBep Column -->
                    <ng-container matColumnDef="chungLoaiBep">
                        <th mat-header-cell *matHeaderCellDef>
                            Chủng loại bếp
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.chungLoaiBep }}
                        </td>
                    </ng-container>

                    <!-- LoaiBep Column -->
                    <ng-container matColumnDef="loaiBep">
                        <th mat-header-cell *matHeaderCellDef>Loại bếp</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ getLoaiBep(element.loaiBep) }}
                        </td>
                    </ng-container>

                    <!-- SoCheTao Column -->
                    <ng-container matColumnDef="soCheTao">
                        <th mat-header-cell *matHeaderCellDef>Số chế tạo</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.soCheTao }}
                        </td>
                    </ng-container>

                    <!-- TGBatDauSuDung Column -->
                    <ng-container matColumnDef="ngayBatDauSuDung">
                        <th mat-header-cell *matHeaderCellDef>
                            TG bắt đầu sử dụng
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.ngayBatDauSuDung | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- TrangThai Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <span
                                *ngIf="element.trangThai; else other"
                                style="color: #28a745"
                            >
                                Hoạt động
                            </span>
                            <ng-template #other>
                                <span style="color: #e7505a">Tạm ngưng</span>
                            </ng-template>
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="btn btn-xs green ng-star-inserted"
                                (click)="showDetail(element)"
                            >
                                <i class="fa fa-eye"></i>
                                Xem
                            </button>
                            <button
                                *ngIf="allowExec === true"
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="editAction(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                                Cập nhật
                            </button>

                            <button
                                *ngIf="allowExec === true"
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteAction(element)"
                            >
                                <i class="fa fa-trash"></i> Xóa
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="dataSource.data.length <= 0 && !isLoading">
                    <p class="text-nodata">Không có dữ liệu bếp</p>
                </ng-container>

                <mat-paginator
                    #paginator
                    [length]="totalRows"
                    [pageIndex]="currentPage"
                    [pageSize]="pageSize"
                    hidePageSize
                    showFirstLastButtons
                    (page)="pageChanged($event)"
                    aria-label="Select page"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>
</div>
