<ng-container *ngIf="inventoryImportId && !dataEdit" class="spinner-custom">
    <mat-spinner></mat-spinner>
</ng-container>

<div class="page__list">
    <div class="container-fluid">
        <form
            *ngIf="form"
            (ngSubmit)="onSubmit()"
            [formGroup]="form"
            class="form-submit"
        >
            <div class="header">
                <h4 class="adjustment__title">
                    <p class="text-title">
                        <mat-icon>assignment</mat-icon>
                        {{ this.isEdit ? titleOnEdit : 'Tạo phiếu nhập kho' }}
                        <!-- <ng-container *ngIf="dataEdit">
                            <ng-container [ngSwitch]="dataEdit.trangThai">
                                <ng-container *ngSwitchCase="3">
                                    <span
                                        class="alert-custom alert-custom--secondary"
                                        >Đã nhập kho
                                    </span>
                                </ng-container>

                                <ng-container *ngSwitchCase="0">
                                    <span
                                        class="alert-custom alert-custom--primary"
                                        >Lưu nháp</span
                                    >
                                </ng-container>
                            </ng-container>
                        </ng-container> -->
                    </p>
                </h4>

                <!-- 0 là lưu nháp -->
                <!-- 3 là đã nhập kho -->
                <div class="adjustment__btn-group">
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Trở về'"
                        [color]="'warn'"
                        [iconRight]="'fa fa-power-off'"
                        (handleClick)="onBack()"
                    ></app-button>

                    <!-- Chỉ hiện button này khi phiếu đang ở trạng thái 0: Lưu nháp -->
                    <app-button
                        *ngIf="typeAction !== 3"
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="this.isEdit ? 'Lưu lại' : 'Lưu nháp'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        [isDisabled]="!form.valid || currentTable.length === 0"
                        (handleClick)="onSave(0)"
                    ></app-button>

                    <app-button
                        *ngIf="typeAction === 3"
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="'Xuất Exel'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-file-excel-o'"
                        (handleClick)="exportExcel()"
                    ></app-button>

                    <app-button
                        *ngIf="typeAction !== 3"
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="'Xuất Exel'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-file-excel-o'"
                        [isDisabled]="!form.valid || currentTable.length === 0"
                        (handleClick)="exportExcelAndSave()"
                    ></app-button>

                    <app-button
                        *ngIf="typeAction !== 3"
                        [type]="'submit'"
                        [matType]="'flat'"
                        [title]="'Nhập kho'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        [isDisabled]="!form.valid || currentTable.length === 0"
                    ></app-button>

                    <!-- <app-button
                        *ngIf="false"
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Lưu nháp và Xuất Exel'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-file-excel-o'"
                        [isDisabled]="!this.form.valid"
                        (handleClick)="exportExcelAndSave()"
                    ></app-button> -->

                    <!-- typeAction 0 || 2 -->
                    <!-- <ng-container *ngIf="typeAction === 0 || typeAction === 2">
                        <app-button
                            [type]="'submit'"
                            [matType]="'flat'"
                            [title]="'Nhập kho'"
                            [color]="'primary'"
                            [iconRight]="'fa fa-save'"
                            [isDisabled]="
                                !form.valid || currentTable.length === 0
                            "
                        ></app-button>
                    </ng-container> -->
                    <!-- typeAction 3 -->
                    <!-- <ng-container *ngIf="typeAction === 3">
                        <app-button
                            [type]="'button'"
                            [matType]="'flat'"
                            [title]="'In phiếu'"
                            [color]="'warn'"
                            [iconRight]="'fa fa-print'"
                            (handleClick)="printContent()"
                        ></app-button>
                    </ng-container> -->
                    <!-- typeAction 4 -- Demo -->
                    <!-- <ng-container *ngIf="typeAction === 1">
                        <app-button
                            [type]="'button'"
                            [matType]="'flat'"
                            [title]="'Từ chối'"
                            [color]="'warn'"
                            [iconRight]="'fa fa-ban'"
                            (handleClick)="rejectAction()"
                        ></app-button>

                        <app-button
                            [type]="'button'"
                            [matType]="'flat'"
                            [title]="'Duyệt'"
                            [color]="'primary'"
                            [iconRight]="'fa fa-check'"
                            (handleClick)="onSave(3)"
                        ></app-button>
                    </ng-container> -->
                </div>
            </div>

            <mat-divider class="divider-custom"></mat-divider>

            <div>
                <dynamic-form-builder [form]="form" [fields]="fields">
                </dynamic-form-builder>
            </div>
        </form>

        <div class="table-range">
            <div class="adjustment__search">
                <mat-form-field appearance="legacy">
                    <mat-label>Tìm kiếm</mat-label>
                    <input
                        matInput
                        placeholder="Nhập vào từ khóa"
                        (keyup)="applyFilter.next($event)"
                    />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <app-button
                    *ngIf="typeAction === 0 || typeAction === '0'"
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Thêm hàng'"
                    [color]="'primary'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="addRow()"
                ></app-button>
                <!-- [isDisabled]="
                !isActive ||
                typeAction === 1 ||
                typeAction === 3 ||
                phieuXuatNhapHangId
            " -->
            </div>

            <table mat-table [dataSource]="dataSource" class="table-chitiet">
                <!-- Code Column -->
                <ng-container matColumnDef="maLttpChatDot">
                    <th mat-header-cell *matHeaderCellDef>Mã VT, HH</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.maLttpChatDot || '' }}
                    </td>
                </ng-container>

                <!-- So Chung Tu Column -->
                <ng-container matColumnDef="tenLttpChatDot">
                    <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.tenLttpChatDot }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="soLuongPhaiNhap">
                    <th mat-header-cell *matHeaderCellDef>
                        Số lượng phải nhập
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.soLuongPhaiNhap || 0 }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="soLuongThucNhap">
                    <th mat-header-cell *matHeaderCellDef>
                        Số lượng thực nhập
                    </th>
                    <td mat-cell *matCellDef="let element; let index = index">
                        <mat-form-field appearance="legacy">
                            <input
                                autofocus
                                cdkFocusInitial
                                matInput
                                type="number"
                                min="0"
                                placeholder="Nhập số lượng thực nhập"
                                [(ngModel)]="element.soLuongThucNhap"
                                [ngModelOptions]="{
                                    standalone: true
                                }"
                                (keyup)="addData($event.target.value, element)"
                                #handlePriceElement
                                [disabled]="
                                    typeAction === 1 || typeAction === 3
                                "
                            />
                        </mat-form-field>
                        <!-- {{ element.soLuongThucNhap || 0 }} -->
                    </td>
                </ng-container>

                <!-- Unit Column -->
                <ng-container matColumnDef="donViTinh">
                    <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.donViTinh }}
                    </td>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="donGia">
                    <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{
                            element.donGia &&
                                (element.donGia
                                    | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                    | priceConvert)
                        }}
                    </td>
                </ng-container>

                <!-- Notes Column -->
                <ng-container matColumnDef="thanhTien">
                    <th mat-header-cell *matHeaderCellDef>Thành tiền</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{
                            element.thanhTien || 0
                                | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                | priceConvert
                        }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button
                            [disabled]="typeAction === 1 || typeAction === 3"
                            class="btn btn-xs red ng-star-inserted"
                            (click)="deleteAction(element)"
                        >
                            <i class="fa fa-trash"></i> Xóa
                        </button>
                    </td>
                </ng-container>

                <!-- Ngay Het Han Column -->
                <!-- <ng-container matColumnDef="ngayHetHan">
                    <th mat-header-cell *matHeaderCellDef>Ngày hết hạn</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field
                            appearance="outline"
                            (mouseup)="picker.open()"
                        >
                            <input
                                matInput
                                [matDatepicker]="picker"
                                [readonly]="true"
                                [min]="currentDate"
                                placeholder="Nhập ngày hết hạn"
                                [value]="element.ngayHetHan"
                                [(ngModel)]="element.ngayHetHan"
                            />
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="picker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>

            <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
            >
            </mat-paginator>

            <div class="total-price">
                <p>
                    <b
                        >Tổng:
                        {{ totalPrice | priceConvert }}
                        VND</b
                    >
                </p>
            </div>
        </div>
    </div>
</div>
