<ng-container *ngIf="isLoading === true" class="spinner-custom">
    <mat-spinner></mat-spinner>
</ng-container>

<div class="page__list" [hidden]="isLoading === true">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH MUA HÀNG
            </h4>

            <div class="btn-group" *ngIf="allowExec">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="createAction()"
                ></app-button>
            </div>
        </div>

        <mat-divider class="header-divider"></mat-divider>

        <!-- SEARCH -->
        <div class="search-layout">
            <app-search-advanced
                [label]="'Tìm kiếm theo tên người mua'"
                [placeHolder]="'Nhập tên người mua'"
                [fieldSearch]="fieldSearch"
                (getSearchInfo)="handleSearchAdvanced($event)"
                (getSearchName)="handleInputFilter($event)"
            ></app-search-advanced>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table
                    *ngIf="dataSource.data"
                    mat-table
                    [dataSource]="dataSource"
                >
                    <!-- Code Column -->
                    <ng-container matColumnDef="maPhieuMuaHang">
                        <th mat-header-cell *matHeaderCellDef>Mã phiếu mua</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.maPhieuMuaHang }}
                        </td>
                    </ng-container>

                    <!-- Person Column -->
                    <ng-container matColumnDef="nguoiMuaId">
                        <th mat-header-cell *matHeaderCellDef>Người mua</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.nguoiMua }}
                        </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="ngayMua">
                        <th mat-header-cell *matHeaderCellDef>Ngày mua</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.ngayMua | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <!-- <ng-container matColumnDef="trangThai">
                      <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
                      <td
                          mat-cell
                          *matCellDef="let element"
                          class="text-center"
                      >
                          <div [ngSwitch]="element.trangThai">
                              <span *ngSwitchCase="'1'" class="text-waiting">
                                  Chờ duyệt
                              </span>
                              <span *ngSwitchCase="'2'" class="text-danger">
                                  Từ chối
                              </span>
                              <span *ngSwitchCase="'3'" class="text-success">
                                  Đã duyệt
                              </span>
                              <span *ngSwitchDefault style="color: #858585"
                                  >Lưu nháp</span
                              >
                          </div>
                      </td>
                  </ng-container> -->

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <!-- Trang thai 1 - Chờ duyệt (đã trình duyệt) -->
                            <ng-container *ngIf="element.trangThai === 1">
                                <button
                                    class="btn btn-xs green ng-star-inserted"
                                    (click)="
                                        handleAction(element, element.trangThai)
                                    "
                                >
                                    <i class="fa fa-eye"></i> Xem
                                </button>
                            </ng-container>
                            <!-- Trang thai 3 - Đã duyệt  -->
                            <ng-container *ngIf="element.trangThai === 3">
                                <button
                                    class="btn btn-xs green-jungle ng-star-inserted"
                                    (click)="
                                        handleAction(element, element.trangThai)
                                    "
                                >
                                    <i class="fa fa-eye"></i> Chi tiết
                                </button>
                            </ng-container>

                            <!-- Trang thai 0 || 2 -->
                            <ng-container
                                *ngIf="
                                    element.trangThai === 0 ||
                                    element.trangThai === 2 ||
                                    element.trangThai === 4
                                "
                            >
                                <button
                                    class="btn btn-xs blue ng-star-inserted"
                                    (click)="
                                        handleAction(element, element.trangThai)
                                    "
                                >
                                    <i class="fa fa-pencil-square-o"></i>
                                    Cập nhật
                                </button>

                                <button
                                    class="btn btn-xs red ng-star-inserted"
                                    (click)="deleteAction(element)"
                                >
                                    <i class="fa fa-trash"></i> Xóa
                                </button>
                            </ng-container>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="dataSource.data.length <= 0">
                    <p class="text-nodata">Không có phiếu mua hàng</p>
                </ng-container>

                <mat-paginator
                    #paginator
                    [length]="totalRows"
                    [pageIndex]="currentPage"
                    [pageSize]="pageSize"
                    hidePageSize
                    showFirstLastButtons
                    (page)="pageChanged($event)"
                    aria-label="Select page"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
