<form [formGroup]="form">
    <ng-container *ngIf="!isFlatForm && tabCtrl" [formGroupName]="tabCtrl">
        <ng-container [formGroupName]="groupCtrl">
            <div class="container">
                <div class="row">
                    <div [class]="field.css" *ngFor="let field of fieldList">
                        <field-builder
                            *ngIf="field.groupCode === groupCode"
                            [field]="field"
                            [form]="form"
                            [tabCtrl]="tabCtrl"
                            [groupCtrl]="groupCtrl"
                        >
                        </field-builder>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isFlatForm && tabCtrl">
        <div class="container">
            <div class="row">
                <div [class]="field.css" *ngFor="let field of fieldList">
                    <field-builder
                        *ngIf="field.groupCode === groupCode"
                        [field]="field"
                        [form]="form"
                        [tabCtrl]="tabCtrl"
                        [groupCtrl]="groupCtrl"
                        [isFlatForm]="isFlatForm"
                    >
                    </field-builder>
                </div>
            </div>
        </div>
    </ng-container>

    <div *ngIf="!isFlatForm && !tabCtrl" class="container">
        <div class="row">
            <div [class]="field.css" *ngFor="let field of fields">
                <field-builder
                    *ngIf="field.groupCode === groupCode"
                    [field]="field"
                    [form]="form"
                >
                </field-builder>
            </div>
        </div>
    </div>
</form>
