// css for table
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}
.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.tg .tg-9wq8 {
    border-color: inherit;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}
.tg .tg-c3ow {
    border-color: inherit;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    position: relative;
}
.tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top;
}
.tg .tg-0lax {
    text-align: left;
    vertical-align: top;
}

.box {
    background: #ededed;
    padding: 10px 0 10px 20px;
    margin-bottom: 15px;
}

.position-absolute {
    position: absolute;
    top: 0;
    right: 0;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.text-header {
    margin: 0;
    font-weight: 700;
}

.mt-20 {
    margin-top: 20px;
}

.label-datepicker {
    width: 100%;
}

.px-20 {
    padding: 0 20px;
}

.size-24 {
    font-size: 24px;
}

.body {
    margin-top: 15px;
}

.mt-0 {
    margin-top: 0;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.p-0 {
    padding: 0 !important;
}

.w-20 {
    width: 20%;
}

.scroll-y {
    overflow-y: auto;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.my-10 {
    margin: 10px 0px;
}

.italic {
    font-style: italic;
}

.input-wrapper {
    margin-bottom: 50px;

    .label-datepicker {
        margin-bottom: 10px;
    }

    .week-picker {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: thin;
    }
}

.w-18 {
    width: 18%;
}
.m-auto {
    margin: auto;
}

.underline {
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: groove;
}

.w-60 {
    width: 60%;
}

.m-0 {
    margin: 0;
}

.max-w {
    width: 100vh;
}

.bold {
    font-weight: bold;
}

.align-center {
    align-items: center;
}

.custom-border {
    border-top-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-bottom-width: 0 !important;
}

.none {
    display: none;
}

.border-0 {
    border: none;
    border-width: 0;
    border-color: inherit !important;
}

.px-0 {
    padding: 0;
}

.align-end {
    text-align: end;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.justify-content-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

::ng-deep .list-menu {
    .mat-content {
        align-items: center;

        .mat-expansion-panel-header-title {
            flex-grow: 0;
            width: 10%;
            font-weight: 700;
        }

        .mat-expansion-panel-header-description {
            align-items: center;
            justify-content: space-between;
            flex-grow: 0;
            width: 85%;
            font-weight: 700;
            color: #000000;
        }
    }

    .mat-expansion-indicator::after {
        color: #101015;
        border-width: 0 1px 1px 0;
    }

    .mat-column-ma,
    .mat-column-tenMonAn,
    .mat-column-loaiMonAn,
    .mat-column-buoiAn,
    .mat-column-trangThai {
        text-align: left !important;
    }
}

::ng-deep {
    .mat-form-field-appearance-legacy.mat-form-field-disabled
        .mat-form-field-underline {
        background-image: none;
        background-size: 1px 100%;
        background-repeat: no-repeat;
        background-color: gray !important;
    }

    .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
    }
}

.px-10 {
    padding: 0 10px !important;
}

.p-10 {
    padding: 10px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
