.size-24 {
    font-size: 24px;
}

.text-nodata {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn-primary {
    color: white;
    background-color: #337ab7;
}

.p-0 {
    padding: 0;
}

::ng-deep .mat-action-row {
    border: none !important;
    justify-content: center !important;
    padding-top: 0px;
}

.loading {
    .mat-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
    }
}
