<h2 mat-dialog-title>Lý do từ chối</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field appearance="outline">
        <mat-label>Nhập lý do từ chối (*)</mat-label>
        <textarea matInput rows="5" [(ngModel)]="data"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Huỷ</button>
    <button
        mat-button
        [disabled]="!data.length"
        [mat-dialog-close]="data"
        cdkFocusInitial
        (handleClick)="onSubmit()"
    >
        Lưu lại
    </button>
</mat-dialog-actions>
