<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH DỤNG CỤ CẤP DƯỠNG
            </h4>

            <div class="btn-group">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="createAction()"
                ></app-button>
            </div>
        </div>

        <mat-divider class="header-divider"></mat-divider>

        <div class="search-layout">
            <app-search-advanced
                [label]="'Tìm kiếm'"
                [placeHolder]="'Tìm kiếm theo tên dụng cụ cấp dưỡng'"
                (getSearchName)="handleInputFilter($event)"
            ></app-search-advanced>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource" *ngIf="!isLoading">
                    <!-- Code Column -->
                    <ng-container matColumnDef="maDungCuCapDuong">
                        <th mat-header-cell *matHeaderCellDef>Mã DCCD</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.maDungCuCapDuong }}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="tenDungCuCapDuong">
                        <th mat-header-cell *matHeaderCellDef>Tên DCCD</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenDungCuCapDuong }}
                        </td>
                    </ng-container>

                    <!-- Unit Column -->
                    <ng-container matColumnDef="donViTinhId">
                        <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.donViTinh }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="editAction(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                                Cập nhật
                            </button>

                            <button
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteAction(element)"
                            >
                                <i class="fa fa-trash"></i> Xóa
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="dataSource.data.length <= 0 && !isLoading">
                    <p class="text-nodata">Không có dụng cụ cấp dưỡng</p>
                </ng-container>

                <mat-paginator
                    #paginator
                    [length]="totalRows"
                    [pageIndex]="currentPage"
                    [pageSize]="pageSize"
                    hidePageSize
                    showFirstLastButtons
                    (page)="pageChanged($event)"
                    aria-label="Select page"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>
</div>
