<!-- <div class="page-login">
  <div class="page-form">
    <div class="">
      <div class="">
        <div class="">
          <div class="page-content">
            <form [formGroup]="form">
              <h2 class="text-header">Đăng nhập</h2>

              <div class="form-group">
                <div class="form-field">
                  <mat-form-field appearance="outline">
                    <mat-label>Email:</mat-label>
                    <input
                      matInput
                      placeholder="Email"
                      name="email"
                      formControlName="userNameOrEmailAddress"
                      required
                      matInput
                    />
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-hint>Mặc định: admin</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group">
                <div class="form-field">
                  <mat-form-field appearance="outline">
                    <mat-label>Mật khẩu:</mat-label>
                    <input
                      matInput
                      placeholder="Mật khẩu:"
                      name="password"
                      formControlName="password"
                      [type]="hide ? 'password' : 'text'"
                      required
                      matInput
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                    >
                      <mat-icon>{{
                        hide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                    <mat-hint>Mặc định: 123qwe</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-buttons">
                <button
                  class="button button-primary"
                  mat-raised-button
                  color="primary"
                  (click)="login()"
                >
                  Đăng nhập
                </button>

                <button
                  class="button button-primary"
                  mat-raised-button
                  color="warn"
                  class="menu-item"
                  (click)="loginCustom()"
                  style="margin-left: 10px"
                >
                  Đăng nhập SSO
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="image-background">
    <img src="../../../../assets/images/bg-transparent.png" alt="bachground" />
  </div>
</div> -->
