.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  //   max-width: 500px;
  z-index: 1;

  form {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }
}

.page-form {
  width: 500px;
  padding: 30px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  box-shadow: 0 2px 2px 0 #0000001a, 0 3px 1px -2px #0000001f,
    0 1px 5px 0 #00000026;
  border-radius: 2px;
}

.text-header {
  text-align: center;
  color: black;
  font-weight: 700;
  margin-bottom: 24px;
}
