<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                Danh sách bếp ăn
            </h4>

            <div class="btn-group">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="createAction()"
                ></app-button>
            </div>
        </div>

        <mat-divider></mat-divider>
        <div class="row">
            <div class="col-md-12">
                <!-- <ng-container *ngIf="dataCook.data.length <= 0">
                    <mat-spinner></mat-spinner
                ></ng-container> -->
                <table
                    mat-table
                    [dataSource]="dataCook"
                    class="mat-elevation-z8"
                >
                    <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                    <!-- Name Column -->
                    <ng-container matColumnDef="tenBep">
                        <th mat-header-cell *matHeaderCellDef>Tên bếp</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.tenBep }}
                        </td>
                    </ng-container>

                    <!-- unitManager Column -->
                    <ng-container matColumnDef="donViThuocQuanLy">
                        <th mat-header-cell *matHeaderCellDef>
                            Đơn vị quản lý
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ convertIdToName(element.donViQuanLyId) }}
                        </td>
                    </ng-container>

                    <!-- status Column -->
                    <ng-container matColumnDef="trangThai">
                        <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
                        <td mat-cell *matCellDef="let element">
                            <div [ngSwitch]="element.trangThai">
                                <span *ngSwitchCase="false" class="text-danger">
                                    Tạm ngưng
                                </span>
                                <span *ngSwitchCase="true" class="text-success">
                                    Hoạt động
                                </span>
                            </div>
                        </td>
                    </ng-container>

                    <!-- actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td mat-cell *matCellDef="let element">
                            <button
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="editAction(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                                Cập nhật
                            </button>

                            <button
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteAction(element)"
                            >
                                <i class="fa fa-trash"></i> Xóa
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>

                <p *ngIf="totalUserOnCook === 0">Dữ liệu rỗng</p>
            </div>
        </div>
    </div>
</div>
