.page__list {
    .mat-column-actions {
        width: 18%;
        text-align: center;
    }
}

.ml-10 {
    margin-left: 10px;
}

.d-flex {
    display: flex;
}

.h-40 {
    height: 40px;
}

.loading {
    .mat-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
    }
}

.text-nodata {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}
