.page__list {
    table {
        // width: 100%;

        .mat-column {
            &-description {
                width: 50%;
            }
        }

        &.table-lttp {
            tr.mat-header-row {
                background-color: initial;
                text-align: center;
            }
        }
    }

    .table-lttp {
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
            text-align: center;
        }

        th {
            font-weight: bold;
        }

        thead,
        tbody tr:nth-child(even) {
            background-color: #dddddd;
        }
    }

    .wrapper-row-control {
        display: flex;
        align-items: center;
        gap: 50px;

        .row-control {
            flex-basis: 20%;
        }
    }

    .row-actions {
        display: flex;
        gap: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .financial-info {
        display: flex;
        gap: 20px;
        margin-top: 20px;

        .financial-day {
            font-style: italic;
        }
    }

    .financial-item.ng-tns-c12-2.ng-star-inserted {
        display: flex;
        align-items: center;
        gap: 20px;
        border: 1px solid #ff7f50;
        padding: 12px 40px;
        /* margin: 0; */
    }

    .financial-statistical {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .financial-item p {
            margin: 0;
        }

        .financial-box {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .financial-total {
                font-size: 16px;
                font-weight: bold;
            }
        }

        .financial-icon {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #ff7f50;

            .mat-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .financial-item {
            &:nth-child(1) {
                .mat-icon {
                    color: #007bff;
                }
            }
            &:nth-child(2) {
                .mat-icon {
                    color: #358206;
                }
            }
            &:nth-child(3) {
                .mat-icon {
                    color: #fe0101;
                }
            }
            &:nth-child(4) {
                .mat-icon {
                    color: #ff9a62;
                }
            }
        }
    }

    .financial-tabs {
        margin-top: 20px;
        position: relative;

        .text-unit {
            position: absolute;
            top: 10px;
            right: 0;
        }
    }

    .table-meat-container {
        width: 70%;
        margin: auto;

        &--custom {
            width: 100%;
        }
    }

    .table-meal {
        max-height: 500px;
        overflow: auto;

        .mat-table {
            margin-top: 0;
        }

        .mat-table-sticky {
            font-weight: bold;
        }

        .mat-mdc-table-sticky {
            border-top: 1px solid #e0e0e0;
        }
    }

    .financial-tabs {
        .text-alert {
            display: flex;
            gap: 20px;
        }
    }

    .wrapper-table-meat {
        margin-bottom: 80px;
    }

    .field-all {
        margin-top: 20px;
    }

    ::ng-deep .row-time {
        .mat-form-field .mat-form-field-infix {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

// ::ng-deep {
//     .page__list {
//         table {
//             &.table-lttp-custom {
//                 tr.mat-header-row {
//                     background-color: initial;
//                     text-align: center;
//                 }
//             }
//         }
//     }
// }

// th.mat-header-cell,
// td.mat-cell {
//     text-align: center;
//     border: 1px solid #ccc;
//     padding: 0 !important;
// }
