<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                KẾT QUẢ BẢO ĐẢM ĐỊNH LƯỢNG LTTP, CHẤT ĐỐT
            </h4>
        </div>

        <!-- Clone header -->
        <!-- Table header 19x4 -->
        <form
            class="rfSearch-form"
            [formGroup]="rfSearch"
            autocomplete="off"
            (ngSubmit)="onSubmit()"
        >
            <div class="wrapper-row-control">
                <div class="row-control">
                    <mat-form-field>
                        <mat-label>Tên bếp</mat-label>
                        <mat-select formControlName="nameCook">
                            <mat-option
                                *ngFor="let food of listUnit"
                                [value]="food.id"
                            >
                                {{ food.tenBep }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row-control row-time">
                    <mat-form-field>
                        <mat-label>Từ ngày</mat-label>
                        <input
                            matInput
                            placeholder="Từ ngày"
                            [matDatepicker]="picker"
                            formControlName="fromDay"
                            (click)="picker.open()"
                        />
                        <mat-datepicker-toggle
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div style="margin-bottom: 12px">
                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Xóa dữ liệu'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-trash'"
                    (handleClick)="resetForm()"
                ></app-button>

                <app-button
                    [type]="'submit'"
                    [matType]="'flat'"
                    [title]="'Lọc'"
                    [color]="'primary'"
                    [iconLeft]="'fa fa-filter'"
                    [isDisabled]="!rfSearch.valid"
                ></app-button>

                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Xuất Exel'"
                    [color]="'primary'"
                    [iconRight]="'fa fa-save'"
                    (handleClick)="exportExcel()"
                ></app-button>
            </div>
        </form>

        <!-- <div class="search-layout" *ngIf="typeOptions.length > 0">
          <app-search-advanced
              [label]="'Tìm kiếm'"
              [placeHolder]="'Tìm kiếm theo tên LTTP, CĐ'"
              [fieldSearch]="fieldSearch"
              (getSearchInfo)="handleSearchAdvanced($event)"
              (getSearchName)="handleInputFilter($event)"
          ></app-search-advanced>
      </div> -->

        <mat-divider></mat-divider>
        <div class="wrapper-table">
            <app-table-report-result
                [dataTable]="reportResultCook"
                [reportResultCookDefaultCheck]="reportResultCookDefaultCheck"
                [tempDataTable]="_tempDataTable"
                [isLoadingResults]="isLoadingResults"
                [listDayinMonth]="listDayinMonth"
                (cookDefaultChecked)="changeCookDefault($event)"
            ></app-table-report-result>
        </div>
        <!-- <div class="wrapper-table">
            <table
                mat-table
                [dataSource]="reportResultCook"
                matSort
                (matSortChange)="announceSortChange($event)"
                class="mat-elevation-z8"
            >
                <ng-container *ngFor="let reportResult; in: reportResultCook">
                    <ng-container matColumnDef="reportResult">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            sortActionDescription="Sort by weight"
                        >
                            Weight
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.weight }}
                        </td>
                    </ng-container>
                </ng-container>

                <ng-container matColumnDef="weight">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        sortActionDescription="Sort by weight"
                    >
                        Weight
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.weight }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
        </div> -->

        <!-- <div class="wrapper-table">
            <mat-form-field>
                <mat-label>Tìm kiếm theo tên thực phẩm, chất đốt</mat-label>
                <input
                    matInput
                    (keyup)="applyFilter($event)"
                    placeholder="Ex. ium"
                    #input
                />
            </mat-form-field>
            <table
                mat-table
                [dataSource]="dataReport"
                class="mat-elevation-z8 demo-lttp-custom"
            >
                <ng-container
                    *ngFor="let column of headerTable"
                    matColumnDef="{{ column }}"
                    class="custom-cell"
                >
                    <ng-container [ngSwitch]="true">
                        <ng-container
                            *ngSwitchCase="
                                column === 'tenLTTP' ||
                                column === 'id' ||
                                column === 'dvt' ||
                                column === 'ThanhTienCN'
                            "
                        >
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                [attr.rowspan]="3"
                            >
                                {{ column }}
                            </th>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                            <th mat-header-cell *matHeaderCellDef>
                                {{ column }}
                            </th>
                        </ng-container>
                    </ng-container>
                    <td mat-cell *matCellDef="let element">
                        {{ element[column] }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef>Symbol</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.symbol }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3">
                        TT
                    </th>

                    <td mat-cell *matCellDef="let element; let idx = index">
                        {{ idx }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="header-row-second-group">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
                        Second group
                    </th>
                </ng-container>
                <ng-container matColumnDef="NhapTrongKi">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="5">
                        Nhập trong kỳ
                    </th>
                </ng-container>
                <ng-container matColumnDef="XuatTrongKi">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="3">
                        Xuất trong kỳ
                    </th>
                </ng-container>
                <ng-container matColumnDef="ThuaThieuChuyenSangThangSau">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3">
                        Thừa, thiếu chuyển sang tháng sau
                    </th>
                </ng-container>
                <ng-container matColumnDef="NgayTruocChuyenQua">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3">
                        Ngày trước chuyển qua
                    </th>
                </ng-container>
                <ng-container matColumnDef="trenDB">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
                        Trên BĐ
                    </th>
                </ng-container>
                <ng-container matColumnDef="donViTuDoDB">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
                        Đơn vị tự BĐ
                    </th>
                </ng-container>
                <ng-container matColumnDef="Cong">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
                        Cộng
                    </th>
                </ng-container>
                <ng-container matColumnDef="xuatChiAn">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
                        Xuất chi ăn
                    </th>
                </ng-container>
                <ng-container matColumnDef="xuatKhac">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
                        Xuất khác
                    </th>
                </ng-container>

                <tr
                    mat-header-row
                    *matHeaderRowDef="[
                        'index',
                        'tenLTTP',
                        'dvt',
                        'NgayTruocChuyenQua',
                        'NhapTrongKi',
                        'XuatTrongKi',
                        'ThuaThieuChuyenSangThangSau'
                    ]"
                ></tr>
                <tr
                    mat-header-row
                    *matHeaderRowDef="[
                        'trenDB',
                        'donViTuDoDB',
                        'Cong',
                        'xuatChiAn',
                        'xuatKhac',
                        'Cong'
                    ]"
                ></tr>
                <tr
                    mat-header-row
                    *matHeaderRowDef="['symbol', 'id', 'symbol', 'id']"
                ></tr>
                <tr mat-row *matRowDef="let row; columns: headerTable"></tr>
            </table>
        </div> -->
    </div>
</div>
