<h2 mat-dialog-title>
    <div class="icon-container warning">
        <i class="icon fa fa-exclamation-triangle"></i>
    </div>
</h2>
<div mat-dialog-content>
    <h2 class="mat-dialog-title">Bạn có muốn xóa không?</h2>
    <h4 *ngIf="data && data.tenLttpChatDot">
        Tên sản phẩm: <strong class="text">{{ data.tenLttpChatDot }}</strong>
    </h4>
    <p class="text">Dữ liệu sau khi bị xóa sẽ không thể khôi phục!</p>
</div>

<mat-dialog-actions align="center">
    <app-button
        [type]="'button'"
        [matType]="'flat'"
        [title]="'Hủy'"
        [color]="'primary'"
        (handleClick)="onCloseDialog(false)"
    ></app-button>

    <app-button
        [type]="'button'"
        [matType]="'flat'"
        [title]="'Đồng ý'"
        [color]="'warn'"
        (handleClick)="onConfirmDelete()"
    ></app-button>
</mat-dialog-actions>
