<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH NHÓM LTTP, CHẤT ĐỐT
            </h4>

            <div class="btn-group" *ngIf="allowExec === true">
                <app-button
                    [type]="'button'"
                    [matType]="'stroked'"
                    [title]="'Xoá danh sách đã chọn'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-trash'"
                    [isDisabled]="selection.selected.length == 0"
                    (handleClick)="deleteMultiAction()"
                ></app-button>

                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="createAction()"
                ></app-button>
            </div>
        </div>

        <div class="search-layout">
            <mat-form-field appearance="legacy">
                <mat-label>Tìm kiếm</mat-label>
                <input
                    matInput
                    placeholder="Tìm kiếm theo tên nhóm LTTP, CĐ"
                    (keyup)="applyFilter.next($event)"
                    #input
                />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <mat-divider class="header-divider"></mat-divider>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="select">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="text-center"
                        >
                            <mat-checkbox
                                (change)="$event ? toggleAllRows() : null"
                                [checked]="
                                    selection.hasValue() && isAllSelected()
                                "
                                [indeterminate]="
                                    selection.hasValue() && !isAllSelected()
                                "
                                [aria-label]="checkboxLabel()"
                            >
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <mat-checkbox
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Code Column -->
                    <ng-container matColumnDef="maNhomLttpChatDot">
                        <th mat-header-cell *matHeaderCellDef>
                            Mã nhóm LLTP, CĐ
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.maNhomLttpChatDot }}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="tenNhomLttpChatDot">
                        <th mat-header-cell *matHeaderCellDef>
                            Tên nhóm LLTP, CĐ
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenNhomLttpChatDot }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="phanLoaiLttpChatDot">
                        <th mat-header-cell *matHeaderCellDef>
                            Phân loại LTTP, chất đốt
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ getObjectElementUser(element.codeData, 'TYPE') }}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <span
                                *ngIf="element.status === 'ENABLE'; else other"
                                style="color: #28a745"
                            >
                                Hoạt động
                            </span>
                            <ng-template #other>
                                <span style="color: #e7505a">Tạm ngưng</span>
                            </ng-template>
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="editAction(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                                Cập nhật
                            </button>

                            <button
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteAction(element)"
                            >
                                <i class="fa fa-trash"></i> Xóa
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <mat-paginator
                    #paginator
                    [length]="totalRows"
                    [pageIndex]="currentPage"
                    [pageSize]="pageSize"
                    hidePageSize
                    showFirstLastButtons
                    (page)="pageChanged($event)"
                    aria-label="Select page"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
