<form
    *ngIf="form"
    class="add-lessons-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
>
    <div class="heading">
        <div mat-dialog-title>Định lượng ăn</div>
        <span class="text-header">ĐVT/Người/Ngày</span>
    </div>

    <mat-divider class="divider-custom"></mat-divider>
    <mat-dialog-content class="mat-typography">
        <div class="quantity-form-row quantity-form-row-main">
            <div class="quantity-form-item">
                <mat-form-field appearance="standard">
                    <input
                        matInput
                        [(ngModel)]="nameLTTP"
                        placeholder="Nhóm LTTP, CĐ"
                        [ngModelOptions]="{ standalone: true }"
                        type="text"
                        min="0"
                        [disabled]="true"
                    />
                </mat-form-field>
            </div>

            <div class="quantity-form-item">
                <mat-form-field appearance="standard">
                    <input
                        matInput
                        [(ngModel)]="donViTinhId"
                        placeholder="Đơn vị tính"
                        [ngModelOptions]="{ standalone: true }"
                        type="text"
                        min="0"
                        [disabled]="true"
                    />
                </mat-form-field>
            </div>
            <div class="quantity-form-item">
                <mat-form-field appearance="standard">
                    <input
                        matInput
                        [(ngModel)]="dinhLuong"
                        placeholder="Định lượng"
                        [ngModelOptions]="{ standalone: true }"
                        type="number"
                        min="0"
                        [disabled]="true"
                    />
                </mat-form-field>
            </div>
        </div>
        <ng-container formArrayName="quantity">
            <div
                class="mw355"
                [ngClass]="quantity.controls.length > 5 ? 'scroll-y' : ''"
            >
                <ng-container
                    *ngFor="
                        let quantitativeForm of quantity.controls;
                        let i = index
                    "
                >
                    <div
                        class="quantity-form-row"
                        [formGroup]="quantitativeForm"
                    >
                        <div class="quantity-form-item">
                            <mat-form-field appearance="standard">
                                <input
                                    type="text"
                                    matInput
                                    formControlName="tenNhomLttpChatDot"
                                    placeholder="Nhóm LTTP, CĐ"
                                    min="0"
                                    [readOnly]="true"
                                    style="color: black"
                                />
                            </mat-form-field>
                        </div>
                        <div class="quantity-form-item">
                            <mat-form-field appearance="standard">
                                <input
                                    type="text"
                                    matInput
                                    formControlName="donViTinh"
                                    placeholder="Đơn vị tính"
                                    min="0"
                                    [readOnly]="true"
                                    style="color: black"
                                />
                            </mat-form-field>
                        </div>
                        <div class="quantity-form-item">
                            <mat-form-field appearance="standard">
                                <input
                                    type="number"
                                    matInput
                                    formControlName="dinhLuong"
                                    placeholder="Định lượng"
                                    min="0"
                                    [readOnly]="true"
                                    style="color: black"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <!-- <button mat-stroked-button mat-dialog-close>Huỷ</button> -->

        <app-button
            [matType]="'stroked'"
            [title]="'Đóng'"
            [color]="'primary'"
            mat-dialog-close
        ></app-button>
    </mat-dialog-actions>
</form>
