::ng-deep .page__version {
    p {
        margin: 0;
    }

    .tab-icon {
        margin-right: 8px;
    }

    .icon-label {
        transform: rotate(-135deg);
    }

    .mat-tab-group.mat-background-primary .mat-tab-label {
        opacity: 1 !important;
    }

    h4.title-version {
        font-weight: bold;
    }

    .version-box {
        display: flex;
        font-size: 14px;
        font-weight: 500;
        align-items: center;
        gap: 5px;

        .dot {
            flex-basis: 90px;
            border-bottom: 2px dotted;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .mat-expansion-panel:not(.mat-expanded)
        .mat-expansion-panel-header:not([aria-disabled='true']):hover {
        background: none;
    }

    .mat-expansion-panel-header:not([aria-disabled='true']) {
        cursor: default;
        height: auto !important;
    }

    mat-expansion-panel.mat-expansion-panel {
        box-shadow: none;
    }

    .mat-expansion-panel-header-description {
        color: #000;
    }

    // .mat-expansion-panel-header {
    //     padding: 0;
    // }
}
