<div class="page__list page__version">
    <div class="container-fluid">
        <mat-tab-group animationDuration="0ms" backgroundColor="primary">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">insert_drive_file</mat-icon>
                    Readme
                </ng-template>
                <h3>Phiên bản hiện tại: {{ version }}</h3>
                <h4>
                    <strong>- Tính năng mới: </strong>
                </h4>
                <ul>
                    <li>Bổ sung trang Version</li>
                    <li>Bổ sung trang Version</li>
                    <li>Bổ sung trang Version</li>
                </ul>
                <p>
                    Các bạn có thể thấy rõ rằng mỗi module đều được mô tả phiên
                    bản dưới dạng X.Y.Z, hay chính xác hơn là MAJOR.MINOR.PATCH
                    .Các bạn có thể đọc thêm chi tiết về phần này tại đây :
                    https://semver.org/. Trong khuôn khổ bài viết mình chỉ giải
                    thích cơ bản để các bạn có thể hiểu về 3 chỉ số này có ý
                    nghĩa gì với các module:
                </p>
                <ul>
                    <li>
                        <strong>MAJOR</strong> : Thay đổi (hay còn gọi là
                        breaking changes) khi những API cũ không còn tương thích
                        nữa . VD : gọi là 2.0.0 khi các api từ bản 1.0.0 không
                        còn dùng được nữa.
                    </li>
                    <li>
                        <strong>MINOR</strong>
                        : Thay đổi khi thêm những tính năng mới tuy nhiên những
                        API từ phiên phản trước đó vẫn có thể dùng trong phiên
                        bản này. VD: Phiên bản 1.1.0 thêm một số tính năng tuy
                        nhiên những API từ phiên bản 1.0.0 vẫn được giữ nguyên
                    </li>
                    <li>
                        <strong>PATCH</strong>
                        : Phiên bản thay đổi khi có những fix bug cho những
                        phiên bản trước đó và API hoàn toàn vẫn tương thích với
                        các phiên bản cũ.
                    </li>
                </ul>
                <a
                    target="_blank"
                    href="https://viblo.asia/p/package-lockjson-va-nhung-dieu-co-the-ban-chua-biet-RQqKL2WOl7z"
                    >Tài liệu tham khảo
                </a>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon icon-label">label</mat-icon>
                    Verions
                </ng-template>
                <div class="tab-content">
                    <!-- <markdown
                        class="variable-binding"
                        [data]="markdown"
                    ></markdown> -->
                    <h4 class="title-version">Phiên bản hiện tại</h4>
                    <div class="version-box">
                        <p class="version-name">1.1.1</p>
                        <div class="dot"></div>
                        <p class="version-time">Ngày 28/11/2020</p>
                    </div>

                    <h4 class="title-version">Tính năng mới</h4>
                    <ul>
                        <li>Cập nhật lại API Nhập kho</li>
                        <li>Thêm tính năng xuất file Excel ở trang Nhập kho</li>
                    </ul>

                    <h4 class="title-version">Lịch sử</h4>
                    <div class="version-box">
                        <p class="version-name">1.1.1</p>
                        <div class="dot"></div>
                        <p class="version-time">Ngày 28/11/2020</p>
                    </div>
                    <div class="version-box">
                        <p class="version-name">1.0.0</p>
                        <div class="dot"></div>
                        <p class="version-time">START</p>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
