<div class="page__list" [hidden]="isLoading === true">
    <div class="container-fluid">
        <form
            (ngSubmit)="onSubmit('noPrint')"
            *ngIf="form"
            [formGroup]="form"
            class="form-submit"
        >
            <div class="header">
                <h4 class="adjustment__title">
                    <p class="text-title">
                        <mat-icon>assignment</mat-icon>
                        {{
                            idTinhKho > 0
                                ? 'Chi tiết biên bản tịnh kho'
                                : 'Tạo biên bản tịnh kho'
                        }}
                    </p>
                </h4>

                <div class="adjustment__btn-group">
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Hủy'"
                        [color]="'warn'"
                        (handleClick)="onBack()"
                    ></app-button>
                    <app-button
                        *ngIf="isEdit"
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="'Xuất Exel'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        (handleClick)="exportExcel()"
                    ></app-button>

                    <ng-container *ngIf="idTinhKho === null">
                        <app-button
                            [type]="'submit'"
                            [matType]="'flat'"
                            [title]="'Tạo mới & quay lại'"
                            [color]="'primary'"
                            [isDisabled]="
                                !form.valid || dataSource.data.length === 0
                            "
                        ></app-button>
                        <app-button
                            [type]="'button'"
                            [matType]="'flat'"
                            [title]="'Tạo mới & in'"
                            [color]="'primary'"
                            [isDisabled]="
                                !form.valid || dataSource.data.length === 0
                            "
                            (handleClick)="onSubmit('print')"
                        ></app-button>
                    </ng-container>
                </div>
            </div>

            <div class="info">
                <dynamic-form-builder [form]="form" [fields]="field">
                </dynamic-form-builder>
            </div>

            <div class="adjustment__search">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <mat-form-field appearance="legacy">
                            <mat-label
                                >Tìm kiếm theo tên vật tư, hàng hoá</mat-label
                            >
                            <input
                                matInput
                                placeholder="Nhập vào tên vật tư, hàng hoá"
                                (keyup)="applyFilter.next($event)"
                            />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="table-range">
                <table
                    mat-table
                    [dataSource]="dataSource"
                    class="table-chitiet"
                >
                    <ng-container matColumnDef="tenLttpChatDot">
                        <th mat-header-cell *matHeaderCellDef>Thực phẩm</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenLttpChatDot }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="donViTinh">
                        <th mat-header-cell *matHeaderCellDef>ĐVT</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.donViTinh }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="donGia">
                        <th mat-header-cell *matHeaderCellDef>Giá</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                element.donGia
                                    | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                    | priceConvert
                            }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="soLuong">
                        <th mat-header-cell *matHeaderCellDef>Số lượng</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.soLuong }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="thanhTien">
                        <th mat-header-cell *matHeaderCellDef>Thành tiền</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                element.thanhTien
                                    | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                    | priceConvert
                            }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="soLuongThucTe">
                        <th mat-header-cell *matHeaderCellDef>Số lượng-TT</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <mat-form-field appearance="legacy">
                                <input
                                    matInput
                                    type="number"
                                    min="0"
                                    placeholder="Nhập số lượng thực tế"
                                    [(ngModel)]="element.soLuongThucTe"
                                    [ngModelOptions]="{ standalone: true }"
                                    [disabled]="idTinhKho > 0 ? true : false"
                                    required
                                />
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="thanhTienThucTe">
                        <th mat-header-cell *matHeaderCellDef>Thành tiền-TT</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                element.soLuongThucTe > 0
                                    ? (element.soLuongThucTe * element.donGia
                                      | currency
                                          : 'VND'
                                          : 'symbol'
                                          : '1.0'
                                          : 'vi'
                                      | priceConvert)
                                    : (0
                                      | currency
                                          : 'VND'
                                          : 'symbol'
                                          : '1.0'
                                          : 'vi'
                                      | priceConvert)
                            }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="soLuongThua">
                        <th mat-header-cell *matHeaderCellDef>SL-Thừa</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                element.soLuongThucTe > element.soLuong
                                    ? element.soLuongThucTe - element.soLuong
                                    : 0
                            }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="soLuongThieu">
                        <th mat-header-cell *matHeaderCellDef>SL-Thiếu</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                element.soLuongThucTe < element.soLuong
                                    ? element.soLuong - element.soLuongThucTe
                                    : 0
                            }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ghiChu">
                        <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <mat-form-field appearance="legacy">
                                <input
                                    matInput
                                    type="text"
                                    placeholder="Nhập ghi chú"
                                    [(ngModel)]="element.ghiChu"
                                    [ngModelOptions]="{ standalone: true }"
                                    [disabled]="idTinhKho > 0 ? true : false"
                                />
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>
            </div>

            <mat-paginator
                class="custom-paginator"
                [pageSizeOptions]="[10, 15, 20]"
                showFirstLastButtons
            >
            </mat-paginator>
        </form>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>

<!-- <ng-container *ngIf="idTinhKho"> -->
<div id="printer" [ngClass]="isPrinter === true ? 'block' : 'none'">
    <div class="header px-20 text-center">
        <p class="bold m-0 mb-10">BIÊN BẢN TỊNH KHO CUỐI THÁNG ....</p>
    </div>
    <div class="indent-10">
        <p class="m-0">
            Hôm nay, ngày .... tháng .... năm ...... Chúng tôi đã cân đong lại
            lương thực, thực phẩm, chất đốt tồn kho cuối tháng
        </p>
    </div>
    <p class="bold">I. KẾT QUẢ TỊNH KHO</p>
    <table>
        <thead>
            <tr>
                <th class="tg-uzvj" rowspan="3">TT</th>
                <th class="tg-uzvj" rowspan="3">TÊN LTTP, CĐ</th>
                <th class="tg-uzvj" rowspan="3">ĐVT</th>
                <th class="tg-9wq8 light" rowspan="3">Giá lẻ (1000 đ)</th>
                <th class="tg-uzvj" colspan="2">CÒN TRÊN SỐ</th>
                <th class="tg-uzvj" colspan="2">THỰC KIỂM KHO</th>
                <th class="tg-uzvj" colspan="4">SO SÁNH</th>
                <th class="tg-9wq8" rowspan="3">
                    <span style="font-weight: bold">GHI CHÚ</span>
                </th>
            </tr>
            <tr>
                <th class="tg-9wq8" rowspan="2">Số lượng</th>
                <th class="tg-9wq8" rowspan="2">Thành tiền</th>
                <th class="tg-9wq8" rowspan="2">Số lượng</th>
                <th class="tg-9wq8" rowspan="2">Thành tiền</th>
                <th class="tg-9wq8" colspan="2">Thừa</th>
                <th class="tg-9wq8" colspan="2">Thiếu</th>
            </tr>
            <tr>
                <th class="tg-9wq8">Số lượng</th>
                <th class="tg-9wq8">Thành tiền</th>
                <th class="tg-9wq8">Số lượng</th>
                <th class="tg-9wq8">Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataDetail; index as index">
                <td class="tg-c3ow text-center">{{ index + 1 }}</td>
                <td class="tg-c3ow">{{ item.tenLttpChatDot }}</td>
                <td class="tg-c3ow text-center">{{ item.donViTinh }}</td>
                <td class="tg-c3ow text-center">
                    {{
                        item.donGia
                            | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                            | priceConvert
                    }}
                </td>
                <td class="tg-c3ow text-center">{{ item.soLuong }}</td>
                <td class="tg-c3ow text-center">
                    {{
                        item.thanhTien
                            | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                            | priceConvert
                    }}
                </td>
                <td class="tg-c3ow text-center">
                    {{ item.soLuongThucTe }}
                </td>
                <td class="tg-c3ow text-center">
                    {{
                        item.thanhTienThucTe
                            | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                            | priceConvert
                    }}
                </td>
                <td class="tg-c3ow text-center">{{ item.soLuongThua }}</td>
                <td class="tg-c3ow text-center">
                    {{
                        item.thanhTienThua
                            | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                            | priceConvert
                    }}
                </td>
                <td class="tg-c3ow text-center">{{ item.soLuongThieu }}</td>
                <td class="tg-c3ow text-center">
                    {{
                        item.thanhTienThieu
                            | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                            | priceConvert
                    }}
                </td>
                <td class="tg-c3ow">{{ item.ghiChu }}</td>
            </tr>
            <tr *ngFor="let item of dataDetail; index as index">
                <td class="tg-baqh text-center">
                    {{ index + 1 + dataDetail.length }}
                </td>
                <td class="tg-0lax no-color">AAAA</td>
                <td class="tg-c3ow"></td>
                <td class="tg-c3ow"></td>
                <td class="tg-c3ow"></td>
                <td class="tg-c3ow"></td>
                <td class="tg-c3ow"></td>
                <td class="tg-c3ow"></td>
                <td class="tg-c3ow"></td>
                <td class="tg-c3ow"></td>
                <td class="tg-c3ow"></td>
                <td class="tg-c3ow"></td>
                <td class="tg-c3ow"></td>
            </tr>
        </tbody>
    </table>
    <p class="bold">II. LÝ DO THỪA, THIẾU VÀ Ý KIẾN GIẢI QUYẾT</p>
    <div class="text">
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
        <hr
            style="
                border: none;
                border-top: 1px dotted #000;
                color: #000;
                height: 5px;
                width: 100%;
                margin-bottom: 30px;
            "
        />
    </div>
    <p class="bold">
        Chúng tôi đã kiểm tra và xác nhận phần ghi chép này là đúng.
    </p>
    <div class="d-flex justify-space-between align-end mt-10">
        <div class="h-30 text-center ml-5">
            <p class="m-0 bold mb-20">QUẢN LÝ</p>
            <p class="m-0 italic mb-20">(Ký, ghi rõ họ tên)</p>
            <div class="box-sig"></div>
        </div>
        <div class="text-center ml-5">
            <p class="m-0 bold mb-20">TỔ KINH TẾ</p>
            <p class="m-0 italic mb-20">(Ký, ghi rõ họ tên)</p>
            <div class="box-sig"></div>
        </div>
        <div class="text-center ml-5">
            <p class="m-0 italic mb-20">Ngày ….. tháng ….. năm 20….</p>
            <p class="m-0 bold mb-20">CHỈ HUY ĐƠN VỊ</p>
            <p class="m-0 italic mb-20">(Ký, ghi rõ họ tên)</p>
            <div class="box-sig"></div>
        </div>
    </div>
</div>
<!-- </ng-container> -->
