<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                SỬ DỤNG LƯƠNG THỰC THỰC PHẨM CHẤT ĐỐT
            </h4>
        </div>

        <!-- Clone header -->
        <!-- Table header 19x4 -->
        <form
            class="rfSearch-form"
            [formGroup]="rfSearch"
            autocomplete="off"
            (ngSubmit)="onSubmit()"
        >
            <div class="wrapper-row-control">
                <div class="row-control row-time">
                    <mat-form-field (mousedown)="picker.open()">
                        <mat-label>Tháng</mat-label>
                        <input
                            matInput
                            placeholder="Chọn tháng"
                            [matDatepicker]="picker"
                            [formControl]="pickerMonth"
                            readonly
                        />
                        <mat-datepicker-toggle
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                            #picker
                            startView="multi-year"
                            (monthSelected)="
                                _monthSelectedHandler($event, picker)
                            "
                        ></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div style="margin-bottom: 12px">
                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Xóa dữ liệu'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-trash'"
                    (handleClick)="resetForm()"
                ></app-button>

                <app-button
                    [type]="'submit'"
                    [matType]="'flat'"
                    [title]="'Lọc'"
                    [color]="'primary'"
                    [iconLeft]="'fa fa-filter'"
                    [isDisabled]="!pickerMonth.valid"
                ></app-button>

                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Xuất Exel'"
                    [color]="'primary'"
                    [iconRight]="'fa fa-save'"
                    (handleClick)="exportExcel()"
                ></app-button>
            </div>
        </form>

        <mat-divider class="my-15"></mat-divider>

        <div class="wrapper-table">
            <mat-form-field>
                <mat-label>Tìm kiếm</mat-label>
                <input
                    matInput
                    (keyup)="applyFilter($event)"
                    placeholder="Tìm kiếm theo tên thực phẩm, chất đốt"
                    #input
                />
            </mat-form-field>
            <table mat-table [dataSource]="dataReport" class="demo-lttp-custom">
                <!-- Symbol Column -->
                <ng-container
                    *ngFor="let column of headerTable"
                    matColumnDef="{{ column }}"
                    class="custom-cell"
                >
                    <ng-container [ngSwitch]="true">
                        <ng-container
                            *ngSwitchCase="
                                column === 'index' ||
                                column === 'tenLttpChatDot' ||
                                column === 'donViTinh'
                            "
                        >
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                [attr.rowspan]="3"
                            >
                                {{ renderToText(column) }}
                            </th>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                            <th mat-header-cell *matHeaderCellDef>
                                {{ column }}
                            </th>
                        </ng-container>
                    </ng-container>

                    <!-- <th mat-header-cell *matHeaderCellDef>
                        {{ column }}
                    </th> -->
                    <td mat-cell *matCellDef="let element">
                        {{ element[column] ? element[column] : '' }}
                    </td>
                </ng-container>
                <!-- <ng-container matColumnDef="tenLTTP">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        [attr.rowspan]="2"
                    >
                        tenLTTP
                    </th>
                </ng-container> -->
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef>Symbol</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.symbol }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="header-row-second-group">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
                        Second group
                    </th>
                </ng-container>
                <ng-container matColumnDef="NhapTrongKi">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="5">
                        Nhập trong kỳ
                    </th>
                </ng-container>
                <ng-container matColumnDef="XuatTrongKi">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="3">
                        Xuất trong kỳ
                    </th>
                </ng-container>
                <ng-container matColumnDef="ThuaThieuChuyenSangThangSau">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3">
                        Thừa, thiếu chuyển sang tháng sau
                    </th>
                </ng-container>
                <ng-container matColumnDef="NgayTruocChuyenQua">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3">
                        Tháng trước chuyển qua
                    </th>
                </ng-container>
                <ng-container matColumnDef="trenDB">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
                        Trên BĐ
                    </th>
                </ng-container>
                <ng-container matColumnDef="donViTuDoDB">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
                        Đơn vị tự BĐ
                    </th>
                </ng-container>
                <ng-container matColumnDef="Cong">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
                        Cộng
                    </th>
                </ng-container>
                <ng-container matColumnDef="xuatChiAn">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
                        Xuất chi ăn
                    </th>
                </ng-container>
                <ng-container matColumnDef="xuatKhac">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
                        Xuất khác
                    </th>
                </ng-container>
                <ng-container matColumnDef="trenDBTT">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
                        Mua TT
                    </th>
                </ng-container>
                <ng-container matColumnDef="trenDBTG">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
                        TGSX
                    </th>
                </ng-container>
                <ng-container matColumnDef="donViTT">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
                        Mua TT
                    </th>
                </ng-container>
                <ng-container matColumnDef="donViTg">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
                        TGSX
                    </th>
                </ng-container>

                <tr
                    mat-header-row
                    *matHeaderRowDef="[
                        'tenLttpChatDot',
                        'donViTinh',
                        'NgayTruocChuyenQua',
                        'NhapTrongKi',
                        'XuatTrongKi',
                        'ThuaThieuChuyenSangThangSau'
                    ]"
                ></tr>
                <!-- 'donViTg',
                'nhapTrongNgayThanhTien',
                'SoLuongCN',
                'nhapTrongNgayThanhTien',
                'nhapTrongNgayThanhTien',
                'ThanhTienCN' -->
                <tr
                    mat-header-row
                    *matHeaderRowDef="[
                        'trenDB',
                        'donViTuDoDB',
                        'Cong',
                        'xuatChiAn',
                        'xuatKhac',
                        'Cong'
                    ]"
                ></tr>
                <tr
                    mat-header-row
                    *matHeaderRowDef="[
                        'trenDBTT',
                        'trenDBTG',
                        'donViTT',
                        'donViTg'
                    ]"
                ></tr>
                <!-- <tr mat-header-row *matHeaderRowDef="headerTable"></tr> -->
                <tr mat-row *matRowDef="let row; columns: headerTable"></tr>
            </table>

            <ng-container *ngIf="dataReport.data.length === 0">
                <p class="text-nodata">Không có dữ liệu</p>
            </ng-container>

            <!-- <ng-container *ngIf="dataReport.length <= 0">
                <mat-spinner></mat-spinner>
            </ng-container> -->
        </div>
    </div>
</div>

<ng-template
    #templateMatSelect
    let-title="title"
    let-form="form"
    let-options="options"
>
    <mat-form-field [formGroup]="rfSearch">
        <mat-label>{{ title }}</mat-label>
        <mat-select [formControlName]="form">
            <mat-option *ngFor="let food of options" [value]="food.viewValue">
                {{ food.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-template>

<ng-template
    #templateTableMeal
    let-transactionseal="transactionseal"
    let-transactionsMeal="transactionsMeal"
    let-unit="unit"
    let-level="level"
    let-size="size"
    let-all="all"
>
    <p class="text-alert text-alert--small text-alert--default">
        <span *ngIf="unit">Đối tượng: {{ unit }} </span>
        <span *ngIf="level">Mức tiền ăn: {{ level }}</span>
        <span *ngIf="size">Mức ăn: {{ size }}</span>
    </p>

    <section class="table-meal" tabindex="0">
        <table mat-table [dataSource]="transactionsMeal">
            <!-- Item Column -->
            <ng-container matColumnDef="meal">
                <th mat-header-cell *matHeaderCellDef>Buổi ăn</th>
                <td mat-cell *matCellDef="let transactionsMeal">
                    {{ transactionsMeal.meal }}
                </td>
                <td mat-footer-cell *matFooterCellDef>Tổng</td>
            </ng-container>
            <!-- Item Column -->
            <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef>Số lượng ăn</th>
                <td mat-cell *matCellDef="let transactionsMeal">
                    {{ transactionsMeal.cost }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <!-- Item Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
                <td mat-cell *matCellDef="let transactionsMeal">
                    {{ transactionsMeal.price }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Cost Column -->
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>Thành tiền</th>
                <td mat-cell *matCellDef="let transactionsMeal">
                    {{ transactionsMeal.total | currency }}
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    {{ getTotalCost(transactionsMeal) | currency }}
                </td>
            </ng-container>

            <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsMeal; sticky: true"
            ></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsMeal"
            ></tr>
            <tr
                mat-footer-row
                *matFooterRowDef="displayedColumnsMeal; sticky: true"
            ></tr>
        </table>

        <mat-form-field *ngIf="all" class="field-all">
            <mat-label>Tổng cộng</mat-label>
            <input matInput placeholder="Tổng cộng" [value]="all" />
        </mat-form-field>
    </section>
</ng-template>
