<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH ĐIỀU CHỈNH GIÁ
            </h4>

            <div *ngIf="allowExec" class="btn-group">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="createAction()"
                ></app-button>
            </div>
        </div>

        <!-- SEARCH -->
        <div class="search-layout">
            <app-search-advanced
                [label]="'Tìm kiếm'"
                [placeHolder]="'Tìm kiếm theo tên đợt điểu chỉnh giá'"
                [fieldSearch]="fieldSearch"
                (getSearchInfo)="handleSearchAdvanced($event)"
                (getSearchName)="handleSearch($event)"
            ></app-search-advanced>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <!-- So Chung Tu Column -->
                    <ng-container matColumnDef="maDotDieuChinhGia">
                        <th mat-header-cell *matHeaderCellDef>Số chứng từ</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.maDotDieuChinhGia }}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="tenDotDieuChinhGia">
                        <th mat-header-cell *matHeaderCellDef>
                            Tên điều chỉnh
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenDotDieuChinhGia }}
                        </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="ngayHieuLuc">
                        <th mat-header-cell *matHeaderCellDef>Ngày áp dụng</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.ngayHieuLuc | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <span
                                *ngIf="element.status === 'ENABLE'; else other"
                                class="text-success"
                            >
                                Hoạt động
                            </span>
                            <ng-template #other>
                                <span class="text-danger">Tạm ngưng</span>
                            </ng-template>
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="editAction(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                                Cập nhật
                            </button>

                            <button
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteAction(element)"
                            >
                                <i class="fa fa-trash"></i> Xóa
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <mat-paginator
                    #paginator
                    [length]="totalRows"
                    [pageIndex]="currentPage"
                    [pageSize]="pageSize"
                    hidePageSize
                    showFirstLastButtons
                    (page)="pageChanged($event)"
                    aria-label="Select page"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
