<div class="heading">
    <div mat-dialog-title class="mat-dialog-title">
        Chi tiết Nhập - Xuất - Tồn kho - "{{ data.name }} -
        {{ data.donGia | currency : 'VND' : 'symbol' : '1.0' : 'vi' }}"
        <!-- priceConvert -->
    </div>

    <!-- <mat-icon (click)="onCloseDialog()">close</mat-icon> -->
</div>

<div mat-dialog-content class="mat-dialog-content">
    <div class="filter">
        <div class="row">
            <div class="col-12 col-md-6">
                <mat-form-field appearance="legacy">
                    <mat-label>Tìm kiếm theo mã phiếu</mat-label>
                    <input
                        matInput
                        #input
                        placeholder="Nhập mã phiếu"
                        [formControl]="codeName"
                    />
                    <span matSuffix>
                        <i class="fa fa-magnifying-glass"></i>
                    </span>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
                <mat-form-field appearance="legacy">
                    <mat-label>Loại phiếu</mat-label>
                    <mat-select
                        [value]="defaultSelected"
                        (selectionChange)="handleSelectFilter($event)"
                    >
                        <mat-option value="all">Tất cả</mat-option>
                        <mat-option value="Tồn ban đầu">Tồn kho</mat-option>
                        <mat-option value="Nhập kho">Nhập kho</mat-option>
                        <mat-option value="Xuất kho">Xuất kho</mat-option>
                        <mat-option value="Chuyển kho">Chuyển kho</mat-option>
                        <mat-option value="Tịnh kho">Tịnh kho</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
                <mat-form-field
                    class="example-full-width"
                    (mousedown)="pickerStart.open()"
                >
                    <mat-label>Từ ngày</mat-label>
                    <input
                        matInput
                        placeholder="Từ ngày"
                        [matDatepicker]="pickerStart"
                        [formControl]="dateStart"
                        (dateChange)="enablePicker($event)"
                        readonly
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="pickerStart"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
                <mat-form-field
                    class="example-full-width"
                    (mousedown)="isPicker ? pickerEnd.open() : null"
                >
                    <mat-label>Đến ngày</mat-label>
                    <input
                        matInput
                        placeholder="Từ ngày"
                        [matDatepicker]="pickerEnd"
                        [formControl]="dateEnd"
                        [min]="minDate"
                        readonly
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="pickerEnd"
                        [disabled]="!isPicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row-actions btn-group">
            <app-button
                [type]="'button'"
                [matType]="'stroked'"
                [title]="'Xoá'"
                [color]="'primary'"
                (handleClick)="reset()"
            ></app-button>
            <app-button
                [type]="'button'"
                [matType]="'flat'"
                [title]="'Lọc'"
                [color]="'primary'"
                (handleClick)="filter()"
            ></app-button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8 material-table-dialog"
            >
                <!-- Code Column -->
                <ng-container matColumnDef="licenseType">
                    <th mat-header-cell *matHeaderCellDef>Loại phiếu</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.loaiPhieu }}
                    </td>
                </ng-container>

                <!-- Name Column - Tiến nợ-->
                <ng-container matColumnDef="licenseDate">
                    <th mat-header-cell *matHeaderCellDef>Vào lúc</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.ngay | date : 'dd/MM/yyyy' }}
                    </td>
                </ng-container>

                <!-- Amount Column -->
                <ng-container matColumnDef="licenseNumber">
                    <th mat-header-cell *matHeaderCellDef>Mã phiếu</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.maPhieu }}
                    </td>
                </ng-container>

                <!-- Unit Column -->
                <ng-container matColumnDef="unit">
                    <th mat-header-cell *matHeaderCellDef>ĐVT</th>
                    <td mat-cell *matCellDef="let element">
                        {{ data.donViTinh }}
                    </td>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="yesterday">
                    <th mat-header-cell *matHeaderCellDef>
                        Ngày trước chuyển qua
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{
                            element.ngayTruocChuyenQua > 0
                                ? element.ngayTruocChuyenQua
                                : ''
                        }}
                    </td>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="deviant">
                    <th mat-header-cell *matHeaderCellDef>
                        <span class="wrap-icon-text">
                            <mat-icon>swap_vert</mat-icon>
                            Chênh lệch
                        </span>
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        [ngClass]="
                            element.chenhLech > 0 ? 'positive' : 'negative'
                        "
                    >
                        {{ checkPositiveNumbers(element.chenhLech) }}
                    </td>
                </ng-container>

                <!-- Total Column -->
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>SL tồn</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.ton }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.ghiChu }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                    <td mat-cell *matCellDef="let element">
                        <div [ngSwitch]="element.loaiPhieu">
                            <div *ngSwitchCase="'Tịnh kho'">
                                <button
                                    class="p-0"
                                    mat-button
                                    (click)="navigateDetail(element, 'tinhKho')"
                                >
                                    <i class="fa fa-eye"></i>
                                    Chi tiết phiếu
                                </button>
                            </div>
                            <div *ngSwitchCase="'Nhập kho'">
                                <button
                                    class="p-0"
                                    mat-button
                                    (click)="navigateDetail(element, 'nhapKho')"
                                >
                                    <i class="fa fa-eye"></i>
                                    Chi tiết phiếu
                                </button>
                            </div>
                            <div *ngSwitchCase="'Xuất kho'">
                                <button
                                    class="p-0"
                                    mat-button
                                    (click)="navigateDetail(element, 'xuatKho')"
                                >
                                    <i class="fa fa-eye"></i>
                                    Chi tiết phiếu
                                </button>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumnsOfField"
                ></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumnsOfField"
                ></tr>
            </table>

            <ng-container *ngIf="this.dataSource.data.length <= 0">
                <p class="text-nodata">Không tìm thấy dữ liệu</p>
            </ng-container>

            <mat-paginator
                class="mat-paginator"
                [pageSizeOptions]="[5, 10, 15]"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
            >
            </mat-paginator>
        </div>
    </div>
</div>

<div mat-dialog-actions align="end" class="btn-group mat-dialog-actions">
    <app-button
        [type]="'button'"
        [matType]="'flat'"
        [title]="'Đóng'"
        [color]="'primary'"
        (handleClick)="onCloseDialog()"
    ></app-button>
</div>
