<div class="page__list" [hidden]="isLoading === true">
    <div class="container-fluid">
        <!-- <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                SỔ NHẬP XUẤT LƯƠNG THỰC THỰC PHẨM
            </h4>
        </div> -->

        <div class="financial-statistical">
            <div class="financial-item" *ngFor="let financial of statisticals">
                <div class="financial-icon" [ngClass]="financial.class">
                    <mat-icon>{{ financial.icon }} </mat-icon>
                </div>
                <div class="financial-box">
                    <p class="financial-total">
                        {{ financial.value | priceConvert }}
                    </p>
                    <div class="financial-title">{{ financial.title }}</div>
                </div>
            </div>
        </div>

        <div class="wrapper-chart">
            <h3 class="text-center chart-header">
                THỐNG KÊ NHẬP - XUẤT TRONG NĂM {{ currentYear }}
            </h3>
            <ngx-charts-line-chart
                [view]="view"
                [scheme]="colorScheme"
                [legend]="legend"
                [legendTitle]="legendTitle"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [timeline]="timeline"
                [results]="multi"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-line-chart>
        </div>

        <div class="wrapper-table">
            <div class="row">
                <div class="col-md-12 col-custom-border">
                    <div class="wrapper-table-content">
                        <mat-divider class="mx-20 light-pink"></mat-divider>
                        <div
                            class="light-pink-bg d-flex align-items-center justify-between px-20"
                        >
                            <!-- <div class="m-20">  -->
                            <div>
                                <span class="bold">QUÂN SỐ ĂN</span>
                                <span class="ml-25">{{ today }}</span>
                            </div>
                            <!-- <div class="m-20"> -->
                            <div class="box-select">
                                <mat-form-field appearance="outline">
                                    <mat-select
                                        placeholder="Bếp Ăn"
                                        [(value)]="defaultCook"
                                    >
                                        <mat-option
                                            (onSelectionChange)="
                                                selectFormChange($event)
                                            "
                                            *ngFor="let cook of listCook"
                                            [value]="cook.value"
                                        >
                                            {{ cook.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <table
                            mat-table
                            [dataSource]="
                                dataTable.data.length > 0
                                    ? dataTable
                                    : emptyData
                            "
                            class="table-striped"
                        >
                            <ng-container matColumnDef="mucTienAn">
                                <th mat-header-cell *matHeaderCellDef>
                                    Mức tiền ăn
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    Mức tiền ăn
                                    {{ element.mucTienAn | priceConvert }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    TỔNG QUÂN SỐ ĂN
                                </td>
                            </ng-container>

                            <!-- Cost Column -->
                            <ng-container matColumnDef="an">
                                <th mat-header-cell *matHeaderCellDef>
                                    Quân số ăn
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.quanSoAn }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    {{ getTotal('quanSoAn') }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="khongAn">
                                <th mat-header-cell *matHeaderCellDef>
                                    Quân số không ăn
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.quanSoKhongAn }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    {{ getTotal('quanSoKhongAn') }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="chua">
                                <th mat-header-cell *matHeaderCellDef>
                                    Chưa báo cơm
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.quanSoChuaBaoCom }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    {{ getTotal('quanSoChuaBaoCom') }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="empty-row">
                                <td
                                    mat-cell
                                    *matCellDef="let element"
                                    class="text-nodata"
                                    colspan="4"
                                >
                                    Không có chấm cơm để hiện dữ liệu
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="
                                    let row;
                                    columns: dataTable.data.length > 0
                                        ? displayedColumns
                                        : ['empty-row']
                                "
                            ></tr>
                            <tr
                                mat-footer-row
                                *matFooterRowDef="displayedColumns"
                            ></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>
