.mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}

.page__list {
    .mat-column-actions {
        width: 18%;
        text-align: center;
    }

    .selection-range {
        margin: 16px 0;
        display: flex;
        align-items: center;

        app-button {
            margin-left: 16px;
        }
    }

    .header {
        padding-right: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .adjustment__title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #337ab7;
        font-weight: bold;

        mat-icon {
            font-size: 28px;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    .tab__content {
        margin-top: 16px;

        .banner {
            background-color: #ededed;
            color: #000;
            padding: 5px 0 5px 10px;
        }

        .chamcom__wrapper {
            margin-top: 24px;
            width: 100%;
            min-height: auto;
            max-height: 75vh;
            overflow: auto;
            white-space: nowrap !important;
        }

        table {
            margin: 0;
        }

        .info-quannhan {
            margin-top: 16px;
        }

        .calendar__box {
            width: 100%;
            min-height: 100px;
            background-color: #ccc;
            border: 1px solid #333;
            border-radius: 4px;
        }
    }

    .hover:hover {
        background-color: #fdf5f5;
    }

    .chamcom-text {
        color: rgb(196, 45, 90);
        font-weight: 600;
        padding: 0px 5px;
        user-select: none;
    }

    .fullname-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .fa.fa-edit {
            cursor: pointer;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }

        .fa.fa-calendar {
            cursor: pointer;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }
    }
}

::ng-deep .mat-drawer-content {
    overflow: hidden;
}

::ng-deep .mat-menu-panel.menuExcel {
    .mat-menu-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: normal;

        &:not(:empty) {
            padding: 15px 20px;
        }

        .btn:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

.d-flex {
    display: flex;
}

.mx-10 {
    margin: 0 15px;
}

.ml-0 {
    margin-left: 0 !important;
}

.mt-10 {
    margin-top: 10px;
}
