table.mat-table {
    width: 100%;

    tr.mat-header-row {
        background-color: var(--primary-color);
    }
    th.mat-header-cell {
        color: #fff;
    }

    .mat-column {
        &-required,
        &-size {
            width: 5%;
        }

        // &-action {
        //     width: 15%;
        // }
    }

    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
        padding: 8px;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0;
    }

    .mat-form-field {
        width: 100%;
    }

    th.mat-header-cell,
    td {
        text-align: center;
    }

    .primary-custom {
        color: #fff;
        background-color: #8877a9;
        border-color: #8877a9;
    }

    .margin-l-10 {
        margin-left: 10px;
    }
}

/deep/ {
    table.mat-table {
        .mat-form-field-appearance-outline .mat-form-field-wrapper {
            padding: 0;
        }

        .mat-form-field-appearance-outline .mat-form-field-infix {
            padding: 0.5em 0;
        }

        .mat-form-field-infix {
            width: 80px;
        }
    }
}
