<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Mã-tên</th>
        <td mat-cell *matCellDef="let element">
            <strong>{{ element.name }}</strong> {{ element.code }}
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Loại</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="required">
        <th mat-header-cell *matHeaderCellDef>Bắt buộc</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <mat-select
                    value="{{ element.required }}"
                    [(ngModel)]="element.required"
                >
                    <mat-option value="0">Không</mat-option>
                    <mat-option value="1">Có</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- {{ element.required }} -->
            <!-- [(value)]="element.required" -->
        </td>
    </ng-container>

    <ng-container matColumnDef="defaultValue">
        <th mat-header-cell *matHeaderCellDef>Giá trị mặc định</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field class="defaultValue" appearance="outline">
                <input
                    matInput
                    placeholder="Giá trị mặc định"
                    [value]="element.defaultValue"
                    [(ngModel)]="element.defaultValue"
                />
            </mat-form-field>
        </td>
    </ng-container>
    <ng-container matColumnDef="referenceValue">
        <th mat-header-cell *matHeaderCellDef>Giá trị liên kết</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field class="referenceValue" appearance="outline">
                <input
                    matInput
                    placeholder="Giá trị liên kết"
                    [value]="element.referenceValue"
                    [(ngModel)]="element.referenceValue"
                />
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="dependenCodes">
        <th mat-header-cell *matHeaderCellDef>Field phụ thuộc</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field class="dependenCodes" appearance="outline">
                <input
                    matInput
                    placeholder="Field phụ thuộc"
                    [value]="element.dependenCodes"
                    [(ngModel)]="element.dependenCodes"
                />
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="css">
        <th mat-header-cell *matHeaderCellDef>Kích thước</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <!-- <mat-select [value]="handlesizeCol(element.css)"> -->
                <mat-select [(ngModel)]="element.css">
                    <mat-option value="col-lg-1">1/12</mat-option>
                    <mat-option value="col-lg-2">2/12</mat-option>
                    <mat-option value="col-lg-3">3/12</mat-option>
                    <mat-option value="col-lg-4">4/12</mat-option>
                    <mat-option value="col-lg-5">5/12</mat-option>
                    <mat-option value="col-lg-6">6/12</mat-option>
                    <mat-option value="col-lg-7">7/12</mat-option>
                    <mat-option value="col-lg-8">8/12</mat-option>
                    <mat-option value="col-lg-9">9/12</mat-option>
                    <mat-option value="col-lg-10">10/12</mat-option>
                    <mat-option value="col-lg-11">11/12</mat-option>
                    <mat-option value="col-lg-12">12/12</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>Vị trí</th>
        <td mat-cell *matCellDef="let element; let i = index">
            <mat-form-field class="index" appearance="outline">
                <input
                    type="number"
                    matInput
                    placeholder="Vị trí"
                    [value]="element.number10"
                    [(ngModel)]="element.number10"
                />
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Hành động</th>
        <td mat-cell *matCellDef="let element">
            <!-- <a
                class="btn default btn-md pm margin-0 wh width-p-100"
                (click)="deleteField(element)"
            >
                Xóa
                <i class="fa fa-trash"></i
            ></a> -->
            <a
                class="btn btn-xs green ng-star-inserted btn-md pm margin-0 wh width-p-100 margin-l-10"
                (click)="updateField(element)"
            >
                Cập nhật
                <i class="fa fa-pencil"></i
            ></a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
