::ng-deep .app-search-advanced {
    .mat-expansion-panel {
        &.custom-panel {
            box-shadow: none;
        }

        .mat-expansion-panel-header {
            display: inline-flex;
            height: auto;

            &:hover {
                background: transparent;
            }
        }

        .mat-expansion-panel-body,
        .mat-expansion-panel-header {
            padding: 0;
            margin-bottom: 20px;
            height: auto !important;
        }

        .mat-expansion-indicator::after {
            color: currentColor;
        }

        .mat-expansion-panel-header-title {
            color: #636363;
            font-size: 14px;
        }

        .mat-action-row {
            border: none;
            justify-content: center;
            padding-top: 0px;
        }
    }
}
