<div class="app-search-advanced">
    <form class="form-search" [formGroup]="formSearch" (ngSubmit)="onSubmit()">
        <dynamic-form-builder [form]="formSearch" [fields]="getFields()">
        </dynamic-form-builder>

        <div *ngIf="!type" align="center">
            <app-button
                [type]="'button'"
                [matType]="'flat'"
                [title]="'Xóa dữ liệu'"
                [color]="'warn'"
                [iconLeft]="'fa fa-trash'"
                (handleClick)="onDeleteSearchInfo()"
            ></app-button>
            <app-button
                [type]="'submit'"
                [matType]="'flat'"
                [title]="'Lọc'"
                [color]="'primary'"
                [iconLeft]="'fa fa-filter'"
                [isDisabled]="!formSearch.valid"
            ></app-button>
        </div>

        <div *ngIf="type && type === 'CHAMCOM'" align="center">
            <app-button
                [type]="'button'"
                [matType]="'flat'"
                [title]="'Xóa dữ liệu'"
                [color]="'warn'"
                [iconRight]="'fa fa-trash'"
                (handleClick)="onDeleteSearchInfo()"
            ></app-button>
            <app-button
                [type]="'submit'"
                [matType]="'flat'"
                [title]="'Chấm cơm'"
                [color]="'primary'"
                [iconRight]="'fa fa-calendar'"
                [isDisabled]="!formSearch.valid"
            ></app-button>
        </div>
    </form>
</div>
