::ng-deep app-button {
    + app-button {
        margin-left: 12px;
    }

    button {
        &[disabled] {
            cursor: not-allowed !important;
        }

        &:hover {
            opacity: 0.9;
        }

        &.mat-flat-button.mat-primary {
            background-color: #337ab7;
        }

        &.mat-raised-button.mat-warn {
            background-color: var(--primary-color);
        }

        // &.mat-stroked-button.mat-basic {
        //     color: var(--primary-color);
        //     border: 1px solid var(--primary-color);
        // }

        .mat-button-wrapper {
            i {
                vertical-align: unset !important;
                margin-left: 4px;
            }
        }
    }
}
