<ng-container [ngSwitch]="matType">
    <button
        *ngSwitchDefault
        mat-button
        [type]="type"
        [color]="color"
        [disabled]="isDisabled"
        (click)="handleClick.emit()"
    >
        <i *ngIf="iconLeft" [class]="iconLeft"></i>
        {{ title }}
        <i *ngIf="iconRight" [class]="iconRight"></i>
    </button>

    <button
        *ngSwitchCase="'stroked'"
        mat-stroked-button
        [type]="type"
        [color]="color"
        [disabled]="isDisabled"
        (click)="handleClick.emit()"
    >
        <i *ngIf="iconLeft" [class]="iconLeft"></i>
        {{ title }}
        <i *ngIf="iconRight" [class]="iconRight"></i>
    </button>

    <button
        *ngSwitchCase="'flat'"
        mat-flat-button
        [type]="type"
        [color]="color"
        [disabled]="isDisabled"
        (click)="handleClick.emit()"
    >
        <i *ngIf="iconLeft" [class]="iconLeft"></i>
        {{ title }}
        <i *ngIf="iconRight" [class]="iconRight"></i>
    </button>

    <button
        *ngSwitchCase="'raised'"
        mat-raised-button
        [type]="type"
        [color]="color"
        [disabled]="isDisabled"
        (click)="handleClick.emit()"
    >
        <i *ngIf="iconLeft" [class]="iconLeft"></i>
        {{ title }}
        <i *ngIf="iconRight" [class]="iconRight"></i>
    </button>

    <button
        *ngSwitchCase="'mini-fab'"
        mat-mini-fab
        [type]="type"
        [color]="color"
        [disabled]="isDisabled"
        (click)="handleClick.emit()"
    >
        <mat-icon>{{ matIcon }}</mat-icon>
    </button>

    <button
        *ngSwitchCase="'icon'"
        mat-icon-button
        [type]="type"
        [color]="color"
        [disabled]="isDisabled"
        (click)="handleClick.emit()"
    >
        <mat-icon>{{ matIcon }}</mat-icon>
    </button>
</ng-container>
