<div class="page__list">
    <div class="container-fluid">
        <form
            (ngSubmit)="onSubmit('noPrint')"
            *ngIf="form"
            [formGroup]="form"
            class="form-submit"
        >
            <div class="header">
                <h4 class="adjustment__title">
                    <p class="text-title">
                        <mat-icon>assignment</mat-icon>
                        {{
                            idTinhKho > 0
                                ? 'Chi tiết biên bản tịnh kho dụng cụ cấp dưỡng'
                                : 'Tạo biên bản tịnh kho dụng cụ cấp dưỡng'
                        }}
                    </p>
                </h4>

                <div class="adjustment__btn-group">
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Hủy'"
                        [color]="'warn'"
                        (handleClick)="onBack()"
                    ></app-button>

                    <!-- <app-button
                        *ngIf="isEdit"
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="'Xuất Exel'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        (handleClick)="exportExcel()"
                    ></app-button> -->

                    <ng-container *ngIf="idTinhKho === null">
                        <app-button
                            [type]="'submit'"
                            [matType]="'flat'"
                            [title]="'Tạo mới'"
                            [color]="'primary'"
                            [isDisabled]="
                                !form.valid || dataSource.data.length === 0
                            "
                        ></app-button>

                        <!-- <app-button
                            [type]="'button'"
                            [matType]="'flat'"
                            [title]="'Tạo mới & in'"
                            [color]="'primary'"
                            [isDisabled]="
                                !form.valid || dataSource.data.length === 0
                            "
                            (handleClick)="onSubmit('print')"
                        ></app-button> -->
                    </ng-container>

                    <!-- <ng-container *ngIf="idTinhKho > 0">
                        <app-button
                            [type]="'button'"
                            [matType]="'flat'"
                            [title]="'In phiếu'"
                            [color]="'primary'"
                            (handleClick)="print('printer')"
                        ></app-button>
                    </ng-container> -->
                </div>
            </div>

            <mat-divider class="divider-custom"></mat-divider>

            <div class="info">
                <dynamic-form-builder [form]="form" [fields]="field">
                </dynamic-form-builder>
            </div>

            <div class="adjustment__search">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <mat-form-field appearance="legacy">
                            <mat-label
                                >Tìm kiếm theo tên vật tư, hàng hoá</mat-label
                            >
                            <input
                                matInput
                                placeholder="Nhập vào tên vật tư, hàng hoá"
                                (keyup)="applyFilter.next($event)"
                            />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="table-range">
                <table
                    mat-table
                    [dataSource]="dataSource"
                    class="table-chitiet"
                >
                    <ng-container matColumnDef="tenDccd">
                        <th mat-header-cell *matHeaderCellDef>Thực phẩm</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenDccd }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="donViTinh">
                        <th mat-header-cell *matHeaderCellDef>ĐVT</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.donViTinh }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="phanHang">
                        <th mat-header-cell *matHeaderCellDef>Hạng</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.phanHang }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="soLuong">
                        <th mat-header-cell *matHeaderCellDef>Số lượng</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.soLuong }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="soLuongThucTe">
                        <th mat-header-cell *matHeaderCellDef>
                            Số lượng thực tế
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <mat-form-field appearance="legacy">
                                <input
                                    matInput
                                    type="number"
                                    min="0"
                                    placeholder="Nhập số lượng thực tế"
                                    [(ngModel)]="element.soLuongThucTe"
                                    [ngModelOptions]="{ standalone: true }"
                                    [disabled]="idTinhKho > 0 ? true : false"
                                    required
                                />
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="soLuongThua">
                        <th mat-header-cell *matHeaderCellDef>SL-Thừa</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                element.soLuongThucTe > element.soLuong
                                    ? element.soLuongThucTe - element.soLuong
                                    : 0
                            }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="soLuongThieu">
                        <th mat-header-cell *matHeaderCellDef>SL-Thiếu</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                element.soLuongThucTe < element.soLuong
                                    ? element.soLuong - element.soLuongThucTe
                                    : 0
                            }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ghiChu">
                        <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <mat-form-field appearance="legacy">
                                <input
                                    matInput
                                    type="text"
                                    placeholder="Nhập ghi chú"
                                    [(ngModel)]="element.ghiChu"
                                    [ngModelOptions]="{ standalone: true }"
                                    [disabled]="idTinhKho > 0 ? true : false"
                                />
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>
            </div>

            <mat-paginator
                [pageSize]="10"
                hidePageSize
                showFirstLastButtons
                aria-label="Select page of users"
            ></mat-paginator>
        </form>
    </div>
</div>
