.header {
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .adjustment__title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #337ab7;
        font-weight: bold;

        mat-icon {
            font-size: 28px;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .text-title {
            margin: 0;
            display: flex;
            align-items: center;
        }
    }
}

td.mat-column-soLuongThucTe {
    padding-top: 1.25em;
}

.none {
    display: none;
}

.p-0 {
    padding: 0;
}

.float-right {
    float: right;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
