<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                Dự chi ngày kế tiếp
            </h4>

            <div class="btn-group" *ngIf="allowExec === true">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Thêm mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="createAction(null)"
                ></app-button>
            </div>
        </div>

        <mat-divider class="header-divider"></mat-divider>

        <!-- SEARCH -->
        <div class="search-layout">
            <app-search-advanced
                [label]="'Tìm kiếm'"
                [placeHolder]="'Tìm kiếm theo tên dự chi'"
                (getSearchName)="handleInputFilter($event)"
            ></app-search-advanced>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource" *ngIf="!isLoading">
                    <!-- Person Column -->
                    <ng-container matColumnDef="maPhieuXuatKho">
                        <th mat-header-cell *matHeaderCellDef>Mã dự chi</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{ element.maDuXuat }}
                            <!-- {{ getUserName(element.maPhieuXuatKho) }} -->
                        </td>
                    </ng-container>

                    <!-- Tên kế hoạch Column -->
                    <ng-container matColumnDef="maNguoiDuyet">
                        <th mat-header-cell *matHeaderCellDef>Tên dự chi</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{ element.tenDuXuat }}
                        </td>
                    </ng-container>
                    <!-- Ngày dự kiến Column -->
                    <ng-container matColumnDef="ngayXuatKho">
                        <th mat-header-cell *matHeaderCellDef>Ngày dự chi</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{ element.ngayDuXuat | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <div
                                *ngIf="
                                    allowExec === true &&
                                    element.isPublished === false
                                "
                            >
                                <button
                                    class="btn btn-xs blue ng-star-inserted"
                                    (click)="createAction(element)"
                                >
                                    <i class="fa fa-pencil-square-o"></i>
                                    Cập nhật
                                </button>

                                <button
                                    class="btn btn-xs red ng-star-inserted"
                                    (click)="deleteAction(element)"
                                >
                                    <i class="fa fa-trash"></i> Xóa
                                </button>
                            </div>
                            <div
                                *ngIf="
                                    allowExec === true &&
                                    element.isPublished === true
                                "
                            >
                                <button
                                    class="btn btn-xs blue ng-star-inserted"
                                    (click)="createAction(element)"
                                >
                                    <i class="fa fa-pencil-square-o"></i>
                                    Xem
                                </button>
                            </div>

                            <div *ngIf="allowExec === false">
                                <button
                                    class="btn btn-xs blue ng-star-inserted"
                                    (click)="createAction(element)"
                                >
                                    <i class="fa fa-pencil-square-o"></i>
                                    Xem
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container
                    *ngIf="dataSource.data.length === 0 && !isLoading"
                >
                    <p class="text-nodata">Không có dữ liệu dự chi</p>
                </ng-container>

                <mat-paginator
                    class="custom-paginator"
                    [pageSizeOptions]="[10, 15, 20]"
                    hidePageSize
                    showFirstLastButtons
                    aria-label="Select page of exportWarehouseList"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>
</div>
