.header {
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .adjustment__title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #337ab7;
        font-weight: bold;

        mat-icon {
            font-size: 28px;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .text-title {
            margin: 0;
            display: flex;
            align-items: center;
        }
    }
}

.table-range {
    .adjustment__search {
        display: flex;
        align-items: center;
        justify-content: space-between;

        mat-form-field {
            padding-right: 36px;
        }
    }
}

.mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}

.page__list {
    .mat-column- {
        &maPhieuXuatKho {
            width: 20%;
        }

        &maNguoiDuyet {
            width: 25%;
        }
    }

    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
        padding: 5px 10px;
    }

    .text-nodata {
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
    }

    .mat-column-actions {
        width: 18%;
        text-align: center;
    }
}
