<form id="myForm" [formGroup]="thisIsMyForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <h4>Định lượng quy định</h4>

        <ng-container *ngIf="thisIsMyForm">
            <div formArrayName="formData">
                <div class="row">
                    <div
                        *ngFor="let itemForm of forms; let i = index"
                        class="col-sm-3"
                    >
                        <div [formGroupName]="i">
                            <mat-form-field appearance="outline">
                                <mat-label>{{ itemForm.ten }}</mat-label>
                                <input
                                    matInput
                                    type="number"
                                    [formControlName]="
                                        removeAccents(itemForm.ten)
                                    "
                                />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- <mat-form-field appearance="outline">
        <mat-label>Favorite Animal</mat-label>
        <input matInput [(ngModel)]="data.animal" />
    </mat-form-field> -->
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Hủy</button>
        <button mat-button type="submit" cdkFocusInitial>So sánh</button>
    </div>
</form>
