<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>

    <mat-divider inset></mat-divider>

    <mat-card-content>
        <mat-tab-group animationDuration="0ms">
            <mat-tab *ngFor="let tab of tabs" [label]="tab.name">
                <mat-tab-group animationDuration="0ms">
                    <mat-tab
                        *ngFor="let group of tab.items"
                        [label]="group.name"
                    >
                        <!-- <dynamic-form-builder
                            [form]="form"
                            [fields]="null"
                            [items]="group.items"
                        >
                        </dynamic-form-builder> -->

                        <div *ngFor="let field of group.items">
                            <p>{{ field.formula }}</p>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>

    <mat-divider inset></mat-divider>

    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    </mat-card-footer>
</mat-card>
