<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="heading">
        <div mat-dialog-title>Chỉnh sửa thông tin quân nhân</div>
    </div>

    <div mat-dialog-content>
        <dynamic-form-builder
            [form]="form"
            [fields]="getFields()"
            [data]="data"
        >
        </dynamic-form-builder>
    </div>

    <div mat-dialog-actions class="btn-group footer">
        <app-button
            [type]="'button'"
            [matType]="'stroked'"
            [title]="'Quay lại danh sách'"
            [color]="'primary'"
            (handleClick)="onCloseDialog()"
        ></app-button>
        <app-button
            [type]="'submit'"
            [matType]="'flat'"
            [title]="'Lưu lại'"
            [color]="'primary'"
            (handleClick)="onSubmit()"
        ></app-button>
    </div>
</form>
