<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="heading">
        <div mat-dialog-title>
            <i class="fa fa-pencil-square-o"></i>
            {{ !data.datas ? 'Tạo mới đợt khám' : 'Chỉnh sửa đợt khám' }}
        </div>

        <mat-icon (click)="onCloseDialog()">close</mat-icon>
    </div>

    <div mat-dialog-content>
        <dynamic-form-builder
            [form]="form"
            [fields]="getFields()"
            [data]="data"
        >
        </dynamic-form-builder>
    </div>

    <div mat-dialog-actions class="btn-group footer">
        <div class="input-file">
            <input
                #fileUpload
                type="file"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                class="file-input"
                (change)="onFileSelected($event)"
            />
            <div class="file-upload">
                <app-button
                    [type]="'button'"
                    [matType]="'mini-fab'"
                    [color]="'warn'"
                    [matIcon]="'attach_file'"
                    (handleClick)="fileUpload.click()"
                ></app-button>
                {{ fileName || 'No file uploaded yet.' }}
            </div>
        </div>
        <div class="action" align="end">
            <app-button
                [type]="'button'"
                [matType]="'flat'"
                [title]="'Xác nhận xóa'"
                [color]="'warn'"
                [iconRight]="'fa fa-trash'"
                [hidden]="!isEnableDelete"
                (handleClick)="handleDelete()"
            ></app-button>

            <app-button
                [type]="'button'"
                [matType]="'flat'"
                [title]="'Trở lại'"
                [color]="'basic'"
                [iconRight]="'fa fa-rotate-right'"
                [hidden]="!isEnableDelete"
                (handleClick)="onCancelDelete()"
            ></app-button>

            <app-button
                [type]="'button'"
                [matType]="'flat'"
                [title]="'Xóa'"
                [color]="'warn'"
                [iconRight]="'fa fa-trash'"
                [hidden]="isEnableDelete || !data.datas"
                (handleClick)="onDelete()"
            ></app-button>

            <app-button
                [type]="'submit'"
                [matType]="'flat'"
                [title]="'Lưu'"
                [color]="'primary'"
                [iconRight]="'fa fa-save'"
                [hidden]="isEnableDelete"
                [isDisabled]="!form.valid"
            ></app-button>
        </div>
    </div>
</form>
