.tab-icon {
    margin-right: 8px;
}

[hidden] {
    display: none !important;
}

.footer {
    align-items: center;
    justify-content: space-between;

    .file-input {
        display: none;
    }
}
