.page {
  padding: 50px 0;
  margin-bottom: 50px;

  mat-form-field {
    width: 100%;
  }

  .mat-dialog-content {
    margin: 0;
    padding: 10px 0 0;
    overflow: auto;
  }

  .mat-dialog-actions {
    margin-top: 8px;
    padding-right: 30px;
  }

  mat-tab-body {
    margin-top: 20px !important;
  }

  mat-tab-body-content,
  .mat-form-field-wrapper {
    margin-top: 20px !important;
  }

  .mat-tab-group-dynamic-height .mat-tab-body-content {
    margin-top: 20px;
  }

  .accordion-item {
    margin-top: 20px;
  }

  .example-input-label,
  .example-add-tab-button,
  .example-delete-tab-button {
    margin: 8px;
  }


  .group-action-button {
    text-align: end;
    margin: 8px 0;
    padding: 0px 30px;

    mat-checkbox {
      margin-left: 8px;
    }
  }
}
