<!-- Check type của data để render ra giao diện tương ứng
- Arcodion nếu có type là Group
- Field item nếu có type là Field -->

<div class="page">
    <div class="container-fluid">
        <p *ngIf="errorAPI">Lỗi API</p>

        <div *ngIf="data; else data_loading">
            <form [formGroup]="form" (ngSubmit)="submitForm()">
                <h4>Chỉnh sửa form {{ data.name }}</h4>
                <mat-tab-group dynamicHeight>
                    <mat-tab [label]="isEditField ? 'Chỉnh sửa' : 'Thêm mới'">
                        <div class="accordion-item">
                            <ng-container
                                *ngTemplateOutlet="dynamicForm"
                            ></ng-container>
                        </div>
                    </mat-tab>

                    <mat-tab *ngIf="isEditField" label="NHÓM(GROUP)">
                        <div class="group-action-button">
                            <app-button
                                [type]="'button'"
                                [matType]="'raised'"
                                [title]="'Thêm Tab'"
                                [color]="'accent'"
                                [iconLeft]="'fa fa-plus'"
                                (handleClick)="
                                    addTab(selectAfterAdding.checked, null)
                                "
                            ></app-button>
                            <mat-checkbox
                                #selectAfterAdding
                                [checked]="isCheckedTab"
                            >
                                Chọn tab sau khi thêm
                            </mat-checkbox>
                        </div>

                        <div *ngIf="dataGroup; else other_content">
                            <mat-tab-group
                                dynamicHeight
                                [selectedIndex]="selected.value"
                                (selectedIndexChange)="
                                    selected.setValue($event)
                                "
                                (selectedTabChange)="
                                    tabSelectionChanged($event)
                                "
                            >
                                <mat-tab
                                    *ngFor="
                                        let item of dataGroup;
                                        let index = index
                                    "
                                    [label]="item.name"
                                >
                                    <!-- Contents for {{ tab | json }} tab -->
                                    <!-- Contents for {{ tab.items[0].type | json }} tab -->
                                    <!-- Contents for {{ tab.items }} tab -->
                                    <!-- {{ tab.items[index]?.type }} -->
                                    <div class="group-action-button">
                                        <ng-container *ngIf="isDeleteTab">
                                            <app-button
                                                [type]="'button'"
                                                [matType]="'flat'"
                                                [title]="'Xác nhận xóa'"
                                                [color]="'warn'"
                                                [iconRight]="'fa fa-trash'"
                                                (handleClick)="
                                                    confirmRemoveTab(index)
                                                "
                                            ></app-button>
                                            <app-button
                                                [type]="'button'"
                                                [matType]="'flat'"
                                                [title]="'Hủy'"
                                                [color]="'basic'"
                                                [iconRight]="'fa fa-refresh'"
                                                (handleClick)="cancelDelete()"
                                            ></app-button>
                                        </ng-container>

                                        <app-button
                                            [type]="'button'"
                                            [matType]="'raised'"
                                            [title]="'Chỉnh sửa Tab'"
                                            [color]="'basic'"
                                            [iconRight]="'fa fa-edit'"
                                            [hidden]="isDeleteTab"
                                            (handleClick)="
                                                addTab(null, item, index)
                                            "
                                        ></app-button>

                                        <app-button
                                            *ngIf="!isDeleteTab"
                                            [type]="'button'"
                                            [matType]="'flat'"
                                            [title]="'Xóa Tab'"
                                            [color]="'warn'"
                                            [iconRight]="'fa fa-trash'"
                                            (handleClick)="removeTab(index)"
                                        ></app-button>

                                        <app-button
                                            [type]="'button'"
                                            [matType]="'flat'"
                                            [title]="'Tạo mới'"
                                            [color]="'primary'"
                                            [iconLeft]="'fa fa-plus'"
                                            (handleClick)="
                                                handleGroupField(item)
                                            "
                                        ></app-button>
                                    </div>

                                    <div
                                        *ngIf="
                                            item.type.toUpperCase() ===
                                                'Tab'.toUpperCase();
                                            else other_content_field
                                        "
                                        class="accordion-item"
                                    >
                                        <app-arccordion
                                            [filedList]="item.items"
                                            (itemGroup)="
                                                handleGroupItem(
                                                    $event,
                                                    item.items
                                                )
                                            "
                                            [index]="index"
                                        >
                                            Đang xử lý dữ liệu
                                        </app-arccordion>
                                    </div>

                                    <ng-template #other_content_field>
                                        {{ item.type | json }}
                                        <div class="accordion-item">
                                            <app-field-item
                                                [filed]="item.items"
                                            >
                                                Đang xử lý dữ liệu
                                            </app-field-item>
                                        </div>
                                    </ng-template>
                                </mat-tab>
                                <!-- <mat-tab
                *ngFor="let item of dataGroup; let idx = index"
                [label]="item.name"
              >
                <div
                  *ngIf="
                    item.items[idx].type === 'Group';
                    else other_content_field
                  "
                  class="accordion-item"
                >
                  <app-arccordion
                    [filedList]="item.items"
                    (itemGroup)="handleGroupItem($event)"
                  >
                    Đang xử lý dữ liệu
                  </app-arccordion>
                </div>

                <ng-template #other_content_field>
                  <div class="accordion-item">
                    <app-field-item [filed]="item.items">
                      Đang xử lý dữ liệu
                    </app-field-item>
                  </div>
                </ng-template>
              </mat-tab> -->
                            </mat-tab-group>
                        </div>

                        <ng-template #other_content
                            >Chưa có dữ liệu</ng-template
                        >
                    </mat-tab>
                </mat-tab-group>

                <div mat-dialog-actions align="end">
                    <app-button
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="'Xác nhận xóa'"
                        [color]="'warn'"
                        [iconRight]="'fa fa-trash'"
                        [hidden]="!isEnableDelete"
                        (handleClick)="handleDeleteForm()"
                    ></app-button>

                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Trở lại'"
                        [color]="'basic'"
                        [iconRight]="'fa fa-rotate-right'"
                        [hidden]="!isEnableDelete"
                        (handleClick)="isEnableDelete = false"
                    ></app-button>

                    <app-button
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="'Xóa'"
                        [color]="'warn'"
                        [iconRight]="'fa fa-trash'"
                        [hidden]="isEnableDelete"
                        (handleClick)="isEnableDelete = true"
                    ></app-button>

                    <app-button
                        [type]="'submit'"
                        [matType]="'flat'"
                        [title]="'Lưu'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        [hidden]="isEnableDelete"
                        [isDisabled]="!form.valid"
                    ></app-button>
                </div>
            </form>
        </div>
    </div>

    <ng-template #data_loading>
        <p *ngIf="errorAPI">Dang xu ly du lieu</p>
    </ng-template>

    <ng-template #dynamicForm>
        <!-- <dynamic-form-builder [form]="form" [fields]="fields">
        </dynamic-form-builder> -->
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Mã</mat-label>
                        <input
                            matInput
                            required
                            placeholder="Nhập vào mã"
                            formControlName="code"
                        />
                        <mat-error [hidden]="!code.hasError('required')"
                            >Mã không được để trống.</mat-error
                        >
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Tên</mat-label>
                        <input
                            matInput
                            required
                            placeholder="Nhập vào tên"
                            formControlName="name"
                        />
                        <mat-error [hidden]="!name.hasError('required')"
                            >Tên không được để trống.</mat-error
                        >
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Trạng thái</mat-label>
                        <mat-select name="status" formControlName="status">
                            <mat-option value="DEFAULT">Mặc định</mat-option>
                            <mat-option value="LOCK">Khóa</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                    >
                        <mat-label>Ngôn ngữ</mat-label>
                        <textarea
                            matInput
                            placeholder="Nhập ngôn ngữ"
                            formControlName="language"
                        ></textarea>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                    >
                        <mat-label>Ghi chú</mat-label>
                        <textarea
                            matInput
                            placeholder="Nhập ghi chú"
                            formControlName="value1"
                        ></textarea>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #dynamicDefault>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Nhập mã</mat-label>
                    <input matInput [(ngModel)]="data.codeData" />
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Vị trí</mat-label>
                    <input type="number" matInput [(ngModel)]="data.index" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>Nhập tên</mat-label>
                    <input matInput [(ngModel)]="data.name" />
                </mat-form-field>
            </div>
        </div>
    </ng-template>
</div>

<!-- <mat-tab-group dynamicHeight>
  <mat-tab [label]="isEditField ? 'Chỉnh sửa' : 'Thêm mới'">
    <div [ngSwitch]="data.typeForm">
      <div mat-dialog-content *ngSwitchCase="'dynamicForm'">
        <ng-container *ngTemplateOutlet="dynamicForm"></ng-container>
      </div>

      <div mat-dialog-content *ngSwitchDefault>
        <ng-container *ngTemplateOutlet="dynamicDefault"></ng-container>
      </div>
    </div>
  </mat-tab>
  <mat-tab *ngIf="isEditField" label="NHÓM(GROUP)">
    <div *ngIf="dataGroup; else other_content">
      <mat-tab-group dynamicHeight>
        <div *ngFor="let item of dataGroup; index as idx">
          <mat-tab [label]="item.name">
            <div
              *ngIf="item.items[idx].type === 'Group'; else other_content_field"
            >
              <app-arccordion [filedList]="item.items">
                Đang xử lý dữ liệu
              </app-arccordion>
            </div>

            <ng-template #other_content_field>
              <div class="accordion-item">
                <app-field-item [filed]="item.items">
                  Đang xử lý dữ liệu
                </app-field-item>
              </div>
            </ng-template>
          </mat-tab>
        </div>
      </mat-tab-group>
    </div>

    <ng-template #other_content>Chưa có dữ liệu</ng-template>
  </mat-tab>
</mat-tab-group> -->
