<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH PHIẾU NHẬP KHO DỤNG CỤ CẤP DƯỠNG
            </h4>

            <div class="btn-group">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="createAction()"
                ></app-button>
            </div>
        </div>

        <mat-divider class="header-divider"></mat-divider>

        <!-- SEARCH -->
        <div class="search-layout">
            <app-search-advanced
                [label]="'Tìm kiếm theo mã phiếu'"
                [fieldSearch]="fieldSearch"
                (getSearchInfo)="handleSearchAdvanced($event)"
                (getSearchName)="handleInputFilter($event)"
            ></app-search-advanced>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource" *ngIf="!isLoading">
                    <!-- Ngay Nhap Column -->
                    <ng-container matColumnDef="ngayNhap">
                        <th mat-header-cell *matHeaderCellDef>Ngày nhập</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.ngayNhap | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- Code Column -->
                    <ng-container matColumnDef="maPhieuNhap">
                        <th mat-header-cell *matHeaderCellDef>Mã phiếu</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.maPhieuNhap }}
                        </td>
                    </ng-container>

                    <!-- Nguoi Giao Column -->
                    <ng-container matColumnDef="nguoiGiao">
                        <th mat-header-cell *matHeaderCellDef>Người giao</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.nguoiGiao }}
                        </td>
                    </ng-container>

                    <!-- Nguoi Nhan Column -->
                    <ng-container matColumnDef="nguoiNhan">
                        <th mat-header-cell *matHeaderCellDef>Người nhận</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.nguoiNhan }}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="trangThai">
                        <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <span
                                *ngIf="element.trangThai === 3; else other"
                                style="color: #28a745"
                            >
                                Hoàn tất
                            </span>
                            <ng-template #other>
                                <span style="color: rgb(158, 158, 158)"
                                    >Lưu nháp</span
                                >
                            </ng-template>
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <!-- Trang thai 3: Đã nhập kho -->
                            <ng-container *ngIf="element.trangThai === 3">
                                <button
                                    class="btn btn-xs green-jungle ng-star-inserted"
                                    (click)="
                                        handleAction(element, element.trangThai)
                                    "
                                >
                                    <i class="fa fa-eye"></i> Chi tiết
                                </button>
                            </ng-container>

                            <!-- Trang thai 0: Lưu nháp -->
                            <ng-container *ngIf="element.trangThai === 0">
                                <button
                                    class="btn btn-xs blue ng-star-inserted"
                                    (click)="
                                        handleAction(element, element.trangThai)
                                    "
                                >
                                    <i class="fa fa-pencil-square-o"></i>
                                    Cập nhật
                                </button>

                                <button
                                    class="btn btn-xs red ng-star-inserted"
                                    (click)="deleteAction(element)"
                                >
                                    <i class="fa fa-trash"></i> Xóa
                                </button>
                            </ng-container>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container
                    *ngIf="dataSource.data.length === 0 && !isLoading"
                >
                    <p class="text-nodata">Không có phiếu nhập kho</p>
                </ng-container>

                <mat-paginator
                    #paginator
                    [length]="totalRows"
                    [pageIndex]="currentPage"
                    [pageSize]="pageSize"
                    hidePageSize
                    showFirstLastButtons
                    (page)="pageChanged($event)"
                    aria-label="Select page"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>
</div>
