.content {
    --primary-color: #337ab7;
    --bright-gray: #c6ccd3;
    --black: #000;

    width: 100%;
    height: calc(100vh - 104px);
    overflow: auto;
    background: white;
}

.warning {
    display: block;
    font-size: 20px;
    margin: 20% 0;
}

// Scroll bar
.content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
}

.content::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #cecece;
}

.content::-webkit-scrollbar-thumb:hover {
    background: #979696;
}

mat-sidenav-container {
    height: calc(100vh - 104px);
    overflow-y: hidden; /* Hide vertical scrollbar */
}

::ng-deep {
    .example-sidenav {
        user-select: none;

        .mat-drawer-inner-container {
            background-color: #292929;
            max-width: 300px;
        }

        .mat-drawer-inner-container::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #f5f5f5;
        }

        .mat-drawer-inner-container::-webkit-scrollbar {
            width: 10px;
            background-color: #f5f5f5;
        }

        .mat-drawer-inner-container::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #cecece;
        }

        .mat-drawer-inner-container::-webkit-scrollbar-thumb:hover {
            background: #979696;
        }
    }
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #dc2f27;
}

section {
    margin: 0;
    overflow: hidden;
}

.article-post,
.connect-bottom,
.information,
.mutilmedia,
.section-news {
    padding: 40px 0;
}

.pagination-wrap {
    margin: 30px 0;

    .pagination {
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        padding-left: 0;
        list-style: none;
        border-radius: 0.25rem;

        .page-item {
            margin-right: 5px;

            &.active .page-link {
                color: #fff;
                background-color: #dc2f27;
                border-color: #dc2f27;
            }

            .page-link {
                border: 1px solid #828282;
                color: #000;
                transition: 0.5s;

                &:hover {
                    color: #fff;
                    background-color: #dc2f27;
                    border-color: #dc2f27;
                }
            }
        }
    }
}

.nav-breadcrumb {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    white-space: nowrap;
    overflow-x: hidden;
}
.nav-breadcrumb ol {
    border-radius: 0;
    padding: 8px 12px;
    border-left: 5px solid #dc2f27;
    display: block;
    background-color: #ebeef1;
}
.nav-breadcrumb ol li {
    display: inline-block;
    text-transform: capitalize;
}
.nav-breadcrumb ol li a,
.nav-breadcrumb ol li span {
    font-size: 13px;
    font-weight: 500;
}
.nav-breadcrumb ol li a {
    color: #333;
    transition: 0.5s;
}
.nav-breadcrumb ol li a:hover {
    color: #dc2f27;
}
.nav-breadcrumb ol li span {
    color: #333;
}
.nav-breadcrumb ol .active span {
    color: #dc2f27;
}
.nav-breadcrumb .breadcrumb-item {
    padding-left: 20px;
    position: relative;
}
.nav-breadcrumb .breadcrumb-item {
    &:after {
        position: absolute;
        background: url('/assets/images/web/icon-breadcrumb.png');
        width: 8px;
        height: 9px;
        background-repeat: no-repeat;
        left: 5px;
        background-size: cover;
        content: '';
        top: 6px;
    }

    &:first-child {
        padding-left: 0;
        &:after {
            background: none;
        }
    }
}

.sidebar {
    aside {
        margin-bottom: 30px;
    }
    aside.banner .intro__item {
        height: 55px;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
    }
    aside.banner .intro__item img {
        height: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    aside .aside-title {
        border-bottom: 1px solid #bdbdbd;
        margin-bottom: 20px;
    }
    aside .aside-title h4 {
        display: inline-block;
        position: relative;
        font-size: 14px;
        color: #dc2f27;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: -1px;
        padding-bottom: 10px;
    }
    aside .aside-title h4::before {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: 70px;
        height: 3px;
        bottom: -1px;
        background: #dc2f27;
    }
    aside .aside-title .read-more {
        color: #d83024;
    }
    aside .aside-title .read-more:hover {
        color: #fcc133;
    }
    aside ul {
        padding-bottom: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    aside .list-post .item {
        margin-bottom: 10px;
    }
    aside .list-post .item img {
        width: 100%;
    }
    aside .list-post .item .title {
        width: 100%;
        padding-left: 0;
    }
    aside .list-post .item .title h3 {
        font-weight: 400;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
        position: relative;
        padding-left: 20px;
    }
    aside .list-post .item .title h3 a {
        transition: 0.5s;
        color: #000;
    }
    aside .list-post .item .title h3:hover a {
        color: #dc2f27;
    }
    aside .list-post .item .title h3:before {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        width: 15px;
        height: 15px;
        // background: url(../images/icon-item.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    aside .list-post .item h6.date {
        font-size: 12px;
        color: #bdbdbd;
        font-weight: 400;
        margin-bottom: 0;
    }
    aside .list-post .item h6.date i {
        margin-right: 5px;
    }
    aside.aside-featured .list-post .item .image {
        width: 35%;
    }
    aside.aside-featured .list-post .item .title {
        width: 65%;
        padding-left: 10px;
    }
    aside.aside-featured .list-post .item .title h3 {
        line-height: 18px;
        padding-left: 0;
    }
    aside.aside-featured .list-post .item .title h3:before {
        display: none;
    }
    aside.aside-featured .list-post .item .title a {
        padding-left: 0;
    }
    aside.aside-featured .list-post .item:first-child {
        border-bottom: 1px dashed #626262;
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: block !important;
    }
    aside.aside-featured .list-post .item:first-child .image,
    aside.aside-featured .list-post .item:first-child .title {
        width: 100% !important;
    }
    aside.aside-featured .list-post .item:first-child .title {
        padding-left: 0;
        margin-top: 10px;
    }
    aside.aside-featured .list-post .item:first-child .title h3 {
        font-weight: 600;
    }

    aside .aside-title h4 {
        font-size: 13px;
    }

    aside.aside-featured .list-post .item:first-child {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    aside .title h3 {
        font-size: 13px !important;
        line-height: 18px !important;
    }
    aside .aside-title .read-more {
        font-size: 13px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.m-0 {
    margin: 0 !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}

.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.mutilmedia {
    .nav-tabs > li {
        position: relative;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }
    .nav-tabs > li a {
        font-weight: 700;
        font-size: 18px;
        color: #000;
        opacity: 0.8;
        text-transform: uppercase;
        line-height: 24px;
    }
}

.mutilmedia .nav-tabs li a.active,
.mutilmedia .nav-tabs li a:hover {
    opacity: 1;
}
.mutilmedia .nav-tabs li a.active:after,
.mutilmedia .nav-tabs li a:hover:after {
    background-color: #dc2f27;
}

.mutilmedia {
    .nav-tabs > li a:after {
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 2px;
        content: '';
        left: 0px;
    }
}

// fancybox
.not-selectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.carousel {
    position: relative;
    box-sizing: border-box;
}
.carousel *,
.carousel *:before,
.carousel *:after {
    box-sizing: inherit;
}
.carousel.is-draggable {
    cursor: move;
    cursor: grab;
}
.carousel.is-dragging {
    cursor: move;
    cursor: grabbing;
}
.carousel__viewport {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}
.carousel__track {
    display: flex;
}
.carousel__slide {
    flex: 0 0 auto;
    width: var(--carousel-slide-width, 60%);
    max-width: 100%;
    padding: 1rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
}
.has-dots {
    margin-bottom: calc(0.5rem + 22px);
}
.carousel__dots {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}
.carousel__dots .carousel__dot {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.carousel__dots .carousel__dot:after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: currentColor;
    opacity: 0.25;
    transition: opacity 0.15s ease-in-out;
}
.carousel__dots .carousel__dot.is-selected:after {
    opacity: 1;
}
.carousel__button {
    width: var(--carousel-button-width, 48px);
    height: var(--carousel-button-height, 48px);
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    cursor: pointer;
    color: var(--carousel-button-color, currentColor);
    background: var(--carousel-button-bg, transparent);
    border-radius: var(--carousel-button-border-radius, 50%);
    box-shadow: var(--carousel-button-shadow, none);
    transition: opacity 0.15s ease;
}
.carousel__button.is-prev,
.carousel__button.is-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel__button.is-prev {
    left: 10px;
}
.carousel__button.is-next {
    right: 10px;
}
.carousel__button[disabled] {
    cursor: default;
    opacity: 0.3;
}
.carousel__button svg {
    width: var(--carousel-button-svg-width, 50%);
    height: var(--carousel-button-svg-height, 50%);
    fill: none;
    stroke: currentColor;
    stroke-width: var(--carousel-button-svg-stroke-width, 1.5);
    stroke-linejoin: bevel;
    stroke-linecap: round;
    filter: var(--carousel-button-svg-filter, none);
    pointer-events: none;
}
body.compensate-for-scrollbar {
    overflow: hidden !important;
    touch-action: none;
}
.fancybox__container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    direction: ltr;
    margin: 0;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
        env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: var(--fancybox-color, #fff);
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    z-index: 1050;
    outline: none;
    transform-origin: top left;
    --carousel-button-width: 48px;
    --carousel-button-height: 48px;
    --carousel-button-svg-width: 24px;
    --carousel-button-svg-height: 24px;
    --carousel-button-svg-stroke-width: 2.5;
    --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}
.fancybox__container *,
.fancybox__container *::before,
.fancybox__container *::after {
    box-sizing: inherit;
}
.fancybox__container :focus {
    outline: thin dotted;
}
body.is-using-mouse .fancybox__container :focus {
    outline: none;
}
@media all and (min-width: 1024px) {
    .fancybox__container {
        --carousel-button-width: 48px;
        --carousel-button-height: 48px;
        --carousel-button-svg-width: 27px;
        --carousel-button-svg-height: 27px;
    }
}
.fancybox__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: var(--fancybox-bg, rgba(24, 24, 27, 0.92));
}
.fancybox__carousel {
    position: relative;
    flex: 1 1 auto;
    min-height: 0;
    height: 100%;
    z-index: 10;
}
.fancybox__carousel.has-dots {
    margin-bottom: calc(0.5rem + 22px);
}
.fancybox__viewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    cursor: default;
}
.fancybox__track {
    display: flex;
    height: 100%;
}
.fancybox__slide {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 48px 8px 8px 8px;
    position: relative;
    overscroll-behavior: contain;
    display: flex;
    flex-direction: column;
    outline: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    --carousel-button-width: 36px;
    --carousel-button-height: 36px;
    --carousel-button-svg-width: 22px;
    --carousel-button-svg-height: 22px;
}
.fancybox__slide::before,
.fancybox__slide::after {
    content: '';
    flex: 0 0 0;
    margin: auto;
}
@media all and (min-width: 1024px) {
    .fancybox__slide {
        padding: 64px 100px;
    }
}
.fancybox__content {
    margin: 0 env(safe-area-inset-right, 0px) 0 env(safe-area-inset-left, 0px);
    padding: 36px;
    color: var(--fancybox-content-color, #374151);
    background: var(--fancybox-content-bg, #fff);
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    z-index: 20;
}
.fancybox__caption {
    align-self: center;
    max-width: 100%;
    margin: 0;
    padding: 1rem 0 0 0;
    line-height: 1.375;
    color: var(--fancybox-color, currentColor);
    visibility: visible;
    cursor: auto;
    flex-shrink: 0;
    overflow-wrap: anywhere;
}
.is-loading .fancybox__caption {
    visibility: hidden;
}
.fancybox__container > .carousel__dots {
    top: 100%;
    color: var(--fancybox-color, #fff);
}
.fancybox__nav .carousel__button {
    z-index: 40;
}
.fancybox__nav .carousel__button.is-next {
    right: 8px;
}
@media all and (min-width: 1024px) {
    .fancybox__nav .carousel__button.is-next {
        right: 40px;
    }
}
.fancybox__nav .carousel__button.is-prev {
    left: 8px;
}
@media all and (min-width: 1024px) {
    .fancybox__nav .carousel__button.is-prev {
        left: 40px;
    }
}
.carousel__button.is-close {
    position: absolute;
    top: 8px;
    right: 8px;
    top: calc(env(safe-area-inset-top, 0px) + 8px);
    right: calc(env(safe-area-inset-right, 0px) + 8px);
    z-index: 40;
}
@media all and (min-width: 1024px) {
    .carousel__button.is-close {
        right: 40px;
    }
}
.fancybox__content > .carousel__button.is-close {
    position: absolute;
    top: -36px;
    right: 0;
    color: var(--fancybox-color, #fff);
}
.fancybox__no-click,
.fancybox__no-click button {
    pointer-events: none;
}
.fancybox__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    color: var(--fancybox-color, currentColor);
}
.fancybox__slide .fancybox__spinner {
    cursor: pointer;
    z-index: 1053;
}
.fancybox__spinner svg {
    animation: fancybox-rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}
.fancybox__spinner svg circle {
    fill: none;
    stroke-width: 2.75;
    stroke-miterlimit: 10;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: fancybox-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: currentColor;
}
@keyframes fancybox-rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fancybox-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
.fancybox__backdrop,
.fancybox__caption,
.fancybox__nav,
.carousel__dots,
.carousel__button.is-close {
    opacity: var(--fancybox-opacity, 1);
}
.fancybox__container.is-animated[aria-hidden='false'] .fancybox__backdrop,
.fancybox__container.is-animated[aria-hidden='false'] .fancybox__caption,
.fancybox__container.is-animated[aria-hidden='false'] .fancybox__nav,
.fancybox__container.is-animated[aria-hidden='false'] .carousel__dots,
.fancybox__container.is-animated[aria-hidden='false']
    .carousel__button.is-close {
    animation: 0.15s ease backwards fancybox-fadeIn;
}
.fancybox__container.is-animated.is-closing .fancybox__backdrop,
.fancybox__container.is-animated.is-closing .fancybox__caption,
.fancybox__container.is-animated.is-closing .fancybox__nav,
.fancybox__container.is-animated.is-closing .carousel__dots,
.fancybox__container.is-animated.is-closing .carousel__button.is-close {
    animation: 0.15s ease both fancybox-fadeOut;
}
.fancybox-fadeIn {
    animation: 0.15s ease both fancybox-fadeIn;
}
.fancybox-fadeOut {
    animation: 0.1s ease both fancybox-fadeOut;
}
.fancybox-zoomInUp {
    animation: 0.2s ease both fancybox-zoomInUp;
}
.fancybox-zoomOutDown {
    animation: 0.15s ease both fancybox-zoomOutDown;
}
.fancybox-throwOutUp {
    animation: 0.15s ease both fancybox-throwOutUp;
}
.fancybox-throwOutDown {
    animation: 0.15s ease both fancybox-throwOutDown;
}
@keyframes fancybox-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fancybox-fadeOut {
    to {
        opacity: 0;
    }
}
@keyframes fancybox-zoomInUp {
    from {
        transform: scale(0.97) translate3d(0, 16px, 0);
        opacity: 0;
    }
    to {
        transform: scale(1) translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes fancybox-zoomOutDown {
    to {
        transform: scale(0.97) translate3d(0, 16px, 0);
        opacity: 0;
    }
}
@keyframes fancybox-throwOutUp {
    to {
        transform: translate3d(0, -30%, 0);
        opacity: 0;
    }
}
@keyframes fancybox-throwOutDown {
    to {
        transform: translate3d(0, 30%, 0);
        opacity: 0;
    }
}
.fancybox__carousel .carousel__slide {
    scrollbar-width: thin;
    scrollbar-color: #ccc rgba(255, 255, 255, 0.1);
}
.fancybox__carousel .carousel__slide::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.fancybox__carousel .carousel__slide::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
}
.fancybox__carousel .carousel__slide::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
.fancybox__carousel.is-draggable .fancybox__slide,
.fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
    cursor: move;
    cursor: grab;
}
.fancybox__carousel.is-dragging .fancybox__slide,
.fancybox__carousel.is-dragging .fancybox__slide .fancybox__content {
    cursor: move;
    cursor: grabbing;
}
.fancybox__carousel .fancybox__slide .fancybox__content {
    cursor: auto;
}
.fancybox__carousel .fancybox__slide.can-zoom_in .fancybox__content {
    cursor: zoom-in;
}
.fancybox__carousel .fancybox__slide.can-zoom_out .fancybox__content {
    cursor: zoom-out;
}
.fancybox__carousel .fancybox__slide.is-draggable .fancybox__content {
    cursor: move;
    cursor: grab;
}
.fancybox__carousel .fancybox__slide.is-dragging .fancybox__content {
    cursor: move;
    cursor: grabbing;
}
.fancybox__image {
    transform-origin: 0 0;
    touch-action: none;
    user-select: none;
    transition: none;
}
.has-image .fancybox__content {
    padding: 0;
    background: transparent;
    min-height: 1px;
}
.is-closing .has-image .fancybox__content {
    overflow: visible;
}
.has-image[data-image-fit='contain'] {
    overflow: visible;
    touch-action: none;
}
.has-image[data-image-fit='contain'] .fancybox__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.has-image[data-image-fit='contain-w'] {
    overflow-x: hidden;
    overflow-y: auto;
}
.has-image[data-image-fit='contain-w'] .fancybox__content {
    min-height: auto;
}
.has-image[data-image-fit='contain-w'] .fancybox__image {
    max-width: 100%;
    height: auto;
}
.has-image[data-image-fit='cover'] {
    overflow: visible;
    touch-action: none;
}
.has-image[data-image-fit='cover'] .fancybox__content {
    width: 100%;
    height: 100%;
}
.has-image[data-image-fit='cover'] .fancybox__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content,
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content,
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
    flex-shrink: 1;
    min-height: 1px;
    overflow: visible;
}
.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content,
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content {
    width: 100%;
    height: 80%;
}
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
    width: 960px;
    height: 540px;
    max-width: 100%;
    max-height: 100%;
}
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content,
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
    padding: 0;
    background: rgba(24, 24, 27, 0.9);
    color: #fff;
}
.fancybox__carousel .fancybox__slide.has-map .fancybox__content {
    background: #e5e3df;
}
.fancybox__html5video,
.fancybox__iframe {
    border: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: transparent;
}
.fancybox-placeholder {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.fancybox__thumbs {
    flex: 0 0 auto;
    position: relative;
    padding: 0px 3px;
    opacity: var(--fancybox-opacity, 1);
}
.fancybox__container.is-animated[aria-hidden='false'] .fancybox__thumbs {
    animation: 0.15s ease-in backwards fancybox-fadeIn;
}
.fancybox__container.is-animated.is-closing .fancybox__thumbs {
    opacity: 0;
}
.fancybox__thumbs .carousel__slide {
    flex: 0 0 auto;
    width: var(--fancybox-thumbs-width, 96px);
    margin: 0;
    padding: 8px 3px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    cursor: pointer;
}
.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid var(--fancybox-accent-color, rgba(1, 210, 232, 0.94));
    opacity: 0;
    transition: opacity 0.15s ease;
    border-radius: var(--fancybox-thumbs-border-radius, 4px);
}
.fancybox__thumbs .carousel__slide.is-nav-selected .fancybox__thumb::after {
    opacity: 0.92;
}
.fancybox__thumbs .carousel__slide > * {
    pointer-events: none;
    user-select: none;
}
.fancybox__thumb {
    position: relative;
    width: 100%;
    padding-top: calc(100% / (var(--fancybox-thumbs-ratio, 1.5)));
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    border-radius: var(--fancybox-thumbs-border-radius, 4px);
}
.fancybox__toolbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.006) 8.1%,
        rgba(0, 0, 0, 0.021) 15.5%,
        rgba(0, 0, 0, 0.046) 22.5%,
        rgba(0, 0, 0, 0.077) 29%,
        rgba(0, 0, 0, 0.114) 35.3%,
        rgba(0, 0, 0, 0.155) 41.2%,
        rgba(0, 0, 0, 0.198) 47.1%,
        rgba(0, 0, 0, 0.242) 52.9%,
        rgba(0, 0, 0, 0.285) 58.8%,
        rgba(0, 0, 0, 0.326) 64.7%,
        rgba(0, 0, 0, 0.363) 71%,
        rgba(0, 0, 0, 0.394) 77.5%,
        rgba(0, 0, 0, 0.419) 84.5%,
        rgba(0, 0, 0, 0.434) 91.9%,
        rgba(0, 0, 0, 0.44) 100%
    );
    padding: 0;
    touch-action: none;
    display: flex;
    justify-content: space-between;
    --carousel-button-svg-width: 20px;
    --carousel-button-svg-height: 20px;
    opacity: var(--fancybox-opacity, 1);
    text-shadow: var(
        --fancybox-toolbar-text-shadow,
        1px 1px 1px rgba(0, 0, 0, 0.4)
    );
}
@media all and (min-width: 1024px) {
    .fancybox__toolbar {
        padding: 8px;
    }
}
.fancybox__container.is-animated[aria-hidden='false'] .fancybox__toolbar {
    animation: 0.15s ease-in backwards fancybox-fadeIn;
}
.fancybox__container.is-animated.is-closing .fancybox__toolbar {
    opacity: 0;
}
.fancybox__toolbar__items {
    display: flex;
}
.fancybox__toolbar__items--left {
    margin-right: auto;
}
.fancybox__toolbar__items--center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.fancybox__toolbar__items--right {
    margin-left: auto;
}
@media (max-width: 640px) {
    .fancybox__toolbar__items--center:not(:last-child) {
        display: none;
    }
}
.fancybox__counter {
    min-width: 72px;
    padding: 0 10px;
    line-height: var(--carousel-button-height, 48px);
    text-align: center;
    font-size: 17px;
    font-variant-numeric: tabular-nums;
    -webkit-font-smoothing: subpixel-antialiased;
}
.fancybox__progress {
    background: var(--fancybox-accent-color, rgba(1, 210, 232, 0.94));
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0;
    transition-property: transform;
    transition-timing-function: linear;
    z-index: 30;
    user-select: none;
}
.fancybox__container:fullscreen::backdrop {
    opacity: 0;
}
.fancybox__button--fullscreen g:nth-child(2) {
    display: none;
}
.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(1) {
    display: none;
}
.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(2) {
    display: block;
}
.fancybox__button--slideshow g:nth-child(2) {
    display: none;
}
.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(1) {
    display: none;
}
.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(2) {
    display: block;
}
.pagination-wrap /deep/ .ngx-pagination {
    a,
    button {
        cursor: pointer;
        padding: 6px 12px;
        transition: 0.5s;
    }

    li {
        border: 1px solid #828282;
        color: #000;
        transition: 0.5s;
        margin: 3px;

        &.current {
            padding: 6px 12px;
            color: #fff;
            background-color: #dc2f27;
            border-color: #dc2f27;
        }

        a:hover,
        button:hover {
            color: #fff;
            background-color: #dc2f27;
            border-color: #dc2f27;
        }

        &.disabled {
            color: #cacaca !important;
            border-color: #cacaca !important;
            padding: 6px 12px;
            cursor: default;
        }

        &.pagination-next {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            transition: none;
        }

        &.pagination-previous {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            transition: none;
        }
    }
}

::ng-deep .wrapper-table {
    table {
        margin-top: 20px;

        tr.mat-header-row {
            background-color: initial;
            text-align: center;
        }

        th.mat-header-cell {
            background-color: #dddddd;
            padding: 0 !important;
        }

        th.mat-header-cell,
        td.mat-cell {
            text-align: center;
            border: 1px solid #000000;
        }

        td.mat-cell:last-of-type {
            padding: 0 !important;
        }

        th.mat-column-donViTinh {
            width: 5%;
        }

        td.mat-column-index {
            width: 4%;
            padding: 0 !important;
        }

        td.mat-column-tenLttpChatDot {
            text-align: unset !important;
            padding-left: 24px !important;
        }
    }
}

::ng-deep .page__list {
    .text-success {
        color: #3c763d;
    }

    .text-waiting {
        color: #ff7f50;
    }

    padding: 20px 0;
    margin-bottom: 54px;

    .container-fluid {
        padding-right: 20px;
        padding-left: 20px;
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-divider {
        margin: 8px 0;
    }

    .divider-custom {
        margin: 8px 0 24px 0;
    }

    .search-layout {
        margin-top: 12px;
    }

    .btn-group {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        app-button {
            button {
                border-radius: 20px !important;
            }
        }
    }

    table {
        margin-top: 30px;
        width: 100%;

        button + button {
            margin-left: 5px;
        }
    }

    mat-form-field {
        width: 100%;
    }

    .mat-column-actions {
        width: 100px;
        text-align: center;
    }

    .mat-column-select {
        width: 5%;
    }

    .mat-column-index {
        width: 10%;
    }

    .blue {
        color: #fff;
        background-color: #3598dc;
        border-color: #3598dc;
    }

    .me-px {
        margin-right: 10px;
    }

    .mx-10 {
        margin: 10px 0px;
    }

    .title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: var(--primary-color);
        font-weight: bold;

        mat-icon {
            font-size: 28px;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    .search {
        .panel-title {
            align-items: center;

            mat-icon {
                margin-right: 5px;
            }
        }
    }

    table {
        border: 1px solid rgba(0, 0, 0, 0.12);
        width: 100%;

        tr.mat-header-row {
            background-color: var(--bright-gray);

            .mat-header-cell {
                text-align: unset;
            }
        }

        th.mat-header-cell,
        td {
            text-align: unset;
        }

        th.mat-header-cell {
            color: var(--black);
            font-weight: 600;
        }
    }

    mat-form-field {
        width: 100%;
    }

    .mat-column-actions {
        width: 15%;
    }

    .mat-column-select {
        width: 5%;
    }

    .mat-column-index {
        width: 10%;
    }

    .mat-column-actions {
        text-align: unset;
    }

    .blue {
        color: #fff;
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    .orange {
        color: #fff;
        background-color: #ffa07a;
        border-color: #ffa07a;
    }

    // override material paginator
    ::ng-deep .mat-paginator {
        .mat-paginator-navigation-first {
            order: 1;
        }
        .mat-paginator-navigation-previous {
            order: 2;
        }
        // override material paginator page switch
        .mat-paginator-range-label {
            order: 3;
        }
        .mat-paginator-navigation-next {
            order: 4;
        }
        .mat-paginator-navigation-last {
            order: 5;
        }
    }

    pagination-controls {
        ul {
            padding: 0;
            text-align: center;
            margin-top: 24px;
        }
    }
}

[hidden] {
    display: none !important;
}

::ng-deep .table-chitiet {
    .mat-column-actions {
        width: 10%;
    }

    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
        padding: 8px;
    }

    .mat-form-field-appearance-outline .mat-form-field-wrapper {
        padding: 0;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.7em 0;
    }

    .mat-form-field-infix {
        width: 80px;
        border-top: 0.5em solid transparent;
    }

    .mat-form-field-flex {
        align-items: center;
    }
}

::ng-deep {
    --width-content-draw: 320px;

    .content.mat-drawer-content {
        width: calc(100% - var(--width-content-draw));
    }
    .mat-drawer-side {
        width: var(--width-content-draw);

        .mat-drawer-inner-container {
            background-color: #292929;
            max-width: 320px;
        }
    }
}

// .example-container {
//   width: 400px;
//   height: 200px;
//   margin: 12px;
//   border: 1px solid #555;
// }
