<div class="spinner" *ngIf="loader.progress$ | async"></div>

<m-header
    [menuHeader]="menuHeader"
    [hasOpenDraw]="hasOpenDraw"
    (idBep)="showLayout($event)"
    (isNewCook)="showAlert($event)"
    (toggleDraw)="toggleDraw($event)"
></m-header>

<ng-container *ngIf="isNewCook === true">
    <div class="example-sidenav-content">
        <div class="content mat-elevation-z8">
            <span class="warning text-center"
                >Không có đầu mối bếp để quản lý. Hệ thống sẽ tự động chuyển
                sang chức năng quản lý đầu mối bếp trong {{ timeLeft }}</span
            >
        </div>
    </div>
</ng-container>

<mat-drawer-container class="example-container" hasBackdrop="false" autosize>
    <mat-drawer #drawer [mode]="modeDraw" [opened]="hasOpenDraw">
        <ng-container *ngIf="menuItemList.length > 0">
            <ng-container class="example-sidenav" *ngIf="dauMoiBepId > 0">
                <div>
                    <ng-container class="mat-drawer-inner-container">
                        <app-menu [menus]="menuItemList"
                            >Đang tải menu</app-menu
                        >
                    </ng-container>
                </div>
            </ng-container>
            <!-- <app-menu [menus]="menuItemList">Đang tải menu</app-menu> -->
        </ng-container>
        <!--
        <mat-sidenav #sidenav class="example-sidenav" *ngIf="dauMoiBepId > 0">
            <app-menu [menus]="menuItemList">Đang tải menu</app-menu>
        </mat-sidenav> -->
    </mat-drawer>
    <mat-drawer-content class="content">
        <div class="example-sidenav-content">
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<!--
<ng-container *ngIf="isNewCook === false">
    <mat-sidenav-container autosize>
        <mat-sidenav
            #sidenav
            class="example-sidenav"
            mode="side"
            opened="true"
            *ngIf="dauMoiBepId > 0"
        >
            <app-menu [menus]="menuItemList">Đang tải menu</app-menu>
        </mat-sidenav>

        <div class="example-sidenav-content">
            <div class="content mat-elevation-z8">
                <button mat-raised-button (click)="drawer.toggle()">
                    Toggle drawer
                </button>
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-container>
</ng-container> -->

<m-footer></m-footer>
