<div class="page__list" [hidden]="isLoading === true">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH ĐỐI TƯỢNG ĂN
            </h4>

            <div class="btn-group">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="openDialog(null)"
                ></app-button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <!-- Code Column -->
                    <!-- <ng-container matColumnDef="index">
                      <th mat-header-cell *matHeaderCellDef>STT</th>
                      <td
                          mat-cell
                          *matCellDef="let index = index"
                          class="text-center"
                      >
                          {{ index + 1 }}
                      </td>
                  </ng-container> -->

                    <!-- Person Column -->
                    <ng-container matColumnDef="codeData">
                        <th mat-header-cell *matHeaderCellDef>Mã đối tượng</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.codeData }}
                            <!-- {{ getUnitOptionsbyId(element.from) }} -->
                        </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Tên đối tượng</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.name }}
                            <!-- {{ getUnitOptionsbyId(element.to) }} -->
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="mucTienAn">
                        <th mat-header-cell *matHeaderCellDef>Mức tiền ăn</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.mucTienAn }}
                            <!-- {{ element.rate }} -->
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="editAction(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                                Cập nhật
                            </button>

                            <button
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteAction(element)"
                            >
                                <i class="fa fa-trash"></i> Xóa
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="dataSource.data.length <= 0">
                    <p class="text-nodata">Không có đối tượng ăn</p>
                </ng-container>

                <mat-paginator
                    #paginator
                    [length]="totalRows"
                    [pageIndex]="currentPage"
                    [pageSize]="pageSize"
                    hidePageSize
                    showFirstLastButtons
                    (page)="pageChanged($event)"
                    aria-label="Select page"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>
