<div class="page__list" [hidden]="isLoading === true">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4 class="title">
                    <mat-icon>list</mat-icon>
                    Danh sách biên bản tịnh kho
                </h4>
            </div>
            <div class="col-md-6">
                <div class="btn-group" *ngIf="allowExec === true">
                    <app-button
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="'Tạo mới'"
                        [color]="'primary'"
                        [iconLeft]="'fa fa-plus'"
                        (handleClick)="action(null)"
                    ></app-button>
                </div>
            </div>
        </div>

        <!-- SEARCH -->
        <div class="search-layout">
            <app-search-advanced
                [label]="'Tìm kiếm theo tên biên bản'"
                [placeHolder]="'Nhập vào tên biên bản'"
                [fieldSearch]="fieldSearch"
                (getSearchInfo)="handleSearchAdvanced($event)"
                (getSearchName)="handleInputFilter($event)"
            ></app-search-advanced>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="ngayTao">
                        <th mat-header-cell *matHeaderCellDef>Ngày tạo</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{ element.ngayTao | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="tenBienBan">
                        <th mat-header-cell *matHeaderCellDef>Tên biên bản</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.tenBienBan }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="nguoiLapBienBan">
                        <th mat-header-cell *matHeaderCellDef>
                            Người lập biên bản
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ getNameUserAllowId(element.nguoiLapId) }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="action(element)"
                            >
                                <i class="fa fa-eye"></i>
                                Xem chi tiết
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="dataSource.data.length <= 0">
                    <p class="text-nodata">Không có phiếu tịnh kho</p>
                </ng-container>

                <mat-paginator
                    class="custom-paginator"
                    [pageSizeOptions]="[10, 15, 20]"
                    showFirstLastButtons
                    aria-label="Select page of exportWarehouseList"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>
