.header {
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .adjustment__title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #337ab7;
        font-weight: bold;

        mat-icon {
            font-size: 28px;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
}

.ml-160 {
    margin-left: 160px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.bold {
    font-weight: bold;
}

.table-range {
    .adjustment__search {
        display: flex;
        align-items: center;
        justify-content: space-between;

        mat-form-field {
            padding-right: 36px;
        }
    }

    table {
        width: 100%;

        .mat-column-expand {
            width: 10%;
        }
    }

    tr.example-detail-row {
        height: 0;
    }

    tr.example-element-row:not(.example-expanded-row):hover {
        background: whitesmoke;
    }

    tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
    }

    .example-element-row td {
        border-bottom-width: 0;
    }

    .example-element-detail {
        overflow: hidden;
        display: flex;
    }

    .example-element-diagram {
        min-width: 80px;
        border: 2px solid black;
        padding: 8px;
        font-weight: lighter;
        margin: 8px 0;
        height: 104px;
    }

    .example-element-symbol {
        font-weight: bold;
        font-size: 40px;
        line-height: normal;
    }

    .example-element-description {
        padding: 16px;
    }

    .example-element-description-attribution {
        opacity: 0.5;
    }

    .table-details {
        tr.mat-header-row {
            background-color: #ececec;
        }

        th.mat-header-cell {
            color: #000;
        }
    }
}

::ng-deep .table-details {
    width: 100%;

    th.mat-header-cell,
    td {
        text-align: unset;
    }

    .mat-checkbox {
        color: #fff !important;
    }

    .mat-column-name {
        width: 50%;
    }

    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
        padding: 8px;
    }

    .mat-form-field-appearance-outline .mat-form-field-wrapper {
        padding: 0;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.7em 0;
    }

    .mat-form-field-infix {
        width: 80px;
        border-top: 0.5em solid transparent;
    }

    .mat-form-field-flex {
        align-items: center;
    }
}

::ng-deep {
    .main-food {
        .mat-radio-outer-circle,
        .mat-radio-inner-circle {
            border-radius: 0% !important;
        }
    }

    .accordion {
        .mat-expansion-panel {
            background-color: #ededed;
            border: 1px solid #ff7f50;
            margin-bottom: 20px;

            .mat-expansion-panel-header-description {
                font-style: italic;
                flex-grow: 0;
            }

            .mat-expansion-indicator::after {
                color: #636363;
            }

            .mat-expansion-panel-content {
                background-color: white;
            }
        }

        .mat-expansion-panel:last-child {
            margin-bottom: 0px;
        }
    }
}

.ml-50 {
    margin-left: 50px;
}

.mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}
