<h1 mat-dialog-title>Thêm mới {{ data.name }}</h1>

<mat-tab-group animationDuration="0ms">
    <mat-tab label="Thông tin">
        <div mat-dialog-content>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Nhập mã</mat-label>
                        <input matInput [(ngModel)]="data.code" required />
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Mã ghi nhớ</mat-label>
                        <input matInput [(ngModel)]="data.memoryCode" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Loại</mat-label>
                        <mat-select [(ngModel)]="data.type">
                            <mat-option value="button">button</mat-option>
                            <mat-option value="checkbox">checkbox</mat-option>
                            <mat-option value="color">color</mat-option>
                            <mat-option value="date">date</mat-option>
                            <mat-option value="email">email</mat-option>
                            <mat-option value="file">file</mat-option>
                            <mat-option value="hidden">hidden</mat-option>
                            <mat-option value="password">password</mat-option>
                            <mat-option value="number">number</mat-option>
                            <mat-option value="radio">radio</mat-option>
                            <mat-option value="range">range</mat-option>
                            <mat-option value="reset">reset</mat-option>
                            <mat-option value="search">search</mat-option>
                            <mat-option value="submit">submit</mat-option>
                            <mat-option value="tel">tel</mat-option>
                            <mat-option value="text">text</mat-option>
                            <mat-option value="time">time</mat-option>
                            <mat-option value="url">url</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Tên</mat-label>
                        <input matInput [(ngModel)]="data.name" />
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Vị trí</mat-label>
                        <input
                            matInput
                            type="number"
                            [(ngModel)]="data.index"
                        />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Trạng thái</mat-label>
                        <mat-select [(ngModel)]="data.type">
                            <mat-option value="1">Mặc định</mat-option>
                            <mat-option value="0">Khóa</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- <div class="col-md-12">
          <mat-form-field class="example-chip-list" appearance="outline">
            <mat-label>Từ khóa</mat-label>

            <mat-chip-list #chipList [(ngModel)]="fruits">
              <mat-chip
                *ngFor="let fruit of data.fruits"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(fruit)"
                color="primary"
                selected
              >
                {{ fruit.name }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Nhập từ khóa "
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
                fruit="ngModel"
                name="fruit"
              />
            </mat-chip-list>
          </mat-form-field>
        </div> -->

                <div class="col-md-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Ngôn ngữ</mat-label>
                        <textarea
                            matInput
                            [(ngModel)]="data.language"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"
                        ></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Cài đặt">
        <div mat-dialog-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Giá trị mặc định</mat-label>
                        <input matInput [(ngModel)]="data.defaultValue" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Giá trị liên kết</mat-label>
                        <input matInput [(ngModel)]="data.fieldConnect" />
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Bắt buộc</mat-label>
                        <mat-select [(ngModel)]="data.required">
                            <mat-option value="0">Không</mat-option>
                            <mat-option value="1">Có</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Định dạng</mat-label>
                        <input matInput [(ngModel)]="data.format" />
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Tính toàn vẹn</mat-label>
                        <input matInput [(ngModel)]="data.unique" />
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Field phụ thuộc</mat-label>
                        <input matInput [(ngModel)]="data.fieldConnect" />
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Công thức</mat-label>
                        <input matInput [(ngModel)]="data.calculator" />
                    </mat-form-field>
                </div>

                <div class="col-md-12">
                    <mat-form-field appearance="outline">
                        <mat-label>CSS</mat-label>
                        <textarea
                            matInput
                            [(ngModel)]="data.css"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"
                        ></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<div mat-dialog-actions>
    <ng-container *ngIf="!confirmDelete; else delete_content">
        <button mat-raised-button (click)="onNoClick()">Đóng</button>
        <button
            mat-raised-button
            [disabled]="!data.name"
            [mat-dialog-close]="data"
            cdkFocusInitial
            color="primary"
        >
            Lưu
        </button>

        <button
            *ngIf="data.isEditField"
            mat-raised-button
            color="warn"
            (click)="confirmDelete = true"
        >
            Xóa
        </button>

        <button
            mat-raised-button
            cdkFocusInitial
            color="primary"
            (click)="handleAction()"
        >
            handleAction
        </button>
    </ng-container>

    <ng-template #delete_content>
        <button
            *ngIf="data.isEditField"
            (click)="deleteAction(data.id)"
            mat-raised-button
            color="warn"
        >
            Xác nhận xóa
        </button>
        <button mat-raised-button (click)="confirmDelete = false">
            Bỏ qua
        </button>
    </ng-template>
</div>
