::ng-deep .page-plans {
    .custom-col {
        mat-radio-group {
            justify-content: inherit;
            gap: 30px;
        }
    }

    .text-header-title {
        font-size: 14px;
        color: var(--black);
        font-weight: 600;
    }

    .mat-column- {
        &position,
        &name {
            width: 20%;
        }

        &donGia,
        &duXuat {
            width: 10%;
        }

        &kho,
        &hienCo {
            text-align: center !important;
        }

        &unit,
        &unitPrice,
        &expTotal,
        &totalMoney,
        &currentTotal {
            width: 8%;
        }

        &store {
            width: 15%;
        }

        &select {
            text-align: center !important;
        }
    }

    .table-food-estimate {
        .mat-column- {
            &lttpChatDot,
            &donViTinh {
                width: 15%;
            }

            &select {
                text-align: center;
            }
        }

        button {
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: darkblue;
                color: #fff;
            }
        }
    }

    .mat-tab-group-custom {
        .mat-tab-body {
            margin-top: 20px;
        }

        .mat-tab-label {
            color: #48465b;
            font-weight: bold;

            &-active {
                color: #ff7f50;
            }
        }

        .mat-ink-bar {
            background-color: #ff7f50 !important;
        }

        table {
            td.mat-cell,
            td.mat-footer-cell,
            th.mat-header-cell {
                padding: 5px 10px;
            }

            .mat-form-field-appearance-standard .mat-form-field-flex {
                padding-top: 0;
            }

            .group-unit-item {
                display: flex;
                align-items: center;
            }

            .mat-column-unit {
                width: 10%;
            }

            .td-unit {
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                .mat-icon {
                    transition: all 0.3s ease-in-out;
                }
                &:hover {
                    background-color: #f7f7f7;

                    .mat-icon {
                        transform: translateX(10px);
                    }
                }
            }
        }

        .wraper-footer-table {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }

        .wrapper-text {
            display: flex;
            gap: 30px;
            margin-top: 0;
        }

        .table-range {
            &:not(:first-child) {
                margin-top: 30px;
            }

            .mat-column- {
                &actions {
                    width: 10%;
                }
            }
        }

        .wrapper-table-dynamic {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }

    table.table-nvl {
        margin-top: 0;

        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            text-align: center !important;
        }
    }

    .mat-expansion-panel {
        background-color: #ededed;
        border: 1px solid #ff7f50;
        margin-bottom: 20px;

        .mat-expansion-panel-header-description {
            font-style: italic;
            flex-grow: 0;
        }

        .mat-expansion-indicator::after {
            color: #636363;
        }

        .mat-expansion-panel-content {
            background-color: white;
        }
    }

    .mat-expansion-panel:last-child {
        margin-bottom: 0px;
    }
}

.header {
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .adjustment__title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #337ab7;
        font-weight: bold;

        mat-icon {
            font-size: 28px;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .text-title {
            margin: 0;
            display: flex;
            align-items: center;
        }
    }
}

.financial-statistical {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;

    .financial-item p {
        margin: 0;
    }

    .financial-box {
        display: flex;
        flex-direction: column;

        .financial-total {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .financial-item {
        display: flex;
        align-items: center;
        gap: 25px;
        border: 1px solid #ff7f50;
        padding: 15px 45px;
        /* margin: 0; */
    }
}

.adjustment__search {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    mat-form-field {
        padding-right: 36px;
    }
}

.bold {
    font-weight: bold;
}

.ml-20 {
    margin-left: 20px;
}

.font-italic {
    font-style: italic;
}

.font-normal {
    font-style: normal;
}

.mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}

////
///

.mt-20 {
    margin-top: 20px !important;
}

tr.example-detail-row {
    height: 0;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;

    /* Structure */
    table {
        width: 100%;

        mat-footer-row,
        mat-header-row,
        mat-row {
            justify-content: space-between;
        }

        td.mat-cell,
        td.mat-footer-cell,
        th.mat-header-cell {
            border-bottom-width: 0px;
        }
    }

    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.text-nodata {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.loading {
    .mat-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
    }
}

.loading-data {
    .mat-spinner {
        position: absolute;
        top: 70%;
        left: 50%;
        z-index: 999;
    }
}

@media only screen and (max-width: 1500px) {
    .financial-statistical {
        flex-wrap: wrap;

        .financial-item {
            margin-bottom: 10px;
            flex: 0 0 30%;
        }
    }
}
