<div class="page__list page-plans">
    <div class="container-fluid">
        <form
            *ngIf="form"
            (ngSubmit)="onSubmit(false)"
            [formGroup]="form"
            class="form-submit"
        >
            <div class="header">
                <h4 class="adjustment__title">
                    <p class="text-title">
                        <mat-icon>assignment</mat-icon>
                        {{
                            isEdit ? titleOnEdit : 'Tạo dự chi cho ngày kế tiếp'
                        }}
                    </p>
                </h4>

                <div class="adjustment__btn-group">
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Hủy'"
                        [color]="'warn'"
                        [iconRight]="'fa fa-power-off'"
                        (handleClick)="onBack()"
                    ></app-button>

                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'In file excel'"
                        [color]="'primary'"
                        [isDisabled]="
                            isFinishedGetDataMoney === false ||
                            isFinishedGetDataMenu === false ||
                            isFinishedGetData === false
                        "
                        (handleClick)="exportExcel()"
                    ></app-button>

                    <app-button
                        [type]="'submit'"
                        [matType]="'flat'"
                        [title]="'Lưu'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        [isDisabled]="!form.valid"
                    ></app-button>
                </div>
            </div>

            <mat-divider class="divider-custom"></mat-divider>

            <p class="text-alert text-alert--small text-alert--primary">
                Thông tin cơ bản
            </p>

            <div class="form-builder-content">
                <dynamic-form-builder [form]="form" [fields]="fields">
                </dynamic-form-builder>
            </div>
        </form>

        <mat-divider class="divider-custom"></mat-divider>

        <p class="text-alert text-alert--small text-alert--primary">Dự xuất</p>
        <div
            [hidden]="
                isFinishedGetDataMoney === false ||
                isFinishedGetDataMenu === false ||
                isFinishedGetData === false
            "
        >
            <div class="financial-statistical">
                <div
                    class="financial-item"
                    *ngFor="let financial of statisticals"
                >
                    <div class="financial-box">
                        <p
                            class="financial-total"
                            [ngClass]="{ 'text-danger': financial.value < 0 }"
                        >
                            {{ financial.value }}
                            <!-- priceConvert -->
                        </p>
                        <div class="financial-title">{{ financial.title }}</div>
                    </div>
                </div>
            </div>
            <mat-tab-group class="mat-tab-group-custom" dynamicHeight>
                <mat-tab label="LTTP, chất đốt">
                    <div class="example-small-box">
                        <!-- Table NVL -->
                        <div class="table-range">
                            <mat-accordion>
                                <mat-expansion-panel
                                    *ngFor="
                                        let item of danhSachMonAn;
                                        let i = index
                                    "
                                    (opened)="handleOpened(i)"
                                >
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ item.buoiAn }}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            <span
                                                >Tổng thu:
                                                <span
                                                    class="bold ml-20 font-normal"
                                                    >{{ item.tongThu }}</span
                                                ></span
                                            >
                                            <!-- priceConvert -->
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="adjustment__search">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Tìm kiếm</mat-label>
                                            <input
                                                matInput
                                                placeholder="Nhập vào từ khóa"
                                                (keyup)="
                                                    applyFilter.next($event)
                                                "
                                            />
                                            <mat-icon matSuffix
                                                >search</mat-icon
                                            >
                                        </mat-form-field>

                                        <app-button
                                            [type]="'button'"
                                            [matType]="'flat'"
                                            [title]="'Thêm thực phẩm'"
                                            [color]="'primary'"
                                            [iconLeft]="'fa fa-plus'"
                                            (handleClick)="addRow(i)"
                                        ></app-button>
                                    </div>
                                    <div class="row" *ngIf="item.danhSach.data">
                                        <div class="col-md-12">
                                            <table
                                                mat-table
                                                [dataSource]="item.danhSach"
                                                class="table-nvl table-striped"
                                            >
                                                <ng-container
                                                    *ngFor="
                                                        let column of displayedColumnsOfNVL
                                                    "
                                                    matColumnDef="{{ column }}"
                                                    class="custom-cell"
                                                >
                                                    <ng-container
                                                        [ngSwitch]="true"
                                                    >
                                                        <ng-container
                                                            *ngSwitchCase="
                                                                column ===
                                                                    'tenLttpChatDot' ||
                                                                column ===
                                                                    'donViTinh' ||
                                                                column ===
                                                                    'donGia' ||
                                                                column ===
                                                                    'hienCo'
                                                            "
                                                        >
                                                            <th
                                                                mat-header-cell
                                                                *matHeaderCellDef
                                                                [attr.rowspan]="
                                                                    3
                                                                "
                                                            >
                                                                {{
                                                                    renderToText(
                                                                        column
                                                                    )
                                                                }}
                                                            </th>
                                                        </ng-container>

                                                        <ng-container
                                                            *ngSwitchDefault
                                                        >
                                                            <th
                                                                mat-header-cell
                                                                *matHeaderCellDef
                                                            >
                                                                {{ column }}
                                                            </th>
                                                        </ng-container>
                                                    </ng-container>

                                                    <ng-container
                                                        [ngSwitch]="true"
                                                    >
                                                        <ng-container
                                                            *ngSwitchCase="
                                                                column ===
                                                                'donGia'
                                                            "
                                                        >
                                                            <ng-container
                                                                matColumnDef="donGia"
                                                            >
                                                                <th
                                                                    mat-header-cell
                                                                    *matHeaderCellDef
                                                                >
                                                                    Đơn giá
                                                                </th>
                                                                <ng-container
                                                                    *ngIf="
                                                                        isEdit ===
                                                                            false;
                                                                        else otherTd
                                                                    "
                                                                >
                                                                    <td
                                                                        mat-cell
                                                                        *matCellDef="
                                                                            let element;
                                                                            let ids = index
                                                                        "
                                                                    >
                                                                        <ng-container
                                                                            [ngSwitch]="
                                                                                element.type
                                                                            "
                                                                        >
                                                                            <ng-container
                                                                                *ngSwitchCase="
                                                                                    'kho'
                                                                                "
                                                                            >
                                                                                {{
                                                                                    element.donGia
                                                                                }}
                                                                                <!-- priceConvert -->
                                                                            </ng-container>
                                                                            <ng-container
                                                                                *ngSwitchCase="
                                                                                    'dcg'
                                                                                "
                                                                            >
                                                                                <mat-form-field
                                                                                    appearance="legacy"
                                                                                >
                                                                                    <mat-select
                                                                                        (selectionChange)="
                                                                                            calculateInputAndSelected(
                                                                                                $event,
                                                                                                element,
                                                                                                ids
                                                                                            )
                                                                                        "
                                                                                        [value]="
                                                                                            element
                                                                                                .loaiGia[0]
                                                                                                .key
                                                                                        "
                                                                                    >
                                                                                        <mat-option
                                                                                            *ngFor="
                                                                                                let price of element.loaiGia
                                                                                            "
                                                                                            [value]="
                                                                                                price.key
                                                                                            "
                                                                                        >
                                                                                            {{
                                                                                                price.name
                                                                                            }}</mat-option
                                                                                        >
                                                                                        <!-- priceConvert -->
                                                                                    </mat-select>
                                                                                </mat-form-field>
                                                                            </ng-container>
                                                                            <ng-container
                                                                                *ngSwitchCase="
                                                                                    'other'
                                                                                "
                                                                            >
                                                                                <mat-form-field
                                                                                    appearance="legacy"
                                                                                >
                                                                                    <input
                                                                                        autofocus
                                                                                        cdkFocusInitial
                                                                                        matInput
                                                                                        type="number"
                                                                                        min="0"
                                                                                        placeholder="Nhập đơn giá"
                                                                                        [(ngModel)]="
                                                                                            element.donGia
                                                                                        "
                                                                                        [ngModelOptions]="{
                                                                                            standalone: true
                                                                                        }"
                                                                                        (keyup)="
                                                                                            addData(
                                                                                                $event
                                                                                                    .target
                                                                                                    .value,
                                                                                                element
                                                                                            )
                                                                                        "
                                                                                        #handlePriceElement
                                                                                    />
                                                                                </mat-form-field>
                                                                            </ng-container>
                                                                        </ng-container>
                                                                    </td>
                                                                </ng-container>
                                                                <ng-template
                                                                    #otherTd
                                                                >
                                                                    <td
                                                                        mat-cell
                                                                        *matCellDef="
                                                                            let element;
                                                                            let ids = index
                                                                        "
                                                                    >
                                                                        <mat-form-field
                                                                            appearance="legacy"
                                                                        >
                                                                            <input
                                                                                autofocus
                                                                                cdkFocusInitial
                                                                                matInput
                                                                                type="number"
                                                                                min="0"
                                                                                placeholder="Nhập đơn giá"
                                                                                [(ngModel)]="
                                                                                    element.donGia
                                                                                "
                                                                                [ngModelOptions]="{
                                                                                    standalone: true
                                                                                }"
                                                                                (keyup)="
                                                                                    addData(
                                                                                        $event
                                                                                            .target
                                                                                            .value,
                                                                                        element
                                                                                    )
                                                                                "
                                                                                [disabled]="
                                                                                    allowExec ===
                                                                                        false ||
                                                                                    isPublished ===
                                                                                        true
                                                                                "
                                                                                #handlePriceElement
                                                                            />
                                                                        </mat-form-field>
                                                                    </td>
                                                                </ng-template>
                                                            </ng-container>
                                                        </ng-container>

                                                        <ng-container
                                                            *ngSwitchCase="
                                                                column ===
                                                                'hienCo'
                                                            "
                                                        >
                                                            <td
                                                                mat-cell
                                                                *matCellDef="
                                                                    let element
                                                                "
                                                            >
                                                                <span
                                                                    #tooltip="matTooltip"
                                                                    [matTooltip]="
                                                                        convertNameById(
                                                                            element[
                                                                                'khoId'
                                                                            ],
                                                                            'Inventory'
                                                                        )
                                                                    "
                                                                    matTooltipPosition="above"
                                                                    >{{
                                                                        element[
                                                                            column
                                                                        ]
                                                                            ? element[
                                                                                  column
                                                                              ]
                                                                            : ''
                                                                    }}</span
                                                                >
                                                            </td>
                                                        </ng-container>

                                                        <!-- soLuongTrenBdMua -->
                                                        <ng-container
                                                            *ngSwitchCase="
                                                                column ===
                                                                    'soLuongTrenBdMua' ||
                                                                column ===
                                                                    'soLuongTrenBdTg' ||
                                                                column ===
                                                                    'soLuongDonViBdMua' ||
                                                                column ===
                                                                    'soLuongDonViBdTg'
                                                            "
                                                        >
                                                            <td
                                                                mat-cell
                                                                *matCellDef="
                                                                    let element;
                                                                    let i = index
                                                                "
                                                            >
                                                                <input
                                                                    matInput
                                                                    type="number"
                                                                    min="0"
                                                                    placeholder="Nhập số lượng"
                                                                    [(ngModel)]="
                                                                        element[
                                                                            column
                                                                        ]
                                                                    "
                                                                    [class.active]="
                                                                        selectedIndex ===
                                                                        element[
                                                                            column
                                                                        ]
                                                                    "
                                                                    [ngModelOptions]="{
                                                                        standalone: true
                                                                    }"
                                                                    (keyup)="
                                                                        calculateSelectedAndInput(
                                                                            $event
                                                                                .target
                                                                                .value,
                                                                            element,
                                                                            column
                                                                        )
                                                                    "
                                                                />
                                                            </td>
                                                        </ng-container>

                                                        <ng-container
                                                            *ngSwitchCase="
                                                                column ===
                                                                'thanhTien'
                                                            "
                                                        >
                                                            <td
                                                                mat-cell
                                                                *matCellDef="
                                                                    let element;
                                                                    let i = index
                                                                "
                                                            >
                                                                {{
                                                                    element[
                                                                        'thanhTien'
                                                                    ]
                                                                }}đ
                                                            </td>
                                                            <!-- priceConvert -->
                                                        </ng-container>

                                                        <ng-container
                                                            *ngSwitchCase="
                                                                column ===
                                                                'duXuat'
                                                            "
                                                        >
                                                            <td
                                                                mat-cell
                                                                *matCellDef="
                                                                    let element
                                                                "
                                                            >
                                                                <input
                                                                    autofocus
                                                                    cdkFocusInitial
                                                                    matInput
                                                                    type="number"
                                                                    min="0"
                                                                    placeholder="Nhập số lượng dự xuất"
                                                                    [(ngModel)]="
                                                                        element[
                                                                            column
                                                                        ]
                                                                    "
                                                                    [ngModelOptions]="{
                                                                        standalone: true
                                                                    }"
                                                                    (keyup)="
                                                                        calculateSelectedAndInput(
                                                                            $event
                                                                                .target
                                                                                .value,
                                                                            element,
                                                                            column
                                                                        )
                                                                    "
                                                                    #handlePriceElement
                                                                />
                                                            </td>
                                                        </ng-container>

                                                        <ng-container
                                                            *ngSwitchCase="
                                                                column ===
                                                                'thanhTienDuXuat'
                                                            "
                                                        >
                                                            <td
                                                                mat-cell
                                                                *matCellDef="
                                                                    let element
                                                                "
                                                            >
                                                                {{
                                                                    element[
                                                                        'donGia'
                                                                    ] *
                                                                        element[
                                                                            'duXuat'
                                                                        ]
                                                                }}đ
                                                            </td>
                                                            <!-- priceConvert -->
                                                        </ng-container>

                                                        <ng-container
                                                            *ngSwitchCase="
                                                                column ===
                                                                'actions'
                                                            "
                                                        >
                                                            <td
                                                                mat-cell
                                                                *matCellDef="
                                                                    let element;
                                                                    let stt = index
                                                                "
                                                            >
                                                                <button
                                                                    class="btn btn-xs red ng-star-inserted"
                                                                    (click)="
                                                                        deleteAction(
                                                                            element,
                                                                            i,
                                                                            stt
                                                                        )
                                                                    "
                                                                >
                                                                    <i
                                                                        class="fa fa-trash"
                                                                    ></i>
                                                                    Xóa
                                                                </button>
                                                            </td>
                                                        </ng-container>

                                                        <ng-container
                                                            *ngSwitchDefault
                                                        >
                                                            <td
                                                                mat-cell
                                                                *matCellDef="
                                                                    let element
                                                                "
                                                            >
                                                                {{
                                                                    element[
                                                                        column
                                                                    ]
                                                                        ? element[
                                                                              column
                                                                          ]
                                                                        : ''
                                                                }}
                                                            </td>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="duKienNhap"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                        [attr.colspan]="5"
                                                    >
                                                        Dự kiến nhập
                                                    </th>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="duKienXuat"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                        [attr.colspan]="2"
                                                    >
                                                        Dự kiến xuất
                                                    </th>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="trenDB"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                        [attr.colspan]="2"
                                                    >
                                                        Trên BĐ
                                                    </th>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="donViDB"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                        [attr.colspan]="2"
                                                    >
                                                        Đơn vị BĐ
                                                    </th>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="thanhTienDuNhap"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                        [attr.rowspan]="2"
                                                    >
                                                        Thành tiền
                                                    </th>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="soLuongXuat"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                        [attr.rowspan]="2"
                                                    >
                                                        Số lượng
                                                    </th>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="tienDuXuat"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                        [attr.rowspan]="2"
                                                    >
                                                        Thành tiền
                                                    </th>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="trenDBTT"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                        [attr.rowspan]="1"
                                                    >
                                                        Mua TT
                                                    </th>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="trenDBTG"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                        [attr.rowspan]="1"
                                                    >
                                                        TGSX
                                                    </th>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="donViTT"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                        [attr.rowspan]="1"
                                                    >
                                                        Mua TT
                                                    </th>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="donViTg"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                        [attr.rowspan]="1"
                                                    >
                                                        TGSX
                                                    </th>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="thaoTac"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                        [attr.rowspan]="3"
                                                    >
                                                        Thao tác
                                                    </th>
                                                </ng-container>

                                                <tr
                                                    mat-header-row
                                                    *matHeaderRowDef="[
                                                        'tenLttpChatDot',
                                                        'donViTinh',
                                                        'donGia',
                                                        'hienCo',
                                                        'duKienNhap',
                                                        'duKienXuat',
                                                        'thaoTac'
                                                    ]"
                                                ></tr>
                                                <tr
                                                    mat-header-row
                                                    *matHeaderRowDef="[
                                                        'trenDB',
                                                        'donViDB',
                                                        'thanhTienDuNhap',
                                                        'soLuongXuat',
                                                        'tienDuXuat'
                                                    ]"
                                                ></tr>
                                                <tr
                                                    mat-header-row
                                                    *matHeaderRowDef="[
                                                        'trenDBTT',
                                                        'trenDBTG',
                                                        'donViTT',
                                                        'donViTg'
                                                    ]"
                                                ></tr>
                                                <tr
                                                    mat-row
                                                    *matRowDef="
                                                        let row;
                                                        columns: displayedColumnsOfNVL
                                                    "
                                                ></tr>
                                            </table>
                                        </div>
                                    </div>

                                    <mat-spinner
                                        [diameter]="50"
                                        *ngIf="!item.danhSach.data"
                                    ></mat-spinner>

                                    <mat-paginator
                                        #paginatorList
                                        [pageSizeOptions]="[10, 15, 20]"
                                        showFirstLastButtons
                                        aria-label="Select page of item.danhSach"
                                        align="right"
                                    >
                                    </mat-paginator>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Phần tiền">
                    <div class="example-large-box">
                        <ng-container
                            *ngIf="
                                dataSourceGroupFoodTotalPrice.data.length > 0
                            "
                        >
                            <ng-container
                                *ngFor="
                                    let boxPrice of dataSourceGroupFoodTotalPrice.data
                                "
                            >
                                <ng-container
                                    [ngTemplateOutlet]="templatePrice"
                                    [ngTemplateOutletContext]="{
                                        element: boxPrice
                                    }"
                                ></ng-container
                            ></ng-container>
                        </ng-container>

                        <ng-container
                            *ngIf="
                                dataSourceGroupFoodTotalPrice.data.length === 0
                            "
                        >
                            <p class="text-nodata">
                                Chưa có chấm cơm để hiển thị phần tiền
                            </p>
                        </ng-container>
                    </div>
                </mat-tab>

                <mat-tab label="Phần gạo, chất đốt">
                    <!-- LTTP -->
                    <div
                        class="example-large-box"
                        *ngIf="dataSourceFood.data.length > 0"
                    >
                        <p
                            class="wrapper-text text-alert text-alert--small text-alert--default"
                        >
                            <span>Lương thực thực phẩm</span>
                        </p>

                        <ng-container
                            *ngFor="let boxPrice of dataSourceFood.data"
                        >
                            <ng-container
                                [ngTemplateOutlet]="templateFood"
                                [ngTemplateOutletContext]="{
                                    element: boxPrice
                                }"
                            ></ng-container>
                        </ng-container>
                    </div>

                    <!-- Chất đốt -->
                    <div
                        class="example-large-box"
                        *ngIf="dataSourceFuel.data.length > 0"
                    >
                        <p
                            class="wrapper-text text-alert text-alert--small text-alert--default mt-20"
                        >
                            <span>Chất đốt</span>
                        </p>

                        <table mat-table [dataSource]="dataSourceFuel">
                            <ng-container
                                matColumnDef="{{ boxPrice }}"
                                *ngFor="let boxPrice of displayedFuelColumns"
                            >
                                <th mat-header-cell *matHeaderCellDef>
                                    {{
                                        getUserNameColumnBoxPrice(
                                            boxPrice,
                                            'fuel'
                                        )
                                    }}
                                </th>
                                <td mat-cell *matCellDef="let elementBoxPrice">
                                    <ng-container
                                        *ngIf="
                                            boxPrice === 'buoi';
                                            else contentDefault
                                        "
                                    >
                                        {{
                                            convertToMeal(
                                                elementBoxPrice[boxPrice]
                                            )
                                        }}
                                    </ng-container>

                                    <ng-template #contentDefault>
                                        {{ elementBoxPrice[boxPrice] }}
                                    </ng-template>
                                </td>
                                <td mat-footer-cell *matFooterCellDef>
                                    <ng-container [ngSwitch]="boxPrice">
                                        <ng-container *ngSwitchCase="'buoi'">
                                            <strong>Tổng</strong>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'tong'">
                                            <strong>{{
                                                totalCostOfThreeMeal(
                                                    dataSourceFuel.data,
                                                    'fuel'
                                                ).toFixed(3)
                                            }}</strong>
                                        </ng-container>

                                        <ng-container
                                            *ngSwitchDefault
                                        ></ng-container>
                                    </ng-container>
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedFuelColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="
                                    let row;
                                    columns: displayedFuelColumns
                                "
                            ></tr>
                            <tr
                                mat-footer-row
                                *matFooterRowDef="
                                    displayedFuelColumns;
                                    sticky: true
                                "
                            ></tr>
                        </table>
                    </div>

                    <form
                        [formGroup]="formLTTP"
                        class="form-submit mt-20"
                        *ngIf="formLTTP"
                    >
                        <div class="form-builder-content">
                            <dynamic-form-builder
                                [form]="formLTTP"
                                [fields]="fieldsLTTP"
                            >
                            </dynamic-form-builder>
                        </div>
                    </form>
                </mat-tab>

                <mat-tab label="Ăn thêm">
                    <div class="example-large-box">
                        <ng-container
                            *ngFor="
                                let boxPrice of dataSourceGroupFoodTotalPrice.data
                            "
                        >
                            <ng-container
                                [ngTemplateOutlet]="templateExtraPrice"
                                [ngTemplateOutletContext]="{
                                    element: boxPrice
                                }"
                            ></ng-container>
                        </ng-container>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="loading-data">
            <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>
        </div>
    </div>
</div>

<ng-template #templatePrice let-element="element">
    <div class="wrapper-table-dynamic">
        <p
            class="wrapper-text text-alert text-alert--small text-alert--default"
        >
            <span
                >Mức tiền ăn:
                {{
                    totalCostOfThreeMeal(element.chiTietGaoTienAn, 'rate')
                }}đ/người/ngày</span
            >
            <!-- priceConvert -->
        </p>

        <table mat-table [dataSource]="element.chiTietGaoTienAn">
            <ng-container
                matColumnDef="{{ boxPrice }}"
                *ngFor="let boxPrice of displayedBoxPriceColumns"
            >
                <th mat-header-cell *matHeaderCellDef>
                    {{ getUserNameColumnBoxPrice(boxPrice, 'price') }}
                </th>
                <td mat-cell *matCellDef="let elementBoxPrice">
                    <ng-container
                        *ngIf="
                            boxPrice === 'mucTienAn' ||
                                boxPrice === 'tongTienAn';
                            else contentMeal
                        "
                    >
                        {{ elementBoxPrice[boxPrice] }}
                        <!-- priceConvert -->
                    </ng-container>
                    <ng-template #contentMeal>
                        <ng-container
                            *ngIf="boxPrice === 'buoi'; else contentDefault"
                        >
                            {{ convertToMeal(elementBoxPrice[boxPrice]) }}
                        </ng-container>
                    </ng-template>

                    <ng-template #contentDefault>
                        {{ elementBoxPrice[boxPrice] }}
                    </ng-template>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <ng-container [ngSwitch]="boxPrice">
                        <ng-container *ngSwitchCase="'buoi'">
                            <strong>Tổng</strong>
                        </ng-container>
                        <ng-container *ngSwitchCase="'tongTienAn'">
                            <strong>{{
                                totalCostOfThreeMeal(
                                    element.chiTietGaoTienAn,
                                    'total'
                                )
                            }}</strong>
                            <!-- priceConvert -->
                        </ng-container>

                        <ng-container *ngSwitchDefault></ng-container>
                    </ng-container>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedBoxPriceColumns"></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedBoxPriceColumns"
            ></tr>
            <tr
                mat-footer-row
                *matFooterRowDef="displayedBoxPriceColumns; sticky: true"
            ></tr>
        </table>
    </div>
</ng-template>

<ng-template #templateExtraPrice let-element="element">
    <div class="wrapper-table-dynamic">
        <p
            class="wrapper-text text-alert text-alert--small text-alert--default"
        >
            <span
                >Mức tiền ăn:
                {{
                    totalCostOfThreeMeal(element.chiTietGaoTienAn, 'rate')
                }}đ/người/ngày</span
            >
            <!-- priceConvert -->
        </p>

        <table mat-table [dataSource]="element.chiTietAnThem">
            <ng-container
                matColumnDef="{{ boxPrice }}"
                *ngFor="let boxPrice of displayedBoxExtraPriceColumns"
            >
                <th mat-header-cell *matHeaderCellDef>
                    {{ getUserNameColumnBoxPrice(boxPrice, 'extra') }}
                </th>
                <td mat-cell *matCellDef="let elementBoxPrice">
                    <ng-container
                        *ngIf="
                            boxPrice === 'mucTienAnThem' ||
                                boxPrice === 'tongTienAnThem';
                            else contentMeal
                        "
                    >
                        {{ elementBoxPrice[boxPrice] }}
                        <!-- priceConvert -->
                    </ng-container>
                    <ng-template #contentMeal>
                        <ng-container
                            *ngIf="boxPrice === 'loai'; else contentDefault"
                        >
                            {{ convertToExtra(elementBoxPrice[boxPrice]) }}
                        </ng-container>
                    </ng-template>

                    <ng-template #contentDefault>
                        {{ elementBoxPrice[boxPrice] }}
                    </ng-template>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <ng-container [ngSwitch]="boxPrice">
                        <ng-container *ngSwitchCase="'loai'">
                            <strong>Tổng</strong>
                        </ng-container>
                        <ng-container *ngSwitchCase="'tongTienAnThem'">
                            <strong>{{
                                totalCostOfThreeMeal(
                                    element.chiTietAnThem,
                                    'extra'
                                )
                            }}</strong>
                            <!-- priceConvert -->
                        </ng-container>

                        <ng-container *ngSwitchDefault></ng-container>
                    </ng-container>
                </td>
            </ng-container>

            <tr
                mat-header-row
                *matHeaderRowDef="displayedBoxExtraPriceColumns"
            ></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedBoxExtraPriceColumns"
            ></tr>
            <tr
                mat-footer-row
                *matFooterRowDef="displayedBoxExtraPriceColumns; sticky: true"
            ></tr>
        </table>
    </div>
</ng-template>

<ng-template #templateFood let-element="element">
    <div class="wrapper-table-dynamic">
        <p
            class="wrapper-text text-alert text-alert--small text-alert--default"
        >
            <span>Mức tiền ăn: {{ element.mucTien }}đ/người/ngày</span>
            <!-- priceConvert -->
            <span
                >Mức ăn:
                {{
                    totalCostOfThreeMeal(
                        element.chiTietGaoTienAn,
                        'foodRate'
                    ).toFixed(3) * 1000
                }}g/người/ngày</span
            >
        </p>

        <table mat-table [dataSource]="element.chiTietGaoTienAn">
            <ng-container
                matColumnDef="{{ boxPrice }}"
                *ngFor="let boxPrice of displayedFoodColumns"
            >
                <th mat-header-cell *matHeaderCellDef>
                    {{ getUserNameColumnBoxPrice(boxPrice, 'food') }}
                </th>
                <td mat-cell *matCellDef="let elementBoxPrice">
                    <ng-container
                        *ngIf="
                            boxPrice === 'dinhLuongGao' ||
                                boxPrice === 'tongGao';
                            else contentMeal
                        "
                    >
                        {{ elementBoxPrice[boxPrice].toFixed(3) }}
                    </ng-container>
                    <ng-template #contentMeal>
                        <ng-container
                            *ngIf="boxPrice === 'buoi'; else contentDefault"
                        >
                            {{ convertToMeal(elementBoxPrice[boxPrice]) }}
                        </ng-container>
                    </ng-template>

                    <ng-template #contentDefault>
                        {{ elementBoxPrice[boxPrice] }}
                    </ng-template>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <ng-container [ngSwitch]="boxPrice">
                        <ng-container *ngSwitchCase="'buoi'">
                            <strong>Tổng</strong>
                        </ng-container>
                        <ng-container *ngSwitchCase="'tongGao'">
                            <strong>{{
                                totalCostOfThreeMeal(
                                    element.chiTietGaoTienAn,
                                    'food'
                                ).toFixed(3)
                            }}</strong>
                        </ng-container>

                        <ng-container *ngSwitchDefault></ng-container>
                    </ng-container>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedFoodColumns"></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedFoodColumns"
            ></tr>
            <tr
                mat-footer-row
                *matFooterRowDef="displayedFoodColumns; sticky: true"
            ></tr>
        </table>
    </div>
</ng-template>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isEdit && !dataEdit"></mat-spinner>
</div>
