.page__list {
    .box {
        background: #ededed;
        margin-right: -16px;
        margin-left: -16px;
        padding: 18px 0;
        text-align: center;
        text-transform: uppercase;

        p {
            padding: 0;
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 2px;
        }
    }
}

.px-15 {
    padding: 0 15px;
}

.card-info-user {
    .info-account {
        .title {
            margin-top: 0;
            font-size: 18px;
            font-weight: bold;
        }

        .body {
            margin-top: 55px;
        }
    }

    .change-password {
        padding-top: 16px;

        .title {
            margin-top: 0;
            font-size: 18px;
            font-weight: bold;
        }

        .body {
            margin-top: 30px;
        }
    }
}
