<div class="page__list">
    <div class="px-15">
        <mat-card class="card-info-user">
            <form *ngIf="formInfo" [formGroup]="formInfo">
                <div class="info-account">
                    <p class="title">Thông tin tài khoản</p>
                    <mat-divider></mat-divider>
                    <div class="body">
                        <dynamic-form-builder
                            [form]="formInfo"
                            [fields]="fieldsInfo"
                        >
                        </dynamic-form-builder>
                    </div>
                </div>
            </form>

            <form *ngIf="formPassword" [formGroup]="formPassword">
                <div class="change-password">
                    <div class="box">
                        <p class="box-title">Đổi mật khẩu</p>
                    </div>
                    <div class="body">
                        <dynamic-form-builder
                            [form]="formPassword"
                            [fields]="fieldsPassword"
                        >
                        </dynamic-form-builder>
                    </div>
                </div>
            </form>

            <!-- <mat-divider></mat-divider> -->

            <mat-card-actions align="center">
                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Lưu'"
                    [color]="'primary'"
                    [iconLeft]="'fa fa-save'"
                    (handleClick)="onSubmit()"
                ></app-button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
