<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="heading">
        <div mat-dialog-title>Mức tiền ăn</div>
    </div>

    <div mat-dialog-content>
        <dynamic-form-builder
            [form]="form"
            [fields]="getFields()"
            [data]="data"
        >
        </dynamic-form-builder>
    </div>

    <div mat-dialog-actions class="btn-group footer" align="end">
        <app-button
            [type]="'button'"
            [matType]="'stroked'"
            [title]="'Đóng'"
            [color]="'primary'"
            (handleClick)="onCloseDialog()"
        ></app-button>
        <app-button
            [type]="'submit'"
            [matType]="'flat'"
            [title]="'Lưu lại'"
            [color]="'primary'"
            [isDisabled]="!form.valid"
        ></app-button>
    </div>
</form>
