<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="heading">
        <div mat-dialog-title>
            <i class="fa fa-pencil-square-o"></i>
            {{ !data.datas ? 'Tạo mới thông tin' : 'Chỉnh sửa thông tin' }}
        </div>

        <mat-icon (click)="onCloseDialog()">close</mat-icon>
    </div>

    <mat-tab-group animationDuration="0ms">
        <mat-tab *ngFor="let tab of tabs">
            <ng-template mat-tab-label>
                <i class="{{ tab.icon }} tab-icon"></i>
                {{ tab.label }}
            </ng-template>

            <div mat-dialog-content>
                <dynamic-form-builder
                    [form]="form"
                    [fields]="getFields()"
                    [data]="data"
                    [groupCode]="tab.groupCode"
                >
                </dynamic-form-builder>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div mat-dialog-actions align="end" class="btn-group">
        <app-button
            [type]="'button'"
            [matType]="'flat'"
            [title]="'Xác nhận xóa'"
            [color]="'warn'"
            [iconRight]="'fa fa-trash'"
            [hidden]="!isEnableDelete"
            (handleClick)="handleDelete()"
        ></app-button>

        <app-button
            [type]="'button'"
            [matType]="'flat'"
            [title]="'Trở lại'"
            [color]="'basic'"
            [iconRight]="'fa fa-rotate-right'"
            [hidden]="!isEnableDelete"
            (handleClick)="onCancelDelete()"
        ></app-button>

        <app-button
            [type]="'button'"
            [matType]="'flat'"
            [title]="'Xóa'"
            [color]="'warn'"
            [iconRight]="'fa fa-trash'"
            [hidden]="isEnableDelete || !data.datas"
            (handleClick)="onDelete()"
        ></app-button>

        <app-button
            [type]="'submit'"
            [matType]="'flat'"
            [title]="'Lưu'"
            [color]="'primary'"
            [iconRight]="'fa fa-save'"
            [hidden]="isEnableDelete"
            [isDisabled]="!form.valid"
        ></app-button>
    </div>
</form>
