.mat-dialog-title {
    margin: 0 0 20px;
    display: block;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    color: #081449;
}

.mat-dialog-content {
    -webkit-overflow-scrolling: touch;
    display: block;
    margin: 10px auto;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    .text {
        color: #081449;

        .name {
            font-weight: bold;
        }
    }
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px;

    .icon {
        stroke-width: 1;
        font-size: 80px;
        text-align: center;
        stroke: #ffc107;
        color: #ffc107;
    }
}
