<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH LƯƠNG THỰC THỰC PHẨM, CHẤT ĐỐT
            </h4>

            <div class="btn-group" *ngIf="allowExec === true">
                <app-button
                    [type]="'button'"
                    [matType]="'stroked'"
                    [title]="'Xoá danh sách đã chọn'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-trash'"
                    [isDisabled]="selection.selected.length == 0"
                    (handleClick)="deleteMultiAction()"
                ></app-button>

                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="createAction()"
                ></app-button>
            </div>
        </div>

        <mat-divider class="header-divider"></mat-divider>

        <div class="search-layout" *ngIf="typeOptions.length > 0">
            <app-search-advanced
                [label]="'Tìm kiếm'"
                [placeHolder]="'Tìm kiếm theo tên LTTP, CĐ'"
                [fieldSearch]="fieldSearch"
                (getSearchInfo)="handleSearchAdvanced($event)"
                (getSearchName)="handleInputFilter($event)"
            ></app-search-advanced>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="select">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="text-center"
                        >
                            <mat-checkbox
                                (change)="$event ? toggleAllRows() : null"
                                [checked]="
                                    selection.hasValue() && isAllSelected()
                                "
                                [indeterminate]="
                                    selection.hasValue() && !isAllSelected()
                                "
                                [aria-label]="checkboxLabel()"
                            >
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <mat-checkbox
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Code Column -->
                    <ng-container matColumnDef="maLttpChatDot">
                        <th mat-header-cell *matHeaderCellDef>Mã LTTP, CĐ</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.maLttpChatDot }}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="tenLttpChatDot">
                        <th mat-header-cell *matHeaderCellDef>Tên LTTP, CĐ</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenLttpChatDot }}
                        </td>
                    </ng-container>

                    <!-- Type Column -->
                    <ng-container matColumnDef="tenNhomLttpChatDot">
                        <th mat-header-cell *matHeaderCellDef>Nhóm LTTP, CĐ</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenNhomLttpChatDot }}
                        </td>
                    </ng-container>

                    <!-- Type Column -->
                    <ng-container matColumnDef="classify">
                        <th mat-header-cell *matHeaderCellDef>
                            Phân loại LTTP, chất đốt
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ getObjectElementUser(element.phanLoai, 'TYPE') }}
                        </td>
                    </ng-container>

                    <!-- Unit Column -->
                    <ng-container matColumnDef="donViTinhId">
                        <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                getObjectElementUser(
                                    element.donViTinhId,
                                    'UNIT'
                                )
                            }}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="phanLoaiNhom">
                        <th mat-header-cell *matHeaderCellDef>
                            Phân loại nhóm
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                getObjectElementUser(element.value1, 'CLASSIFY')
                            }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="editAction(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                                Cập nhật
                            </button>

                            <button
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteAction(element)"
                            >
                                <i class="fa fa-trash"></i> Xóa
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <mat-paginator
                    #paginator
                    [length]="totalRows"
                    [pageIndex]="currentPage"
                    [pageSize]="pageSize"
                    hidePageSize
                    showFirstLastButtons
                    (page)="pageChanged($event)"
                    aria-label="Select page"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
