<style type="text/css">
    .tg {
        border-collapse: separate;
        border-spacing: 0;
        position: relative;
    }
    .tg td {
        /* border-color: black !important; */
        border-style: solid;
        border-width: 0.25px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 5px;
        word-break: normal;
    }
    .tg th {
        /* border-color: black !important; */
        border-style: solid;
        border-width: 0.25px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 5px;
        word-break: normal;
    }

    .tg .tg-9wq8 {
        border-color: inherit;
        text-align: center;
        vertical-align: middle;
    }

    .tg .tg-9wq8.enabled:hover {
        cursor: pointer;
        background-color: #fdf5f5;
    }

    .tg .tg-ix2u {
        background-color: #fedddb;
        border-color: inherit;
        font-weight: bold;
        vertical-align: middle;
        text-align: center;
    }
    .tg .tg-zlqz {
        background-color: #dbd9d9;
        border-color: inherit;
        font-weight: bold;
        text-align: center;
        vertical-align: top;
    }
    .tg .tg-baqh {
        text-align: center;
        vertical-align: top;
    }
    .tg .tg-8m8h {
        background-color: #cbcefb;
        border-color: inherit;
        font-weight: bold;
        text-align: center;
        vertical-align: top;
    }
    .tg .tg-c3ow {
        border-color: inherit;
        text-align: center;
        vertical-align: top;
    }
    .tg .tg-efol {
        position: sticky;
        top: 0;
        background-color: #e6ebeb;
        border-color: inherit;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }
    .tg .tg-jqxo {
        background-color: #dbffda;
        border-color: inherit;
        font-weight: bold;
        vertical-align: middle;
        text-align: center;
    }
    .tg .tg-esup {
        position: sticky;
        top: 32px;
        background-color: #e7e9fa;
        border-color: inherit;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        z-index: 10;
    }

    .tg .tg-esup.enabled:hover {
        cursor: pointer;
        background-color: #bdc1e7;
    }

    .tg .tg-amwm {
        border-color: inherit;
        font-weight: bold;
        text-align: center;
        vertical-align: top;
    }

    .sticky-col {
        position: -webkit-sticky;
        position: sticky;
        background-color: white;
        z-index: 10;
    }

    .index-col {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        left: 0px;
    }

    .day-col {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        left: 50px;
    }

    .name-col {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        left: 50px;
    }

    .name-title-col {
        top: 32px;
        z-index: 1000;
    }

    .an-col {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        left: 300px;
    }

    .an-sang-col {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        left: 300px;
    }

    .an-trua-col {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        left: 350px;
    }

    .an-chieu-col {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        left: 400px;
    }

    .khongan-col {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        left: 450px;
    }

    .khongan-sang-col {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        left: 450px;
    }

    .khongan-trua-col {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        left: 500px;
    }

    .khongan-chieu-col {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        left: 550px;
    }

    .rise-up {
        z-index: 1000;
    }

    .bottom-0 {
        bottom: 0;
    }

    .top-32 {
        top: 32px;
    }

    .tg .total-row {
        background-color: #fff;
        position: sticky;
        bottom: 0;
    }
</style>

<ng-container
    *ngIf="(dotQuanSoAnOptions.length === 0 && !dataEdit) || isLoading"
    class="spinner-custom"
>
    <mat-spinner></mat-spinner>
</ng-container>

<div class="page__list">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="isShow">
        <div class="container-fluid">
            <div class="header">
                <h4 class="adjustment__title">
                    <mat-icon>assignment</mat-icon>
                    CHẤM CƠM '{{ tenPhieuChamCom }}' - CHẤM KHÔNG ĂN
                </h4>

                <div
                    class="adjustment__btn-group"
                    [ngClass]="dotQuanSoAnOptions.length > 0 ? 'd-flex' : null"
                >
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Quay lại danh sách'"
                        [color]="'warn'"
                        [iconRight]="'fa fa-power-off'"
                        (handleClick)="onBack()"
                    ></app-button>

                    <ng-container *ngIf="allowExec === true">
                        <div class="mx-10">
                            <button
                                *ngIf="dotQuanSoAnOptions.length > 0"
                                mat-stroked-button
                                color="primary"
                                [type]="'button'"
                                [matMenuTriggerFor]="menu"
                            >
                                Chọn xuất báo cáo
                            </button>
                            <mat-menu
                                class="menuExcel"
                                #menu="matMenu"
                                xPosition="before"
                            >
                                <app-button
                                    [type]="'button'"
                                    [matType]="'stroked'"
                                    [title]="'Báo cáo chi tiêu tiền ăn'"
                                    [color]="'primary'"
                                    [iconRight]="'fa fa-file-excel-o'"
                                    (handleClick)="exportExcelBaoCao()"
                                ></app-button>

                                <app-button
                                    class="ml-0 mt-10"
                                    [type]="'button'"
                                    [matType]="'stroked'"
                                    [title]="'Báo cáo chia xuất cơm'"
                                    [color]="'primary'"
                                    [iconRight]="'fa fa-file-excel-o'"
                                    (handleClick)="exportExcelChiaSuatCom()"
                                ></app-button>
                            </mat-menu>
                        </div>

                        <app-button
                            [type]="'submit'"
                            [matType]="'flat'"
                            [title]="'Lưu'"
                            [color]="'primary'"
                            [iconRight]="'fa fa-save'"
                            [hidden]="dotQuanSoAnOptions.length === 0"
                        ></app-button>
                    </ng-container>
                </div>
            </div>

            <mat-divider class="divider-custom"></mat-divider>

            <p
                *ngIf="dotQuanSoAnOptions.length === 0"
                style="margin-left: 12px"
            >
                Chưa có dữ liệu quân số ăn
            </p>

            <div *ngIf="dotQuanSoAnOptions.length > 0" style="margin-top: 16px">
                <dynamic-form-builder
                    [form]="form"
                    [fields]="fields"
                ></dynamic-form-builder>
            </div>

            <!-- <mat-divider class="divider-custom"></mat-divider> -->

            <!-- SEARCH -->
            <div
                class="search-layout"
                *ngIf="userOptions.length > 0 && !isLoading"
            >
                <app-search
                    [fieldSearch]="fieldSearch"
                    (getSearchInfo)="handleSearch($event)"
                ></app-search>
            </div>

            <mat-tab-group
                animationDuration="0ms"
                *ngIf="userOptions.length > 0 && !isLoading"
                (focusChange)="handleTab($event)"
            >
                <mat-tab label="Chấm cơm">
                    <div class="tab__content">
                        <div style="text-align: right">
                            <!-- <mat-checkbox
                              style="margin-top: 7px"
                              [formControl]="isChamKhongAn"
                              >Chấm không ăn</mat-checkbox
                          > -->

                            <div
                                class="adjustment__btn-group"
                                *ngIf="allowExec === true"
                            >
                                <app-button
                                    [type]="'button'"
                                    [matType]="'stroked'"
                                    [title]="'Khôi phục dữ liệu bảng'"
                                    [color]="'warn'"
                                    [iconRight]="'fa fa-rotate-right'"
                                    (handleClick)="resetDataChamCom()"
                                ></app-button>

                                <button
                                    style="margin-left: 12px"
                                    mat-stroked-button
                                    color="primary"
                                    [type]="'button'"
                                    [matMenuTriggerFor]="exportChamCom"
                                >
                                    Xuất Excel
                                    <i
                                        class="fa fa-file-excel-o"
                                        style="
                                            vertical-align: unset;
                                            margin-left: 4px;
                                        "
                                    ></i>
                                </button>
                                <mat-menu
                                    class="menuExcel"
                                    #exportChamCom="matMenu"
                                    xPosition="before"
                                >
                                    <app-button
                                        [type]="'button'"
                                        [matType]="'stroked'"
                                        [title]="'Chấm không ăn'"
                                        [color]="'primary'"
                                        [iconRight]="'fa fa-file-excel-o'"
                                        (handleClick)="
                                            exportExcelChamCom(false)
                                        "
                                    ></app-button>

                                    <app-button
                                        class="ml-0 mt-10"
                                        [type]="'button'"
                                        [matType]="'stroked'"
                                        [title]="'Chấm ăn'"
                                        [color]="'primary'"
                                        [iconRight]="'fa fa-file-excel-o'"
                                        (handleClick)="exportExcelChamCom(true)"
                                    ></app-button>
                                </mat-menu>
                            </div>
                        </div>

                        <div class="chamcom__wrapper">
                            <table class="tg" style="table-layout: fixed">
                                <colgroup>
                                    <col style="width: 25px" />
                                    <col style="width: 25px" />
                                    <col style="width: 25px" />
                                    <col style="width: 25px" />
                                    <col style="width: 25px" />
                                    <col style="width: 25px" />
                                    <col style="width: 25px" />
                                    <col style="width: 25px" />
                                    <col style="width: 25px" />
                                    <col style="width: 25px" />
                                    <col style="width: 50px" />
                                    <!-- <col style="width: 50px" />
                                  <col style="width: 50px" />
                                  <col style="width: 50px" />
                                  <col style="width: 50px" />
                                  <col style="width: 50px" />
                                  <col style="width: 50px" /> -->
                                    <ng-container
                                        *ngFor="
                                            let data of dataRenderByDayClone
                                        "
                                    >
                                        <col style="width: 30px" />
                                        <col style="width: 30px" />
                                        <col style="width: 30px" />
                                    </ng-container>
                                </colgroup>

                                <thead>
                                    <tr>
                                        <th
                                            class="tg-efol sticky-col index-col rise-up"
                                            colspan="2"
                                            rowspan="2"
                                        >
                                            TT
                                        </th>
                                        <th
                                            class="tg-efol sticky-col day-col rise-up"
                                            colspan="9"
                                        >
                                            Ngày
                                        </th>
                                        <!-- <th
                                          class="tg-efol sticky-col an-col rise-up"
                                          colspan="3"
                                      >
                                          Ăn
                                      </th>
                                      <th
                                          class="tg-efol sticky-col khongan-col rise-up"
                                          colspan="3"
                                      >
                                          Không ăn
                                      </th> -->
                                        <ng-container
                                            *ngFor="
                                                let data of dataRenderByDayClone
                                            "
                                        >
                                            <th
                                                class="tg-efol"
                                                style="z-index: 10"
                                                colspan="3"
                                            >
                                                {{ data.day }}

                                                <!-- <span
                                                  *ngIf="
                                                      daysMarked.includes(
                                                          data.day
                                                      ) ||
                                                      data.danhSach.length > 0
                                                  "
                                              >
                                                  <i
                                                      class="fa fa-check"
                                                      style="color: #55b639"
                                                  ></i>
                                              </span> -->
                                            </th>
                                        </ng-container>
                                    </tr>
                                    <tr>
                                        <th
                                            class="tg-jqxo sticky-col name-col name-title-col"
                                            colspan="9"
                                        >
                                            Họ và tên
                                        </th>
                                        <!-- <th
                                          class="tg-jqxo sticky-col an-sang-col top-32 rise-up"
                                      >
                                          S
                                      </th>
                                      <th
                                          class="tg-jqxo sticky-col an-trua-col top-32 rise-up"
                                      >
                                          T
                                      </th>
                                      <th
                                          class="tg-jqxo sticky-col an-chieu-col top-32 rise-up"
                                      >
                                          C
                                      </th>
                                      <th
                                          class="tg-jqxo sticky-col khongan-sang-col top-32 rise-up"
                                      >
                                          S
                                      </th>
                                      <th
                                          class="tg-jqxo sticky-col khongan-trua-col top-32 rise-up"
                                      >
                                          T
                                      </th>
                                      <th
                                          class="tg-jqxo sticky-col khongan-chieu-col top-32 rise-up"
                                      >
                                          C
                                      </th> -->
                                        <ng-container
                                            *ngFor="
                                                let data of dataRenderByDayClone
                                            "
                                        >
                                            <th
                                                class="tg-esup"
                                                [ngClass]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'enabled'
                                                        : 'disabled'
                                                "
                                                (click)="
                                                    handleCheckAll(data, 0)
                                                "
                                                [matTooltip]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'Chấm không ăn cho tất cả - buổi sáng - ngày ' +
                                                          data.day
                                                        : null
                                                "
                                                matTooltipClass="example-tooltip-uppercase"
                                                matTooltipPosition="above"
                                            >
                                                S
                                            </th>
                                            <th
                                                class="tg-esup"
                                                [ngClass]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'enabled'
                                                        : 'disabled'
                                                "
                                                (click)="
                                                    handleCheckAll(data, 1)
                                                "
                                                [matTooltip]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'Chấm không ăn cho tất cả - buổi trưa - ngày ' +
                                                          data.day
                                                        : null
                                                "
                                                matTooltipClass="example-tooltip-uppercase"
                                                matTooltipPosition="above"
                                            >
                                                T
                                            </th>
                                            <th
                                                class="tg-esup"
                                                [ngClass]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'enabled'
                                                        : 'disabled'
                                                "
                                                (click)="
                                                    handleCheckAll(data, 2)
                                                "
                                                [matTooltip]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'Chấm không ăn cho tất cả - buổi chiều - ngày ' +
                                                          data.day
                                                        : null
                                                "
                                                matTooltipClass="example-tooltip-uppercase"
                                                matTooltipPosition="above"
                                            >
                                                C
                                            </th>
                                        </ng-container>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr
                                        *ngFor="
                                            let user of userOptionsClone
                                                | paginate
                                                    : {
                                                          itemsPerPage: 31,
                                                          currentPage: p,
                                                          totalItems: totalItems
                                                      };
                                            let i = index
                                        "
                                    >
                                        <td
                                            class="tg-9wq8 sticky-col index-col"
                                            colspan="2"
                                        >
                                            {{ i + 1 }}
                                        </td>
                                        <td
                                            class="tg-9wq8 sticky-col name-col"
                                            colspan="9"
                                        >
                                            <div class="fullname-wrapper">
                                                <span>{{ user.name }}</span>

                                                <i
                                                    class="fa fa-calendar"
                                                    matTooltip="Chấm không ăn - nhiều ngày"
                                                    matTooltipClass="example-tooltip-uppercase"
                                                    matTooltipPosition="above"
                                                    (click)="
                                                        handleChamNhieuNgay(
                                                            user
                                                        )
                                                    "
                                                    *ngIf="allowExec === true"
                                                ></i>
                                            </div>
                                        </td>
                                        <!-- <td
                                          class="tg-9wq8 sticky-col an-sang-col"
                                      >
                                          {{
                                              dataRenderByDay.length -
                                                  getTotalFollowUser(
                                                      user.key,
                                                      0
                                                  )
                                          }}
                                      </td>
                                      <td
                                          class="tg-9wq8 sticky-col an-trua-col"
                                      >
                                          {{
                                              dataRenderByDay.length -
                                                  getTotalFollowUser(
                                                      user.key,
                                                      1
                                                  )
                                          }}
                                      </td>
                                      <td
                                          class="tg-9wq8 sticky-col an-chieu-col"
                                      >
                                          {{
                                              dataRenderByDay.length -
                                                  getTotalFollowUser(
                                                      user.key,
                                                      2
                                                  )
                                          }}
                                      </td>
                                      <td
                                          class="tg-9wq8 sticky-col khongan-sang-col"
                                      >
                                          {{
                                              getTotalFollowUser(user.key, 0)
                                          }}
                                      </td>
                                      <td
                                          class="tg-9wq8 sticky-col khongan-trua-col"
                                      >
                                          {{
                                              getTotalFollowUser(user.key, 1)
                                          }}
                                      </td>
                                      <td
                                          class="tg-9wq8 sticky-col khongan-chieu-col"
                                      >
                                          {{
                                              getTotalFollowUser(user.key, 2)
                                          }}
                                      </td> -->
                                        <ng-container
                                            *ngFor="
                                                let data of dataRenderByDayClone
                                            "
                                        >
                                            <td
                                                class="tg-9wq8"
                                                [ngClass]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'enabled'
                                                        : 'disabled'
                                                "
                                                [matTooltip]="
                                                    getLyDoKhongAn(
                                                        data.day,
                                                        user.key,
                                                        0
                                                    )
                                                "
                                                matTooltipClass="example-tooltip-uppercase"
                                                matTooltipPosition="above"
                                                (click)="
                                                    handleTickOnSession(
                                                        data,
                                                        user.key,
                                                        0
                                                    )
                                                "
                                            >
                                                <div
                                                    *ngIf="
                                                        daysMarked.includes(
                                                            getDateClicked(
                                                                data.day
                                                            )
                                                        )
                                                    "
                                                >
                                                    <span
                                                        class="chamcom-text"
                                                        *ngIf="
                                                            checkDataKhongAn(
                                                                data,
                                                                user.key,
                                                                0
                                                            );
                                                            else other
                                                        "
                                                    >
                                                        0
                                                    </span>

                                                    <ng-template #other>
                                                        <span
                                                            style="
                                                                color: seagreen;
                                                                opacity: 0.5;
                                                                user-select: none;
                                                            "
                                                            >1</span
                                                        >
                                                    </ng-template>
                                                </div>
                                            </td>
                                            <td
                                                class="tg-9wq8"
                                                [ngClass]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'enabled'
                                                        : 'disabled'
                                                "
                                                [matTooltip]="
                                                    getLyDoKhongAn(
                                                        data.day,
                                                        user.key,
                                                        1
                                                    )
                                                "
                                                matTooltipClass="example-tooltip-uppercase"
                                                matTooltipPosition="above"
                                                (click)="
                                                    handleTickOnSession(
                                                        data,
                                                        user.key,
                                                        1
                                                    )
                                                "
                                            >
                                                <div
                                                    *ngIf="
                                                        daysMarked.includes(
                                                            getDateClicked(
                                                                data.day
                                                            )
                                                        )
                                                    "
                                                >
                                                    <span
                                                        class="chamcom-text"
                                                        *ngIf="
                                                            checkDataKhongAn(
                                                                data,
                                                                user.key,
                                                                1
                                                            );
                                                            else other
                                                        "
                                                    >
                                                        0
                                                    </span>

                                                    <ng-template #other>
                                                        <span
                                                            style="
                                                                color: seagreen;
                                                                opacity: 0.5;
                                                                user-select: none;
                                                            "
                                                            >1</span
                                                        >
                                                    </ng-template>
                                                </div>
                                            </td>
                                            <td
                                                class="tg-9wq8"
                                                [ngClass]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'enabled'
                                                        : 'disabled'
                                                "
                                                [matTooltip]="
                                                    getLyDoKhongAn(
                                                        data.day,
                                                        user.key,
                                                        2
                                                    )
                                                "
                                                matTooltipClass="example-tooltip-uppercase"
                                                matTooltipPosition="above"
                                                (click)="
                                                    handleTickOnSession(
                                                        data,
                                                        user.key,
                                                        2
                                                    )
                                                "
                                            >
                                                <div
                                                    *ngIf="
                                                        daysMarked.includes(
                                                            getDateClicked(
                                                                data.day
                                                            )
                                                        )
                                                    "
                                                >
                                                    <span
                                                        class="chamcom-text"
                                                        *ngIf="
                                                            checkDataKhongAn(
                                                                data,
                                                                user.key,
                                                                2
                                                            );
                                                            else other
                                                        "
                                                    >
                                                        0
                                                    </span>

                                                    <ng-template #other>
                                                        <span
                                                            style="
                                                                color: seagreen;
                                                                opacity: 0.5;
                                                                user-select: none;
                                                            "
                                                            >1</span
                                                        >
                                                    </ng-template>
                                                </div>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <tr
                                        *ngIf="
                                            userOptionsClone.length ===
                                            userOptions.length
                                        "
                                    >
                                        <td
                                            class="tg-amwm sticky-col index-col bottom-0 rise-up"
                                            colspan="2"
                                        ></td>
                                        <td
                                            class="tg-amwm sticky-col day-col bottom-0 rise-up"
                                            colspan="9"
                                        >
                                            Cộng
                                        </td>
                                        <!-- <td
                                          class="tg-9wq8 sticky-col an-sang-col bottom-0 rise-up"
                                      >
                                          {{
                                              dataRenderByDay.length *
                                                  userOptions.length -
                                                  getTotalAll(0)
                                          }}
                                      </td>
                                      <td
                                          class="tg-9wq8 sticky-col an-trua-col bottom-0 rise-up"
                                      >
                                          {{
                                              dataRenderByDay.length *
                                                  userOptions.length -
                                                  getTotalAll(1)
                                          }}
                                      </td>
                                      <td
                                          class="tg-9wq8 sticky-col an-chieu-col bottom-0 rise-up"
                                      >
                                          {{
                                              dataRenderByDay.length *
                                                  userOptions.length -
                                                  getTotalAll(2)
                                          }}
                                      </td>
                                      <td
                                          class="tg-9wq8 sticky-col khongan-sang-col bottom-0 rise-up"
                                      >
                                          {{ getTotalAll(0) }}
                                      </td>
                                      <td
                                          class="tg-9wq8 sticky-col khongan-trua-col bottom-0 rise-up"
                                      >
                                          {{ getTotalAll(1) }}
                                      </td>
                                      <td
                                          class="tg-9wq8 sticky-col khongan-chieu-col bottom-0 rise-up"
                                      >
                                          {{ getTotalAll(2) }}
                                      </td> -->
                                        <ng-container
                                            *ngFor="
                                                let data of dataRenderByDayClone
                                            "
                                        >
                                            <td class="tg-9wq8 total-row">
                                                <span
                                                    *ngIf="
                                                        getTotalFollowDay(
                                                            data.day,
                                                            0
                                                        ) > 0;
                                                        else other
                                                    "
                                                    style="
                                                        color: rgb(16, 77, 209);
                                                        font-weight: bold;
                                                    "
                                                >
                                                    {{
                                                        getTotalFollowDay(
                                                            data.day,
                                                            0
                                                        )
                                                    }}
                                                </span>
                                                <ng-template
                                                    #other
                                                ></ng-template>
                                            </td>
                                            <td class="tg-9wq8 total-row">
                                                <span
                                                    *ngIf="
                                                        getTotalFollowDay(
                                                            data.day,
                                                            1
                                                        ) > 0;
                                                        else other
                                                    "
                                                    style="
                                                        color: rgb(16, 77, 209);
                                                        font-weight: bold;
                                                    "
                                                >
                                                    {{
                                                        getTotalFollowDay(
                                                            data.day,
                                                            1
                                                        )
                                                    }}
                                                </span>
                                                <ng-template
                                                    #other
                                                ></ng-template>
                                            </td>
                                            <td class="tg-9wq8 total-row">
                                                <span
                                                    *ngIf="
                                                        getTotalFollowDay(
                                                            data.day,
                                                            2
                                                        ) > 0;
                                                        else other
                                                    "
                                                    style="
                                                        color: rgb(16, 77, 209);
                                                        font-weight: bold;
                                                    "
                                                >
                                                    {{
                                                        getTotalFollowDay(
                                                            data.day,
                                                            2
                                                        )
                                                    }}
                                                </span>
                                                <ng-template
                                                    #other
                                                ></ng-template>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <pagination-controls
                            *ngIf="
                                userOptions.length > 0 &&
                                userOptionsClone.length === userOptions.length
                            "
                            (pageChange)="p = $event; handlePageChange($event)"
                            previousLabel=""
                            nextLabel=""
                        ></pagination-controls>
                    </div>
                </mat-tab>

                <mat-tab label="Ăn ốm">
                    <div class="tab__content">
                        <style type="text/css">
                            .tg .tg-ix2u {
                                position: sticky;
                                top: 0;
                                background-color: #e6ebeb;
                                border-color: inherit;
                                font-weight: bold;
                                text-align: center;
                                vertical-align: middle;
                            }
                            .tg .tg-c3ow {
                                border-color: inherit;
                                text-align: center;
                                vertical-align: top;
                            }
                            .tg .tg-c3ow.enabled:hover {
                                background-color: #fdf5f5;
                            }
                            .tg .tg-f79y {
                                position: sticky;
                                top: 0;
                                background-color: #e6ebeb;
                                border-color: inherit;
                                font-weight: bold;
                                text-align: center;
                                vertical-align: top;
                            }
                            .tg .tg-n533 {
                                position: sticky;
                                top: 31.6px;
                                background-color: #e7effb;
                                border-color: inherit;
                                font-weight: bold;
                                text-align: center;
                                vertical-align: top;
                                user-select: none;
                            }

                            .tg .tg-n533.enabled:hover {
                                cursor: pointer;
                                background-color: #c8d9f3;
                            }

                            .tg .tg-n533.marked {
                                opacity: 1;
                            }

                            .tg .tg-0pky {
                                border-color: inherit;
                                text-align: left;
                                vertical-align: top;
                            }
                        </style>

                        <div
                            style="text-align: right"
                            *ngIf="allowExec === true"
                        >
                            <app-button
                                [type]="'button'"
                                [matType]="'stroked'"
                                [title]="'Xuất Excel'"
                                [color]="'primary'"
                                [iconRight]="'fa fa-file-excel-o'"
                                (handleClick)="exportExcelAnThem()"
                            ></app-button>
                        </div>

                        <div
                            class="chamcom__wrapper"
                            *ngIf="userOptions.length > 0"
                        >
                            <table class="tg" style="table-layout: fixed">
                                <colgroup>
                                    <col style="width: 35px" />
                                    <col style="width: 45px" />
                                    <col style="width: 45px" />
                                    <col style="width: 45px" />
                                    <col style="width: 40px" />
                                    <ng-container
                                        *ngFor="
                                            let data of dataRenderByDayClone
                                        "
                                    >
                                        <col style="width: 20px"
                                    /></ng-container>
                                </colgroup>

                                <thead>
                                    <tr>
                                        <th
                                            class="tg-ix2u sticky-col index-col rise-up"
                                            rowspan="2"
                                        >
                                            STT
                                        </th>
                                        <th
                                            class="tg-ix2u"
                                            colspan="3"
                                            rowspan="2"
                                        >
                                            Họ và tên
                                        </th>
                                        <th class="tg-ix2u" rowspan="2">
                                            Cộng
                                        </th>
                                        <th
                                            class="tg-f79y"
                                            [attr.colspan]="
                                                dataRenderByDayClone.length
                                            "
                                        >
                                            Ngày trong tháng
                                        </th>
                                    </tr>
                                    <tr>
                                        <ng-container
                                            *ngFor="
                                                let data of dataRenderByDayClone
                                            "
                                        >
                                            <th
                                                class="tg-n533"
                                                [ngClass]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'enabled'
                                                        : 'disabled'
                                                "
                                                (click)="
                                                    handleCheckAllAnThem(data)
                                                "
                                            >
                                                {{ data.day }}
                                            </th>
                                        </ng-container>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="
                                            let user of userOptionsClone
                                                | paginate
                                                    : {
                                                          itemsPerPage: 31,
                                                          currentPage: p,
                                                          totalItems: totalItems
                                                      };
                                            let i = index
                                        "
                                    >
                                        <td class="tg-c3ow">{{ i + 1 }}</td>
                                        <td class="tg-0pky" colspan="3">
                                            {{ user.name }}
                                        </td>
                                        <td class="tg-c3ow">
                                            {{ getTotalAnThem(user.key, 0) }}
                                        </td>
                                        <ng-container
                                            *ngFor="
                                                let data of dataRenderByDayClone
                                            "
                                        >
                                            <td
                                                class="tg-c3ow"
                                                [ngClass]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'enabled'
                                                        : 'disabled'
                                                "
                                                (click)="
                                                    handleCheckAnThem(
                                                        data,
                                                        user.key
                                                    )
                                                "
                                            >
                                                <ng-container
                                                    *ngFor="
                                                        let item of data.danhSachAnThem
                                                    "
                                                >
                                                    <span
                                                        class="chamcom-text"
                                                        *ngIf="
                                                            item.chiTietDotQuanSoAnId ===
                                                                user.key &&
                                                                item.anThem.includes(
                                                                    0
                                                                );
                                                            else other
                                                        "
                                                    >
                                                        x
                                                    </span>
                                                    <ng-template
                                                        #other
                                                    ></ng-template>
                                                </ng-container>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <pagination-controls
                            *ngIf="
                                userOptions.length > 0 &&
                                userOptionsClone.length === userOptions.length
                            "
                            (pageChange)="p = $event; handlePageChange($event)"
                            previousLabel=""
                            nextLabel=""
                        ></pagination-controls>
                    </div>
                </mat-tab>

                <mat-tab label="Ăn lễ">
                    <div class="tab__content">
                        <div
                            style="text-align: right"
                            *ngIf="allowExec === true"
                        >
                            <app-button
                                [type]="'button'"
                                [matType]="'stroked'"
                                [title]="'Xuất Excel'"
                                [color]="'primary'"
                                [iconRight]="'fa fa-file-excel-o'"
                                (handleClick)="exportExcelAnThem()"
                            ></app-button>
                        </div>

                        <div
                            class="chamcom__wrapper"
                            *ngIf="userOptions.length > 0"
                        >
                            <table class="tg" style="table-layout: fixed">
                                <colgroup>
                                    <col style="width: 35px" />
                                    <col style="width: 45px" />
                                    <col style="width: 45px" />
                                    <col style="width: 45px" />
                                    <col style="width: 40px" />
                                    <ng-container
                                        *ngFor="
                                            let data of dataRenderByDayClone
                                        "
                                    >
                                        <col style="width: 20px"
                                    /></ng-container>
                                </colgroup>

                                <thead>
                                    <tr>
                                        <th
                                            class="tg-ix2u sticky-col index-col rise-up"
                                            rowspan="2"
                                        >
                                            STT
                                        </th>
                                        <th
                                            class="tg-ix2u"
                                            colspan="3"
                                            rowspan="2"
                                        >
                                            Họ và tên
                                        </th>
                                        <th class="tg-ix2u" rowspan="2">
                                            Cộng
                                        </th>
                                        <th
                                            class="tg-f79y"
                                            [attr.colspan]="
                                                dataRenderByDayClone.length
                                            "
                                        >
                                            Ngày trong tháng
                                        </th>
                                    </tr>
                                    <tr>
                                        <ng-container
                                            *ngFor="
                                                let data of dataRenderByDayClone
                                            "
                                        >
                                            <th
                                                class="tg-n533"
                                                [ngClass]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'enabled'
                                                        : 'disabled'
                                                "
                                                (click)="
                                                    handleCheckAllAnThem(data)
                                                "
                                            >
                                                {{ data.day }}
                                            </th>
                                        </ng-container>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="
                                            let user of userOptionsClone
                                                | paginate
                                                    : {
                                                          itemsPerPage: 31,
                                                          currentPage: p,
                                                          totalItems: totalItems
                                                      };
                                            let i = index
                                        "
                                    >
                                        <td class="tg-c3ow">{{ i + 1 }}</td>
                                        <td class="tg-0pky" colspan="3">
                                            {{ user.name }}
                                        </td>
                                        <td class="tg-c3ow">
                                            {{ getTotalAnThem(user.key, 1) }}
                                        </td>
                                        <ng-container
                                            *ngFor="
                                                let data of dataRenderByDayClone
                                            "
                                        >
                                            <td
                                                class="tg-c3ow"
                                                [ngClass]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'enabled'
                                                        : 'disabled'
                                                "
                                                (click)="
                                                    handleCheckAnThem(
                                                        data,
                                                        user.key
                                                    )
                                                "
                                            >
                                                <ng-container
                                                    *ngFor="
                                                        let item of data.danhSachAnThem
                                                    "
                                                >
                                                    <span
                                                        class="chamcom-text"
                                                        *ngIf="
                                                            item.chiTietDotQuanSoAnId ===
                                                                user.key &&
                                                                item.anThem.includes(
                                                                    1
                                                                );
                                                            else other
                                                        "
                                                    >
                                                        x
                                                    </span>
                                                    <ng-template
                                                        #other
                                                    ></ng-template>
                                                </ng-container>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <pagination-controls
                            *ngIf="
                                userOptions.length > 0 &&
                                userOptionsClone.length === userOptions.length
                            "
                            (pageChange)="p = $event; handlePageChange($event)"
                            previousLabel=""
                            nextLabel=""
                        ></pagination-controls>
                    </div>
                </mat-tab>

                <mat-tab label="Ăn nhiệm vụ">
                    <div class="tab__content">
                        <div
                            style="text-align: right"
                            *ngIf="allowExec === true"
                        >
                            <app-button
                                [type]="'button'"
                                [matType]="'stroked'"
                                [title]="'Xuất Excel'"
                                [color]="'primary'"
                                [iconRight]="'fa fa-file-excel-o'"
                                (handleClick)="exportExcelAnThem()"
                            ></app-button>
                        </div>

                        <div
                            class="chamcom__wrapper"
                            *ngIf="userOptions.length > 0"
                        >
                            <table class="tg" style="table-layout: fixed">
                                <colgroup>
                                    <col style="width: 35px" />
                                    <col style="width: 45px" />
                                    <col style="width: 45px" />
                                    <col style="width: 45px" />
                                    <col style="width: 40px" />
                                    <ng-container
                                        *ngFor="
                                            let data of dataRenderByDayClone
                                        "
                                    >
                                        <col style="width: 20px"
                                    /></ng-container>
                                </colgroup>

                                <thead>
                                    <tr>
                                        <th
                                            class="tg-ix2u sticky-col index-col rise-up"
                                            rowspan="2"
                                        >
                                            STT
                                        </th>
                                        <th
                                            class="tg-ix2u"
                                            colspan="3"
                                            rowspan="2"
                                        >
                                            Họ và tên
                                        </th>
                                        <th class="tg-ix2u" rowspan="2">
                                            Cộng
                                        </th>
                                        <th
                                            class="tg-f79y"
                                            [attr.colspan]="
                                                dataRenderByDayClone.length
                                            "
                                        >
                                            Ngày trong tháng
                                        </th>
                                    </tr>
                                    <tr>
                                        <ng-container
                                            *ngFor="
                                                let data of dataRenderByDayClone
                                            "
                                        >
                                            <th
                                                class="tg-n533"
                                                [ngClass]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'enabled'
                                                        : 'disabled'
                                                "
                                                (click)="
                                                    handleCheckAllAnThem(data)
                                                "
                                            >
                                                {{ data.day }}
                                            </th>
                                        </ng-container>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="
                                            let user of userOptionsClone
                                                | paginate
                                                    : {
                                                          itemsPerPage: 31,
                                                          currentPage: p,
                                                          totalItems: totalItems
                                                      };
                                            let i = index
                                        "
                                    >
                                        <td class="tg-c3ow">{{ i + 1 }}</td>
                                        <td class="tg-0pky" colspan="3">
                                            {{ user.name }}
                                        </td>
                                        <td class="tg-c3ow">
                                            {{ getTotalAnThem(user.key, 2) }}
                                        </td>
                                        <ng-container
                                            *ngFor="
                                                let data of dataRenderByDayClone
                                            "
                                        >
                                            <td
                                                class="tg-c3ow"
                                                [ngClass]="
                                                    getDateClicked(data.day) >=
                                                    currentDate.getTime()
                                                        ? 'enabled'
                                                        : 'disabled'
                                                "
                                                (click)="
                                                    handleCheckAnThem(
                                                        data,
                                                        user.key
                                                    )
                                                "
                                            >
                                                <ng-container
                                                    *ngFor="
                                                        let item of data.danhSachAnThem
                                                    "
                                                >
                                                    <span
                                                        class="chamcom-text"
                                                        *ngIf="
                                                            item.chiTietDotQuanSoAnId ===
                                                                user.key &&
                                                                item.anThem.includes(
                                                                    2
                                                                );
                                                            else other
                                                        "
                                                    >
                                                        x
                                                    </span>
                                                    <ng-template
                                                        #other
                                                    ></ng-template>
                                                </ng-container>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <pagination-controls
                            *ngIf="
                                userOptions.length > 0 &&
                                userOptionsClone.length === userOptions.length
                            "
                            (pageChange)="p = $event; handlePageChange($event)"
                            previousLabel=""
                            nextLabel=""
                        ></pagination-controls>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </form>
</div>
