<div class="page__list" [hidden]="isLoading === true">
    <div class="container-fluid">
        <!-- <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                SỔ NHẬP XUẤT LƯƠNG THỰC THỰC PHẨM
            </h4>
        </div> -->

        <div class="financial-statistical">
            <div class="financial-item" *ngFor="let financial of statisticals">
                <div class="financial-icon" [ngClass]="financial.class">
                    <mat-icon>{{ financial.icon }} </mat-icon>
                </div>
                <div class="financial-box">
                    <p class="financial-total">
                        {{ financial.value }}
                    </p>
                    <div class="financial-title">{{ financial.title }}</div>
                </div>
            </div>
        </div>

        <mat-divider class="px-20 light-pink"></mat-divider>

        <div class="wrapper-chart">
            <p class="bold">
                Quân số ăn
                <span class="ml-25 normal">{{ yesterday }}</span>
            </p>

            <ng-container *ngIf="dataTable.length > 0">
                <ng-container *ngFor="let data of dataTable">
                    <div class="box">
                        <p class="p-x10-y5 light-pink-bg m-0">
                            Đơn vị: {{ data.name }}
                        </p>
                        <ng-container
                            [ngTemplateOutlet]="templateTable"
                            [ngTemplateOutletContext]="{
                                element: data.chiTiet
                            }"
                        ></ng-container>
                    </div>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="dataTable.length <= 0">
                <p>Không có chấm cơm ngày {{ yesterday }} để thống kê</p>
            </ng-container>
        </div>

        <mat-divider class="px-20 light-pink"></mat-divider>

        <div class="wrapper-table">
            <form
                *ngIf="form"
                [formGroup]="form"
                class="form-submit d-flex"
                (ngSubmit)="filter()"
            >
                <dynamic-form-builder
                    class="w-100"
                    [form]="form"
                    [fields]="basicFields"
                >
                </dynamic-form-builder>

                <app-button
                    [type]="'submit'"
                    [matType]="'flat'"
                    [title]="'Lọc'"
                    [iconLeft]="'fa fa-filter'"
                    [color]="'primary'"
                ></app-button>
                <app-button
                    [type]="'reset'"
                    [matType]="'flat'"
                    [title]="'Xóa'"
                    [iconLeft]="'fa fa-repeat'"
                    [color]="'primary'"
                    (click)="handleReset()"
                ></app-button>
            </form>

            <table mat-table [dataSource]="dataSource.data">
                <ng-container matColumnDef="kho">
                    <th mat-header-cell *matHeaderCellDef>Kho</th>
                    <td mat-cell *matCellDef="let element" class="text-left">
                        {{ element.tenKho }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="tenVT">
                    <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.tenLttpChatDot }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="nhomNVL">
                    <th mat-header-cell *matHeaderCellDef>Nhóm NVL</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.tenNhomLttpChatDot }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="dvt">
                    <th mat-header-cell *matHeaderCellDef>ĐVT</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.donViTinh }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="donGia">
                    <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.donGia }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="tonDau">
                    <th mat-header-cell *matHeaderCellDef>Tồn đầu kỳ</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.tonDauKy }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="nhap">
                    <th mat-header-cell *matHeaderCellDef>Nhập</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.tongNhap }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="xuat">
                    <th mat-header-cell *matHeaderCellDef>Xuất</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.tongXuat }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="ton">
                    <th mat-header-cell *matHeaderCellDef>Tồn</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.ton }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button
                            class="btn btn-xs green ng-star-inserted"
                            (click)="viewDetails(element)"
                        >
                            Chi tiết
                        </button>
                    </td>
                </ng-container>

                <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumnsOfField"
                ></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumnsOfField"
                ></tr>
            </table>

            <ng-container *ngIf="dataSource.data.length <= 0">
                <p class="text-nodata">Không có vật tư hàng hoá</p>
            </ng-container>

            <mat-paginator
                class="custom-paginator"
                [pageSizeOptions]="[10, 15, 20]"
                showFirstLastButtons
            >
            </mat-paginator>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>

<ng-template #templateTable let-element="element">
    <table class="tg m-0">
        <colgroup>
            <col style="width: 130px" />
            <col style="width: 100px" />
            <col style="width: 50px" />
            <col style="width: 50px" />
            <col style="width: 50px" />
            <col style="width: 50px" />
            <col style="width: 50px" />
            <col style="width: 50px" />
            <col style="width: 50px" />
            <col style="width: 50px" />
            <col style="width: 50px" />
            <col style="width: 100px" />
            <col style="width: 100px" />
            <col style="width: 100px" />
            <col style="width: 100px" />
        </colgroup>
        <thead>
            <tr>
                <th class="tg-qymg" rowspan="2">Đối tượng</th>
                <th class="tg-qymg" rowspan="2">Quân số</th>
                <ng-container *ngFor="let money of listMoney">
                    <th class="tg-wa1i" colspan="3">M.ăn {{ money }}đ/người</th>
                </ng-container>
                <th class="tg-7btt" colspan="4">Quân số không ăn</th>
            </tr>
            <tr>
                <ng-container *ngFor="let money of listMoney">
                    <th class="tg-wa1i">S</th>
                    <th class="tg-wa1i">T</th>
                    <th class="tg-wa1i">C</th>
                </ng-container>
                <th class="tg-7btt">Bệnh viện</th>
                <th class="tg-wa1i">Bệnh xá</th>
                <th class="tg-7btt">Khác</th>
                <th class="tg-7btt">Phép</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of element">
                <ng-container [ngSwitch]="item.mucTienAn">
                    <ng-container *ngSwitchCase="listMoney[0]">
                        <tr>
                            <td class="tg-iucd">{{ item.doiTuong }}</td>
                            <td class="tg-0p91">{{ item.quanSo }}</td>
                            <td class="tg-baqh">{{ item.sang }}</td>
                            <td class="tg-baqh">{{ item.trua }}</td>
                            <td class="tg-baqh">{{ item.chieu }}</td>
                            <td class="tg-baqh"></td>
                            <td class="tg-baqh"></td>
                            <td class="tg-baqh"></td>
                            <td class="tg-baqh"></td>
                            <td class="tg-baqh"></td>
                            <td class="tg-baqh"></td>
                            <td class="tg-0pky">
                                {{
                                    item['Bệnh viện'] > 0
                                        ? item['Bệnh viện']
                                        : ''
                                }}
                            </td>
                            <td class="tg-0lax">
                                {{ item['Bệnh xá'] > 0 ? item['Bệnh xá'] : '' }}
                            </td>
                            <td class="tg-0pky">
                                {{ item['Khác'] > 0 ? item['Khác'] : '' }}
                            </td>
                            <td class="tg-0pky">
                                {{ item['Phép'] > 0 ? item['Phép'] : '' }}
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngSwitchCase="listMoney[1]">
                        <tr>
                            <td class="tg-iucd">{{ item.doiTuong }}</td>
                            <td class="tg-0p91">{{ item.quanSo }}</td>

                            <td class="tg-baqh"></td>
                            <td class="tg-baqh"></td>
                            <td class="tg-baqh"></td>
                            <td class="tg-baqh">{{ item.sang }}</td>
                            <td class="tg-baqh">{{ item.trua }}</td>
                            <td class="tg-baqh">{{ item.chieu }}</td>
                            <td class="tg-baqh"></td>
                            <td class="tg-baqh"></td>
                            <td class="tg-baqh"></td>
                            <td class="tg-0pky">
                                {{
                                    item['Bệnh viện'] > 0
                                        ? item['Bệnh viện']
                                        : ''
                                }}
                            </td>
                            <td class="tg-0lax">
                                {{ item['Bệnh xá'] > 0 ? item['Bệnh xá'] : '' }}
                            </td>
                            <td class="tg-0pky">
                                {{ item['Khác'] > 0 ? item['Khác'] : '' }}
                            </td>
                            <td class="tg-0pky">
                                {{ item['Phép'] > 0 ? item['Phép'] : '' }}
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngSwitchCase="listMoney[2]">
                        <tr>
                            <td class="tg-iucd">{{ item.doiTuong }}</td>
                            <td class="tg-0p91">{{ item.quanSo }}</td>

                            <td class="tg-baqh"></td>
                            <td class="tg-baqh"></td>
                            <td class="tg-baqh"></td>
                            <td class="tg-baqh"></td>
                            <td class="tg-baqh"></td>
                            <td class="tg-baqh"></td>
                            <td class="tg-baqh">{{ item.sang }}</td>
                            <td class="tg-baqh">{{ item.trua }}</td>
                            <td class="tg-baqh">{{ item.chieu }}</td>
                            <td class="tg-0pky">
                                {{
                                    item['Bệnh viện'] > 0
                                        ? item['Bệnh viện']
                                        : ''
                                }}
                            </td>
                            <td class="tg-0lax">
                                {{ item['Bệnh xá'] > 0 ? item['Bệnh xá'] : '' }}
                            </td>
                            <td class="tg-0pky">
                                {{ item['Khác'] > 0 ? item['Khác'] : '' }}
                            </td>
                            <td class="tg-0pky">
                                {{ item['Phép'] > 0 ? item['Phép'] : '' }}
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
</ng-template>
