.wrapper-row-control {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: flex-end;

    .row-control {
        flex: 1 1 48%;
        width: 48%;

        .mat-form-field {
            width: 100%;
        }
    }
}

.row-control-status {
    .mat-radio-button {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 30px;
    }
}

.mat-dialog-actions-custom {
    text-align: right;
}

::ng-deep .add-field-dialog-class {
    mat-dialog-container {
        overflow: hidden;
        padding: 0 0 24px;

        // .mat-form-field-appearance-outline .mat-form-field-outline {
        //     color: rgba(0, 0, 0, 0.25);
        // }

        .heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: #8775a7
            background-color: #337ab7;
            padding: 0 20px;

            .mat-dialog-title {
                margin: 0;
                padding: 8px 0;
                height: 52px;
                line-height: 36px;
                text-align: center;
                color: #fff;
            }

            mat-icon {
                text-align: center;
                border: 1px solid #ccc;
                border-radius: 50%;
                background-color: #fff;
                font-size: 18px;
                font-weight: 600;
                line-height: 22px;
                opacity: 1;

                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }

        .mat-dialog-content {
            margin: 30px 0 0;
            padding: 0 20px;
            min-height: 200px;

            .container {
                width: 100%;
            }

            // .mat-form-field-wrapper {
            //     padding-bottom: 1em;
            // }

            .mat-tab-body-content {
                margin-top: 20px;
            }
        }

        .mat-dialog-actions {
            padding: 0 20px;
            background-color: #e5e5e5;
        }
    }
}

.searchInner {
    top: 0;
    width: 100%;
    z-index: 100;
    font-size: inherit;
    box-shadow: none;
    border-radius: 0;
    -webkit-transform: translate3d(0, 0, 0);
    background-color: #fff;
    position: sticky;
    margin-bottom: 10px;
}

::ng-deep .searchInner > .mat-form-field-wrapper {
    padding-bottom: 0px;
}

::ng-deep .searchInner > .mat-form-field-wrapper > .mat-form-field-underline {
    bottom: 0px;
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    animation-name: cdk-text-field-autofill-end;
}
