<form
    *ngIf="rfDialog"
    class="rfDialog-form"
    [formGroup]="rfDialog"
    autocomplete="off"
    (ngSubmit)="onSubmit()"
>
    <div class="heading">
        <div mat-dialog-title>
            <i class="fa fa-pencil-square-o"></i>
            {{ data.title }}
        </div>
    </div>

    <div mat-dialog-content>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Phân quyền">
                <dynamic-form-builder
                    [form]="rfDialog"
                    [fields]="getFields()"
                    [data]="data.dataDialogValue"
                >
                </dynamic-form-builder>
            </mat-tab>
            <mat-tab label="Khác">
                <form
                    [formGroup]="formOthers"
                    class="form-submit mt-20"
                    *ngIf="formOthers"
                >
                    <dynamic-form-builder
                        [form]="formOthers"
                        [fields]="getOthersFields()"
                        [data]="data.dataDialogValue"
                    >
                    </dynamic-form-builder>
                </form>
            </mat-tab>
        </mat-tab-group>
    </div>

    <!-- <div class="mat-dialog-actions-custom">
    <button mat-button type="button" (click)="onNoClick()">
        
    </button>
    <button mat-button type="submit">
        {{ data.type === 'ADD' ? 'Tạo mới' : 'Lưu lại' }}
    </button>
</div> -->

    <div mat-dialog-actions align="end" class="btn-group">
        <app-button
            [type]="'button'"
            [matType]="'flat'"
            [title]="'Quay lại danh sách'"
            [color]="'primary'"
            (handleClick)="onNoClick()"
        ></app-button>

        <app-button
            [type]="'submit'"
            [matType]="'flat'"
            [title]="data.type === 'ADD' ? 'Tạo mới' : 'Lưu lại'"
            [color]="'primary'"
            [isDisabled]="!rfDialog.valid"
        ></app-button>
    </div>
</form>

<!-- <ng-template
    #templateMatSelect
    let-title="title"
    let-form="form"
    let-options="options"
    let-valueItem="valueItem"
>
    <mat-form-field [formGroup]="rfDialog" *ngIf="form === 'donViThuocQuanLy'">
        <mat-label>{{ title }}</mat-label>
        <mat-select
            [formControlName]="form"
            (selectionChange)="handleChangeManagerCook($event)"
        >
            <mat-option *ngFor="let food of options" [value]="food">
                {{ food.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field [formGroup]="rfDialog" *ngIf="form !== 'donViThuocQuanLy'">
        <mat-label>{{ title }}</mat-label>
        <mat-select [formControlName]="form">
            <mat-option *ngFor="let food of options" [value]="food[valueItem]">
                {{ food.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-template> -->
