<div class="form-group" [formGroup]="form">
    <ng-container *ngIf="!isFlatForm && tabCtrl" [formGroupName]="tabCtrl">
        <ng-container [formGroupName]="groupCtrl">
            <div [ngSwitch]="field.type">
                <fb-text
                    *ngSwitchCase="'TEXT'"
                    [field]="field"
                    [form]="form"
                    [tabCtrl]="tabCtrl"
                    [groupCtrl]="groupCtrl"
                ></fb-text>

                <fb-password
                    *ngSwitchCase="'PASSWORD'"
                    [field]="field"
                    [form]="form"
                    [tabCtrl]="tabCtrl"
                    [groupCtrl]="groupCtrl"
                ></fb-password>

                <fb-textarea
                    *ngSwitchCase="'TEXTAREA'"
                    [field]="field"
                    [form]="form"
                    [tabCtrl]="tabCtrl"
                    [groupCtrl]="groupCtrl"
                ></fb-textarea>

                <fb-email
                    *ngSwitchCase="'EMAIL'"
                    [field]="field"
                    [form]="form"
                    [tabCtrl]="tabCtrl"
                    [groupCtrl]="groupCtrl"
                ></fb-email>

                <fb-datetime
                    *ngSwitchCase="'DATETIME'"
                    [field]="field"
                    [form]="form"
                    [tabCtrl]="tabCtrl"
                    [groupCtrl]="groupCtrl"
                ></fb-datetime>

                <fb-number
                    *ngSwitchCase="'NUMBER'"
                    [field]="field"
                    [form]="form"
                    [tabCtrl]="tabCtrl"
                    [groupCtrl]="groupCtrl"
                ></fb-number>

                <fb-select
                    *ngSwitchCase="'SELECT'"
                    [field]="field"
                    [form]="form"
                    [tabCtrl]="tabCtrl"
                    [groupCtrl]="groupCtrl"
                ></fb-select>

                <fb-multiselect
                    *ngSwitchCase="'MULTISELECT'"
                    [field]="field"
                    [form]="form"
                    [tabCtrl]="tabCtrl"
                    [groupCtrl]="groupCtrl"
                ></fb-multiselect>

                <fb-checkbox
                    *ngSwitchCase="'CHECKBOX'"
                    [field]="field"
                    [form]="form"
                    [tabCtrl]="tabCtrl"
                    [groupCtrl]="groupCtrl"
                >
                </fb-checkbox>

                <fb-radio
                    *ngSwitchCase="'RADIO'"
                    [field]="field"
                    [form]="form"
                    [tabCtrl]="tabCtrl"
                    [groupCtrl]="groupCtrl"
                ></fb-radio>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isFlatForm && tabCtrl">
        <div [ngSwitch]="field.type">
            <fb-text
                *ngSwitchCase="'TEXT'"
                [field]="field"
                [form]="form"
                [tabCtrl]="tabCtrl"
                [groupCtrl]="groupCtrl"
                [isFlatForm]="isFlatForm"
            ></fb-text>

            <fb-password
                *ngSwitchCase="'PASSWORD'"
                [field]="field"
                [form]="form"
                [tabCtrl]="tabCtrl"
                [groupCtrl]="groupCtrl"
                [isFlatForm]="isFlatForm"
            ></fb-password>

            <fb-textarea
                *ngSwitchCase="'TEXTAREA'"
                [field]="field"
                [form]="form"
                [tabCtrl]="tabCtrl"
                [groupCtrl]="groupCtrl"
                [isFlatForm]="isFlatForm"
            ></fb-textarea>

            <fb-email
                *ngSwitchCase="'EMAIL'"
                [field]="field"
                [form]="form"
                [tabCtrl]="tabCtrl"
                [groupCtrl]="groupCtrl"
                [isFlatForm]="isFlatForm"
            ></fb-email>

            <fb-datetime
                *ngSwitchCase="'DATETIME'"
                [field]="field"
                [form]="form"
                [tabCtrl]="tabCtrl"
                [groupCtrl]="groupCtrl"
                [isFlatForm]="isFlatForm"
            ></fb-datetime>

            <fb-number
                *ngSwitchCase="'NUMBER'"
                [field]="field"
                [form]="form"
                [tabCtrl]="tabCtrl"
                [groupCtrl]="groupCtrl"
                [isFlatForm]="isFlatForm"
            ></fb-number>

            <fb-select
                *ngSwitchCase="'SELECT'"
                [field]="field"
                [form]="form"
                [tabCtrl]="tabCtrl"
                [groupCtrl]="groupCtrl"
                [isFlatForm]="isFlatForm"
            ></fb-select>

            <fb-multiselect
                *ngSwitchCase="'MULTISELECT'"
                [field]="field"
                [form]="form"
                [tabCtrl]="tabCtrl"
                [groupCtrl]="groupCtrl"
                [isFlatForm]="isFlatForm"
            ></fb-multiselect>

            <fb-checkbox
                *ngSwitchCase="'CHECKBOX'"
                [field]="field"
                [form]="form"
                [tabCtrl]="tabCtrl"
                [groupCtrl]="groupCtrl"
                [isFlatForm]="isFlatForm"
            >
            </fb-checkbox>

            <fb-radio
                *ngSwitchCase="'RADIO'"
                [field]="field"
                [form]="form"
                [tabCtrl]="tabCtrl"
                [groupCtrl]="groupCtrl"
                [isFlatForm]="isFlatForm"
            ></fb-radio>
        </div>
    </ng-container>

    <div *ngIf="!isFlatForm && !tabCtrl" [ngSwitch]="field.type">
        <fb-text *ngSwitchCase="'TEXT'" [field]="field" [form]="form"></fb-text>

        <fb-password
            *ngSwitchCase="'PASSWORD'"
            [field]="field"
            [form]="form"
        ></fb-password>

        <fb-textarea
            *ngSwitchCase="'TEXTAREA'"
            [field]="field"
            [form]="form"
        ></fb-textarea>

        <fb-email
            *ngSwitchCase="'EMAIL'"
            [field]="field"
            [form]="form"
        ></fb-email>

        <fb-datetime
            *ngSwitchCase="'DATETIME'"
            [field]="field"
            [form]="form"
        ></fb-datetime>

        <fb-number
            *ngSwitchCase="'NUMBER'"
            [field]="field"
            [form]="form"
        ></fb-number>

        <fb-select
            *ngSwitchCase="'SELECT'"
            [field]="field"
            [form]="form"
        ></fb-select>

        <fb-multiselect
            *ngSwitchCase="'MULTISELECT'"
            [field]="field"
            [form]="form"
        ></fb-multiselect>

        <fb-checkbox *ngSwitchCase="'CHECKBOX'" [field]="field" [form]="form">
        </fb-checkbox>

        <fb-radio
            *ngSwitchCase="'RADIO'"
            [field]="field"
            [form]="form"
        ></fb-radio>

        <fb-radio2
            *ngSwitchCase="'RADIO2'"
            [field]="field"
            [form]="form"
        ></fb-radio2>

        <fb-file *ngSwitchCase="'FILE'" [field]="field" [form]="form"></fb-file>
    </div>
</div>
