<h1 mat-dialog-title>
    <span> Đơn vị gốc: {{ currentUnit.name }}</span>
</h1>

<div mat-dialog-content *ngIf="data && datalistUnit.length">
    <div class="wrapper-content">
        <mat-form-field appearance="standard">
            <mat-label>Đơn vị tính</mat-label>
            <mat-select
                [(ngModel)]="selectedValue"
                name="unitItem"
                (selectionChange)="handleChangeUnitItem($event)"
            >
                <mat-option
                    *ngFor="let unitItem of datalistUnit"
                    [value]="unitItem.index"
                >
                    {{ unitItem.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-icon>swap_horiz</mat-icon>
        <p *ngIf="selectedValue">{{ valueUnitSwapChange }}</p>
        <p>{{ currentUnit.name }}</p>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Hủy</button>
    <button mat-button [mat-dialog-close]="bodyData" cdkFocusInitial>
        Lưu
    </button>
</div>
