.header {
    padding-bottom: 24px;
}

.footer {
    align-items: center;
    justify-content: space-between;

    .file-input {
        display: none;
    }
}

mat-form-field {
    width: 100%;
}
.mat-dialog-content {
    margin: 0;
    overflow: auto;
}

.min-h-70 {
    min-height: 70px !important;
}

.accordion-item {
    margin-top: 20px;
}

input[type='file'] {
    display: none;
}

.primary {
    color: white;
    background-color: #337ab7;
}

.ml-auto {
    margin-left: auto;
}

// ::ng-deep mat-tab-group {
//     width: 100%;

//     .tab-icon {
//         margin-right: 8px;
//     }

//     .mat-tab-body-content {
//         height: unset !important;
//         overflow: unset !important;
//     }
// }

// ::ng-deep .my-custom-dialog-class {
//     mat-dialog-container {
//         overflow: hidden;
//         padding: 0 0 24px;

//         // .mat-form-field-appearance-outline .mat-form-field-outline {
//         //     color: rgba(0, 0, 0, 0.25);
//         // }

//         .heading {
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             background-color: #8775a7;
//             padding: 0 15px;

//             .mat-dialog-title {
//                 margin: 0;
//                 padding: 8px 0;
//                 height: 52px;
//                 line-height: 36px;
//                 text-align: center;
//                 color: #fff;
//             }

//             mat-icon {
//                 text-align: center;
//                 width: 36px;
//                 border: 1px solid #ccc;
//                 border-radius: 50%;
//                 background-color: #fff;
//                 font-size: 18px;
//                 font-weight: 600;
//                 line-height: 22px;
//                 opacity: 1;

//                 &:hover {
//                     cursor: pointer;
//                     opacity: 0.8;
//                 }
//             }
//         }

//         .mat-dialog-content {
//             margin-top: 30px;
//             min-height: 200px;

//             .container {
//                 width: 100%;
//             }
//         }

//         .mat-dialog-actions {
//             padding: 0 15px;
//             background-color: #e5e5e5;

//             button {
//                 + button {
//                     margin-left: 12px;
//                 }

//                 &:hover {
//                     opacity: 0.8;
//                 }

//                 .mat-button-wrapper {
//                     // display: flex;
//                     // align-items: center;

//                     i {
//                         vertical-align: unset;
//                     }
//                 }
//             }
//         }
//     }
// }
