<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="heading">
        <div
            mat-dialog-title
            *ngIf="
                data.typeDialog !== 'CHAMCOM' &&
                data.typeDialog !== 'CHAMCOM_UPDATE' &&
                data.typeDialog !== 'editTT' &&
                data.typeDialog !== 'createTT' &&
                data.typeDialog !== 'excelChiaAn'
            "
        >
            <i class="fa fa-pencil-square-o"></i>
            {{ !data.datas ? 'Tạo mới thông tin' : 'Chỉnh sửa thông tin' }}
        </div>

        <div
            mat-dialog-title
            *ngIf="
                data.typeDialog === 'editTT' || data.typeDialog === 'createTT'
            "
        >
            {{
                !data.datas
                    ? 'Tạo mới thông tư'
                    : 'Chỉnh sửa thông tư ' + data.datas.soThongTu
            }}
        </div>

        <div mat-dialog-title *ngIf="data.typeDialog === 'CHAMCOM'">
            <i class="fa fa-pencil-square-o"></i>
            {{ data.name }}
        </div>

        <div mat-dialog-title *ngIf="data.typeDialog === 'CHAMCOM_UPDATE'">
            <i class="fa fa-pencil-square-o"></i>
            Chấm không ăn - nhiều ngày cho {{ data.name }}
        </div>

        <div mat-dialog-title *ngIf="data.typeDialog === 'excelChiaAn'">
            <i class="fa fa-pencil-square-o"></i>
            Chọn ngày xuất excel
        </div>

        <mat-icon (click)="onCloseDialog()">close</mat-icon>
    </div>

    <div
        [ngClass]="{ 'min-h-70': data.typeDialog === 'excelChiaAn' }"
        mat-dialog-content
        *ngIf="
            data.typeDialog !== 'field' &&
            data.typeDialog !== 'editTT' &&
            data.typeDialog !== 'createTT'
        "
    >
        <dynamic-form-builder
            [form]="form"
            [fields]="getFields()"
            [data]="data"
        >
        </dynamic-form-builder>
    </div>

    <div
        mat-dialog-content
        *ngIf="
            (data.typeDialog !== 'field' && data.typeDialog === 'editTT') ||
            data.typeDialog === 'createTT'
        "
    >
        <dynamic-form-builder
            [form]="form"
            [fields]="getFields()"
            [data]="data"
        >
        </dynamic-form-builder>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="uploadMullti">
                    <mat-form-field
                        class="example-chip-list"
                        appearance="legacy"
                    >
                        <mat-label>Chọn tệp đính kèm</mat-label>
                        <mat-chip-list #chipList aria-label="Fruit selection">
                            <div
                                *ngIf="
                                    data.typeDialog === 'editTT';
                                    else noData
                                "
                            >
                                <mat-chip
                                    *ngFor="
                                        let file of listSelectedFiles.attachments
                                    "
                                    (removed)="remove(file)"
                                >
                                    {{ file.fileName }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                            </div>
                            <ng-template #noData>
                                <mat-chip
                                    *ngFor="let file of listSelectedFiles"
                                    (removed)="remove(file)"
                                >
                                    {{ file.name }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                            </ng-template>
                            <input
                                #fileUpload
                                type="file"
                                accept=".doc,.docx,application/msword,application/pdf"
                                class="file-input"
                                (change)="onFileSelected($event, 'selected')"
                                multiple
                                class="file-input"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="
                                    separatorKeysCodes
                                "
                            />
                            <button
                                align="end"
                                type="button"
                                mat-button
                                matSuffix
                                class="primary ml-auto"
                                (click)="fileUpload.click()"
                            >
                                Chọn file
                            </button>
                        </mat-chip-list>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <mat-tab-group animationDuration="0ms" *ngIf="data.typeDialog === 'field'">
        <mat-tab *ngFor="let tab of tabs">
            <ng-template mat-tab-label>
                <i class="{{ tab.icon }} tab-icon"></i>
                {{ tab.label }}
            </ng-template>

            <div mat-dialog-content>
                <dynamic-form-builder
                    [form]="form"
                    [fields]="getFields()"
                    [data]="data"
                    [groupCode]="tab.groupCode"
                >
                </dynamic-form-builder>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div mat-dialog-actions align="end" class="btn-group footer">
        <div class="input-file">
            <input
                #fileUpload
                type="file"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                class="file-input"
                (change)="onFileSelected($event)"
            />
            <div class="file-upload" [hidden]="data.typeDialog !== 'qldk'">
                <app-button
                    [type]="'button'"
                    [matType]="'mini-fab'"
                    [color]="'primary'"
                    [matIcon]="'attach_file'"
                    (handleClick)="fileUpload.click()"
                ></app-button>
                {{ fileName || 'No file uploaded yet.' }}
            </div>
        </div>

        <div
            class="action"
            align="end"
            *ngIf="
                data.typeDialog !== 'editTT' &&
                data.typeDialog !== 'createTT' &&
                data.typeDialog !== 'swapunit' &&
                data.typeDialog !== 'excelChiaAn' &&
                data.typeDialog !== 'lttp' &&
                data.typeDialog !== 'inventory' &&
                data.typeDialog !== 'doi-tuong-an' &&
                data.typeDialog !== 'CHAMCOM' &&
                data.typeDialog !== 'CHAMCOM_UPDATE' &&
                data.typeDialog !== 'INVENTORY_BEFORE'
            "
        >
            <app-button
                [type]="'button'"
                [matType]="'flat'"
                [title]="'Xác nhận xóa'"
                [color]="'warn'"
                [iconRight]="'fa fa-trash'"
                [hidden]="!isEnableDelete"
                (handleClick)="confirmDelete()"
            ></app-button>

            <app-button
                [type]="'button'"
                [matType]="'stroked'"
                [title]="'Trở lại'"
                [color]="'basic'"
                [iconRight]="'fa fa-rotate-right'"
                [hidden]="!isEnableDelete"
                (handleClick)="onCancelDelete()"
            ></app-button>

            <app-button
                [type]="'button'"
                [matType]="'flat'"
                [title]="'Xóa'"
                [color]="'warn'"
                [iconRight]="'fa fa-trash'"
                [hidden]="
                    isEnableDelete ||
                    !data.datas ||
                    !data.typeDialog ||
                    data.typeDialog === 'TAB'
                "
                (handleClick)="onDelete()"
            ></app-button>

            <app-button
                [type]="'submit'"
                [matType]="'flat'"
                [title]="'Lưu'"
                [color]="'primary'"
                [iconRight]="'fa fa-save'"
                [hidden]="isEnableDelete"
                [isDisabled]="!form.valid"
            ></app-button>
        </div>

        <div
            class="action"
            align="end"
            *ngIf="
                data.typeDialog !== 'excelChiaAn' &&
                data.typeDialog !== 'category' &&
                data.typeDialog !== 'editTT' &&
                data.typeDialog !== 'createTT'
            "
        >
            <app-button
                [type]="'submit'"
                [matType]="'flat'"
                [title]="'Lưu'"
                [color]="'primary'"
                [iconRight]="'fa fa-save'"
                [isDisabled]="!form.valid"
            ></app-button>
        </div>

        <div
            class="action"
            align="end"
            *ngIf="
                data.typeDialog === 'editTT' || data.typeDialog === 'createTT'
            "
        >
            <app-button
                [type]="'submit'"
                [matType]="'flat'"
                [title]="
                    listSelectedFiles.length === 0
                        ? 'Chưa upload file văn bản'
                        : data.datas
                        ? 'Lưu lại'
                        : 'Tạo mới'
                "
                [color]="'primary'"
                [iconLeft]="'fa fa-save'"
                [hidden]="isEnableDelete"
                [isDisabled]="!form.valid || listSelectedFiles.length === 0"
            ></app-button>
        </div>

        <div
            class="action"
            align="end"
            *ngIf="data.typeDialog === 'excelChiaAn'"
        >
            <app-button
                [type]="'submit'"
                [matType]="'flat'"
                [title]="'Xuất excel'"
                [color]="'primary'"
                [iconLeft]="'fa fa-save'"
                [hidden]="isEnableDelete"
                [isDisabled]="!form.valid"
            ></app-button>
        </div>
    </div>
</form>
