<!-- <ng-container *ngIf="thongTuId && !dataEdit" class="spinner-custom">
    <mat-spinner></mat-spinner>
</ng-container> -->
<div class="page__list page-plans">
    <div class="container-fluid">
        <form
            *ngIf="form"
            (ngSubmit)="onSubmit()"
            [formGroup]="formQuantive"
            class="form-submit"
        >
            <div class="header">
                <h4 class="adjustment__title">
                    <p class="text-title">
                        <mat-icon>assignment</mat-icon>
                        {{
                            this.isEdit
                                ? titleOnEdit
                                : 'Tạo mới tiêu chuẩn/ định lượng'
                        }}
                    </p>
                </h4>

                <div class="adjustment__btn-group">
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Hủy'"
                        [color]="'warn'"
                        [iconRight]="'fa fa-power-off'"
                        (handleClick)="onBack()"
                    ></app-button>

                    <app-button
                        [type]="'submit'"
                        [matType]="'flat'"
                        [title]="this.isEdit ? 'Lưu' : 'Tạo mới'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        [isDisabled]="
                            !form.valid || quantity.controls.length === 0
                        "
                    ></app-button>
                </div>
            </div>
            <div
                *ngIf="dataEdit && typeAction === 2"
                class="text-alert text-alert--danger"
            >
                <!-- Lý do từ chối: {{ dataEdit.notificationTitle || '' }} -->
                <!-- //notificationTitle: hiện tại thay lí do reject ở value1 -->
                Lý do từ chối: {{ dataEdit.value1 || '' }}
            </div>

            <mat-divider class="divider-custom"></mat-divider>

            <p class="text-alert text-alert--small text-alert--primary">
                Mức tiền ăn
            </p>
            <!-- <div
                class="standard-list col-md-12"
                style="
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                "
            >
                <mat-form-field appearance="standard">
                    <mat-label>-- Chọn đối tượng</mat-label>
                    <mat-select
                        [(ngModel)]="nameEatObject"
                        [ngModelOptions]="{ standalone: true }"
                        [disabled]="isEditDisabled"
                        multiple
                    >
                        <mat-option
                            *ngFor="
                                let eatObject of listEatObject;
                                let i = index
                            "
                            [value]="eatObject.key"
                            [disabled]="checkDisableMatOption(eatObject.key)"
                        >
                            {{ eatObject.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <div class="form-builder-content">
                <dynamic-form-builder [form]="form" [fields]="fields">
                </dynamic-form-builder>
            </div>
            <div
                class="text-alert text-alert--small text-alert--primary"
                style="display: flex; justify-content: space-between"
            >
                <span>Định lượng</span>
                <span>ĐVT/Người/Ngày</span>
            </div>
            <div class="standard-list col-md-12">
                <div class="standard-item col-md-3">
                    <mat-form-field appearance="standard">
                        <mat-select
                            [(ngModel)]="nameLTTP"
                            placeholder="-- Chọn nhóm LTTP, CĐ"
                            [ngModelOptions]="{ standalone: true }"
                        >
                            <mat-option
                                *ngFor="let food of listFoodFuel"
                                [value]="food.key"
                                [disabled]="checkDisableMatOption1(food.key)"
                            >
                                {{ food.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="standard-item col-md-3">
                    <mat-form-field appearance="standard">
                        <mat-select
                            [(ngModel)]="donViTinhId"
                            placeholder="Đơn vị tính"
                            [ngModelOptions]="{ standalone: true }"
                        >
                            <mat-option
                                *ngFor="let unit of listUnitCtegory"
                                [value]="unit.key"
                            >
                                {{ unit.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="standard-item col-md-3">
                    <mat-form-field appearance="standard">
                        <input
                            matInput
                            [(ngModel)]="dinhLuong"
                            placeholder="Định lượng"
                            [ngModelOptions]="{ standalone: true }"
                            type="number"
                            min="0"
                        />
                    </mat-form-field>
                </div>
                <div
                    class="standard-item col-md-3"
                    style="padding-left: 0px !important"
                >
                    <button
                        type="button"
                        class="btn green-jungle ng-star-inserted"
                        (click)="addQuantitative()"
                        [disabled]="!dinhLuong || !donViTinhId || !nameLTTP"
                    >
                        Tạo
                    </button>
                    <button
                        *ngIf="quantity.value.length !== 0"
                        type="button"
                        class="btn red ng-star-inserted"
                        (click)="clearAll()"
                    >
                        Xóa hết
                    </button>
                </div>
            </div>
            <ng-container formArrayName="quantity">
                <div
                    class="mw355"
                    [ngClass]="quantity.controls.length > 5 ? 'scroll-y' : ''"
                >
                    <ng-container
                        *ngFor="
                            let quantitativeForm of quantity.controls;
                            let i = index
                        "
                    >
                        <div
                            class="standard-list col-md-12"
                            [formGroup]="quantitativeForm"
                        >
                            <div class="standard-item col-md-3">
                                <mat-form-field appearance="standard">
                                    <mat-select
                                        formControlName="nhomLttpChatDotId"
                                        placeholder="-- Chọn nhóm LTTP, CĐ"
                                    >
                                        <mat-option
                                            *ngFor="let food of listFoodFuel"
                                            [value]="food.key"
                                            [disabled]="
                                                checkDisableMatOption1(food.key)
                                            "
                                        >
                                            {{ food.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="standard-item col-md-3">
                                <mat-form-field appearance="standard">
                                    <mat-select
                                        formControlName="donViTinhId"
                                        placeholder="Đơn vị tính"
                                    >
                                        <mat-option
                                            *ngFor="let unit of listUnitCtegory"
                                            [value]="unit.key"
                                        >
                                            {{ unit.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="standard-item col-md-3">
                                <mat-form-field appearance="standard">
                                    <input
                                        type="number"
                                        matInput
                                        formControlName="dinhLuong"
                                        placeholder="Định lượng"
                                        min="0"
                                    />
                                </mat-form-field>
                            </div>
                            <div class="standard-item">
                                <button
                                    type="button"
                                    class="btn red ng-star-inserted"
                                    (click)="deleteQuantitative(i)"
                                >
                                    Xóa
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </form>
    </div>
</div>
