<div class="page__list" [hidden]="isLoading === true">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4 class="title">
                    <mat-icon>list</mat-icon>
                    Danh sách quân số ăn
                </h4>
            </div>
            <div class="col-md-6" align="right">
                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Tạo mới'"
                    [color]="'primary'"
                    (handleClick)="action(null)"
                ></app-button>
            </div>
        </div>

        <!-- SEARCH -->
        <div class="search-layout">
            <mat-form-field appearance="legacy">
                <mat-label>Tìm kiếm theo tên đợt bổ sung quân số</mat-label>
                <input
                    matInput
                    (keyup)="applyFilter.next($event)"
                    #input
                    placeholder="Nhập tên đợt bổ sung quân số"
                />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <!-- Code Column -->
                    <ng-container matColumnDef="ten">
                        <th mat-header-cell *matHeaderCellDef>
                            Tên đợt bổ sung
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{ element.tenDot }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="quanSo">
                        <th mat-header-cell *matHeaderCellDef>Quân số</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.quanSo }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="tuNgay">
                        <th mat-header-cell *matHeaderCellDef>Từ ngày</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.tuNgay | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="denNgay">
                        <th mat-header-cell *matHeaderCellDef>Đến ngày</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.denNgay | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="trangThai">
                        <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            [ngClass]="
                                element.trangThai === false
                                    ? 'is-pause'
                                    : 'stt-doing'
                            "
                        >
                            {{
                                element.trangThai === false
                                    ? 'Tạm ngưng'
                                    : 'Hoạt động'
                            }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="action(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                                Sửa
                            </button>

                            <button
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteEaterList(element)"
                            >
                                <i class="fa fa-trash"></i>
                                Xoá
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="dataSource.data.length <= 0">
                    <p class="text-nodata">Không có đợt quân số ăn</p>
                </ng-container>

                <mat-paginator
                    class="custom-paginator"
                    [pageSizeOptions]="[10, 15, 20]"
                    showFirstLastButtons
                    aria-label="Select page of exportWarehouseList"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>
