<div class="page__list">
    <div class="container-fluid">
        <form
            *ngIf="khoNhanId"
            (ngSubmit)="onSubmit()"
            [formGroup]="form"
            class="form-submit"
        >
            <div class="header">
                <h4 class="adjustment__title" *ngIf="!idInventory">
                    <p class="text-title">
                        <mat-icon>list</mat-icon>
                        NHẬP TỒN KHO DỤNG CỤ CẤP DƯỠNG BAN ĐẦU
                    </p>
                </h4>

                <h4 class="adjustment__title" *ngIf="idInventory">
                    <p class="text-title">
                        <mat-icon>list</mat-icon>
                        NHẬP TỒN KHO DỤNG CỤ CẤP DƯỠNG BAN ĐẦU CỦA "{{
                            nameWarehouse
                        }}"
                    </p>
                </h4>

                <div class="adjustment__btn-group">
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Huỷ'"
                        [color]="'warn'"
                        [iconRight]="'fa fa-power-off'"
                        (handleClick)="onBack()"
                    ></app-button>

                    <app-button
                        [type]="'submit'"
                        [matType]="'flat'"
                        [title]="'Nhập tồn ban đầu'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        [isDisabled]="
                            !form.valid || dataSource.data.length === 0
                        "
                    ></app-button>
                </div>
            </div>

            <mat-divider class="divider-custom"></mat-divider>

            <div>
                <dynamic-form-builder [form]="form" [fields]="fields">
                </dynamic-form-builder>
            </div>

            <div class="table-range">
                <div class="adjustment__search">
                    <mat-form-field appearance="legacy">
                        <mat-label>Tìm kiếm</mat-label>
                        <input
                            matInput
                            placeholder="Tìm kiếm theo tên dụng cụ cấp dưỡng"
                            (keyup)="applyFilter.next($event)"
                        />
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                    <app-button
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="'Thêm DCCD'"
                        [color]="'primary'"
                        [iconLeft]="'fa fa-plus'"
                        (handleClick)="addRow()"
                    ></app-button>
                </div>

                <table mat-table [dataSource]="dataSource">
                    <!-- Code Column -->
                    <ng-container matColumnDef="maDungCuCapDuong">
                        <th mat-header-cell *matHeaderCellDef>Mã DCCD</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.maDungCuCapDuong || '' }}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="tenDungCuCapDuong">
                        <th mat-header-cell *matHeaderCellDef>Tên DCCD</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenDungCuCapDuong }}
                        </td>
                    </ng-container>

                    <!-- Unit Column -->
                    <ng-container matColumnDef="donViTinh">
                        <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.donViTinh }}
                        </td>
                    </ng-container>

                    <!-- Rank Column -->
                    <ng-container matColumnDef="phanHang">
                        <th mat-header-cell *matHeaderCellDef>Phân hạng</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.phanHang }}
                        </td>
                    </ng-container>

                    <!-- So Luong Column -->
                    <ng-container matColumnDef="soLuong">
                        <th mat-header-cell *matHeaderCellDef>Số lượng</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.soLuong || 0 }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <!-- <button
                                type="button"
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="editAction(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i> Cập nhật
                            </button> -->

                            <button
                                type="button"
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteAction(element)"
                            >
                                <i class="fa fa-trash"></i> Xóa
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <mat-paginator
                    [pageSizeOptions]="[10, 15, 20]"
                    hidePageSize
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                >
                </mat-paginator>

                <!-- <div class="total-price">
                    <p>
                        <b>Tổng: {{ totalPrice | priceConvert }} VND</b>
                    </p>
                </div> -->
            </div>
        </form>
    </div>
</div>
