.material-table-dialog {
    width: 100%;
}

.pt-10 {
    padding-top: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.filter {
    margin-bottom: 20px;

    .row-actions {
        display: flex;
        justify-content: center;
    }
}

::ng-deep {
    .mat-header-row {
        background-color: #337ab7;

        .mat-header-cell {
            text-align: center;
            color: white;
        }
    }

    .mat-cell {
        text-align: center;
    }

    .filter {
        .mat-form-field {
            width: 100%;
        }
    }
}

.tinhKho {
    color: #c35831;
}

.tonKho {
    color: #2271b3;
}

.nhapKho {
    color: #308446;
}

.xuatKho {
    color: #412227;
}

.chuyenKho {
    color: #a18594;
}

.positive {
    color: #308446;
}

.negative {
    color: #c35831;
}

.wrap-icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
