<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                NHẬT KÝ VẬN HÀNH {{ pageTitle }}
            </h4>

            <div class="btn-group">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Quay lại danh sách bếp'"
                    [color]="'accent'"
                    [iconLeft]="'fa fa-list'"
                    (handleClick)="navigate('nhat-ky-van-hanh-bep')"
                ></app-button>

                <app-button
                    *ngIf="allowExec === true"
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="createAction()"
                ></app-button>
            </div>
        </div>

        <mat-divider class="header-divider"></mat-divider>

        <div class="search-layout">
            <app-search
                [fieldSearch]="fieldSearch"
                [function]="null"
                (getSearchInfo)="handleSearch($event)"
            ></app-search>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource" *ngIf="!isLoading">
                    <!-- NgayGhiChep Column -->
                    <ng-container matColumnDef="ngayGhiChep">
                        <th mat-header-cell *matHeaderCellDef>Ngày ghi chép</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.ngayGhiChep | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- NhienLieuDot Column -->
                    <ng-container
                        matColumnDef="nhienLieuDot"
                        *ngIf="loaiBepParam === 'Bếp lò hơi cơ khí'"
                    >
                        <th mat-header-cell *matHeaderCellDef>
                            Nhiên liệu đốt
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.nhienLieuDot }}
                        </td>
                    </ng-container>

                    <!-- QuanSoAn Column -->
                    <ng-container
                        matColumnDef="quanSoAn"
                        *ngIf="loaiBepParam === 'Bếp lò hơi cơ khí'"
                    >
                        <th mat-header-cell *matHeaderCellDef>Quân số ăn</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.quanSoAn }}
                        </td>
                    </ng-container>

                    <!-- Sang Column -->
                    <ng-container matColumnDef="sang">
                        <th mat-header-cell *matHeaderCellDef>Sáng</th>
                        <td
                            mat-cell
                            *matCellDef="let element; let i = index"
                            class="text-center"
                            [ngClass]="
                                getTrangThaiBep(i, 'Sáng') === 'Bình thường'
                                    ? 'text-success'
                                    : 'text-error'
                            "
                        >
                            {{ getTrangThaiBep(i, 'Sáng') }}
                        </td>
                    </ng-container>

                    <!-- Trua Column -->
                    <ng-container matColumnDef="trua">
                        <th mat-header-cell *matHeaderCellDef>Trưa</th>
                        <td
                            mat-cell
                            *matCellDef="let element; let i = index"
                            class="text-center"
                            [ngClass]="
                                getTrangThaiBep(i, 'Trưa') === 'Bình thường'
                                    ? 'text-success'
                                    : 'text-error'
                            "
                        >
                            {{ getTrangThaiBep(i, 'Trưa') }}
                        </td>
                    </ng-container>

                    <!-- Chieu Column -->
                    <ng-container matColumnDef="chieu">
                        <th mat-header-cell *matHeaderCellDef>Chiều</th>
                        <td
                            mat-cell
                            *matCellDef="let element; let i = index"
                            class="text-center"
                            [ngClass]="
                                getTrangThaiBep(i, 'Chiều') === 'Bình thường'
                                    ? 'text-success'
                                    : 'text-error'
                            "
                        >
                            {{ getTrangThaiBep(i, 'Chiều') }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="editAction(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                                Cập nhật
                            </button>

                            <button
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteAction(element)"
                            >
                                <i class="fa fa-trash"></i> Xóa
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>

                <ng-container
                    *ngIf="dataSource.data.length === 0 && !isLoading"
                >
                    <p class="text-nodata">Không có dữ liệu</p>
                </ng-container>

                <mat-paginator
                    #paginator
                    [length]="totalRows"
                    [pageIndex]="currentPage"
                    [pageSize]="pageSize"
                    hidePageSize
                    showFirstLastButtons
                    (page)="pageChanged($event)"
                    aria-label="Select page"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>
</div>
