.page__list {
    .text-success {
        color: #28a745;
    }

    .text-error {
        color: #e7505a;
    }

    .mat-column-actions {
        width: 18%;
        text-align: center;
    }

    .text-nodata {
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
    }
}

.loading {
    .mat-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
    }
}
