<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Mời nhập tên tab</mat-label>
        <input matInput />
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
