<div class="page__list" [hidden]="isLoading === true">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                Danh sách xuất kho
            </h4>

            <div class="btn-group">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Trình phiếu xuất'"
                    [color]="'warn'"
                    (handleClick)="addTotalExport()"
                ></app-button>

                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="createAction()"
                ></app-button>
            </div>
        </div>

        <mat-divider class="header-divider"></mat-divider>

        <!-- SEARCH -->
        <div class="search-layout">
            <app-search-advanced
                [fieldSearch]="fieldSearch"
                [label]="'Tìm kiếm theo mã phiếu xuất kho'"
                (getSearchInfo)="handleSearchInfo($event)"
                (getSearchName)="handleSearchName($event)"
            ></app-search-advanced>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- {{ exportWarehouseList.items[0] | json }} -->
                <table mat-table [dataSource]="dataSource">
                    <!-- Code Column -->
                    <ng-container matColumnDef="ngayXuatKho">
                        <th mat-header-cell *matHeaderCellDef>Ngày xuất</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{ element.ngayXuatKho | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- Person Column -->
                    <ng-container matColumnDef="maPhieuXuatKho">
                        <th mat-header-cell *matHeaderCellDef>
                            Mã phiếu xuất kho
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{ element.maPhieuXuatKho }}
                            <!-- {{ getUserName(element.maPhieuXuatKho) }} -->
                        </td>
                    </ng-container>

                    <!-- Thành tiền Column -->
                    <ng-container matColumnDef="thanhTien">
                        <th mat-header-cell *matHeaderCellDef>Thành tiền</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{
                                element.tongTien
                                    | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                            }}
                            <!-- priceConvert -->
                        </td>
                    </ng-container>

                    <!-- Người xuất Column -->
                    <ng-container matColumnDef="maNguoiDuyet">
                        <th mat-header-cell *matHeaderCellDef>Người xuất</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{ getUserName(element.creatorUserId) }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <!-- Trang thai 3 - Đã xuất kho  -->
                            <ng-container *ngIf="element.trangThai === 3">
                                <button
                                    class="btn btn-xs green-jungle ng-star-inserted"
                                    (click)="
                                        handleAction(element, element.trangThai)
                                    "
                                >
                                    <i class="fa fa-eye"></i> Chi tiết
                                </button>
                            </ng-container>

                            <!-- Trang thai 0: Lưu nháp -->
                            <ng-container *ngIf="element.trangThai === 0">
                                <button
                                    class="btn btn-xs blue ng-star-inserted"
                                    (click)="
                                        handleAction(element, element.trangThai)
                                    "
                                >
                                    <i class="fa fa-pencil-square-o"></i>
                                    Cập nhật
                                </button>

                                <button
                                    class="btn btn-xs red ng-star-inserted"
                                    (click)="deleteAction(element)"
                                >
                                    <i class="fa fa-trash"></i> Xóa
                                </button>
                            </ng-container>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="dataSource.data.length <= 0">
                    <p class="text-nodata">Không có phiếu xuất kho</p>
                </ng-container>

                <mat-paginator
                    class="custom-paginator"
                    [pageSizeOptions]="[10, 15, 20]"
                    hidePageSize
                    showFirstLastButtons
                    aria-label="Select page of exportWarehouseList"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>
