.page__list {
    .text-success {
        color: #3c763d;
    }
    .text-waiting {
        color: #ff7f50;
    }

    .custom-paginator {
        .mat-paginator-page-size-label {
            width: 100% !important;
        }
    }

    mat-paginator.custom-paginator.mat-paginator
        .mat-paginator-page-size-label {
        display: block;
        width: 100% !important;
    }

    .mat-column-ngayXuatKho {
        width: 10%;
    }

    .mat-column-trangThai {
        width: 15%;
    }

    .mat-column-maNguoiDuyet {
        width: 15%;
    }

    .mat-column-maPhieuXuatKho {
        width: 20%;
    }

    .mat-header-cell,
    .mat-cell {
        text-align: left;
    }

    .mat-column-actions {
        width: 18%;
        text-align: center;
    }
}

.text-nodata {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.loading {
    .mat-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
    }
}
