<div class="page__list">
    <div class="container">
        <form *ngIf="isGotServices" (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="info">
                <div class="per-info">
                    <dynamic-form-builder [form]="form" [fields]="fields">
                    </dynamic-form-builder>
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <mat-form-field class="select-range" appearance="outline">
                                <mat-label>Chọn phiếu khám</mat-label>
                                <mat-select
                                    name="form"
                                    (selectionChange)="
                                        handleSelectionChange($event)
                                    "
                                >
                                    <mat-option
                                        *ngFor="let form of listForm"
                                        [value]="form.key"
                                    >
                                        {{ form.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="render-form">
                <div *ngIf="formId === ''; else other">
                    <p>Hãy chọn phiếu khám</p>
                </div>

                <ng-template #other>
                    <app-testing 
                        [formRender]="formRenderNested"
                        [dataRenderForm]="dataRenderForm"
                        [tabs]="tabs"
                        #renderForm>
                    </app-testing>
                </ng-template>
            </div>

            <div mat-dialog-actions align="end">
                <app-button
                    [type]="'submit'"
                    [matType]="'flat'"
                    [title]="'Lưu'"
                    [color]="'primary'"
                    [iconRight]="'fa fa-save'"
                    [isDisabled]="!form.valid"
                ></app-button>
            </div>
        </form>
    </div>
</div>
