.page__list {
    .mat-column-actions {
        width: 23%;
        text-align: center;
    }
}

.size-24 {
    font-size: 24px;
}

.text-left {
    text-align: left;
}

.mat-column-ma {
    text-align: left !important;
}

.my-0 {
    margin: 0;
}

.stt-doing {
    color: #138301;
}

.stt-pause {
    color: #e7505a;
}

.d-flex {
    display: flex;
}

.btn.blue:not(.btn-outline) {
    color: #ffffff;
    background-color: #3598dc;
    border-color: #3598dc;
}

.btn.red:not(.btn-outline) {
    color: #ffffff;
    background-color: #e7505a;
    border-color: #e7505a;
}

::ng-deep {
    th.mat-column-ma,
    th.mat-column-thucDonTuan,
    th.mat-column-ngayBatDau,
    th.mat-column-ngayKetThuc {
        width: 23%;
    }
}

.loading {
    .mat-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
    }
}

.text-nodata {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}
