<div class="page__list" [hidden]="isLoading === true">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH THỰC ĐƠN
            </h4>

            <div class="btn-group" *ngIf="allowExec === true">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="action(null)"
                ></app-button>
            </div>
        </div>

        <mat-divider class="header-divider"></mat-divider>

        <!-- SEARCH -->
        <div class="search-layout">
            <mat-form-field appearance="legacy">
                <mat-label>Tìm kiếm theo tên thực đơn</mat-label>
                <input
                    matInput
                    (keyup)="applyFilter.next($event)"
                    #input
                    placeholder="Nhập tên thực đơn"
                />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <!-- Code Column -->
                    <ng-container matColumnDef="ma">
                        <th mat-header-cell *matHeaderCellDef>Mã thực đơn</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{ element.maThucDon }}
                        </td>
                    </ng-container>

                    <!-- Person Column -->
                    <ng-container matColumnDef="thucDonTuan">
                        <th mat-header-cell *matHeaderCellDef>Thực đơn tuần</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.tenThucDon }}
                        </td>
                    </ng-container>

                    <!-- Thành tiền Column -->
                    <ng-container matColumnDef="ngayBatDau">
                        <th mat-header-cell *matHeaderCellDef>Ngày bắt đầu</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.tuNgay | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>
                    <!-- Người xuất Column -->
                    <ng-container matColumnDef="ngayKetThuc">
                        <th mat-header-cell *matHeaderCellDef>Ngày kết thúc</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.denNgay | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                *ngIf="!allowExec"
                                class="btn btn-xs green ng-star-inserted"
                                (click)="viewDetails(element)"
                            >
                                <i class="fa fa-eye"></i>
                                Xem
                            </button>

                            <div class="d-flex">
                                <button
                                    *ngIf="allowExec"
                                    class="btn btn-xs blue ng-star-inserted"
                                    (click)="action(element)"
                                >
                                    <i class="fa fa-pencil-square-o"></i>
                                    Cập nhật
                                </button>

                                <button
                                    *ngIf="allowExec"
                                    class="btn btn-xs red ng-star-inserted"
                                    (click)="deleteMenuList(element)"
                                >
                                    <i class="fa fa-trash"></i>
                                    Xoá
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="dataSource.data.length <= 0">
                    <p class="text-nodata">Không có thực đơn</p>
                </ng-container>

                <mat-paginator
                    class="custom-paginator"
                    [pageSizeOptions]="[10, 15, 20]"
                    showFirstLastButtons
                    aria-label="Select page of exportWarehouseList"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>
