<div class="page__list" [hidden]="isLoading === true">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH NHẬP KHO
            </h4>

            <div class="btn-group">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Trình phiếu nhập'"
                    [color]="'warn'"
                    (handleClick)="addTotalImport()"
                ></app-button>

                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="createAction()"
                ></app-button>
            </div>
        </div>

        <mat-divider class="header-divider"></mat-divider>

        <!-- SEARCH -->
        <div class="search-layout">
            <app-search-advanced
                [label]="'Tìm kiếm theo mã phiếu nhập'"
                [fieldSearch]="fieldSearch"
                (getSearchInfo)="handleSearchAdvanced($event)"
                (getSearchName)="handleInputFilter($event)"
            ></app-search-advanced>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <!-- Ngay Nhap Column -->
                    <ng-container matColumnDef="ngayNhapKho">
                        <th mat-header-cell *matHeaderCellDef>Ngày nhập</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.ngayNhapKho | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- Code Column -->
                    <ng-container matColumnDef="maPhieuNhapKho">
                        <th mat-header-cell *matHeaderCellDef>Mã phiếu nhập</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.maPhieuNhapKho }}
                        </td>
                    </ng-container>

                    <!-- Tong Tien Column -->
                    <ng-container matColumnDef="tongTien">
                        <th mat-header-cell *matHeaderCellDef>Tổng tiền</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                element.tongTien
                                    | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                    | priceConvert
                            }}
                        </td>
                    </ng-container>

                    <!-- Kho Nhan Hang Column -->
                    <ng-container matColumnDef="khoNhanId">
                        <th mat-header-cell *matHeaderCellDef>Kho nhận hàng</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ getNameOfWarehouse(element.khoNhanId) }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <!-- Trang thai 3: Đã nhập kho -->
                            <ng-container *ngIf="element.trangThai === 3">
                                <button
                                    class="btn btn-xs green-jungle ng-star-inserted"
                                    (click)="
                                        handleAction(element, element.trangThai)
                                    "
                                >
                                    <i class="fa fa-eye"></i> Chi tiết
                                </button>
                            </ng-container>

                            <!-- Trang thai 0: Lưu nháp -->
                            <ng-container *ngIf="element.trangThai === 0">
                                <button
                                    class="btn btn-xs blue ng-star-inserted"
                                    (click)="
                                        handleAction(element, element.trangThai)
                                    "
                                >
                                    <i class="fa fa-pencil-square-o"></i>
                                    Cập nhật
                                </button>

                                <button
                                    class="btn btn-xs red ng-star-inserted"
                                    (click)="deleteAction(element)"
                                >
                                    <i class="fa fa-trash"></i> Xóa
                                </button>
                            </ng-container>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="dataSource.data.length <= 0">
                    <p class="text-nodata">Không có phiếu nhập kho</p>
                </ng-container>

                <mat-paginator
                    class="custom-paginator"
                    [pageSizeOptions]="[10, 15, 20]"
                    showFirstLastButtons
                    aria-label="Select page of exportWarehouseList"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>
