.example-action-buttons {
  padding-bottom: 20px;
}

/deep/ .accordion-content .mat-expansion-panel-body {
  padding: 0;
}

/deep/ .accordion-content .mat-expansion-panel {
  overflow: auto;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.accordion-item {
  margin-top: 20px;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-l-10 {
  margin-left: 10px;
}

.title,
.accordion-header,
.accordion-header--left,
.accordion-header--right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.action {
  display: flex;
}

.chip-custom {
  display: flex;
  align-items: center;
  justify-content: center;

  &.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    color: #fff;
    background-color: #32c5d2;
    border-color: #32c5d2;

    margin-left: 10px;
    border-radius: 3px;
    padding: 0 10px;

    &:hover {
      cursor: pointer;
    }
  }

  mat-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
  }
}

.btn-xs-custom {
  padding: 1px 9px;
}
