<div *ngFor="let item of filedList; let index = index">
    <div class="accordion-item">
        <div class="note note-info">
            <!-- <div class="example-action-buttons">
        <button mat-raised-button (click)="accordion.openAll()">Mở tất cả</button>
        <button mat-raised-button (click)="accordion.closeAll()">Ẩn tất cả</button>
      </div> -->
            <div class="title">
                <h5>
                    <span
                        class="badge badge-danger bold wh min-width-24 height-24 padding-t-6 pm ng-binding"
                    >
                        {{ index + 1 }}
                    </span>
                    <span class="bold ng-binding margin-l-5">{{
                        item.name
                    }}</span>
                    <span class="pm margin-l-5 font italic ng-binding"
                        >{{ item.code || DEFAULT }}
                    </span>
                </h5>
                <div class="action">
                    <span
                        class="pm p bold pm margin-r-10 margin-t-5 font italic font-red font size-10"
                    >
                        [Nhóm: {{ index + 1 }} ]
                    </span>
                    <mat-chip
                        class="btn btn-xs green chip-custom margin-l-10"
                        (click)="onHandleField(item, 'EDIT')"
                        selected
                    >
                        Cập nhật
                        <mat-icon
                            class="text-info"
                            aria-hidden="false"
                            aria-label="Example edit icon"
                        >
                            edit
                        </mat-icon>
                    </mat-chip>
                </div>
            </div>
            <mat-accordion class="example-headers-align">
                <div class="accordion-header">
                    <div class="accordion-header--left">
                        <p
                            (click)="togglePanels(index)"
                            class="btn blue btn-xs-custom pm margin-0 btn-outline height-24 padding-t-5 btn-circle margin-r-1 -margin-t-2 wh width-24"
                        >
                            <i
                                class="auto fa"
                                [ngClass]="
                                    indexExpanded == index
                                        ? 'fa-caret-down'
                                        : 'fa-caret-right'
                                "
                            ></i>
                        </p>
                        <p>Trường dữ liệu ({{ item.type }})</p>
                    </div>
                    <div class="accordion-header--right">
                        <a
                            *ngIf="!isConfirmDeleteGroup[index]"
                            class="btn grey-silver btn-xs pull-right pm margin-0 btn-outline margin-l-10"
                            (click)="onHandleField(item, 'REFRESH', index)"
                        >
                            <i class="fa fa-refresh"></i>
                            Tải lại
                        </a>
                        <a
                            *ngIf="!isConfirmDeleteGroup[index]"
                            class="btn grey-silver btn-xs pull-right pm margin-0 btn-outline margin-l-10"
                            (click)="onHandleField(item, 'ADD', index)"
                        >
                            <i class="fa fa-plus"></i>
                            Tạo mới
                        </a>

                        <div
                            *ngIf="isConfirmDeleteGroup[index]"
                            class="group-icon-delete"
                        >
                            <button
                                autofocus=""
                                type="button"
                                class="btn red left btn-xs margin-l-10"
                                (click)="
                                    onHandleField(
                                        item,
                                        'DELETE_ALL_FIELD',
                                        index
                                    )
                                "
                            >
                                Xác nhận xóa
                                <i class="fa fa-recycle right"></i>
                            </button>
                            <button
                                autofocus=""
                                type="button"
                                class="btn gray left btn-xs margin-l-10"
                                (click)="resetDeleteGroup(index)"
                            >
                                Bỏ qua
                                <i class="fa fa-undo right"></i>
                            </button>
                        </div>

                        <button
                            [disabled]="item.items.length == 0"
                            *ngIf="!isConfirmDeleteGroup[index]"
                            class="btn red btn-xs pull-right pm margin-0 btn-outline margin-l-10"
                            (click)="toggleConfirmDeleteGroup(index)"
                        >
                            Xóa
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>

                <div class="accordion-content">
                    <mat-expansion-panel
                        [expanded]="indexExpanded == index"
                        class="mat-expansion-panel-custom"
                        #panel
                    >
                        <!-- <mat-expansion-panel-header>
              <mat-panel-title> Personal data </mat-panel-title>
              <mat-panel-description>
                Type your name and age
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header> -->
                        <!--
            <div *ngFor="let accordion of item.filed">
              <p>{{ accordion.name }}</p>
            </div> -->

                        <app-field-item
                            [filed]="item.items"
                            (itemField)="handleItemFieldChild($event, item)"
                            >Loading</app-field-item
                        >
                    </mat-expansion-panel>
                </div>

                <!--
        <button mat-raised-button (click)="panel1.toggle()">Mở 1</button>
        <mat-expansion-panel #panel1>
          <mat-expansion-panel-header>
            <mat-panel-title> Personal data </mat-panel-title>
            <mat-panel-description>
              Type your name and age
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput type="number" min="1" />
          </mat-form-field>
        </mat-expansion-panel>

        <button mat-raised-button (click)="panel2.toggle()">Mở</button>

        <mat-expansion-panel #panel2>
          <mat-expansion-panel-header>
            <mat-panel-title> Day of the trip </mat-panel-title>
            <mat-panel-description>
              Inform the date you wish to travel
              <mat-icon>date_range</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel> -->
            </mat-accordion>
        </div>
    </div>
</div>
