::ng-deep {
    .bar-chart,
    .line-chart {
        display: block;
    }

    .ngx-charts-outer {
        margin: auto;
    }

    th.mat-header-cell.mat-column-tenVT,
    th.mat-header-cell.mat-column-nhomNVL,
    td.mat-cell.mat-column-tenVT,
    td.mat-cell.mat-column-nhomNVL {
        text-align: left !important;
    }
}

.page__list {
    .financial-statistical {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .financial-item p {
            margin: 0;
        }

        .financial-box {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .financial-total {
                font-size: 16px;
                font-weight: bold;
            }

            .financial-title {
                inline-size: 100px;
                overflow: hidden;
            }
        }

        .financial-icon {
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid #ff7f50;

            .mat-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .financial-item {
            display: flex;
            align-items: center;
            gap: 25px;
            border: 1px solid #ff7f50;
            padding: 15px 45px;
            /* margin: 0; */
        }

        .financial-item {
            &:nth-child(1) {
                .mat-icon {
                    color: #ff9a62;
                }
            }
            &:nth-child(2) {
                .mat-icon {
                    color: #007bff;
                }
            }
            &:nth-child(3) {
                .mat-icon {
                    color: #358206;
                }
            }
            &:nth-child(4) {
                .mat-icon {
                    color: #fe0101;
                }
            }
        }
    }

    .wrapper-chart {
        margin-top: 25px;

        .chart-header {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .ngx-charts {
            ngx-charts-axis-label {
                // font-weight: bold;
                // font-size: 16px;
                width: 40px;
                fill: #358206;
            }
        }
    }

    .wrapper-table {
        .members-eat-item {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid gray;
        }

        .col-md-6.col-custom-border {
            border-right: 1px solid gray;
        }
    }
}

.mat-header-row,
.mat-row {
    text-align: center;
}

.loading {
    .mat-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
    }
}

.text-nodata {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.px-20 {
    margin: 20px 0;
}

.light-pink {
    border-top-color: #ff7f50 !important;
}

.p-x10-y5 {
    padding: 5px 15px;
}

.light-pink-bg {
    background-color: #ffa07a80;
}

.bold {
    font-weight: bold;
}

.box {
    margin-bottom: 25px;
}

.ml-25 {
    margin-left: 25px;
}

.normal {
    font-weight: normal;
}

.m-0 {
    margin: 0px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}
.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.tg .tg-0p91 {
    font-family: 'Times New Roman', Times, serif !important;
    text-align: center;
    vertical-align: top;
    background-color: #d9d9d9;
}
.tg .tg-qymg {
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.tg .tg-baqh {
    text-align: center;
    vertical-align: top;
    background-color: #d9d9d9;
}
.tg .tg-wa1i {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.tg .tg-7btt {
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}
.tg .tg-amwm {
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}
.tg .tg-iucd {
    font-family: 'Times New Roman', Times, serif !important;
    text-align: center;
    vertical-align: middle;
    background-color: #d9d9d9;
}
.tg .tg-0pky {
    text-align: center;
    vertical-align: middle;
    background-color: #d9d9d9;
}
.tg .tg-0lax {
    text-align: center;
    vertical-align: middle;
    background-color: #d9d9d9;
}

@media only screen and (max-width: 1500px) {
    .financial-statistical {
        flex-wrap: wrap;

        .financial-item {
            margin-bottom: 10px;
            flex: 0 0 40%;
            gap: 60px;
        }
    }
}
