<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                SỔ NHẬP XUẤT LƯƠNG THỰC THỰC PHẨM
            </h4>
        </div>

        <!-- Clone header -->
        <!-- Table header 19x4 -->
        <form
            class="rfSearch-form"
            [formGroup]="rfSearch"
            autocomplete="off"
            (ngSubmit)="onSubmit()"
        >
            <div class="wrapper-row-control">
                <div class="row-control row-time">
                    <mat-form-field>
                        <mat-label>Thời gian</mat-label>
                        <input
                            matInput
                            placeholder="Thời gian"
                            [matDatepicker]="picker"
                            formControlName="fromDay"
                            (click)="picker.open()"
                        />
                        <mat-datepicker-toggle
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row-control">
                    <!-- <mat-form-field>
                        <mat-label>Tên bếp</mat-label>
                        <mat-select formControlName="nameCook">
                            <mat-option
                                *ngFor="let food of listUnit"
                                [value]="food.id"
                            >
                                {{ food.tenBep }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <!-- <mat-error>
                        <span
                            class="help-block form-error text-danger small"
                            *ngIf="
                                rfSearch.controls['nameCook'].hasError
                                    ?.required &&
                                rfSearch.controls['nameCook'].touched
                            "
                        >
                            Không được để trống
                        </span>
                    </mat-error> -->
                    <!-- <ng-container
                        [ngTemplateOutlet]="templateMatSelect"
                        [ngTemplateOutletContext]="{
                            title: 'Tên bếp',
                            form: 'nameCook',
                            options: listUnit
                        }"
                    ></ng-container> -->
                </div>
                <!-- <div class="row-control">
                    <ng-container
                        [ngTemplateOutlet]="templateMatSelect"
                        [ngTemplateOutletContext]="{
                            title: 'Thời gian',
                            form: 'time',
                            options: foods
                        }"
                    ></ng-container>
                </div>
                <div class="row-control row-time">
                    <mat-form-field>
                        <mat-label>Từ ngày</mat-label>
                        <input
                            matInput
                            placeholder="Từ ngày"
                            [matDatepicker]="picker"
                            formControlName="fromDay"
                        />
                        <mat-datepicker-toggle
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row-control row-time">
                    <mat-form-field>
                        <mat-label>Đến ngày</mat-label>
                        <input
                            matInput
                            placeholder="Đến ngày"
                            [matDatepicker]="pickerToDay"
                            formControlName="toDay"
                            [min]="minDate"
                        />
                        <mat-datepicker-toggle
                            [for]="pickerToDay"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #pickerToDay></mat-datepicker>
                    </mat-form-field>
                </div> -->
            </div>

            <div style="margin-bottom: 12px">
                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Xóa dữ liệu'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-trash'"
                    (handleClick)="resetForm()"
                ></app-button>

                <app-button
                    [type]="'submit'"
                    [matType]="'flat'"
                    [title]="'Lọc'"
                    [color]="'primary'"
                    [iconLeft]="'fa fa-filter'"
                    [isDisabled]="!rfSearch.valid"
                ></app-button>

                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Xuất Exel'"
                    [color]="'primary'"
                    [iconRight]="'fa fa-save'"
                    (handleClick)="exportExcel()"
                ></app-button>
            </div>
        </form>

        <mat-divider></mat-divider>
        <!-- <div *ngIf="rfSearch" class="financial-info">
            <strong class="financial-name">Báo cáo công khai tài chính</strong>
            <span>{{ getFinancialInfo('nameCook') }}</span>
            <strong>Thời gian</strong>
            <span class="financial-day">{{ getFinancialInfo('fromDay') }}</span>
            <strong>Đến ngày</strong>
            <span class="financial-day">{{ getFinancialInfo('toDay') }}</span>
        </div> -->

        <div class="page-report-finance financial-statistical">
            <div class="financial-item" *ngFor="let financial of statisticals">
                <div class="financial-icon" [ngClass]="financial.class">
                    <mat-icon>{{ financial.icon }} </mat-icon>
                </div>
                <div class="financial-box">
                    <p class="financial-total">
                        {{ financial.value | priceConvert }}
                    </p>
                    <p class="financial-title">{{ financial.title }}</p>
                </div>
            </div>
        </div>

        <div class="financial-tabs">
            <strong class="text-unit">Đơn vị tính: Đồng</strong>
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="LTTP, chất đốt">
                    <div class="table-container">
                        <div
                            class="table-loading-shade"
                            *ngIf="isLoadingResults || isRateLimitReached"
                        >
                            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                            <div
                                class="table-rate-limit-reached"
                                *ngIf="isRateLimitReached"
                            >
                                API rate limit has been reached. It will be
                                reset in one minute.
                            </div>
                        </div>
                        <table class="table-lttp">
                            <thead>
                                <tr>
                                    <th rowspan="4">TT</th>
                                    <th rowspan="4">Tên LTTP - chất đốt</th>
                                    <th rowspan="4">ĐVT</th>
                                    <th rowspan="4">Đơn giá</th>
                                    <th colspan="2">Ngày trước chuyển qua</th>
                                    <th colspan="5">Nhập trong ngày</th>
                                    <th colspan="2">Cộng nhập</th>
                                    <th colspan="2">Xuất ăn trong ngày</th>
                                    <th colspan="2">Xuất khác</th>
                                    <th colspan="2">Cộng xuất</th>
                                </tr>
                                <tr>
                                    <th rowspan="3">Số lượng</th>
                                    <th rowspan="3">Thành tiền</th>
                                    <th colspan="4">Số lượng</th>
                                    <th rowspan="3">Thành tiền</th>

                                    <th rowspan="3">Số lượng</th>
                                    <th rowspan="3">Thành tiền</th>

                                    <th rowspan="3">Số lượng</th>
                                    <th rowspan="3">Thành tiền</th>

                                    <th rowspan="3">Số lượng</th>
                                    <th rowspan="3">Thành tiền</th>

                                    <th rowspan="3">Số lượng</th>
                                    <th rowspan="3">Thành tiền</th>
                                </tr>

                                <tr>
                                    <td colspan="2">Đơn vị đảm bảo</td>
                                    <td colspan="2">Đơn vị đảm bảo</td>
                                </tr>
                                <tr>
                                    <td>Mua TT</td>
                                    <td>TG - CB</td>
                                    <td>Mua TT</td>
                                    <td>TG - CB</td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr
                                    *ngFor="
                                        let item of dataReport;
                                        let idI = index
                                    "
                                >
                                    <!-- <td>{{ item.tenLTTP }}</td>
                                <td>{{ item.SoLuongCN }}</td>
                                <td>{{ item.SoLuongXK }}</td> -->
                                    <td
                                        *ngFor="
                                            let itemTD of headerTable;
                                            let idx = index
                                        "
                                    >
                                        <div [ngSwitch]="true">
                                            <div *ngSwitchCase="idx === 0">
                                                {{ idI + 1 }}
                                            </div>
                                            <div
                                                *ngSwitchCase="
                                                    itemTD
                                                        .toLowerCase()
                                                        .includes('thanhtien')
                                                "
                                            >
                                                {{
                                                    item[itemTD]
                                                        ? convertToVND(
                                                              item[itemTD]
                                                          )
                                                        : ''
                                                }}
                                            </div>
                                            <div
                                                *ngSwitchCase="
                                                    itemTD
                                                        .toLowerCase()
                                                        .includes('dongia') ||
                                                    itemTD
                                                        .toLowerCase()
                                                        .includes('soluong')
                                                "
                                            >
                                                {{
                                                    item[itemTD]
                                                        ? (item[itemTD]
                                                          | priceConvert)
                                                        : ''
                                                }}
                                            </div>
                                            <div *ngSwitchDefault>
                                                {{
                                                    item[itemTD]
                                                        ? item[itemTD]
                                                        : ''
                                                }}
                                            </div>
                                        </div>

                                        <!-- <ng-container
                                            *ngIf="idx !== 0; else stt_contnet"
                                        >
                                            <span
                                                *ngIf="
                                                    itemTD == 'donGia' ||
                                                        itemTD
                                                            .toLowerCase()
                                                            .includes(
                                                                'thanhtien'
                                                            ) ||
                                                        itemTD
                                                            .toLowerCase()
                                                            .includes(
                                                                'soluong'
                                                            );
                                                    else other_contnet
                                                "
                                            >
                                                {{
                                                    item[itemTD]
                                                        | currency
                                                            : 'VND'
                                                            : 'symbol'
                                                            : '1.0'
                                                            : 'vi'
                                                        | priceConvert
                                                }}
                                            </span>
                                        </ng-container>

                                        <ng-template #stt_contnet>
                                            {{ idI + 1 }}
                                        </ng-template>
                                        <ng-template #other_contnet>
                                            {{ item[itemTD] }}
                                        </ng-template> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <ng-container *ngIf="dataReport.length <= 0">
                        <p class="text-nodata" style="text-align: center">
                            Không có dữ liệu
                        </p>
                    </ng-container>

                    <!-- <ng-container *ngIf="dataReport.length <= 0">
                        <mat-spinner></mat-spinner
                    ></ng-container> -->
                </mat-tab>
                <mat-tab label="Phần tiền">
                    <div class="wrapper-table-meat">
                        <p
                            class="text-alert text-alert--small text-alert--primary"
                        >
                            Mức tiền ăn cơ bản
                        </p>
                        <div class="table-meat-container">
                            <div *ngFor="let item of danhSachThuList">
                                <ng-container
                                    [ngTemplateOutlet]="templateTableMeal"
                                    [ngTemplateOutletContext]="{
                                        transactionsMeal: item.transactionsMeal,
                                        unit: getFinancialInfo('unit'),
                                        level:
                                            item.mucTienAn + 'đ' + '/người/ngày'
                                    }"
                                ></ng-container>
                            </div>
                            <!-- <ng-container
                                [ngTemplateOutlet]="templateTableMeal"
                                [ngTemplateOutletContext]="{
                                    transactionsMeal: [transactionsMeal],
                                    unit: getFinancialInfo('unit'),
                                    level: '65.000đ/người/ngày'
                                }"
                            ></ng-container>
                            <ng-container
                                [ngTemplateOutlet]="templateTableMeal"
                                [ngTemplateOutletContext]="{
                                    transactionsMeal: [transactionsMeal],
                                    unit: getFinancialInfo('unit'),
                                    level: '81.000đ/người/ngày'
                                }"
                            ></ng-container>
                            <ng-container
                                [ngTemplateOutlet]="templateTableMeal"
                                [ngTemplateOutletContext]="{
                                    transactionsMeal: [transactionsMeal],
                                    unit: getFinancialInfo('unit'),
                                    level: '85.000đ/người/ngày'
                                }"
                            ></ng-container> -->
                        </div>
                    </div>
                    <!-- <div class="wrapper-table-meat">
                        <p
                            class="text-alert text-alert--small text-alert--primary"
                        >
                            Mức tiền ăn cơ bản
                        </p>
                        <div class="table-meat-container">
                            <ng-container
                                [ngTemplateOutlet]="templateTableMeal"
                                [ngTemplateOutletContext]="{
                                    transactionsMeal: [transactionsMeal],
                                    unit: getFinancialInfo('unit'),
                                    level: '65.000đ/người/ngày'
                                }"
                            ></ng-container>
                            <ng-container
                                [ngTemplateOutlet]="templateTableMeal"
                                [ngTemplateOutletContext]="{
                                    transactionsMeal: [transactionsMeal],
                                    unit: getFinancialInfo('unit'),
                                    level: '81.000đ/người/ngày'
                                }"
                            ></ng-container>
                            <ng-container
                                [ngTemplateOutlet]="templateTableMeal"
                                [ngTemplateOutletContext]="{
                                    transactionsMeal: [transactionsMeal],
                                    unit: getFinancialInfo('unit'),
                                    level: '85.000đ/người/ngày'
                                }"
                            ></ng-container>
                        </div>
                    </div> -->
                </mat-tab>
                <!-- <mat-tab label="Phần gạo">
                    <div class="wrapper-table-meat">
                        <div
                            class="table-meat-container table-meat-container--custom"
                        >
                            <ng-container
                                [ngTemplateOutlet]="templateTableMeal"
                                [ngTemplateOutletContext]="{
                                    transactionsMeal: [transactionsMeal],
                                    unit: 'Bộ binh',
                                    level: '65.000đ/người/ngày',
                                    size: '680g/người/ngày'
                                }"
                            ></ng-container>
                            <ng-container
                                [ngTemplateOutlet]="templateTableMeal"
                                [ngTemplateOutletContext]="{
                                    transactionsMeal: [transactionsMeal],
                                    unit: 'Bộ binh - Mức 1',
                                    level: '81.000đ/người/ngày',
                                    size: '720g/người/ngày'
                                }"
                            ></ng-container>
                            <ng-container
                                [ngTemplateOutlet]="templateTableMeal"
                                [ngTemplateOutletContext]="{
                                    transactionsMeal: [transactionsMeal],
                                    unit: 'Bộ binh - Mức 2',
                                    level: '85.000đ/người/ngày',
                                    size: '740g/người/ngày'
                                }"
                            ></ng-container>
                            <ng-container
                                [ngTemplateOutlet]="templateTableMeal"
                                [ngTemplateOutletContext]="{
                                    transactionsMeal: [transactionsMeal],
                                    unit: 'Chất đốt',
                                    all: 100000
                                }"
                            ></ng-container>
                            <ng-container
                                [ngTemplateOutlet]="templateTableMeal"
                                [ngTemplateOutletContext]="{
                                    transactionsMeal: [transactionsMeal],
                                    unit: 'Chất đốt',
                                    all: 200000
                                }"
                            ></ng-container>
                        </div>
                    </div>
                </mat-tab> -->
            </mat-tab-group>
        </div>
    </div>
</div>

<ng-template
    #templateMatSelect
    let-title="title"
    let-form="form"
    let-options="options"
>
    {{ form }} - {{ rfSearch }}

    <mat-form-field [formGroup]="rfSearch">
        <mat-label>{{ title }}</mat-label>
        <mat-select [formControlName]="form">
            <mat-option *ngFor="let food of options" [value]="food.id">
                {{ food.tenBep }}
            </mat-option>
        </mat-select>
        <span
            class="text-danger"
            *ngIf="(form.touched || submitted) && form.errors?.required"
        >
            tenBep is required
        </span>
    </mat-form-field>
</ng-template>

<ng-template
    #templateTableMeal
    let-transactionseal="transactionseal"
    let-transactionsMeal="transactionsMeal"
    let-unit="unit"
    let-level="level"
    let-size="size"
    let-all="all"
>
    <p class="text-alert text-alert--small text-alert--default">
        <span *ngIf="unit">Đối tượng: {{ unit }} </span>
        <span *ngIf="level">Mức tiền ăn: {{ level }}</span>
        <span *ngIf="size">Mức ăn: {{ size }}</span>
    </p>

    <section class="table-meal" tabindex="0">
        <table mat-table [dataSource]="transactionsMeal">
            <!-- Item Column -->
            <ng-container matColumnDef="meal">
                <th mat-header-cell *matHeaderCellDef>Buổi ăn</th>
                <td mat-cell *matCellDef="let transactionsMeal">
                    {{ transactionsMeal.meal }}
                </td>
                <td mat-footer-cell *matFooterCellDef>Tổng</td>
            </ng-container>
            <!-- Item Column -->
            <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef>Số lượng ăn</th>
                <td mat-cell *matCellDef="let transactionsMeal">
                    {{ transactionsMeal.cost }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <!-- Item Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
                <td mat-cell *matCellDef="let transactionsMeal">
                    {{ transactionsMeal.price }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Cost Column -->
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>Thành tiền</th>
                <td mat-cell *matCellDef="let transactionsMeal">
                    {{ transactionsMeal.total | currency }}
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    {{ getTotalCost(transactionsMeal) | currency }}
                </td>
            </ng-container>

            <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsMeal; sticky: true"
            ></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsMeal"
            ></tr>
            <tr
                mat-footer-row
                *matFooterRowDef="displayedColumnsMeal; sticky: true"
            ></tr>
        </table>

        <mat-form-field *ngIf="all" class="field-all">
            <mat-label>Tổng cộng</mat-label>
            <input matInput placeholder="Tổng cộng" [value]="all" />
        </mat-form-field>
    </section>
</ng-template>
