<ng-container *ngIf="purchaseId && !dataEdit" class="spinner-custom">
    <mat-spinner></mat-spinner>
</ng-container>

<div class="page__list">
    <div class="container-fluid">
        <form
            *ngIf="organizationOptions.length > 0 && supplierOptions.length > 0"
            (ngSubmit)="onSubmit()"
            [formGroup]="form"
            class="form-submit"
        >
            <div class="header">
                <h4 class="adjustment__title">
                    <p class="text-title">
                        <mat-icon>assignment</mat-icon>
                        {{ isEdit ? titleOnEdit : 'Tạo phiếu mua hàng' }}

                        <!-- <ng-container *ngIf="dataEdit">
                            <ng-container [ngSwitch]="dataEdit.trangThai">
                                <ng-container *ngSwitchCase="3">
                                    <span
                                        class="alert-custom alert-custom--secondary"
                                        >Đã duyệt
                                    </span>
                                </ng-container>
                                <ng-container *ngSwitchCase="2">
                                    <span
                                        class="alert-custom alert-custom--danger"
                                        >Từ chối
                                    </span>
                                </ng-container>
                                <ng-container *ngSwitchCase="1">
                                    <span
                                        class="alert-custom alert-custom--waiting"
                                        >Chờ duyệt
                                    </span>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <span
                                        class="alert-custom alert-custom--primary"
                                        >Lưu nháp</span
                                    >
                                </ng-container>
                            </ng-container>
                        </ng-container> -->
                    </p>
                </h4>

                <div class="adjustment__btn-group">
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Hủy'"
                        [color]="'warn'"
                        [iconRight]="'fa fa-power-off'"
                        (handleClick)="onBack()"
                    ></app-button>
                    <app-button
                        *ngIf="isEdit"
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="'Xuất Exel'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        (handleClick)="exportExcelEditPage()"
                    ></app-button>

                    <!-- typeAction 0 || 2 -->
                    <ng-container *ngIf="typeAction === 0 || typeAction === 2">
                        <app-button
                            *ngIf="!isEdit"
                            [type]="'button'"
                            [matType]="'flat'"
                            [title]="'Xuất Exel'"
                            [color]="'primary'"
                            [iconRight]="'fa fa-save'"
                            [isDisabled]="
                                !form.valid || currentTable.length === 0
                            "
                            (handleClick)="exportExcelCreatePage()"
                        ></app-button>
                        <app-button
                            [type]="'button'"
                            [matType]="'flat'"
                            [title]="this.isEdit ? 'Lưu lại' : 'Tạo mới'"
                            [color]="'primary'"
                            [iconRight]="'fa fa-save'"
                            [isDisabled]="
                                !form.valid || currentTable.length === 0
                            "
                            (handleClick)="onSave(0)"
                        ></app-button>

                        <!-- <app-button
                            [type]="'submit'"
                            [matType]="'flat'"
                            [title]="'Trình duyệt'"
                            [color]="'primary'"
                            [iconRight]="'fa fa-save'"
                            [isDisabled]="
                                !form.valid || currentTable.length === 0
                            "
                        ></app-button> -->
                    </ng-container>
                    <!-- typeAction 3 -->
                    <!-- <ng-container *ngIf="typeAction === 3">
                        <app-button
                            [type]="'button'"
                            [matType]="'flat'"
                            [title]="'In phiếu'"
                            [color]="'warn'"
                            [iconRight]="'fa fa-print'"
                            (handleClick)="printContent('printer', '')"
                        ></app-button>
                    </ng-container> -->
                    <!-- typeAction 4 -- Demo -->
                    <ng-container *ngIf="typeAction === 1">
                        <app-button
                            [type]="'button'"
                            [matType]="'flat'"
                            [title]="'Từ chối'"
                            [color]="'warn'"
                            [iconRight]="'fa fa-ban'"
                            (handleClick)="rejectAction()"
                        ></app-button>

                        <app-button
                            [type]="'button'"
                            [matType]="'flat'"
                            [title]="'Duyệt'"
                            [color]="'primary'"
                            [iconRight]="'fa fa-check'"
                            (handleClick)="onSave(3)"
                        ></app-button>
                    </ng-container>
                </div>
            </div>
            <div *ngIf="dataEdit && typeAction === 2" class="text-reject">
                Lý do từ chối: {{ dataEdit.lyDoTuChoi || '' }}
            </div>

            <mat-divider class="divider-custom"></mat-divider>

            <div>
                <dynamic-form-builder [form]="form" [fields]="fields">
                </dynamic-form-builder>
            </div>
        </form>

        <div class="table-range">
            <div class="adjustment__search">
                <mat-form-field appearance="legacy">
                    <mat-label>Tìm kiếm</mat-label>
                    <input
                        matInput
                        placeholder="Tìm kiếm theo tên vật tư hàng hóa"
                        (keyup)="applyFilter.next($event)"
                    />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Thêm hàng'"
                    [color]="'primary'"
                    [iconLeft]="'fa fa-plus'"
                    [isDisabled]="typeAction === 1 || typeAction === 3"
                    (handleClick)="addRow()"
                ></app-button>
            </div>

            <table mat-table [dataSource]="dataSource" class="table-chitiet">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                        <mat-checkbox
                            (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="
                                selection.hasValue() && !isAllSelected()
                            "
                            [aria-label]="checkboxLabel()"
                        >
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-center">
                        <mat-checkbox
                            (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)"
                        >
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Code Column -->
                <ng-container matColumnDef="maLttpChatDot">
                    <th mat-header-cell *matHeaderCellDef>Mã VT, HH</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.maLttpChatDot }}
                    </td>
                </ng-container>

                <!-- So Chung Tu Column -->
                <ng-container matColumnDef="tenLttpChatDot">
                    <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.tenLttpChatDot }}
                    </td>
                </ng-container>

                <!-- Amount Column -->
                <ng-container matColumnDef="soLuong">
                    <th mat-header-cell *matHeaderCellDef>Số lượng</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.soLuong }}
                    </td>
                </ng-container>

                <!-- Unit Column -->
                <ng-container matColumnDef="donViTinh">
                    <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.donViTinh }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="diaChiMua">
                    <th mat-header-cell *matHeaderCellDef>Địa chỉ mua hàng</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{
                            convertNameById(element.diaChiMuaHangId, 'Address')
                        }}
                    </td>
                </ng-container>

                <!-- Out Price Column -->
                <ng-container matColumnDef="donGia">
                    <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{
                            element.donGia
                                | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                | priceConvert
                        }}
                    </td>
                </ng-container>

                <!-- Notes Column -->
                <ng-container matColumnDef="thanhTien">
                    <th mat-header-cell *matHeaderCellDef>Thành tiền</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{
                            element.soLuong * element.donGia
                                | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                | priceConvert
                        }}
                    </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                    <td
                        mat-cell
                        *matCellDef="let element; let index = index"
                        class="text-center"
                    >
                        <button
                            class="btn btn-xs red ng-star-inserted"
                            (click)="deleteAction(element, index)"
                        >
                            <i class="fa fa-trash"></i> Xóa
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>

            <div class="d-flex justify-content-between align-items-end">
                <app-button
                    *ngIf="typeAction !== 3"
                    [type]="'button'"
                    [matType]="'stroked'"
                    [title]="'Xoá danh sách đã chọn'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-trash'"
                    [isDisabled]="selection.selected.length == 0"
                    (handleClick)="deleteList()"
                ></app-button>
                <span *ngIf="typeAction === 3"></span>

                <mat-paginator
                    [pageSizeOptions]="[10, 15, 20]"
                    hidePageSize
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                >
                </mat-paginator>
            </div>

            <div class="total-price">
                <p>
                    <b
                        >Tổng:
                        {{ totalPrice | priceConvert }}
                        VND</b
                    >
                </p>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="dataEdit">
    <div id="printer" [ngClass]="isPrinter === true ? 'block' : 'none'">
        <div class="header mt-20">
            <div class="d-flex justify-space-between mb-20">
                <div class="text-center">
                    <p class="m-0">TRƯỜNG SĨ QUAN THÔNG TIN</p>
                    <u class="bold underline">
                        {{ getDataNameById(dataEdit.nhaCungCapId, 'SUPPLIER') }}
                    </u>
                </div>
                <div class="text-center">
                    <p class="m-0 bold">BẢNG KÊ MUA HÀNG</p>
                    <p class="m-0">
                        {{ dateBuy }}
                    </p>
                </div>
                <div class="text-center">
                    <p class="m-0 bold">Mẫu số {{ dataEdit.maPhieuMuaHang }}</p>
                    <p class="m-0">Số: ..........</p>
                    <p class="m-0">Quyển số: ....</p>
                </div>
            </div>
            <div class="d-flex justify-space-between px-80">
                <div>
                    <p class="m-0 mb-10">
                        Họ và tên:
                        {{ getDataNameById(dataEdit.nguoiMuaId, 'USER') }}
                    </p>
                    <p class="m-0">
                        Bộ phận:
                        {{ getDataNameById(dataEdit.boPhanId, 'ORGANIZATION') }}
                    </p>
                </div>
                <div>
                    <p class="m-0 mb-10">Nợ: ........</p>
                    <p class="m-0">Có: ........</p>
                </div>
            </div>
        </div>

        <table class="tg">
            <thead>
                <tr>
                    <th class="tg-wa1i">TT</th>
                    <th class="tg-wa1i">
                        Tên, quy cách, phẩm chất vật tư, hàng hoá, dụng cụ
                    </th>
                    <th class="tg-wa1i">Tên người bán hoặc địa chỉ mua hàng</th>
                    <th class="tg-wa1i">Đơn vị tính</th>
                    <th class="tg-wa1i">Số lượng</th>
                    <th class="tg-wa1i">Đơn giá</th>
                    <th class="tg-wa1i">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of currentTable; index as index">
                    <td class="tg-baqh text-center">{{ index + 1 }}</td>
                    <td class="tg-0lax">{{ item.tenLttpChatDot }}</td>
                    <td class="tg-0lax text-center">
                        {{ getDataNameById(dataEdit.nhaCungCapId, 'SUPPLIER') }}
                    </td>
                    <td class="tg-0lax text-center">{{ item.donViTinh }}</td>
                    <td class="tg-0lax text-center">{{ item.soLuong }}</td>
                    <td class="tg-0lax text-right">
                        {{
                            item.donGia
                                | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                | priceConvert
                        }}
                    </td>
                    <td class="tg-0lax text-right">
                        {{
                            item.soLuong * item.donGia
                                | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                | priceConvert
                        }}
                    </td>
                </tr>
                <tr *ngFor="let item of currentTable; index as index">
                    <td class="tg-baqh text-center">
                        {{ index + 1 + currentTable.length }}
                    </td>
                    <td class="tg-0lax no-color">AAAA</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-amwm text-center bold" colspan="2">Cộng</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax text-right bold">
                        {{
                            totalPrice
                                | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                | priceConvert
                        }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="footer mt-10">
            <p class="m-0">
                Tổng số tiền (viết bằng chữ):
                {{ totalPrice.toString() | convertNumToStr }}./.
            </p>
            <p class="note m-0 d-flex max-w">Ghi chú:</p>
            <div class="mt-10">
                <p class="m-0 text-right">
                    {{ dateBuy }}
                </p>
            </div>
            <div class="signature d-flex justify-space-between mt-10">
                <div class="h-30 buyer text-center ml-5">
                    <p class="m-0 bold mb-20">Người mua</p>
                    <div class="box-sig"></div>
                    <p class="m-0 bold">
                        {{ getDataNameById(dataEdit.nguoiMuaId, 'USER') }}
                    </p>
                </div>
                <div class="manager text-center ml-5">
                    <p class="m-0 bold mb-20">Quản lý</p>
                    <div class="box-sig"></div>
                    <p class="m-0 bold">
                        <!-- {{ getDataNameById(dataEdit.nguoiMuaId, 'USER') }} -->
                    </p>
                </div>
                <div class="assistant text-center ml-5">
                    <p class="m-0 bold mb-20">Trợ lý hậu cần</p>
                    <div class="box-sig"></div>
                    <p class="m-0 bold">
                        <!-- {{ getDataNameById(dataEdit.nguoiMuaId, 'USER') }} -->
                    </p>
                </div>
                <div class="chief text-center">
                    <p class="m-0 bold mb-20">Thủ trưởng đơn vị</p>
                    <div class="box-sig"></div>
                    <p class="m-0 bold">
                        <!-- {{ getDataNameById(dataEdit.nguoiMuaId, 'USER') }} -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-container>
