<div class="page__list" [hidden]="isLoading === true">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH CHẤM CƠM
            </h4>

            <div class="btn-group" *ngIf="allowExec === true">
                <form
                    *ngIf="form"
                    (ngSubmit)="onSubmit()"
                    [formGroup]="form"
                    class="d-flex h-40"
                >
                    <dynamic-form-builder
                        [form]="form"
                        [fields]="fields"
                        [data]="data"
                    >
                    </dynamic-form-builder>
                    <app-button
                        class="ml-10"
                        [type]="'submit'"
                        [matType]="'raised'"
                        [title]="'Tạo phiếu chấm cơm'"
                        [color]="'warn'"
                        [isDisabled]="!form.valid"
                    ></app-button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <!-- Ten Cham Com Column -->
                    <ng-container matColumnDef="tenChamCom">
                        <th mat-header-cell *matHeaderCellDef>Tháng báo cơm</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenChamCom }}
                        </td>
                    </ng-container>

                    <!-- Ngay Tao Column -->
                    <ng-container matColumnDef="creationTime">
                        <th mat-header-cell *matHeaderCellDef>Ngày tạo</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.creationTime | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- Nguoi Cham Column -->
                    <ng-container matColumnDef="creatorUserId">
                        <th mat-header-cell *matHeaderCellDef>Người chấm</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ getUserCreator(element.creatorUserId) }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="editAction(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                                Xem chi tiết
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="dataSource.data.length <= 0">
                    <p class="text-nodata">Không có phiếu chấm cơm</p>
                </ng-container>

                <mat-paginator
                    [pageSize]="10"
                    hidePageSize
                    showFirstLastButtons
                    aria-label="Select page"
                ></mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>
