table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

// td,
// th {
//   width: 25%;
// }

::ng-deep .add-field-dialog-class {
    mat-dialog-container {
        overflow: hidden;
        padding: 0 0 24px;

        // .mat-form-field-appearance-outline .mat-form-field-outline {
        //     color: rgba(0, 0, 0, 0.25);
        // }

        .heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: #8775a7
            background-color: #337ab7;
            padding: 0 20px;

            .mat-dialog-title {
                margin: 0;
                padding: 8px 0;
                height: 52px;
                line-height: 36px;
                text-align: center;
                color: #fff;
            }

            mat-icon {
                text-align: center;
                border: 1px solid #ccc;
                border-radius: 50%;
                background-color: #fff;
                font-size: 18px;
                font-weight: 600;
                line-height: 22px;
                opacity: 1;

                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }

        .mat-dialog-content {
            margin: 30px 0 0;
            padding: 0 20px;
            min-height: 200px;

            .container {
                width: 100%;
            }

            // .mat-form-field-wrapper {
            //     padding-bottom: 1em;
            // }
        }

        .mat-dialog-actions {
            padding: 0 20px;
            background-color: #e5e5e5;
        }
    }
}

// override material paginator
::ng-deep mat-paginator {
    .mat-paginator-navigation-first {
        order: 1;
    }
    .mat-paginator-navigation-previous {
        order: 2;
    }
    // override material paginator page switch
    .mat-paginator-range-label {
        order: 3;
    }
    .mat-paginator-navigation-next {
        order: 4;
    }
    .mat-paginator-navigation-last {
        order: 5;
    }
}
