<div class="heading">
    <div mat-dialog-title>
        <i class="fa fa-pencil-square-o"></i>
        TRƯỜNG DỮ LIỆU (FIELD)
    </div>

    <mat-icon (click)="onCloseDialog()">close</mat-icon>
</div>

<div mat-dialog-content>
    <mat-form-field appearance="standard">
        <mat-label>Tra cứu</mat-label>
        <input
            matInput
            (keyup)="applyFilter.next($event)"
            placeholder="Ex. Mia"
            #input
            spellcheck="false"
        />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                    (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()"
                >
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                >
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Mã.</th>
            <td mat-cell *matCellDef="let element">{{ element.code }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Tên</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Loại</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="required">
            <th mat-header-cell *matHeaderCellDef>Bắt buộc</th>
            <td mat-cell *matCellDef="let element">{{ element.required }}</td>
        </ng-container>

        <ng-container matColumnDef="referenceValue">
            <th mat-header-cell *matHeaderCellDef>Giá trị liên kết</th>
            <td mat-cell *matCellDef="let element">
                {{ element.referenceValue }}
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="selection.toggle(row)"
        ></tr>
    </table>

    <mat-paginator
        hidePageSize
        aria-label="Select page of users"
    ></mat-paginator>
</div>

<div mat-dialog-actions align="end" class="btn-group">
    <app-button
        [type]="'button'"
        [matType]="'flat'"
        [title]="'Lưu'"
        [color]="'primary'"
        [iconRight]="'fa fa-save'"
        (handleClick)="onSubmit()"
        [isDisabled]="selection.selected.length == 0"
    ></app-button>
</div>
