<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH DỤNG CỤ CẤP DƯỠNG TRONG KHO
            </h4>

            <div class="btn-group" *ngIf="allowExec === true">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Nhập tồn ban đầu'"
                    [color]="'warn'"
                    (handleClick)="navigateToBefore()"
                ></app-button>
            </div>
        </div>

        <mat-divider class="header-divider"></mat-divider>

        <!-- SEARCH -->
        <div class="search-layout">
            <app-search-advanced
                [label]="'Tìm kiếm'"
                [placeHolder]="'Tìm kiếm theo tên dụng cụ cấp dưỡng'"
                (getSearchName)="handleInputFilter($event)"
            ></app-search-advanced>
        </div>

        <div class="row">
            <div class="col-12 col-md-12">
                <table mat-table [dataSource]="dataSource" *ngIf="!isLoading">
                    <!-- Code Column -->
                    <ng-container matColumnDef="maDungCuCapDuong">
                        <th mat-header-cell *matHeaderCellDef>Mã DCCD</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.maDungCuCapDuong || element.maDccd }}
                        </td>
                    </ng-container>

                    <!-- Ten Column -->
                    <ng-container matColumnDef="tenDungCuCapDuong">
                        <th mat-header-cell *matHeaderCellDef>Tên DCCD</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenDungCuCapDuong || element.tenDccd }}
                        </td>
                    </ng-container>

                    <!-- Don Vi Tinh Column -->
                    <ng-container matColumnDef="donViTinh">
                        <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.donViTinh }}
                        </td>
                    </ng-container>

                    <!-- Phan Hang Column -->
                    <ng-container matColumnDef="phanHang">
                        <th mat-header-cell *matHeaderCellDef>Hạng</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.phanHang }}
                        </td>
                    </ng-container>

                    <!-- Ton Dau Ky Column -->
                    <ng-container matColumnDef="tonDauKy">
                        <th mat-header-cell *matHeaderCellDef>Tồn đầu kỳ</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tonDauKy }}
                        </td>
                    </ng-container>

                    <!-- Ton Dau Ky Column -->
                    <ng-container matColumnDef="ton">
                        <th mat-header-cell *matHeaderCellDef>SL tồn</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.ton }}
                        </td>
                    </ng-container>

                    <!-- Ton Dau Ky Column -->
                    <ng-container matColumnDef="tongNhap">
                        <th mat-header-cell *matHeaderCellDef>Tổng nhập</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tongNhap }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="p-0"
                                mat-button
                                (click)="showDetail(element)"
                            >
                                <i class="fa fa-bars size-24"></i>
                                Xem chi tiết
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container
                    *ngIf="dataSource.data.length === 0 && !isLoading"
                >
                    <p class="text-nodata">
                        Không có dụng cụ cấp dưỡng trong kho
                    </p>
                </ng-container>

                <mat-paginator
                    [pageSize]="10"
                    hidePageSize
                    showFirstLastButtons
                    aria-label="Select page of users"
                ></mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>
</div>
