<!-- <ng-container *ngIf="thongTuId && !dataEdit" class="spinner-custom">
    <mat-spinner></mat-spinner>
</ng-container> -->
<div class="page__list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4 class="title">
                    <mat-icon>list</mat-icon>
                    Quản lý tiêu chuẩn/ định lượng
                    {{ circular?.tenThongTu }}
                </h4>
            </div>
            <div class="col-md-6">
                <div
                    class="btn-group"
                    style="margin-top: 18px"
                    *ngIf="allowExec === true"
                >
                    <app-button
                        [type]="'button'"
                        [matType]="'raised'"
                        [title]="'Tạo mới'"
                        [color]="'warn'"
                        [iconLeft]="'fa fa-plus'"
                        (handleClick)="createAction()"
                        [isDisabled]="!nameCirculars"
                    ></app-button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="title">Bảng tiêu chuẩn/ định lượng</h5>
            </div>
        </div>
        <!-- SEARCH -->
        <!-- <div class="search-layout">
            <app-search-advanced
                [fieldSearch]="fieldSearch"
                (getSearchInfo)="handleSearch($event)"
            ></app-search-advanced>
        </div> -->

        <!-- <mat-form-field appearance="standard">
            <mat-label>Tìm kiếm theo mã tiêu chuẩn/ định lượng</mat-label>
            <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Tìm kiếm theo mã tiêu chuẩn/ định lượng"
                #input
            />
        </mat-form-field> -->
        <div class="row">
            <div class="col-md-12">
                <!-- {{ exportWarehouseList.items[0] | json }} -->
                <table
                    mat-table
                    [dataSource]="dataSource"
                    class="mat-elevation-z8"
                >
                    <!-- Person Column -->
                    <ng-container matColumnDef="tienAnCb">
                        <th mat-header-cell *matHeaderCellDef>
                            Tiền ăn cơ bản
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{
                                element.mucTienAn
                                    | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                    | priceConvert
                            }}
                            <!-- {{ getUserName(element.maPhieuXuatKho) }} -->
                        </td>
                    </ng-container>

                    <!-- Số lượng Column -->
                    <ng-container matColumnDef="tienAnOm">
                        <th mat-header-cell *matHeaderCellDef>Tiền ăn ốm</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{
                                element.mucTienAnOm
                                    | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                    | priceConvert
                            }}
                        </td>
                    </ng-container>
                    <!-- Thành tiền Column -->
                    <ng-container matColumnDef="tienAnLe">
                        <th mat-header-cell *matHeaderCellDef>Tiền ăn lễ</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{
                                element.mucTienAnLe
                                    | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                    | priceConvert
                            }}
                        </td>
                    </ng-container>
                    <!-- Người xuất Column -->
                    <ng-container matColumnDef="tienAnLamNv">
                        <th mat-header-cell *matHeaderCellDef>
                            Tiền ăn làm nhiệm vụ
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{
                                element.mucTienAnThemNv
                                    | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                    | priceConvert
                            }}
                        </td>
                    </ng-container>

                    <!-- Code Column -->
                    <!-- <ng-container matColumnDef="doiTuong">
                        <th mat-header-cell *matHeaderCellDef>Đối tượng ăn</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            <button
                                class="btn btn-xs orange ng-star-inserted"
                                (click)="showEatObject(element.id)"
                            >
                                Xem đối tượng
                            </button>
                        </td>
                    </ng-container> -->

                    <!-- Status Column -->
                    <ng-container matColumnDef="dinhLuongAn">
                        <th mat-header-cell *matHeaderCellDef>Định lượng ăn</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            <button
                                class="btn btn-xs orange ng-star-inserted"
                                (click)="showQuantity(element.id)"
                            >
                                Xem định lượng
                            </button>
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="handleAction(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                                Cập nhật
                            </button>

                            <button
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteAction(element)"
                            >
                                <i class="fa fa-trash"></i> Xóa
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <mat-paginator
                    class="custom-paginator"
                    [pageSizeOptions]="[10, 15, 20]"
                    showFirstLastButtons
                    aria-label="Select page of exportWarehouseList"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
