.header {
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .adjustment__title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #337ab7;
        font-weight: bold;

        mat-icon {
            font-size: 28px;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .text-title {
            margin: 0;
            display: flex;
            align-items: center;
        }
    }

    .adjustment__btn-group {
        margin-bottom: 10px;
    }
}

.btn.blue:not(.btn-outline) {
    color: #ffffff;
    background-color: #3598dc;
    border-color: #3598dc;
}

.blue-stroked {
    border-color: #3598dc;
    color: #3598dc;
}

.btn.red:not(.btn-outline) {
    color: #ffffff;
    background-color: #e7505a;
    border-color: #e7505a;
}

.table-range {
    .adjustment__search {
        display: flex;
        align-items: center;
        justify-content: space-between;

        mat-form-field {
            padding-right: 36px;
        }
    }
}

.mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}

.w-auto {
    width: auto;
}

.text-reject {
    color: #fff;
    background-color: #e14649;
    border: 1px solid #e14649;
    padding: 16px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #ff7f50;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
    .mat-radio-ripple
    .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #ff7f50;
}

.mr-10 {
    margin-right: 10px;
}

.standard-list {
    display: flex;
    gap: 20px;
    align-items: center;

    .standard-item {
        flex: 1;

        &:nth-of-type(4) {
            flex: 0 0 16.667%;
        }

        button {
            // padding: 2px;
            margin-right: 10px;
        }

        .wrapper-item button {
            width: 100%;
            border-color: currentColor;
        }
    }
}
