<div class="heading">
    <div mat-dialog-title>
        <i class="fa fa-pencil-square-o"></i>
        DANH SÁCH VẬT TƯ, HÀNG HÓA
    </div>

    <mat-icon (click)="onCloseDialog()">close</mat-icon>
</div>

<!--
List table TYPE
- ADJUSTMENT
- ADJUSTMENT_PURCHASE
- ADJUSTMENT_PURCHASE_UPGRADE
- INVENTORY
- PURCHASE
- INVENTORY_IMPORT
- INVENTORY_TRANSFER
- INVENTORY_EXPORT
- FOODY
-->
<div mat-dialog-content>
    <div class="text-right" *ngIf="data.type === 'FOODY'">
        *Nhóm VT, HH màu đỏ là chưa có định lượng cơ bản, có thể chọn vào tên
        màu đỏ để thêm định lượng
    </div>
    <div
        class="row"
        *ngIf="
            data.type !== 'ADJUSTMENT_PURCHASE_UPGRADE' &&
            data.type !== 'INVENTORY_IMPORT'
        "
    >
        <div class="col-12 col-lg-8" *ngIf="availableList.length > 0">
            <mat-form-field appearance="legacy">
                <mat-label>Tìm kiếm theo tên vật tư, hàng hóa</mat-label>
                <input
                    #input
                    matInput
                    placeholder="Nhập tên vật tư, hàng hóa"
                    spellcheck="false"
                    (keyup)="applyFilter.next($event)"
                />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

        <div class="col-12 col-lg-4" *ngIf="availableList.length > 0">
            <mat-form-field appearance="legacy">
                <mat-label>Phân loại nguyên vật liệu</mat-label>
                <mat-select (selectionChange)="handleSelectFilter($event)">
                    <mat-option>Tất cả</mat-option>
                    <mat-option
                        *ngFor="let opt of typeOptions"
                        [value]="opt.key"
                    >
                        {{ opt.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div
        class="row"
        *ngIf="
            data.type === 'ADJUSTMENT_PURCHASE_UPGRADE' ||
            data.type === 'INVENTORY_IMPORT'
        "
    >
        <div class="col-12 col-lg-12" *ngIf="availableList.length > 0">
            <mat-form-field appearance="legacy">
                <mat-label>Tìm kiếm theo tên vật tư, hàng hóa</mat-label>
                <input
                    #input
                    matInput
                    placeholder="Nhập tên vật tư, hàng hóa"
                    spellcheck="false"
                    (keyup)="applyFilter.next($event)"
                />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>

    <table
        *ngIf="data.type === 'ADJUSTMENT'"
        mat-table
        [dataSource]="dataSource"
        class="material-table-dialog"
    >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                    (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()"
                >
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="selectCurrent($event.checked, row)"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                    [disabled]="!row.isEnable"
                >
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="maLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Mã VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.maLttpChatDot }}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tenLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.tenLttpChatDot }}
            </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="donViTinh">
            <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
            <td mat-cell *matCellDef="let element">
                {{ element.donViTinh }}
            </td>
        </ng-container>

        <!-- Out Price Column -->
        <ng-container matColumnDef="giaThiTruong">
            <th mat-header-cell *matHeaderCellDef>Giá thị trường</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Nhập giá thị trường *"
                        [(ngModel)]="element.giaThiTruong"
                        (keyup)="handleValidatePurchase($event, element)"
                        (change)="handleValidatePurchase($event, element)"
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <!-- TTSX Price Column -->
        <ng-container matColumnDef="giaTangGiaSanXuat">
            <th mat-header-cell *matHeaderCellDef>Giá TGSX</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Nhập giá TGSX *"
                        [(ngModel)]="element.giaTangGiaSanXuat"
                        (keyup)="handleValidatePurchase($event, element)"
                        (change)="handleValidatePurchase($event, element)"
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="value10">
            <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        placeholder="Nhập ghi chú"
                        [(ngModel)]="element.value10"
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsAdjustment"></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsAdjustment"
        ></tr>
    </table>

    <table
        *ngIf="data.type === 'ADJUSTMENT_PURCHASE_UPGRADE'"
        mat-table
        [dataSource]="dataSource"
        class="material-table-dialog"
    >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="selectCurrent($event.checked, row)"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                    [disabled]="!row.isEnable"
                >
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="maLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Mã VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.maLttpChatDot }}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tenLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.tenLttpChatDot }}
            </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="donViTinh">
            <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
            <td mat-cell *matCellDef="let element">
                {{ element.donViTinh }}
            </td>
        </ng-container>

        <!-- TTSX Price Column -->
        <ng-container matColumnDef="supply">
            <th mat-header-cell *matHeaderCellDef>Nguồn cung cấp</th>
            <td mat-cell *matCellDef="let element; let ids = index">
                <mat-form-field appearance="outline">
                    <mat-label>Chọn nguồn cung cấp</mat-label>
                    <mat-select
                        (selectionChange)="
                            typeOfSupplyChanged($event, element, ids)
                        "
                        [value]="element.nguonCungCap"
                    >
                        <mat-option
                            *ngFor="let supply of listSupply"
                            [value]="supply.value"
                            >{{ supply.text }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- TTSX Price Column -->
        <ng-container matColumnDef="typeOfPrice">
            <th mat-header-cell *matHeaderCellDef>Chọn loại giá</th>
            <td mat-cell *matCellDef="let element; let ids = index">
                <mat-form-field appearance="outline">
                    <mat-label>Loại giá</mat-label>
                    <mat-select
                        (selectionChange)="
                            typeOfPriceChanged($event, element, ids)
                        "
                        [value]="listPrice[0].value"
                    >
                        <mat-option
                            *ngFor="let price of listPrice"
                            [value]="price.value"
                            >{{ price.text }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="valueOfPrice">
            <th mat-header-cell *matHeaderCellDef>Giá sản phẩm</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        autofocus
                        cdkFocusInitial
                        matInput
                        type="number"
                        min="0"
                        placeholder="Nhập giá"
                        [value]="element.handlePrice"
                        [disabled]="element.handleType !== 'Khac'"
                        (keyup)="getRawDataPrice($event, element)"
                        #handlePriceElement
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="soLuongThucNhap">
            <th mat-header-cell *matHeaderCellDef>Số lượng</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        type="number"
                        min="0"
                        step="0.01"
                        placeholder="Nhập số lượng"
                        [(ngModel)]="element.soLuong"
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="ghiChu">
            <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
            <td mat-cell *matCellDef="let element">
                {{ element.value10 }}
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumnsAdjustmentPurchaseUpgrade"
        ></tr>
        <tr
            mat-row
            *matRowDef="
                let row;
                columns: displayedColumnsAdjustmentPurchaseUpgrade
            "
        ></tr>
    </table>

    <table
        *ngIf="data.type === 'ADJUSTMENT_PURCHASE'"
        mat-table
        [dataSource]="dataSource"
        class="material-table-dialog"
    >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="selectCurrent($event.checked, row)"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                    [disabled]="!row.isEnable"
                >
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="maLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Mã VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.maLttpChatDot }}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tenLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.tenLttpChatDot }}
            </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="donViTinh">
            <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
            <td mat-cell *matCellDef="let element">
                {{ element.donViTinh }}
            </td>
        </ng-container>

        <!-- Out Price Column -->
        <ng-container matColumnDef="giaThiTruong">
            <th mat-header-cell *matHeaderCellDef>Giá thị trường</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Nhập giá thị trường *"
                        required
                        [(ngModel)]="element.giaThiTruong"
                        (keyup)="handleValidatePurchase($event, element)"
                        (change)="handleValidatePurchase($event, element)"
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <!-- TTSX Price Column -->
        <ng-container matColumnDef="giaTangGiaSanXuat">
            <th mat-header-cell *matHeaderCellDef>Giá TGSX</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Nhập giá TGSX"
                        [(ngModel)]="element.giaTangGiaSanXuat"
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="soLuong">
            <th mat-header-cell *matHeaderCellDef>Số lượng</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        placeholder="Nhập Số lượng"
                        [(ngModel)]="element.soLuong"
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumnsAdjustmentPurchase"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsAdjustmentPurchase"
        ></tr>
    </table>

    <table
        *ngIf="data.type === 'INVENTORY'"
        mat-table
        [dataSource]="dataSource"
        class="material-table-dialog"
    >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="selectCurrent($event.checked, row)"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                    [disabled]="!row.isEnable || !row.isHaveAmount"
                >
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="maLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Mã VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.maLttpChatDot }}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tenLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.tenLttpChatDot }}
            </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="phanLoai">
            <th mat-header-cell *matHeaderCellDef>Phân loại NVL</th>
            <td mat-cell *matCellDef="let element">
                {{ getObjectElementUser(element.phanLoai, 'TYPE') }}
            </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="donViTinh">
            <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
            <td mat-cell *matCellDef="let element">
                {{ element.donViTinh }}
            </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="soluongTonKho">
            <th mat-header-cell *matHeaderCellDef>SL tồn</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        type="number"
                        min="1"
                        placeholder="Nhập số lượng tồn"
                        required
                        [(ngModel)]="element.soluongTonKho"
                        (keyup)="handleValidateAmount($event, element)"
                        (change)="handleValidateAmount($event, element)"
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="donGia">
            <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        class="example-right-align"
                        matInput
                        type="number"
                        min="1"
                        placeholder="Nhập đơn giá"
                        required
                        [(ngModel)]="element.donGia"
                        (keyup)="handleValidatePurchase($event, element)"
                        (change)="handleValidatePurchase($event, element)"
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Ngay Het Han Column -->
        <ng-container matColumnDef="ngayHetHan">
            <th mat-header-cell *matHeaderCellDef>Ngày hết hạn</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline" (mouseup)="picker.open()">
                    <input
                        matInput
                        [matDatepicker]="picker"
                        [readonly]="true"
                        placeholder="Nhập ngày hết hạn"
                        [(ngModel)]="element.ngayHetHan"
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsInventory"></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsInventory"
        ></tr>
    </table>

    <table
        *ngIf="data.type === 'PURCHASE'"
        mat-table
        [dataSource]="dataSource"
        class="material-table-dialog"
    >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <!-- <mat-checkbox
                    (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()"
                >
                </mat-checkbox> -->
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="selectCurrent($event.checked, row)"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                    [disabled]="!row.isHaveAmount"
                >
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="maLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Mã VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.maLttpChatDot }}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tenLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.tenLttpChatDot }}
            </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="phanLoai">
            <th mat-header-cell *matHeaderCellDef>Phân loại NVL</th>
            <td mat-cell *matCellDef="let element">
                {{ getObjectElementUser(element.phanLoai, 'TYPE') }}
            </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="donViTinh">
            <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
            <td mat-cell *matCellDef="let element">
                {{ element.donViTinh }}
            </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="soLuong">
            <th mat-header-cell *matHeaderCellDef>Số lượng</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        type="number"
                        min="1"
                        placeholder="Nhập số lượng"
                        required
                        [(ngModel)]="element.soLuong"
                        (keyup)="handleValidateAmount($event, element)"
                        (change)="handleValidateAmount($event, element)"
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsPurchase"></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsPurchase"
        ></tr>
    </table>

    <table
        *ngIf="data.type === 'INVENTORY_IMPORT'"
        mat-table
        [dataSource]="dataSource"
        class="material-table-dialog"
    >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                    (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()"
                >
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="selectCurrent($event.checked, row)"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                >
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="maLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Mã VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.maLttpChatDot }}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tenLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.tenLttpChatDot }}
            </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="donViTinh">
            <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
            <td mat-cell *matCellDef="let element">
                {{ element.donViTinh }}
            </td>
        </ng-container>

        <!-- TTSX Price Column -->
        <ng-container matColumnDef="address">
            <th
                mat-header-cell
                *matHeaderCellDef
                [ngClass]="data.isShow === false ? 'none' : 'block'"
            >
                Địa chỉ mua hàng
            </th>
            <td
                mat-cell
                *matCellDef="let element; let ids = index"
                [ngClass]="data.isShow === false ? 'none' : 'block'"
            >
                <mat-form-field appearance="outline">
                    <mat-label>Chọn địa chỉ mua hàng</mat-label>
                    <mat-select
                        (selectionChange)="
                            typeOfAddressChanged($event, element, ids)
                        "
                        [value]="element.diaChiMuaHang"
                    >
                        <mat-option
                            *ngFor="let address of listAddress"
                            [value]="address.key"
                            >{{ address.name }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- TTSX Price Column -->
        <ng-container matColumnDef="typeOfPrice">
            <th mat-header-cell *matHeaderCellDef>Chọn loại giá</th>
            <td mat-cell *matCellDef="let element; let ids = index">
                <mat-form-field appearance="outline">
                    <mat-label>Loại giá</mat-label>
                    <mat-select
                        (selectionChange)="
                            typeOfPriceChanged($event, element, ids)
                        "
                        [value]="listPrice[0].value"
                    >
                        <mat-option
                            *ngFor="let price of listPrice"
                            [value]="price.value"
                            >{{ price.text }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="valueOfPrice">
            <th mat-header-cell *matHeaderCellDef>Giá sản phẩm</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        autofocus
                        cdkFocusInitial
                        matInput
                        type="number"
                        min="0"
                        placeholder="Nhập giá"
                        [value]="element.handlePrice"
                        [disabled]="element.handleType !== 'Khac'"
                        (keyup)="getRawDataPrice($event, element)"
                        #handlePriceElement
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="soLuongPhaiNhap">
            <th mat-header-cell *matHeaderCellDef>Số lượng phải nhập</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Nhập số lượng phải nhập"
                        [(ngModel)]="element.soLuongPhaiNhap"
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="soLuongThucNhap">
            <th mat-header-cell *matHeaderCellDef>Số lượng thực nhập</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Nhập số lượng thực nhập"
                        [(ngModel)]="element.soLuongThucNhap"
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumnsInventoryImport"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsInventoryImport"
        ></tr>
    </table>

    <table
        *ngIf="data.type === 'INVENTORY_TRANSFER'"
        mat-table
        [dataSource]="dataSource"
        class="material-table-dialog"
    >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="selectCurrent($event.checked, row)"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                    [disabled]="!row.isEnable"
                >
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tenLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.tenLttpChatDot }}
            </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="phanLoai">
            <th mat-header-cell *matHeaderCellDef>Phân loại NVL</th>
            <td mat-cell *matCellDef="let element">
                {{ getObjectElementUser(element.phanLoai, 'TYPE') }}
            </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="donViTinh">
            <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
            <td mat-cell *matCellDef="let element">
                {{ element.donViTinh }}
            </td>
        </ng-container>

        <!-- Thuc Xuat Column -->
        <ng-container matColumnDef="soLuong">
            <th mat-header-cell *matHeaderCellDef>SL thực xuất</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        type="number"
                        min="1"
                        placeholder="Nhập số lượng"
                        required
                        [(ngModel)]="element.soLuong"
                        (keyup)="handleValidatePurchase($event, element)"
                        (change)="handleValidatePurchase($event, element)"
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="donGia">
            <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
            <td mat-cell *matCellDef="let element">
                {{ element.donGia | priceConvert }}
            </td>
        </ng-container>

        <!-- So Luong Ton Column -->
        <ng-container matColumnDef="soluongTonKho">
            <th mat-header-cell *matHeaderCellDef>SL tồn</th>
            <td mat-cell *matCellDef="let element">
                {{ element.ton }}
                <!-- {{ getInventoryOfItem(element.id) }} -->
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumnsInventoryTransfer"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsInventoryTransfer"
        ></tr>
    </table>

    <table
        *ngIf="data.type === 'INVENTORY_EXPORT'"
        mat-table
        [dataSource]="dataSource"
        class="material-table-dialog"
    >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                    (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()"
                >
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="selectCurrent($event.checked, row)"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                >
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tenLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.tenLttpChatDot }}
            </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="phanLoai">
            <th mat-header-cell *matHeaderCellDef>Phân loại NVL</th>
            <td mat-cell *matCellDef="let element">
                {{ getObjectElementUser(element.phanLoai, 'TYPE') }}
            </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="donViTinh">
            <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
            <td mat-cell *matCellDef="let element">
                {{ element.donViTinh }}
            </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="soLuongPhaiXuat">
            <th mat-header-cell *matHeaderCellDef>Phải xuất</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Nhập số lượng phải xuất"
                        [(ngModel)]="element.soLuongPhaiXuat"
                        required
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="soLuongThucXuat">
            <th mat-header-cell *matHeaderCellDef>Thực xuất</th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="outline">
                    <input
                        matInput
                        type="number"
                        min="0"
                        placeholder="Nhập số lượng thực xuất"
                        [(ngModel)]="element.soLuongThucXuat"
                        required
                    />
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="donGia">
            <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
            <td mat-cell *matCellDef="let element">
                {{ element.donGia | priceConvert }}
            </td>
        </ng-container>

        <!-- So Luong Ton Column -->
        <ng-container matColumnDef="soluongTonKho">
            <th mat-header-cell *matHeaderCellDef>SL tồn</th>
            <td mat-cell *matCellDef="let element">
                {{ element.ton }}
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumnsInventoryExport"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsInventoryExport"
        ></tr>
    </table>

    <ng-container
        *ngIf="data.type === 'INVENTORY_EXPORT' && dataSource.data.length === 0"
    >
        <p class="text-nodata">Không có mặt hàng nào trong kho</p>
    </ng-container>

    <table
        *ngIf="data.type === 'FOODY'"
        mat-table
        [dataSource]="dataSource"
        class="material-table-dialog"
    >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                    (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()"
                >
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="selectCurrent($event.checked, row)"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                >
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="maLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Mã VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.maLttpChatDot }}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tenLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
            <td mat-cell *matCellDef="let element">
                {{ element.tenLttpChatDot }}
            </td>
        </ng-container>

        <!-- Group Column -->
        <ng-container matColumnDef="tenNhomLttpChatDot">
            <th mat-header-cell *matHeaderCellDef>Nhóm VT, HH</th>
            <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="element.isHaveDL ? 'success' : 'danger'"
            >
                <span *ngIf="element.isHaveDL">{{
                    element.tenNhomLttpChatDot
                }}</span>
                <span *ngIf="!element.isHaveDL" (click)="navigateDinhLuong()">{{
                    element.tenNhomLttpChatDot
                }}</span>
            </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="donViTinh">
            <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
            <td mat-cell *matCellDef="let element">
                {{ element.donViTinh }}
            </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="phanLoai">
            <th mat-header-cell *matHeaderCellDef>Phân loại NVL</th>
            <td mat-cell *matCellDef="let element">
                {{ getObjectElementUser(element.phanLoai, 'TYPE') }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsFoody"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsFoody"></tr>
    </table>

    <mat-paginator
        [pageSize]="10"
        hidePageSize
        showFirstLastButtons
        aria-label="Select page of users"
    ></mat-paginator>
</div>

<div mat-dialog-actions align="end" class="btn-group">
    <app-button
        [type]="'button'"
        [matType]="'flat'"
        [title]="'Thêm'"
        [color]="'primary'"
        [iconRight]="'fa fa-plus'"
        (handleClick)="onSubmit()"
        [isDisabled]="selection.selected.length === 0"
    ></app-button>
</div>
