.child-menu {
    display: flex;
    flex-direction: column;

    .menu-item {
        padding: 0 15px;
        color: white;
        text-align: left;
        margin: 5px 0;
        white-space: inherit;

        i {
            margin-right: 6px;
            height: 15px;
        }

        mat-icon.icon-menu {
            height: 27px;
        }
    }

    .menu-item::before {
        content: '\A';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #b4bcc8;
        display: block;
        position: absolute;
        left: 0;
        top: 15px;
    }

    .menu-item-child {
        color: white;
        text-align: left;
        box-shadow: none;
        border-radius: 0px;
        background-color: transparent;
        margin: 5px 0;
        position: relative;

        i {
            margin-right: 6px;
            height: 15px;
        }

        mat-icon.icon-menu {
            height: 27px;
        }

        .mat-expansion-panel-header {
            height: 56.3px !important;
            padding: 0px 15px;
        }

        .mat-expansion-panel-header-title {
            align-items: center;
            color: white;
        }
    }

    .menu-item-child::before {
        content: '\A';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #b4bcc8;
        display: block;
        position: absolute;
        left: 0;
        top: 25px;
    }

    .menu-item-child::after {
        border-left: 1px solid #b4bcc8;
        bottom: 0;
        content: '';
        display: block;
        left: 16px;
        position: absolute;
        top: 57px;
        z-index: 1;
        opacity: 0.5;
    }
}

::ng-deep {
    .child-menu {
        .mat-expansion-indicator::after {
            color: white;
        }

        .menu-item-child.mat-expansion-panel:not(.mat-expanded)
            .mat-expansion-panel-header:not([aria-disabled='true']):hover {
            background: black;

            .mat-expansion-panel-header-title {
                align-items: center;
                color: white;
            }

            .mat-expansion-indicator::after {
                color: white;
            }
        }

        .menu-item-child.mat-expanded {
            .mat-expansion-panel-header.mat-expanded:hover {
                background-color: black;
            }

            .mat-expansion-panel-header.mat-expanded {
                .mat-content {
                    .mat-expansion-panel-header-title {
                        color: white;
                    }
                }

                .mat-expansion-indicator::after {
                    color: white;
                }
            }
        }
    }
}

.menu-item:hover {
    color: #09adfb !important;
}

.menu-item-sub:hover {
    color: #09adfb !important;
}

.is-active {
    // background-color: black;
    color: #09adfb !important;
}

.sub-menu {
    display: flex;
    flex-direction: column;

    .menu-item-sub {
        padding: 0 15px;
        color: white;
        text-align: left;
        margin: 5px 0;
        white-space: inherit;

        i {
            margin-right: 6px;
            height: 15px;
        }

        mat-icon.icon-menu {
            height: 27px;
        }
    }

    .menu-item-sub::before {
        border-top: 1px solid #b4bcc8;
        content: '';
        display: block;
        left: 0px;
        position: absolute;
        top: 16px;
        width: 8px;
        z-index: 1;
        opacity: 0.5;
    }

    .menu-sub {
        color: white;
        text-align: left;
        box-shadow: none;
        border-radius: 0px;
        background-color: transparent;
        margin: 5px 0;
        position: relative;

        i {
            margin-right: 6px;
            height: 15px;
        }

        mat-icon.icon-menu {
            height: 27px;
        }

        .mat-expansion-panel-header {
            height: 56.3px !important;
            padding: 0px 15px;
        }

        .mat-expansion-panel-header-title {
            align-items: center;
            color: white;
        }
    }

    .menu-sub::before {
        border-top: 1px solid #b4bcc8;
        content: '';
        display: block;
        left: 0px;
        position: absolute;
        top: 26px;
        width: 8px;
        z-index: 1;
        opacity: 0.5;
    }
}

::ng-deep {
    .sub-menu {
        .mat-expansion-indicator::after {
            color: white;
        }

        .menu-sub.mat-expansion-panel:not(.mat-expanded)
            .mat-expansion-panel-header:not([aria-disabled='true']):hover {
            .mat-content {
                .mat-expansion-panel-header-title {
                    color: #09adfb;
                }
            }

            .mat-expansion-panel-header-title {
                align-items: center;
                color: white;
            }

            .mat-expansion-indicator::after {
                color: white;
            }
        }

        .menu-sub.mat-expansion-panel {
            .mat-content {
                .mat-expansion-panel-header-title {
                    color: #09adfb;
                }
            }

            .mat-expansion-panel-content::before {
                border-left: 1px solid #b4bcc8;
                bottom: 0;
                content: '';
                display: block;
                left: 16px;
                position: absolute;
                top: 57px;
                z-index: 1;
                opacity: 0.5;
            }
        }

        .menu-sub.mat-expanded {
            .mat-expansion-panel-header.mat-expanded:hover {
                background-color: black;
            }

            .mat-expansion-panel-header.mat-expanded {
                .mat-content {
                    .mat-expansion-panel-header-title {
                        color: white;
                    }
                }

                .mat-expansion-indicator::after {
                    color: white;
                }
            }
        }
    }
}
