<mat-accordion>
    <div class="child-menu">
        <ng-container *ngFor="let child of items">
            <mat-expansion-panel
                class="menu-item-child"
                *ngIf="child.children && child.children.length > 0"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ child.name }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-accordion>
                    <ng-container *ngFor="let child of child.children">
                        <ng-container
                            [ngTemplateOutlet]="subMenuTemplate"
                            [ngTemplateOutletContext]="{ menu: child }"
                        >
                        </ng-container>
                    </ng-container>
                </mat-accordion>

                <!-- <app-menu-item #subMenu [items]="child.children"></app-menu-item> -->
            </mat-expansion-panel>

            <button
                *ngIf="
                    (!child.children || child.children.length === 0) &&
                    child.valueData
                "
                mat-button
                class="menu-item"
                [routerLink]="[child?.valueData, { name: child.name }]"
                [routerLinkActive]="['is-active']"
                [routerLinkActiveOptions]="{ exact: true }"
                [class.is-active]="
                    router.isActive('/manage' + child?.valueData)
                "
                (click)="saveIdMenu(child?.id)"
            >
                {{ child.name }}
            </button>
        </ng-container>
    </div>
</mat-accordion>

<ng-template #subMenuTemplate let-menu="menu">
    <div class="sub-menu">
        <!-- <ng-container *ngFor="let child of items"> -->
        <mat-expansion-panel
            class="menu-sub"
            *ngIf="menu.children && menu.children.length > 0"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ menu.name }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let child of menu.children">
                <ng-container
                    [ngTemplateOutlet]="subMenuTemplate"
                    [ngTemplateOutletContext]="{ menu: child }"
                >
                </ng-container>
            </ng-container>
            <!-- <app-menu-item #subMenu [items]="child.children"></app-menu-item> -->
        </mat-expansion-panel>

        <button
            *ngIf="!menu.children || menu.children.length === 0"
            mat-button
            class="menu-item-sub"
            [routerLink]="[menu?.valueData, { name: menu.name }]"
            [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{ exact: true }"
            [class.is-active]="router.isActive('/manage' + menu?.valueData)"
            (click)="saveIdMenu(menu?.id)"
        >
            {{ menu.name }}
        </button>
        <!-- </ng-container> -->
    </div>
</ng-template>
