<div class="app-search-advanced">
    <mat-form-field appearance="legacy">
        <mat-label>{{ label ? label : 'Tìm kiếm theo số chứng từ' }}</mat-label>
        <input
            matInput
            [formControl]="searchCtrl"
            [placeholder]="
                placeHolder ? placeHolder : 'Tìm kiếm theo số chứng từ'
            "
            (keyup)="applyFilter.next($event)"
        />
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <form
        *ngIf="fieldSearch.length > 0"
        [formGroup]="formSearch"
        (ngSubmit)="onSubmit()"
    >
        <dynamic-form-builder [form]="formSearch" [fields]="getFields()">
        </dynamic-form-builder>

        <div style="text-align: center">
            <app-button
                [type]="'button'"
                [matType]="'flat'"
                [title]="'Xóa dữ liệu'"
                [color]="'warn'"
                [iconLeft]="'fa fa-trash'"
                (handleClick)="onDeleteSearchInfo()"
            ></app-button>
            <app-button
                [type]="'submit'"
                [matType]="'flat'"
                [title]="'Lọc'"
                [color]="'primary'"
                [iconLeft]="'fa fa-filter'"
                [isDisabled]="!formSearch.valid"
            ></app-button>
        </div>
    </form>
</div>
