<div class="page__list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Xoá danh sách đã chọn'"
                        [color]="'warn'"
                        [iconLeft]="'fa fa-trash'"
                        [isDisabled]="selection.selected.length == 0"
                        (handleClick)="deleteListItem()"
                    ></app-button>

                    <app-button
                        [type]="'button'"
                        [matType]="'raised'"
                        [title]="'Tạo mới'"
                        [color]="'warn'"
                        [iconLeft]="'fa fa-plus'"
                        (handleClick)="createAction()"
                    ></app-button>
                </div>

                <table
                    mat-table
                    [dataSource]="dataSource"
                    class="mat-elevation-z8"
                >
                    <ng-container matColumnDef="select">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="text-center"
                        >
                            <mat-checkbox
                                (change)="$event ? toggleAllRows() : null"
                                [checked]="
                                    selection.hasValue() && isAllSelected()
                                "
                                [indeterminate]="
                                    selection.hasValue() && !isAllSelected()
                                "
                                [aria-label]="checkboxLabel()"
                            >
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <mat-checkbox
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Code Column -->
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef>Mã</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.code }}
                        </td>
                    </ng-container>

                    <!-- CodeData Column -->
                    <ng-container matColumnDef="codeData">
                        <th mat-header-cell *matHeaderCellDef>Mã ghi nhớ</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.codeData }}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Tên</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.name }}
                        </td>
                    </ng-container>

                    <!-- Type Column -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>Loại</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.type }}
                        </td>
                    </ng-container>

                    <!-- Default Value Column -->
                    <ng-container matColumnDef="defaultValue">
                        <th mat-header-cell *matHeaderCellDef>
                            Giá trị mặc định
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.defaultValue }}
                        </td>
                    </ng-container>

                    <!-- Reference Value Column -->
                    <ng-container matColumnDef="referenceValue">
                        <th mat-header-cell *matHeaderCellDef>
                            Giá trị liên kết
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.referenceValue }}
                        </td>
                    </ng-container>

                    <!-- Reference Value Column -->
                    <ng-container matColumnDef="dependenCodes">
                        <th mat-header-cell *matHeaderCellDef>
                            Field phụ thuộc
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.dependenCodes }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Hành động</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                (click)="editAction(element)"
                                class="btn btn-xs green ng-star-inserted"
                            >
                                <i class="fa fa-pencil-square-o"></i> Cập nhật
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>

                <mat-paginator
                    [pageSizeOptions]="[10, 15, 20]"
                    hidePageSize
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
