.header {
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .adjustment__title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #337ab7;
        font-weight: bold;

        mat-icon {
            font-size: 28px;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
}

.divider-custom {
    margin: 8px 0 24px;
}

.table-range {
    .adjustment__search {
        display: flex;
        align-items: center;
        justify-content: space-between;

        mat-form-field {
            padding-right: 36px;
        }
    }
}

.mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}
