<ng-container *ngIf="adjustmentId && !dataEdit" class="spinner-custom">
    <mat-spinner></mat-spinner>
</ng-container>

<div class="page__list">
    <div class="container-fluid">
        <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-submit">
            <div class="header">
                <h4 class="adjustment__title">
                    <mat-icon>assignment</mat-icon>
                    {{ this.isEdit ? titleOnEdit : 'Tạo phiếu điều chỉnh giá' }}
                </h4>

                <div class="adjustment__btn-group">
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Hủy'"
                        [color]="'warn'"
                        [iconRight]="'fa fa-power-off'"
                        (handleClick)="onBack()"
                    ></app-button>

                    <app-button
                        [type]="'submit'"
                        [matType]="'flat'"
                        [title]="'Lưu'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        [isDisabled]="
                            !form.valid || dataSource.data.length === 0
                        "
                    ></app-button>
                </div>
            </div>

            <mat-divider class="divider-custom"></mat-divider>

            <div>
                <dynamic-form-builder [form]="form" [fields]="fields">
                </dynamic-form-builder>
            </div>
        </form>

        <div class="table-range">
            <div class="adjustment__search">
                <mat-form-field appearance="legacy">
                    <mat-label>Tìm kiếm</mat-label>
                    <input
                        matInput
                        placeholder="Nhập vào từ khóa"
                        (keyup)="applyFilter.next($event)"
                    />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Thêm hàng'"
                    [color]="'primary'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="addRow()"
                ></app-button>
            </div>

            <table mat-table [dataSource]="dataSource" class="table-chitiet">
                <!-- Code Column -->
                <ng-container matColumnDef="maLttpChatDot">
                    <th mat-header-cell *matHeaderCellDef>Mã VT, HH</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.maLttpChatDot }}
                    </td>
                </ng-container>

                <!-- So Chung Tu Column -->
                <ng-container matColumnDef="tenLttpChatDot">
                    <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.tenLttpChatDot }}
                    </td>
                </ng-container>

                <!-- Unit Column -->
                <ng-container matColumnDef="donViTinh">
                    <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.donViTinh }}
                    </td>
                </ng-container>

                <!-- Out Price Column -->
                <ng-container matColumnDef="giaThiTruong">
                    <th mat-header-cell *matHeaderCellDef>Giá thị trường</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{
                            element.giaThiTruong &&
                                (element.giaThiTruong
                                    | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                    | priceConvert)
                        }}
                    </td>
                </ng-container>

                <!-- TTSX Price Column -->
                <ng-container matColumnDef="giaTangGiaSanXuat">
                    <th mat-header-cell *matHeaderCellDef>Giá TGSX</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{
                            element.giaTangGiaSanXuat &&
                                (element.giaTangGiaSanXuat
                                    | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                    | priceConvert)
                        }}
                    </td>
                </ng-container>

                <!-- Notes Column -->
                <ng-container matColumnDef="value10">
                    <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.value10 }}
                    </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button
                            class="btn btn-xs red ng-star-inserted"
                            (click)="deleteAction(element)"
                        >
                            <i class="fa fa-trash"></i> Xóa
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>

            <mat-paginator
                [pageSizeOptions]="[10, 15, 20]"
                hidePageSize
                showFirstLastButtons
                aria-label="Select page of periodic elements"
            >
            </mat-paginator>
        </div>
    </div>
</div>
