<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                KẾT QUẢ TỰ TÚC THỰC PHẨM THÁNG
            </h4>
        </div>

        <!-- Clone header -->
        <!-- Table header 19x4 -->
        <form
            class="rfSearch-form"
            [formGroup]="rfSearch"
            autocomplete="off"
            (ngSubmit)="onSubmit()"
        >
            <div class="wrapper-row-control">
                <div class="row-control row-time">
                    <mat-form-field (mousedown)="picker.open()">
                        <mat-label>Tháng</mat-label>
                        <input
                            matInput
                            placeholder="Chọn tháng"
                            [matDatepicker]="picker"
                            [formControl]="pickerMonth"
                            readonly
                        />
                        <mat-datepicker-toggle
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                            #picker
                            startView="multi-year"
                            (monthSelected)="
                                _monthSelectedHandler($event, picker)
                            "
                        ></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div style="margin-bottom: 12px">
                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Xóa dữ liệu'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-trash'"
                    (handleClick)="resetForm()"
                ></app-button>

                <app-button
                    [type]="'submit'"
                    [matType]="'flat'"
                    [title]="'Lọc'"
                    [color]="'primary'"
                    [iconLeft]="'fa fa-filter'"
                    [isDisabled]="!pickerMonth.valid"
                ></app-button>

                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Xuất Exel'"
                    [color]="'primary'"
                    [iconRight]="'fa fa-save'"
                    (handleClick)="exportExcel()"
                ></app-button>
            </div>
        </form>

        <mat-divider class="my-15"></mat-divider>

        <div class="wrapper-table">
            <table mat-table [dataSource]="dataReport" class="demo-lttp-custom">
                <ng-container matColumnDef="i">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3">
                        STT
                    </th>
                    <mat-cell *matCellDef="let element; let i = index">{{
                        i + 1
                    }}</mat-cell>
                </ng-container>

                <ng-container
                    *ngFor="let column of headerTable"
                    matColumnDef="{{ column }}"
                    class="custom-cell"
                >
                    <ng-container [ngSwitch]="true">
                        <ng-container
                            *ngSwitchCase="
                                column === 'index' ||
                                column === 'tenLttpChatDot' ||
                                column === 'donViTinh' ||
                                column === 'soLuong'
                            "
                        >
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                [attr.rowspan]="2"
                            >
                                {{ renderToText(column) }}
                            </th>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                            <th mat-header-cell *matHeaderCellDef>
                                {{ column }}
                            </th>
                        </ng-container>
                    </ng-container>

                    <!-- <th mat-header-cell *matHeaderCellDef>
                        {{ column }}
                    </th> -->
                    <ng-container [ngSwitch]="true">
                        <ng-container
                            *ngSwitchCase="
                                column === 'donGiaTGSX' ||
                                column === 'donGiaMuaTT' ||
                                column === 'thanhTienTGSX' ||
                                column === 'thanhTienMuaTT' ||
                                column === 'tienChenhLech'
                            "
                        >
                            <td mat-cell *matCellDef="let element">
                                {{
                                    element[column]
                                        ? (element[column] | priceConvert)
                                        : ''
                                }}
                            </td>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                            <td mat-cell *matCellDef="let element">
                                {{ element[column] ? element[column] : '' }}
                            </td>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <!-- <ng-container matColumnDef="tenLTTP">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        [attr.rowspan]="2"
                    >
                        tenLTTP
                    </th>
                </ng-container> -->

                <ng-container matColumnDef="trongDo">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
                        Trong đó
                    </th>
                </ng-container>
                <ng-container matColumnDef="trongDoTgsx">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
                        TGSX
                    </th>
                </ng-container>
                <ng-container matColumnDef="trongDoMuaTT">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
                        Mua TT
                    </th>
                </ng-container>

                <ng-container matColumnDef="tiLeTT">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3">
                        Tỉ lệ tự túc (%)
                    </th>
                </ng-container>

                <ng-container matColumnDef="donGia">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
                        Đơn giá
                    </th>
                </ng-container>
                <ng-container matColumnDef="donGiaTgsx">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
                        TGSX
                    </th>
                </ng-container>
                <ng-container matColumnDef="donGiaTT">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
                        Mua TT
                    </th>
                </ng-container>

                <ng-container matColumnDef="thanhTien">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
                        Thành tiền
                    </th>
                </ng-container>
                <ng-container matColumnDef="thanhTienTG">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
                        TGSX
                    </th>
                </ng-container>
                <ng-container matColumnDef="thanhTienTT">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
                        Mua TT
                    </th>
                </ng-container>

                <ng-container matColumnDef="chenhLech">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3">
                        Tiền chênh lệch (TT -TGSX)
                    </th>
                </ng-container>
                <tr
                    mat-header-row
                    *matHeaderRowDef="[
                        'i',
                        'tenLttpChatDot',
                        'donViTinh',
                        'soLuong',
                        'trongDo',
                        'tiLeTT',
                        'donGia',
                        'thanhTien',
                        'chenhLech'
                    ]"
                ></tr>
                <!-- 'donViTg',
                'nhapTrongNgayThanhTien',
                'SoLuongCN',
                'nhapTrongNgayThanhTien',
                'nhapTrongNgayThanhTien',
                'ThanhTienCN' -->
                <tr
                    mat-header-row
                    *matHeaderRowDef="[
                        'trongDoTgsx',
                        'trongDoMuaTT',
                        'donGiaTgsx',
                        'donGiaTT',
                        'thanhTienTG',
                        'thanhTienTT'
                    ]"
                ></tr>
                <!-- <tr mat-header-row *matHeaderRowDef="headerTable"></tr> -->
                <tr mat-row *matRowDef="let row; columns: headerTable"></tr>
            </table>

            <ng-container *ngIf="dataReport.data.length === 0">
                <p class="text-nodata" style="text-align: center">
                    Không có dữ liệu
                </p>
            </ng-container>

            <!-- <ng-container *ngIf="dataReport.length <= 0">
                <mat-spinner></mat-spinner>
            </ng-container> -->
        </div>
    </div>
</div>

<ng-template
    #templateMatSelect
    let-title="title"
    let-form="form"
    let-options="options"
>
    <mat-form-field [formGroup]="rfSearch">
        <mat-label>{{ title }}</mat-label>
        <mat-select [formControlName]="form">
            <mat-option *ngFor="let food of options" [value]="food.viewValue">
                {{ food.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-template>

<ng-template
    #templateTableMeal
    let-transactionseal="transactionseal"
    let-transactionsMeal="transactionsMeal"
    let-unit="unit"
    let-level="level"
    let-size="size"
    let-all="all"
>
    <p class="text-alert text-alert--small text-alert--default">
        <span *ngIf="unit">Đối tượng: {{ unit }} </span>
        <span *ngIf="level">Mức tiền ăn: {{ level }}</span>
        <span *ngIf="size">Mức ăn: {{ size }}</span>
    </p>

    <section class="table-meal" tabindex="0">
        <table mat-table [dataSource]="transactionsMeal">
            <!-- Item Column -->
            <ng-container matColumnDef="meal">
                <th mat-header-cell *matHeaderCellDef>Buổi ăn</th>
                <td mat-cell *matCellDef="let transactionsMeal">
                    {{ transactionsMeal.meal }}
                </td>
                <td mat-footer-cell *matFooterCellDef>Tổng</td>
            </ng-container>
            <!-- Item Column -->
            <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef>Số lượng ăn</th>
                <td mat-cell *matCellDef="let transactionsMeal">
                    {{ transactionsMeal.cost }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <!-- Item Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
                <td mat-cell *matCellDef="let transactionsMeal">
                    {{ transactionsMeal.price }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Cost Column -->
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>Thành tiền</th>
                <td mat-cell *matCellDef="let transactionsMeal">
                    {{ transactionsMeal.total | currency }}
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    {{ getTotalCost(transactionsMeal) | currency }}
                </td>
            </ng-container>

            <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsMeal; sticky: true"
            ></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsMeal"
            ></tr>
            <tr
                mat-footer-row
                *matFooterRowDef="displayedColumnsMeal; sticky: true"
            ></tr>
        </table>

        <mat-form-field *ngIf="all" class="field-all">
            <mat-label>Tổng cộng</mat-label>
            <input matInput placeholder="Tổng cộng" [value]="all" />
        </mat-form-field>
    </section>
</ng-template>
