<ng-container *ngIf="monAnId && !dataEdit" class="spinner-custom">
    <mat-spinner></mat-spinner>
</ng-container>

<div class="page__list">
    <div class="container-fluid">
        <form
            *ngIf="typeOptions.length > 0"
            (ngSubmit)="onSubmit()"
            [formGroup]="form"
            class="form-submit"
        >
            <div class="header">
                <h4 class="adjustment__title">
                    <mat-icon>assignment</mat-icon>
                    {{ this.isEdit ? titleOnEdit : 'Tạo món ăn mới' }}
                </h4>

                <div class="adjustment__btn-group">
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Hủy'"
                        [color]="'warn'"
                        [iconRight]="'fa fa-power-off'"
                        (handleClick)="onBack()"
                    ></app-button>

                    <app-button
                        [type]="'submit'"
                        [matType]="'flat'"
                        [title]="'Lưu'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        [isDisabled]="
                            !form.valid ||
                            dataSource.length === 0 ||
                            isSelectedMainFood === false
                        "
                    ></app-button>
                </div>
            </div>

            <p class="text-alert text-alert--small text-alert--primary">
                Thông tin cơ bản
            </p>

            <dynamic-form-builder [form]="form" [fields]="fields">
            </dynamic-form-builder>
        </form>

        <p class="text-alert text-alert--small text-alert--primary">
            Nguyên liệu
        </p>

        <div class="d-flex align-center space-between">
            <p class="bold">
                Nguyên liệu chính: <span>{{ value }}</span>
            </p>
            <p class="bold">
                Phần trăm sử dụng được: <span>{{ number1 }}</span>
            </p>
            <p class="bold">
                Nhiệt lượng cung cấp cho 100 gram: <span>{{ number2 }}</span>
            </p>
        </div>
        <div class="d-flex">
            <p class="bold">Thành phần</p>
            <div class="ml-160">
                <form *ngIf="formPLG" [formGroup]="formPLG" class="form-submit">
                    <dynamic-form-builder [form]="formPLG" [fields]="fieldsPLG">
                    </dynamic-form-builder>
                </form>
            </div>
        </div>

        <div class="table-range">
            <div class="adjustment__search">
                <mat-form-field appearance="legacy">
                    <mat-label>Tìm kiếm</mat-label>
                    <input
                        matInput
                        placeholder="Nhập vào từ khóa"
                        (keyup)="applyFilter.next($event)"
                    />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <app-button
                    [type]="'button'"
                    [matType]="'flat'"
                    [title]="'Thêm hàng'"
                    [color]="'primary'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="addRow()"
                ></app-button>
            </div>

            <table mat-table [dataSource]="dataSource" class="table-wrapper">
                <!-- Code Column -->
                <ng-container matColumnDef="maMonAn">
                    <th mat-header-cell *matHeaderCellDef>Mã nguyên liệu</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.maLttpChatDot }}
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="tenMonAn">
                    <th mat-header-cell *matHeaderCellDef>Tên nguyên liệu</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.tenLttpChatDot }}
                    </td>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="maLoaiMonAn">
                    <th mat-header-cell *matHeaderCellDef>
                        Thuộc nhóm LTTP, CĐ
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.tenNhomLttpChatDot }}
                    </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="monChinh">
                    <th mat-header-cell *matHeaderCellDef>
                        Chọn nguyên liệu chính
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-radio-button
                            class="main-food"
                            (click)="selectMainFood(element)"
                            [checked]="element.monChinh"
                        ></mat-radio-button>
                    </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                    <td mat-cell *matCellDef="let element">
                        <button
                            class="btn btn-xs red ng-star-inserted"
                            (click)="deleteAction(element)"
                        >
                            <i class="fa fa-trash"></i> Xóa
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>

            <!-- <mat-paginator
              [pageSizeOptions]="[10, 15, 20]"
              hidePageSize
              showFirstLastButtons
              aria-label="Select page of periodic elements"
          >
          </mat-paginator> -->
        </div>

        <p class="text-alert text-alert--small text-alert--primary">
            Nhiệt lượng cung cấp cho 100 gram
        </p>

        <div class="accordion">
            <mat-accordion>
                <mat-expansion-panel
                    *ngFor="let item of danhSachMucTienAn; let i = index"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Mức tiền ăn {{ item.mucTien }}
                            <!-- priceConvert -->
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="d-flex align-center">
                        <mat-form-field appearance="standard">
                            <mat-label>Định lượng buổi sáng</mat-label>
                            <input
                                matInput
                                [(ngModel)]="item.dinhLuongSang"
                                placeholder="Nhập định lượng buổi sáng"
                                [ngModelOptions]="{ standalone: true }"
                                type="number"
                                min="0"
                            />
                        </mat-form-field>

                        <mat-form-field appearance="standard" class="ml-50">
                            <mat-label>Định lượng buổi trưa (chiều)</mat-label>
                            <input
                                matInput
                                [(ngModel)]="item.dinhLuongTruaChieu"
                                placeholder="Nhập định lượng buổi trưa (chiều)"
                                [ngModelOptions]="{ standalone: true }"
                                type="number"
                                min="0"
                            />
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
