<div class="page__list page-plans">
    <div class="container-fluid">
        <form
            *ngIf="form"
            (ngSubmit)="onSubmit(false)"
            [formGroup]="form"
            class="form-submit"
        >
            <div class="header">
                <h4 class="adjustment__title">
                    <p class="text-title">
                        <mat-icon>assignment</mat-icon>
                        {{
                            isEdit
                                ? titleOnEdit
                                : 'Tạo kế hoạch đảm bảo thực phẩm'
                        }}
                    </p>
                </h4>

                <div class="adjustment__btn-group">
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Hủy'"
                        [color]="'warn'"
                        [iconRight]="'fa fa-power-off'"
                        (handleClick)="onBack()"
                    ></app-button>

                    <!-- <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'In file excel'"
                        [color]="'primary'"
                        [isDisabled]="
                            isFinishedGetDataMoney === false ||
                            isFinishedGetDataMenu === false ||
                            isFinishedGetData === false
                        "
                        (handleClick)="exportExcel()"
                    ></app-button> -->

                    <app-button
                        [type]="'submit'"
                        [matType]="'flat'"
                        [title]="'Lưu'"
                        [color]="'primary'"
                        [iconRight]="'fa fa-save'"
                        [isDisabled]="!form.valid"
                    ></app-button>
                </div>
            </div>

            <mat-divider class="divider-custom"></mat-divider>

            <p class="text-alert text-alert--small text-alert--primary">
                Thông tin cơ bản
            </p>

            <div class="form-builder-content">
                <dynamic-form-builder [form]="form" [fields]="fields">
                </dynamic-form-builder>
            </div>
        </form>

        <mat-divider class="divider-custom"></mat-divider>

        <p class="text-alert text-alert--small text-alert--primary">
            Kế hoạch đảm bảo thực phẩm
        </p>
        <div [hidden]="isFinishedGetData === false">
            <div class="example-small-box">
                <!-- Table NVL -->
                <p class="text-right">
                    Tổng tiền bảo đảm: {{ totalSum | priceConvert }}
                </p>
                <div class="table-range">
                    <mat-accordion>
                        <mat-expansion-panel
                            *ngFor="let item of danhSachMonAn; let i = index"
                            (opened)="handleOpened(i)"
                        >
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ item.buoiAn }}
                                </mat-panel-title>
                                <!-- <mat-panel-description>
                                    <span
                                        >Tổng tiền:
                                        <span class="bold ml-20 font-normal">{{
                                            item.tongThu | priceConvert
                                        }}</span></span
                                    >
                                </mat-panel-description> -->
                            </mat-expansion-panel-header>
                            <div class="adjustment__search">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Tìm kiếm</mat-label>
                                    <input
                                        matInput
                                        placeholder="Nhập vào từ khóa"
                                        (keyup)="applyFilter.next($event)"
                                    />
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>

                                <app-button
                                    [type]="'button'"
                                    [matType]="'flat'"
                                    [title]="'Thêm thực phẩm'"
                                    [color]="'primary'"
                                    [iconLeft]="'fa fa-plus'"
                                    (handleClick)="addRow(i)"
                                ></app-button>
                            </div>
                            <div class="row" *ngIf="item.danhSach.data">
                                <div class="col-md-12">
                                    <table
                                        mat-table
                                        [dataSource]="item.danhSach"
                                        class="table-nvl table-striped"
                                    >
                                        <ng-container
                                            *ngFor="
                                                let column of displayedColumnsOfNVL
                                            "
                                            matColumnDef="{{ column }}"
                                            class="custom-cell"
                                        >
                                            <ng-container [ngSwitch]="true">
                                                <ng-container
                                                    *ngSwitchCase="
                                                        column ===
                                                            'tenLttpChatDot' ||
                                                        column ===
                                                            'donViTinh' ||
                                                        column === 'donGia' ||
                                                        column === 'hienCo'
                                                    "
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                        [attr.rowspan]="3"
                                                    >
                                                        {{
                                                            renderToText(column)
                                                        }}
                                                    </th>
                                                </ng-container>

                                                <ng-container *ngSwitchDefault>
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        {{ column }}
                                                    </th>
                                                </ng-container>
                                            </ng-container>

                                            <ng-container [ngSwitch]="true">
                                                <ng-container
                                                    *ngSwitchCase="
                                                        column === 'donGia'
                                                    "
                                                >
                                                    <ng-container
                                                        matColumnDef="donGia"
                                                    >
                                                        <th
                                                            mat-header-cell
                                                            *matHeaderCellDef
                                                        >
                                                            Đơn giá
                                                        </th>
                                                        <td
                                                            mat-cell
                                                            *matCellDef="
                                                                let element;
                                                                let ids = index
                                                            "
                                                        >
                                                            {{
                                                                element.donGia
                                                                    | priceConvert
                                                            }}
                                                        </td>
                                                    </ng-container>
                                                </ng-container>

                                                <ng-container
                                                    *ngSwitchCase="
                                                        column === 'hienCo'
                                                    "
                                                >
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        <span
                                                            #tooltip="matTooltip"
                                                            [matTooltip]="
                                                                convertNameById(
                                                                    element[
                                                                        'khoId'
                                                                    ],
                                                                    'Inventory'
                                                                )
                                                            "
                                                            matTooltipPosition="above"
                                                            >{{
                                                                element[column]
                                                                    ? element[
                                                                          column
                                                                      ]
                                                                    : ''
                                                            }}</span
                                                        >
                                                    </td>
                                                </ng-container>

                                                <!-- soLuongTrenBdMua -->
                                                <ng-container
                                                    *ngSwitchCase="
                                                        column ===
                                                            'soLuongTrenBdMua' ||
                                                        column ===
                                                            'soLuongTrenBdTg' ||
                                                        column ===
                                                            'soLuongDonViBdMua' ||
                                                        column ===
                                                            'soLuongDonViBdTg'
                                                    "
                                                >
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element;
                                                            let i = index
                                                        "
                                                    >
                                                        <input
                                                            matInput
                                                            type="number"
                                                            min="0"
                                                            placeholder="Nhập số lượng"
                                                            [(ngModel)]="
                                                                element[column]
                                                            "
                                                            [class.active]="
                                                                selectedIndex ===
                                                                element[column]
                                                            "
                                                            [ngModelOptions]="{
                                                                standalone: true
                                                            }"
                                                            (keyup)="
                                                                calculateSelectedAndInput(
                                                                    $event
                                                                        .target
                                                                        .value,
                                                                    element,
                                                                    column
                                                                )
                                                            "
                                                        />
                                                    </td>
                                                </ng-container>

                                                <ng-container
                                                    *ngSwitchCase="
                                                        column === 'thanhTien'
                                                    "
                                                >
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element;
                                                            let i = index
                                                        "
                                                    >
                                                        {{
                                                            element['thanhTien']
                                                                | priceConvert
                                                        }}đ
                                                    </td>
                                                </ng-container>

                                                <ng-container
                                                    *ngSwitchCase="
                                                        column === 'actions'
                                                    "
                                                >
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element;
                                                            let stt = index
                                                        "
                                                    >
                                                        <button
                                                            class="btn btn-xs red ng-star-inserted"
                                                            (click)="
                                                                deleteAction(
                                                                    element,
                                                                    i,
                                                                    stt
                                                                )
                                                            "
                                                        >
                                                            <i
                                                                class="fa fa-trash"
                                                            ></i>
                                                            Xóa
                                                        </button>
                                                    </td>
                                                </ng-container>

                                                <ng-container *ngSwitchDefault>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        {{
                                                            element[column]
                                                                ? element[
                                                                      column
                                                                  ]
                                                                : ''
                                                        }}
                                                    </td>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>

                                        <ng-container matColumnDef="duKienNhap">
                                            <th
                                                mat-header-cell
                                                *matHeaderCellDef
                                                [attr.colspan]="5"
                                            >
                                                Dự kiến nhập
                                            </th>
                                        </ng-container>

                                        <ng-container matColumnDef="trenDB">
                                            <th
                                                mat-header-cell
                                                *matHeaderCellDef
                                                [attr.colspan]="2"
                                            >
                                                Trên BĐ
                                            </th>
                                        </ng-container>

                                        <ng-container matColumnDef="donViDB">
                                            <th
                                                mat-header-cell
                                                *matHeaderCellDef
                                                [attr.colspan]="2"
                                            >
                                                Đơn vị BĐ
                                            </th>
                                        </ng-container>

                                        <ng-container
                                            matColumnDef="thanhTienDuNhap"
                                        >
                                            <th
                                                mat-header-cell
                                                *matHeaderCellDef
                                                [attr.rowspan]="2"
                                            >
                                                Thành tiền
                                            </th>
                                        </ng-container>

                                        <ng-container
                                            matColumnDef="soLuongXuat"
                                        >
                                            <th
                                                mat-header-cell
                                                *matHeaderCellDef
                                                [attr.rowspan]="2"
                                            >
                                                Số lượng
                                            </th>
                                        </ng-container>

                                        <ng-container matColumnDef="tienDuXuat">
                                            <th
                                                mat-header-cell
                                                *matHeaderCellDef
                                                [attr.rowspan]="2"
                                            >
                                                Thành tiền
                                            </th>
                                        </ng-container>

                                        <ng-container matColumnDef="trenDBTT">
                                            <th
                                                mat-header-cell
                                                *matHeaderCellDef
                                                [attr.rowspan]="1"
                                            >
                                                Mua TT
                                            </th>
                                        </ng-container>

                                        <ng-container matColumnDef="trenDBTG">
                                            <th
                                                mat-header-cell
                                                *matHeaderCellDef
                                                [attr.rowspan]="1"
                                            >
                                                TGSX
                                            </th>
                                        </ng-container>

                                        <ng-container matColumnDef="donViTT">
                                            <th
                                                mat-header-cell
                                                *matHeaderCellDef
                                                [attr.rowspan]="1"
                                            >
                                                Mua TT
                                            </th>
                                        </ng-container>

                                        <ng-container matColumnDef="donViTg">
                                            <th
                                                mat-header-cell
                                                *matHeaderCellDef
                                                [attr.rowspan]="1"
                                            >
                                                TGSX
                                            </th>
                                        </ng-container>

                                        <ng-container matColumnDef="thaoTac">
                                            <th
                                                mat-header-cell
                                                *matHeaderCellDef
                                                [attr.rowspan]="3"
                                            >
                                                Thao tác
                                            </th>
                                        </ng-container>

                                        <tr
                                            mat-header-row
                                            *matHeaderRowDef="[
                                                'tenLttpChatDot',
                                                'donViTinh',
                                                'donGia',
                                                'hienCo',
                                                'duKienNhap',
                                                'thaoTac'
                                            ]"
                                        ></tr>
                                        <tr
                                            mat-header-row
                                            *matHeaderRowDef="[
                                                'trenDB',
                                                'donViDB',
                                                'thanhTienDuNhap'
                                            ]"
                                        ></tr>
                                        <tr
                                            mat-header-row
                                            *matHeaderRowDef="[
                                                'trenDBTT',
                                                'trenDBTG',
                                                'donViTT',
                                                'donViTg'
                                            ]"
                                        ></tr>
                                        <tr
                                            mat-row
                                            *matRowDef="
                                                let row;
                                                columns: displayedColumnsOfNVL
                                            "
                                        ></tr>
                                    </table>
                                </div>
                            </div>

                            <mat-spinner
                                [diameter]="50"
                                *ngIf="!item.danhSach.data"
                            ></mat-spinner>

                            <mat-paginator
                                #paginatorList
                                [pageSizeOptions]="[10, 15, 20]"
                                showFirstLastButtons
                                aria-label="Select page of item.danhSach"
                                align="right"
                            >
                            </mat-paginator>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>

        <div class="loading-data">
            <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isEdit && !dataEdit"></mat-spinner>
</div>
