<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH KHO
            </h4>

            <div ng class="btn-group" *ngIf="allowExec">
                <app-button
                    [type]="'button'"
                    [matType]="'stroked'"
                    [title]="'Xoá danh sách đã chọn'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-trash'"
                    [isDisabled]="selection.selected.length == 0"
                    (handleClick)="deleteList()"
                ></app-button>

                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="createAction()"
                ></app-button>
            </div>
        </div>

        <mat-divider class="header-divider"></mat-divider>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource" [hidden]="isLoading">
                    <ng-container matColumnDef="select">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="text-center"
                        >
                            <mat-checkbox
                                *ngIf="allowExec"
                                (change)="$event ? toggleAllRows() : null"
                                [checked]="
                                    selection.hasValue() && isAllSelected()
                                "
                                [indeterminate]="
                                    selection.hasValue() && !isAllSelected()
                                "
                                [aria-label]="checkboxLabel()"
                            >
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <mat-checkbox
                                *ngIf="allowExec"
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Code Column -->
                    <ng-container matColumnDef="maKho">
                        <th mat-header-cell *matHeaderCellDef>Mã kho</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.maKho }}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="tenKho">
                        <th mat-header-cell *matHeaderCellDef>Tên kho</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenKho }}
                        </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="creationTime">
                        <th mat-header-cell *matHeaderCellDef>Ngày tạo</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.creationTime | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <b
                                *ngIf="element.status === 'ENABLE'; else other"
                                class="text-success"
                            >
                                Hoạt động
                            </b>
                            <ng-template #other>
                                <b class="text-danger">Tạm ngưng</b>
                            </ng-template>
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                *ngIf="allowExec"
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="editAction(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                                Cập nhật
                            </button>

                            <button
                                *ngIf="allowExec"
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteAction(element)"
                            >
                                <i class="fa fa-trash"></i> Xóa
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <mat-paginator
                    [hidden]="isLoading === true"
                    [pageSizeOptions]="[10, 15, 20]"
                    hidePageSize
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>
