<div class="page__list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-9">
                <h4 class="title">
                    <mat-icon>list</mat-icon>
                    TỔNG HỢP NHẬP - XUẤT - TỒN KHO
                </h4>
            </div>
        </div>

        <form
            class="rfSearch-form"
            [formGroup]="rfSearch"
            autocomplete="off"
            (ngSubmit)="onSubmit()"
        >
            <div class="wrapper-row-control">
                <div class="row-control-custom">
                    <ng-container
                        [ngTemplateOutlet]="templateMatSelect"
                        [ngTemplateOutletContext]="{
                            title: 'Bếp Ăn',
                            form: 'unitCook',
                            options: foods
                        }"
                    ></ng-container>
                </div>
                <div class="row-control-custom">
                    <ng-container
                        [ngTemplateOutlet]="templateMatSelect"
                        [ngTemplateOutletContext]="{
                            title: 'Kho',
                            form: 'unitStore',
                            options: foods
                        }"
                    ></ng-container>
                </div>
            </div>
            <mat-divider></mat-divider>
        </form>

        <!-- SEARCH -->
        <div class="search-layout">
            <app-search
                [fieldSearch]="fieldSearch"
                (getSearchInfo)="handleSearch($event)"
            ></app-search>
        </div>

        <div class="row">
            <div class="col-12 col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <!-- Code Column -->
                    <ng-container matColumnDef="store">
                        <th mat-header-cell *matHeaderCellDef>Kho</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <!-- {{ getDataFromId(element.lttpChatDotId, 'store') }} -->
                            {{ element.khoId }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                getDataFromId(
                                    element.lttpChatDotId,
                                    'tenLttpChatDot'
                                )
                            }}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nameMaterial">
                        <th mat-header-cell *matHeaderCellDef>
                            Nhóm nguyên vật liệu
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                getDataFromId(element.lttpChatDotId, 'phanLoai')
                            }}
                        </td>
                    </ng-container>

                    <!-- Amount Column -->
                    <ng-container matColumnDef="unit">
                        <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                getDataFromId(
                                    element.lttpChatDotId,
                                    'donViTinh'
                                )
                            }}
                        </td>
                    </ng-container>

                    <!-- Unit Column -->
                    <ng-container matColumnDef="amountImport">
                        <th mat-header-cell *matHeaderCellDef>Tồn đầu kì</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tonDauKy }}
                        </td>
                    </ng-container>

                    <!-- Unit Column -->
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef>SL tồn</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.ton }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="priceImport">
                        <th mat-header-cell *matHeaderCellDef>SL Nhập</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element?.priceImport || 200 }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="priceExport">
                        <th mat-header-cell *matHeaderCellDef>SL Xuất</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element?.priceExport || 100 }}
                        </td>
                    </ng-container>

                    <!-- Unit Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{
                                element.donGia
                                    | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                    | priceConvert
                            }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="btn btn-xs green"
                                mat-button
                                (click)="showDetail(element)"
                            >
                                <!-- <i class="fa fa-bars size-24"></i> -->
                                Xem chi tiết
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="this.dataSource.data.length <= 0">
                    <p class="text-nodata">Không có hàng trong kho</p>
                </ng-container>

                <mat-paginator
                    [pageSizeOptions]="[10, 15, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<ng-template
    #templateMatSelect
    let-title="title"
    let-form="form"
    let-options="options"
>
    <mat-form-field [formGroup]="rfSearch">
        <mat-label>{{ title }}</mat-label>
        <mat-select [formControlName]="form">
            <mat-option *ngFor="let food of options" [value]="food.viewValue">
                {{ food.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-template>
