.wrapper-row-control {
    display: flex;
    align-items: center;
    gap: 50px;

    .row-control-custom {
        flex-basis: 20%;
    }
}

::ng-deep .row-time {
    .mat-form-field .mat-form-field-infix {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}
