<div class="page__list" [hidden]="isLoading === true">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH PHIẾU TỔNG NHẬP KHO
            </h4>
        </div>

        <mat-divider class="header-divider"></mat-divider>

        <!-- SEARCH -->
        <!-- <div class="search-layout">
          <app-search-advanced
              [label]="'Tìm kiếm theo tên biên bản'"
              [placeHolder]="'Nhập vào tên biên bản'"
              [fieldSearch]="fieldSearch"
              (getSearchInfo)="handleSearchAdvanced($event)"
              (getSearchName)="handleInputFilter($event)"
          ></app-search-advanced>
      </div> -->

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="ngayTao">
                        <th mat-header-cell *matHeaderCellDef>Ngày tạo</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-left"
                        >
                            {{ element.ngayTaoPhieu | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="maPhieu">
                        <th mat-header-cell *matHeaderCellDef>Mã phiếu nhập</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.maPhieu }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="soLuongMatHang">
                        <th mat-header-cell *matHeaderCellDef>Số lượng</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.soLuongMatHang }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="thanhTien">
                        <th mat-header-cell *matHeaderCellDef>Tổng tiền</th>
                        <td mat-cell *matCellDef="let element">
                            {{
                                element.cong
                                    | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                    | priceConvert
                            }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="khoNhan">
                        <th mat-header-cell *matHeaderCellDef>Kho nhận</th>
                        <td mat-cell *matCellDef="let element">
                            {{ convertIdToName(element.khoNhanId) }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <!-- Trang thai 3: Đã nhập kho -->
                            <ng-container *ngIf="element.trangThai === 3">
                                <button
                                    class="btn btn-xs green-jungle ng-star-inserted"
                                    (click)="detail(element, element.trangThai)"
                                >
                                    <i class="fa fa-eye"></i> Xem
                                </button>
                            </ng-container>

                            <!-- Trang thai 0: Lưu nháp -->
                            <ng-container *ngIf="element.trangThai === 0">
                                <button
                                    class="btn btn-xs blue ng-star-inserted"
                                    (click)="detail(element, element.trangThai)"
                                >
                                    <i class="fa fa-pencil-square-o"></i>
                                    Cập nhật
                                </button>

                                <button
                                    class="btn btn-xs red ng-star-inserted"
                                    (click)="delete(element)"
                                >
                                    <i class="fa fa-trash"></i> Xóa
                                </button>
                            </ng-container>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="dataSource.data.length <= 0">
                    <p class="text-nodata">Không có phiếu tổng nhập kho</p>
                </ng-container>

                <mat-paginator
                    class="custom-paginator"
                    [pageSizeOptions]="[10, 15, 20]"
                    showFirstLastButtons
                    aria-label="Select page of exportWarehouseList"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>
