.menu {
    display: flex;
    flex-direction: column;

    .menu-item {
        padding: 10px 15px;
        color: white;
        text-align: left;
        white-space: inherit;

        i {
            color: white;
            margin-right: 6px;
            height: 15px;
        }

        mat-icon.icon-menu {
            height: 27px;
        }
    }

    .menu-item-child {
        color: white;
        text-align: left;
        background: transparent;
        box-shadow: none;
        border-radius: 0px;
        position: relative;
        i {
            color: white;
            margin-right: 6px;
            height: 15px;
        }

        mat-icon.icon-menu {
            height: 27px;
        }

        .mat-expansion-panel-header {
            height: 56.3px !important;
            padding: 0px 15px;
        }

        .mat-expansion-panel-header-title {
            align-items: center;
            color: white;
        }
    }
}

::ng-deep {
    .mat-expansion-indicator::after {
        color: white;
    }

    .menu-item-child.mat-expansion-panel:not(.mat-expanded)
        .mat-expansion-panel-header:not([aria-disabled='true']):hover {
        .mat-content {
            .mat-expansion-panel-header-title {
                color: #09adfb !important;

                i {
                    color: #09adfb !important;
                }
            }
        }
    }

    .menu-item-child.mat-expanded {
        .mat-expansion-panel-header.mat-expanded {
            .mat-content {
                .mat-expansion-panel-header-title {
                    color: #09adfb !important;

                    i {
                        color: #09adfb !important;
                    }
                }
            }
            background: black;
        }

        .mat-expansion-panel-body {
            padding: 0 0 0 16px;
        }

        .mat-expansion-panel-content {
            background: black;
        }
    }
}

.menu-item:hover {
    color: #09adfb !important;

    i {
        color: #09adfb !important;
    }
}

span.mat-button-wrapper {
    display: flex;
    align-items: center;
}

.is-active {
    // background-color: black;
    color: #09adfb !important;

    i {
        color: #09adfb !important;
    }
}
// .version-info {
//   font-size: 8pt;
//   float: right;
//   padding: 8px;
// }

// ::ng-deep {
//     #menu-desktop {
//         // position: sticky;
//         // z-index: 10;
//         // top: 0;

//         li.menu-item {
//             list-style: none;
//             position: relative;
//             cursor: pointer;
//             &:hover > a {
//                 background-color: #55616f;
//             }
//             &.has-sub {
//                 a {
//                     padding-right: 26px;
//                 }
//                 .icon-parent {
//                     position: absolute;
//                     right: 11px;
//                     font-size: 15px;
//                     top: 45%;
//                     margin-top: -5px;
//                     color: white;
//                 }
//                 &:hover > a > ul.sub-menu {
//                     display: block;
//                     width: 100%;
//                 }

//                 &:hover > a > ul.grid-menu {
//                     display: block;
//                 }

//                 &:hover > a > ul.grid-menu > .grid-layout{
//                     display: grid;
//                     grid-auto-rows: minmax(min-content,max-content);
//                     grid-template-columns: repeat(2,auto);
//                     white-space: nowrap;
//                 }
//             }

//             &.has-sub.origin {
//                 &:hover > a > ul.grid-menu > .grid-layout{
//                     display: grid;
//                     grid-auto-rows: minmax(min-content,max-content);
//                     grid-template-columns: repeat(2,auto);
//                     overflow: auto;
//                     white-space: nowrap;
//                 }

//                 &:hover > a > ul.sub-menu {
//                     top: 0;
//                     left: 100%;
//                 }

//                 &:hover > a > ul.grid-menu {
//                     top: 100%;
//                     left: 0;
//                 }
//             }
//         }

//         .menu-item-inner {
//             color: #fff;
//             padding: 16px;
//             display: block;
//             text-decoration: none;
//             i.icon-menu {
//                 margin-right: 6px;
//                 min-width: 17px;
//             }
//             i.fa {
//                 color: white;
//             }
//         }

//         ul.list-menu {
//             width: 100%;
//             background-color: #444d58;
//             margin: 0;
//             display: flex;
//             align-items: center;
//             flex-wrap: wrap;
//             padding-left: 0;
//         }

//         ul.sub-menu, ul.grid-menu {
//             padding: 0;
//             display: none;
//             position: absolute;
//             top: 100%;
//             left: 0;
//             background-color: white;
//             z-index: 100;
//             border-radius: 4px;
//             box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
//                 0 4px 5px 0 rgba(0, 0, 0, 0.14),
//                 0 1px 10px 0 rgba(0, 0, 0, 0.12);
//             li.menu-item {
//                 a {
//                     padding: 15px 25px;
//                     text-decoration: none;
//                     color: black;

//                     i.icon-parent,
//                     i.fa {
//                         color: black;
//                     }
//                 }

//                 &:hover > a {
//                     background-color: #444d58;
//                     color: white;

//                     i.icon-parent,
//                     i.fa {
//                         color: white;
//                     }
//                 }

//                 &.has-sub {
//                     a.menu-item-inner > i.fa {
//                         color: black;
//                     }

//                     &:hover > a.menu-item-inner > i.fa {
//                         color: white;
//                     }
//                 }
//             }
//         }

//     }
// }

// .translate-x {
//     transform: translateX(-250px);
// }

// .pl-20-px {
//     padding-left: 20px !important;
// }

// .pl-40-px {
//     padding-left: 40px !important;
// }

// .pl-60-px {
//     padding-left: 60px !important;
// }
