<!-- <div class="menu">
    <span *ngFor="let item of menus">
        <span *ngIf="item.children && item.children.length > 0"> -->
<!-- Handle branch node buttons here -->
<!-- <button
                #button
                mat-button
                class="menu-item"
                [matMenuTriggerFor]="menu.childMenu"
                #menuTrigger="matMenuTrigger"
            >
                <i [ngClass]="item.icon"></i>
                {{ item.name }}
                <mat-icon class="icon-menu">chevron_right</mat-icon>
            </button>

        </span>
        <span *ngIf="!item.children || item.children.length === 0"> -->
<!-- Leaf node buttons here -->
<!-- <button
                mat-button
                color="primary"
                class="menu-item"
                [routerLink]="['/manager', item.valueData, { name: item.name }]"
            >
                <i [ngClass]="item.icon"></i>
                {{ item.name }}
            </button>
        </span>
    </span>
</div> -->
<mat-accordion>
    <div class="menu">
        <ng-container *ngFor="let item of menus">
            <mat-expansion-panel
                class="menu-item-child"
                *ngIf="item.children && item.children.length > 0"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <i [ngClass]="item.icon"></i>
                        {{ item.name }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-menu-item #menu [items]="item.children"></app-menu-item>
            </mat-expansion-panel>

            <button
                *ngIf="
                    (!item.children || item.children.length === 0) &&
                    item.valueData
                "
                mat-button
                class="menu-item"
                [routerLink]="[item?.valueData]"
                [routerLinkActive]="['is-active']"
                [routerLinkActiveOptions]="{ exact: true }"
                [class.is-active]="router.isActive('/manage' + item?.valueData)"
                (click)="saveIdMenu(item?.id)"
            >
                <i [ngClass]="item.icon"></i>
                {{ item.name }}
            </button>
        </ng-container>
    </div>
</mat-accordion>

<!-- menu on desktop -->
<!-- <div id="menu-desktop" class="navigation d-none d-lg-block d-xl-block">
    <ul class="list-menu">
        <ng-container *ngFor="let menu of menus; let i = index">
            <ng-container
                [ngTemplateOutlet]="menuTemplate1"
                [ngTemplateOutletContext]="{ menu: menu, index: i }"
            >
            </ng-container>
        </ng-container>
    </ul>
</div>

<ng-template #menuTemplate1 let-menu="menu" let-index="index">
    <li
        class="menu-item"
        [ngClass]="{ 'has-sub ': menu.children.length !== 0 }"
    >
        <a (click)="routeLink(menu)" class="menu-item-inner">
            <ng-container
                [ngTemplateOutlet]="menuTemplate2"
                [ngTemplateOutletContext]="{ menu: menu }"
            >
            </ng-container>
        </a>
    </li>
</ng-template>

<ng-template #menuTemplate3 let-menu="menu" let-index="index">
    <li
        class="menu-item"
        [ngClass]="{ 'has-sub origin': menu.children.length !== 0 }"
    >
        <a (click)="routeLink(menu)" class="menu-item-inner">
            <ng-container
                [ngTemplateOutlet]="menuTemplate2"
                [ngTemplateOutletContext]="{ menu: menu }"
            >
            </ng-container>
        </a>
    </li>
</ng-template>

<ng-template #menuTemplate2 let-menu="menu">
    <i *ngIf="menu.icon" class="icon-menu {{ menu.icon }}"></i>
    <ng-container *ngIf="menu.children.length === 0">
        {{ menu.name }}
    </ng-container>

    <ng-container
        *ngIf="menu.children.length !== 0 && menu.children.length < 12"
    >
        {{ menu.name }}
        <i
            *ngIf="menu.children.length"
            class="icon-parent right fa"
            [ngClass]="menu.parentId ? 'fa-angle-right' : 'fa-angle-down'"
        ></i>
        <ul class="sub-menu" role="menu">
            <ng-container *ngFor="let child of menu.children">
                <ng-container
                    [ngTemplateOutlet]="menuTemplate3"
                    [ngTemplateOutletContext]="{ menu: child }"
                >
                </ng-container>
            </ng-container>
        </ul>
    </ng-container>

    <ng-container
        *ngIf="menu.children.length !== 0 && menu.children.length >= 12"
    >
        {{ menu.name }}
        <i
            *ngIf="menu.children.length"
            class="icon-parent right fa"
            [ngClass]="menu.parentId ? 'fa-angle-right' : 'fa-angle-down'"
        ></i>
        <ul class="grid-menu" role="menu">
            <div class="grid-layout">
                <ng-container *ngFor="let child of menu.children">
                    <div class="item-child">
                        <ng-container
                            [ngTemplateOutlet]="menuTemplate3"
                            [ngTemplateOutletContext]="{ menu: child }"
                        >
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </ul>
    </ng-container>
</ng-template> -->
