.btn-group-2 {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider-custom {
    margin: 8px 0 24px;
}

.float-right {
    margin-top: 16px;
    float: right;
}

.loading {
    .mat-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
    }
}
