<div class="page__list" [hidden]="isLoading === true">
    <div class="container-fluid">
        <div class="header-wrapper">
            <div>
                <h4 class="title" *ngIf="!idInventory">
                    <mat-icon>list</mat-icon>
                    NHẬP TỒN KHO BAN ĐẦU
                </h4>

                <h4 class="title" *ngIf="idInventory">
                    <mat-icon>list</mat-icon>
                    NHẬP TỒN KHO BAN ĐẦU CỦA "{{ nameWarehouse }}"
                </h4>
            </div>

            <div class="btn-group">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Thêm hàng'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="addRow()"
                ></app-button>
            </div>
        </div>

        <mat-divider class="divider-custom"></mat-divider>

        <form
            *ngIf="warehouseList.length > 0"
            (ngSubmit)="onSubmit()"
            [formGroup]="form"
            class="form-submit"
        >
            <div>
                <dynamic-form-builder [form]="form" [fields]="fields">
                </dynamic-form-builder>
            </div>

            <mat-divider class=""></mat-divider>

            <table mat-table [dataSource]="dataSource">
                <!-- Code Column -->
                <ng-container matColumnDef="maLttpChatDot">
                    <th mat-header-cell *matHeaderCellDef>Mã VT, HH</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.maLttpChatDot }}
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="tenLttpChatDot">
                    <th mat-header-cell *matHeaderCellDef>Tên VT, HH</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.tenLttpChatDot }}
                    </td>
                </ng-container>

                <!-- Amount Column -->
                <ng-container matColumnDef="soluongTonKho">
                    <th mat-header-cell *matHeaderCellDef>Số lượng</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.soluongTonKho }}
                    </td>
                </ng-container>

                <!-- Unit Column -->
                <ng-container matColumnDef="donViTinh">
                    <th mat-header-cell *matHeaderCellDef>Đơn vị tính</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.donViTinh }}
                    </td>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="donGia">
                    <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{
                            element.donGia
                                | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                | priceConvert
                        }}
                    </td>
                </ng-container>

                <!-- Total Column -->
                <ng-container matColumnDef="thanhTien">
                    <th mat-header-cell *matHeaderCellDef>Thành tiền</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{
                            element.thanhTien
                                | currency : 'VND' : 'symbol' : '1.0' : 'vi'
                                | priceConvert
                        }}
                    </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button
                            type="button"
                            class="btn btn-xs blue ng-star-inserted"
                            (click)="editAction(element)"
                        >
                            <i class="fa fa-pencil-square-o"></i> Cập nhật
                        </button>

                        <button
                            type="button"
                            class="btn btn-xs red ng-star-inserted"
                            (click)="deleteAction(element)"
                        >
                            <i class="fa fa-trash"></i> Xóa
                        </button>
                    </td>
                </ng-container>

                <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumnsOfField"
                ></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumnsOfField"
                ></tr>
            </table>

            <mat-paginator
                [pageSizeOptions]="[10, 15, 20]"
                hidePageSize
                showFirstLastButtons
                aria-label="Select page of periodic elements"
            >
            </mat-paginator>

            <div class="total-price">
                <p>
                    <b>Tổng: {{ totalPrice | priceConvert }} VND</b>
                </p>
            </div>

            <mat-divider></mat-divider>

            <div class="btn-group-2" *ngIf="idInventory">
                <app-button
                    [type]="'button'"
                    [matType]="'stroked'"
                    [title]="'Quay lại danh sách'"
                    [color]="'warn'"
                    [iconRight]="'fa fa-power-off'"
                    (handleClick)="onBack()"
                ></app-button>

                <app-button
                    [type]="'submit'"
                    [matType]="'flat'"
                    [title]="'Lưu'"
                    [color]="'primary'"
                    [iconRight]="'fa fa-save'"
                    [isDisabled]="!form.valid || dataSource.data.length === 0"
                ></app-button>
            </div>

            <div class="float-right" *ngIf="!idInventory">
                <app-button
                    [type]="'submit'"
                    [matType]="'flat'"
                    [title]="'Lưu'"
                    [color]="'primary'"
                    [iconRight]="'fa fa-save'"
                    [isDisabled]="!form.valid || dataSource.data.length === 0"
                ></app-button>
            </div>
        </form>
    </div>
</div>

<div class="loading">
    <mat-spinner [diameter]="50" *ngIf="isLoading === true"></mat-spinner>
</div>
