@import "~material-design-icons/iconfont/material-icons.css";
@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

img {
  max-width: 100%;
}
