<div class="page__list">
    <div class="container-fluid">
        <div class="header-wrapper">
            <h4 class="title">
                <mat-icon>list</mat-icon>
                DANH SÁCH CHUYỂN ĐỔI ĐƠN VỊ
            </h4>

            <div class="btn-group" *ngIf="allowExec === true">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="openDialog(null)"
                ></app-button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <!-- Code Column -->
                    <!-- <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef>STT</th>
                        <td
                            mat-cell
                            *matCellDef="let index = index"
                            class="text-center"
                        >
                            {{ index + 1 }}
                        </td>
                    </ng-container> -->

                    <!-- Person Column -->
                    <ng-container matColumnDef="from">
                        <th mat-header-cell *matHeaderCellDef>
                            Đơn vị tính cơ bản
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ getUnitOptionsbyId(element.from) }}
                        </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="to">
                        <th mat-header-cell *matHeaderCellDef>
                            Đơn vị quy đổi
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ getUnitOptionsbyId(element.to) }}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="rate">
                        <th mat-header-cell *matHeaderCellDef>
                            Giá trị quy đổi
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.rate }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="editAction(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                                Cập nhật
                            </button>

                            <button
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteAction(element)"
                            >
                                <i class="fa fa-trash"></i> Xóa
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <mat-paginator
                    #paginator
                    [length]="totalRows"
                    [pageIndex]="currentPage"
                    [pageSize]="pageSize"
                    hidePageSize
                    showFirstLastButtons
                    (page)="pageChanged($event)"
                    aria-label="Select page"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
