<div class="page__list">
    <div class="container-fluid">
        <form
            *ngIf="form"
            [formGroup]="form"
            class="form-submit"
            (ngSubmit)="onSubmit()"
        >
            <div class="row">
                <div class="col-12 col-md-12">
                    <h4 class="title">
                        <mat-icon>assignment</mat-icon>
                        {{
                            !isEdit
                                ? 'Tạo mới thực đơn'
                                : !typeAction
                                ? 'Sửa thực đơn'
                                : 'XEM CHI TIẾT THỰC ĐƠN'
                        }}
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="basic-info">
                        <div class="box">Thông tin cơ bản</div>

                        <div class="pl-0 col-12 col-md-6">
                            <mat-form-field
                                class="example-full-width"
                                (mousedown)="isEdit ? null : pickerStart.open()"
                            >
                                <mat-label>Ngày bắt đầu</mat-label>
                                <input
                                    matInput
                                    [matDatepickerFilter]="myFilter"
                                    [matDatepicker]="pickerStart"
                                    [formControl]="dateStart"
                                    [min]="minDate"
                                    readonly
                                    (dateChange)="getEndDateOfWeek($event)"
                                />
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="pickerStart"
                                    [disabled]="isEdit"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #pickerStart></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="pr-0 col-12 col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Ngày kết thúc</mat-label>
                                <input
                                    matInput
                                    [matDatepicker]="pickerEnd"
                                    [formControl]="dateEnd"
                                    readonly
                                />
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="pickerEnd"
                                    [disabled]="true"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #pickerEnd></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <dynamic-form-builder
                            [form]="form"
                            [fields]="basicFields"
                        >
                        </dynamic-form-builder>
                    </div>

                    <div class="dishes-info">
                        <div class="box">Thông tin món ăn</div>
                        <div class="px-20">
                            <div class="header">
                                <div class="row d-flex align-center">
                                    <div class="col-12 col-md-6">
                                        <p class="text-header">
                                            Danh sách món ăn
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-6 align-end">
                                        <!-- <app-button
                                            *ngIf="listDetailMenu.length > 0"
                                            [color]="'primary'"
                                            [matType]="'stroked'"
                                            [type]="'button'"
                                            [title]="'In thực đơn'"
                                            mat-raised-button
                                            (handleClick)="
                                                exportTable('printer', '')
                                            "
                                        >
                                            In thực đơn
                                        </app-button> -->

                                        <app-button
                                            *ngIf="listDetailMenu.length > 0"
                                            [color]="'primary'"
                                            [matType]="'stroked'"
                                            [type]="'button'"
                                            [title]="'Xuất execl thực đơn'"
                                            mat-raised-button
                                            (handleClick)="exportExcel()"
                                        >
                                        </app-button>

                                        <app-button
                                            *ngIf="!typeAction"
                                            [type]="'button'"
                                            [matType]="'flat'"
                                            [title]="'Thêm món'"
                                            [color]="'primary'"
                                            (handleClick)="modalListMenu(null)"
                                            [isDisabled]="!isAddFood"
                                        ></app-button>
                                    </div>
                                </div>
                            </div>

                            <div class="body">
                                <div
                                    *ngIf="listDetailMenu.length > 0"
                                    class="scroll-y"
                                >
                                    <table class="tg" style="width: 100%">
                                        <colgroup>
                                            <col style="width: 2%" />
                                            <col style="width: 14%" />
                                            <col style="width: 14%" />
                                            <col style="width: 14%" />
                                            <col style="width: 14%" />
                                            <col style="width: 14%" />
                                            <col style="width: 14%" />
                                            <col style="width: 14%" />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="tg-9wq8" rowspan="2">
                                                    TT
                                                </th>
                                                <th
                                                    class="tg-c3ow"
                                                    *ngFor="
                                                        let item of listDetailMenu
                                                    "
                                                >
                                                    Ngày
                                                    {{
                                                        item.ngayAn
                                                            | date
                                                                : 'dd/MM/yyyy'
                                                    }}
                                                    <i
                                                        *ngIf="!typeAction"
                                                        class="btn btn-xs position-absolute fa fa-pencil-square-o"
                                                        (click)="
                                                            modalListMenu(item)
                                                        "
                                                    ></i>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th
                                                    class="tg-c3ow p-0"
                                                    *ngFor="
                                                        let item of listDetailMenu
                                                    "
                                                >
                                                    <tr class="border-0">
                                                        <td
                                                            class="max-w custom-border p-10"
                                                        >
                                                            <span>{{
                                                                convertDayToVN(
                                                                    item.ngayAn
                                                                        | date
                                                                            : 'EEEE'
                                                                )
                                                            }}</span>
                                                        </td>
                                                    </tr>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody
                                            *ngFor="let i of meal; index as y"
                                        >
                                            <ng-container
                                                *ngFor="
                                                    let data of listDetailMenu;
                                                    index as x
                                                "
                                            >
                                                <td
                                                    class="bold border-0"
                                                    *ngIf="x === 0"
                                                >
                                                    {{ i }}
                                                </td>
                                                <td class="p-0 border-0">
                                                    <ng-container
                                                        *ngFor="
                                                            let menu of data.chiTietNgay
                                                        "
                                                        ><tbody
                                                            class="body-food"
                                                        >
                                                            <tr
                                                                class="border-0"
                                                            >
                                                                <td
                                                                    *ngIf="
                                                                        convertToMeal(
                                                                            menu.buoiAn
                                                                        ) === y
                                                                    "
                                                                    class="max-w custom-border p-0"
                                                                >
                                                                    <ng-container
                                                                        *ngFor="
                                                                            let monAn of menu.danhSach
                                                                        "
                                                                    >
                                                                        <div
                                                                            class="d-flex justify-content-between align-center px-10"
                                                                        >
                                                                            <span
                                                                                [ngClass]="
                                                                                    checkMainDish(
                                                                                        monAn.monAnId
                                                                                    ) ===
                                                                                    'MC'
                                                                                        ? 'italic'
                                                                                        : ''
                                                                                "
                                                                            >
                                                                                {{
                                                                                    compareObject(
                                                                                        monAn.monAnId,
                                                                                        'FOOD'
                                                                                    )
                                                                                }}</span
                                                                            >
                                                                            <mat-form-field
                                                                                appearance="legacy"
                                                                                class="w-20"
                                                                            >
                                                                                <input
                                                                                    matInput
                                                                                    type="number"
                                                                                    min="0"
                                                                                    [(ngModel)]="
                                                                                        monAn.dinhLuong
                                                                                    "
                                                                                    [ngModelOptions]="{
                                                                                        standalone: true
                                                                                    }"
                                                                                />
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </ng-container>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </ng-container>
                                                </td>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>

                                <div
                                    class="text-center"
                                    *ngIf="listDetailMenu.length === 0"
                                >
                                    Chưa chọn món ăn
                                </div>
                            </div>

                            <mat-divider class="mt-20"></mat-divider>

                            <div class="footer">
                                <app-button
                                    [type]="'button'"
                                    [matType]="'stroked'"
                                    [title]="'Quay lại danh sách'"
                                    [color]="'primary'"
                                    (handleClick)="goBack()"
                                ></app-button>
                                <app-button
                                    *ngIf="!typeAction"
                                    [type]="'submit'"
                                    [matType]="'flat'"
                                    [title]="isEdit ? 'Lưu lại' : 'Tạo mới'"
                                    [color]="'primary'"
                                    [isDisabled]="
                                        isAddFood === false || !form.valid
                                    "
                                ></app-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div
    id="printer"
    [ngClass]="
        listDetailMenu.length > 0 && isPrinter === true ? 'block' : 'none'
    "
>
    <div class="header px-20">
        <div class="row d-flex align-center justify-space-between">
            <div>
                <p class="bold m-0 mb-10">Đơn vị:</p>
                <div class="text-center">
                    <p class="bold m-0">PHÊ DUYỆT</p>
                    <p class="italic m-0">
                        Ngày {{ '&emsp;' + monthAndYearInPrinter }}
                    </p>
                    <p class="bold m-0 mb-10">HIỆU TRƯỞNG</p>
                </div>
            </div>
            <div>
                <div class="text-center">
                    <p class="bold m-0 mb-10">
                        CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM
                    </p>
                    <p class="bold m-0">Độc lập - Tự do - Hạnh phúc</p>
                    <hr class="underline w-60" />
                    <p class="italic m-0">Khánh Hoà, {{ dateInPrinter }}</p>
                </div>
            </div>
        </div>
        <div class="text-center mt-20 mb-20">
            <p class="bold m-0">THỰC ĐƠN TUẦN</p>
            <p class="m-0">
                ( Đối tượng ăn:
                <ng-container *ngIf="listPrice.length > 0">
                    <span *ngFor="let object of listPrice"
                        >{{ object | priceConvert }}đ/người/ngày;
                    </span> </ng-container
                >)
            </p>
            <p class="m-0">{{ dateStartAndEndInPrinter }}</p>
        </div>
    </div>
    <table class="tg" style="width: 100%">
        <colgroup>
            <col style="width: 2%" />
            <col style="width: 14%" />
            <col style="width: 14%" />
            <col style="width: 14%" />
            <col style="width: 14%" />
            <col style="width: 14%" />
            <col style="width: 14%" />
            <col style="width: 14%" />
        </colgroup>
        <thead>
            <tr>
                <th class="tg-9wq8" rowspan="2">TT</th>
                <th class="tg-c3ow" *ngFor="let item of listDetailMenu">
                    Ngày
                    {{ item.ngayAn | date : 'dd/MM/yyyy' }}
                    <i
                        class="btn btn-xs position-absolute fa fa-pencil-square-o"
                        (click)="modalListMenu(item)"
                    ></i>
                </th>
            </tr>
            <tr>
                <th class="tg-c3ow p-0" *ngFor="let item of listDetailMenu">
                    <span>{{
                        convertDayToVN(item.ngayAn | date : 'EEEE')
                    }}</span>
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let i of meal; index as y">
            <ng-container *ngFor="let data of listDetailMenu; index as x">
                <td class="bold border-0" *ngIf="x === 0">
                    {{ i }}
                </td>
                <td class="p-0 border-0">
                    <ng-container *ngFor="let menu of data.chiTietNgay">
                        <ng-container *ngIf="convertToMeal(menu.buoiAn) === y">
                            <ng-container *ngFor="let monAn of menu.danhSach">
                                <div
                                    class="d-flex justify-space-between align-center my-10"
                                >
                                    <p
                                        class="m-0 my-10"
                                        [ngClass]="
                                            checkMainDish(monAn.monAnId) ===
                                            'MC'
                                                ? 'italic'
                                                : ''
                                        "
                                    >
                                        {{
                                            compareObject(monAn.monAnId, 'FOOD')
                                        }}
                                    </p>
                                    <p
                                        class="m-0 my-10"
                                        *ngIf="monAn.dinhLuong"
                                    >
                                        {{ monAn.dinhLuong }}gr
                                    </p>

                                    <p
                                        class="m-0 my-10"
                                        *ngIf="!monAn.dinhLuong"
                                    >
                                        {{ monAn.dinhLuong }}
                                    </p>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </td>
            </ng-container>
        </tbody>
    </table>
    <div class="footer">
        <div class="row d-flex justify-space-between">
            <div class="col-9 col-md-9 mt-10">
                <div class="row d-flex">
                    <div class="m-0">
                        <p class="bold m-0">Ghi chú:</p>
                    </div>
                    <div class="ml-5">
                        <ng-container *ngIf="listPrice.length > 0">
                            <p class="m-0" *ngFor="let object of listPrice">
                                Đối tượng ăn {{ object | priceConvert }}đ/người
                                /ngày các món ăn in nghiêng chia số
                                lượng........
                            </p>
                        </ng-container>
                        <p class="m-0">Các món ăn khác chia như nhau</p>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-3 text-center">
                <p class="bold m-0">PHÓ CHỦ NHIỆM HẬU CẦN</p>
                <div class="box-sig"></div>
                <p class="bold m-0"></p>
            </div>
        </div>
    </div>
</div>
