<div class="page__list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4 class="title">
                    <mat-icon>list</mat-icon>
                    Quản lý thực đơn
                </h4>
            </div>
            <div class="col-md-6" align="right">
                <div class="btn-group">
                    <!-- <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Xoá danh sách đã chọn'"
                        [color]="'warn'"
                        [iconLeft]="'fa fa-trash'"
                        [isDisabled]=""
                        (handleClick)="(null)"
                    ></app-button> -->

                    <app-button
                        [type]="'button'"
                        [matType]="'raised'"
                        [title]="'Tạo mới'"
                        [color]="'warn'"
                        [iconLeft]="'fa fa-plus'"
                        (handleClick)="createAction()"
                    ></app-button>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <app-search
            [fieldSearch]="fieldSearch"
            [function]="null"
            (getSearchInfo)="handleSearch($event)"
        ></app-search>
        <div class="row">
            <div class="col-md-12">
                <table
                    mat-table
                    [dataSource]="dataSource"
                    class="mat-elevation-z8"
                >
                    <!-- Checkbox Column -->
                    <!-- <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox
                                (change)="$event ? toggleAllRows() : null"
                                [checked]="
                                    selection.hasValue() && isAllSelected()
                                "
                                [indeterminate]="
                                    selection.hasValue() && !isAllSelected()
                                "
                                [aria-label]="checkboxLabel()"
                            >
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container> -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef>Vị trí</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.index }}
                        </td>
                    </ng-container>

                    <!-- Code Column -->
                    <ng-container matColumnDef="codeData">
                        <th mat-header-cell *matHeaderCellDef>Mã món</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.codeData }}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Tên món</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.name }}
                        </td>
                    </ng-container>

                    <!-- Description Column -->
                    <ng-container matColumnDef="des">
                        <th mat-header-cell *matHeaderCellDef>Mô tả</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.value1 }}
                        </td>
                    </ng-container>

                    <!-- Start of Date Column -->
                    <ng-container matColumnDef="fromDate">
                        <th mat-header-cell *matHeaderCellDef>Áp dụng từ</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.value2 | date: 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- End of Date Column -->
                    <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef>Đến ngày</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.value3 | date: 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
                        <td mat-cell *matCellDef="let element">
                            {{
                                element.status !== 'DEFAULT'
                                    ? element.status
                                    : ''
                            }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Hành động</th>
                        <td mat-cell *matCellDef="let element">
                            <button
                                (click)="editAction(element)"
                                class="btn btn-xs green ng-star-inserted"
                                style="padding: 5px"
                            >
                                <i class="fa fa-pencil-square-o"></i> Cập nhật
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                    <!-- <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                      (click)="selection.toggle(row)"
                  ></tr> -->
                </table>

                <mat-paginator
                    [pageSizeOptions]="[10, 15, 20]"
                    hidePageSize
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
