.home-page {
  padding: 100px 0;
}

.example-container {
  height: 450px;
  overflow: auto;

  table.mat-table {
    thead .mat-header-row {
      background-color: #3f51b5;
    }
  }
  tr.mat-header-row {
    background-color: #3f51b5;

    th {
      color: #fff;
      font-weight: 700;
    }
  }

  .mat-column-symbol {
    text-align: center;
    mat-icon {
      cursor: pointer;
      margin: 0 5px;
    }
  }

  .text-center {
    text-align: center;
  }
}

.mx-5 {
  margin: 50px 0;
}

.mt-5 {
  margin-top: 2rem;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}
