<div class="home-page">
  <div class="container">
    <app-posts-slide>Loading</app-posts-slide>
    <div class="form mt-5">
      <form action="">
        <div class="row">
          <div class="col-md-4">
            <div class="row-control">
              <mat-form-field appearance="outline">
                <mat-label>Họ và tên</mat-label>
                <input matInput placeholder="Họ và tên" />
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </div>
            <div class="row-control">
              <mat-form-field appearance="outline">
                <mat-label>Giới tính</mat-label>
                <mat-select>
                  <mat-option value="male">Nam</mat-option>
                  <mat-option value="female">Nữ</mat-option>
                  <mat-option value="other">Khác</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row-control">
              <mat-form-field appearance="outline">
                <mat-label>Ngày sinh</mat-label>
                <input matInput [matDatepicker]="picker" />
                <!-- <mat-hint>Ngày sinh</mat-hint> -->
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="row-control">
              <mat-form-field appearance="outline">
                <mat-label>Cấp bậc</mat-label>
                <mat-select>
                  <mat-option value="male">1</mat-option>
                  <mat-option value="female">2</mat-option>
                  <mat-option value="other">3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row-control">
              <mat-form-field appearance="outline">
                <mat-label>Mã số thẻ BHYT</mat-label>
                <input matInput placeholder="Mã số thẻ BHYT" />
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </div>
            <div class="row-control">
              <mat-form-field appearance="outline">
                <mat-label>Nhóm máu</mat-label>
                <mat-select>
                  <mat-option value="A">A</mat-option>
                  <mat-option value="B">B</mat-option>
                  <mat-option value="AB">AB</mat-option>
                  <mat-option value="O">O</mat-option>
                  <mat-option value="other">Khác</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row-control">
              <mat-form-field appearance="outline">
                <mat-label>Số hiệu Sĩ quan/ Quân nhân</mat-label>
                <input matInput placeholder="Số hiệu Sĩ quan/ Quân nhân" />
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </div>
            <div class="row-control">
              <mat-form-field appearance="outline">
                <mat-label>Địa chỉ gia đình</mat-label>
                <input matInput placeholder="Địa chỉ gia đình" />
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row-control">
              <mat-form-field appearance="outline">
                <mat-label>Chức vụ</mat-label>
                <mat-select>
                  <mat-option value="male">1</mat-option>
                  <mat-option value="female">2</mat-option>
                  <mat-option value="other">3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row-control">
              <mat-form-field appearance="outline">
                <mat-label>Đơn vị</mat-label>
                <mat-select>
                  <mat-option value="male">1</mat-option>
                  <mat-option value="female">2</mat-option>
                  <mat-option value="other">3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row-control">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Số điện thoại gia đình</mat-label>
                <input type="tel" matInput placeholder="555-555-1234" />
                <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
              </mat-form-field>
            </div>
            <div class="row-control">
              <mat-form-field appearance="outline">
                <mat-label>Phân loại sức khỏe nhập ngũ</mat-label>
                <mat-select>
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="example-container mat-elevation-z8 mt-5">
          <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <!-- Bhyt Column -->
            <ng-container matColumnDef="bhyt">
              <th mat-header-cell *matHeaderCellDef>Mã BHYT</th>
              <td mat-cell *matCellDef="let element">{{ element.bhyt }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Họ và tên</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Ngày sinh</th>
              <td mat-cell *matCellDef="let element">{{ element.date }}</td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef>Giới tính</th>
              <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
            </ng-container>
            <!-- address Column -->
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef>Địa chỉ</th>
              <td mat-cell *matCellDef="let element">{{ element.address }}</td>
            </ng-container>
            <!-- level Column -->
            <ng-container matColumnDef="level">
              <th mat-header-cell *matHeaderCellDef>Cấp bậc</th>
              <td mat-cell *matCellDef="let element">{{ element.level }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Thao tác
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  (click)="editUser(element)"
                  >edit</mat-icon
                >
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  (click)="deleteUser(element)"
                  >delete</mat-icon
                >
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
