<div class="page__list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4 class="title">
                    <mat-icon>list</mat-icon>
                    Hồ sơ khám sức khoẻ
                </h4>
            </div>
            <div class="col-md-6" align="right">
                <div class="btn-group">
                    <!-- <app-button
                      [type]="'button'"
                      [matType]="'stroked'"
                      [title]="'Xoá danh sách đã chọn'"
                      [color]="'warn'"
                      [iconLeft]="'fa fa-trash'"
                      [isDisabled]=""
                      (handleClick)="(null)"
                  ></app-button> -->

                    <!-- <app-button
                  [type]="'button'"
                  [matType]="'raised'"
                  [title]="'Tạo mới'"
                  [color]="'warn'"
                  [iconLeft]="'fa fa-plus'"
                  (handleClick)="createAction()"
              ></app-button> -->
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <app-search
            [fieldSearch]="fieldSearch"
            [function]="null"
            (getSearchInfo)="handleSearch($event)"
        ></app-search>
        <div class="row">
            <div class="col-md-12">
                <table
                    mat-table
                    [dataSource]="dataSource"
                    class="mat-elevation-z8"
                >
                    <!-- Checkbox Column -->
                    <!-- <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox
                              (change)="$event ? toggleAllRows() : null"
                              [checked]="
                                  selection.hasValue() && isAllSelected()
                              "
                              [indeterminate]="
                                  selection.hasValue() && !isAllSelected()
                              "
                              [aria-label]="checkboxLabel()"
                          >
                          </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                          <mat-checkbox
                              (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)"
                          >
                          </mat-checkbox>
                      </td>
                  </ng-container> -->

                    <!-- index Column -->
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef>Vị trí</th>
                        <td mat-cell *matCellDef="let index = index">
                            {{ index + 1 }}
                        </td>
                    </ng-container>

                    <!-- maYTe Column -->
                    <ng-container matColumnDef="maYTe">
                        <th mat-header-cell *matHeaderCellDef>
                            Mã y tế cá nhân
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.codeData }}
                        </td>
                    </ng-container>

                    <!-- fullName Column -->
                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef>Họ tên</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.surname + ' ' + element.name }}
                        </td>
                    </ng-container>

                    <!-- birthday Column -->
                    <ng-container matColumnDef="birthday">
                        <th mat-header-cell *matHeaderCellDef>Ngày sinh</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.profiles | date: 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- Start of gender Column -->
                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef>Giới tính</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.profiles }}
                        </td>
                    </ng-container>

                    <!-- End of unit Column -->
                    <ng-container matColumnDef="unit">
                        <th mat-header-cell *matHeaderCellDef>Đơn vị</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.profiles }}
                        </td>
                    </ng-container>

                    <!-- End of rank Column -->
                    <ng-container matColumnDef="rank">
                        <th mat-header-cell *matHeaderCellDef>Cấp bậc</th>
                        <td mat-cell *matCellDef="let element">
                            {{ getValueDataTable(element, 'capBac') }}
                        </td>
                    </ng-container>

                    <!-- End of position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef>Chức vụ</th>
                        <td mat-cell *matCellDef="let element">
                            {{ getValueDataTable(element, 'chucVu') }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Hành động</th>
                        <td mat-cell *matCellDef="let element">
                            <button
                                (click)="createAction(element)"
                                class="btn btn-xs green ng-star-inserted"
                                style="padding: 5px"
                            >
                                <i class="fa fa-plus"></i>
                            </button>
                            <!-- <button
                                (click)="(null)"
                                class="btn btn-xs green ng-star-inserted"
                                style="padding: 5px"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                            </button> -->
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                    <!-- <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    (click)="selection.toggle(row)"
                ></tr> -->
                </table>

                <mat-paginator
                    [pageSizeOptions]="[10, 15, 20]"
                    hidePageSize
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
