.me-px {
    margin-right: 10px;
}

.mx-10 {
    margin: 10px 0px;
}

.title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #32c5d2;
    font-weight: bold;

    mat-icon {
        font-size: 28px;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

mat-divider {
    margin: 20px 0px 30px 0px;
}

.search {
    .panel-title {
        align-items: center;

        mat-icon {
            margin-right: 5px;
        }
    }
}

table {
    width: 100%;

    tr.mat-header-row {
        background-color: var(--primary-color);

        .mat-header-cell {
            text-align: center;
        }
    }

    th.mat-header-cell,
    td {
        text-align: center;
    }

    th.mat-header-cell {
        color: #fff;
    }

    .mat-checkbox .mat-checkbox-frame {
        border-color: #dddddd;
    }
}

mat-form-field {
    width: 100%;
}

.mat-column-actions {
    width: 10%;
}
.mat-column-index,
.mat-column-select {
    width: 5%;
}

.mat-column-actions {
    text-align: center;
}

.blue {
    color: #fff;
    background-color: #3598dc;
    border-color: #3598dc;
}

// override material paginator
::ng-deep .mat-paginator {
    .mat-paginator-navigation-first {
        order: 1;
    }
    .mat-paginator-navigation-previous {
        order: 2;
    }
    // override material paginator page switch
    .mat-paginator-range-label {
        order: 3;
    }
    .mat-paginator-navigation-next {
        order: 4;
    }
    .mat-paginator-navigation-last {
        order: 5;
    }
}
