.size-24 {
    font-size: 24px;
}

.text-nodata {
    margin-top: 10px;
    margin-bottom: 0;
}

.btn.green-jungle:not(.btn-outline) {
    color: #ffffff;
    background-color: #26c281;
    border-color: #26c281;
}

.btn.blue:not(.btn-outline) {
    color: #ffffff;
    background-color: #3598dc;
    border-color: #3598dc;
}

.btn.red:not(.btn-outline) {
    color: #ffffff;
    background-color: #e7505a;
    border-color: #e7505a;
}

::ng-deep {
    .mat-header-cell.mat-column-actions {
        width: 16%;
    }
}

.active {
    color: #28a745;
}

.pause {
    color: #f44336;
}
