<div class="page__list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4 class="title">
                    <mat-icon>list</mat-icon>
                    Danh sách thông tư
                </h4>
            </div>
            <div class="col-md-6" align="right" *ngIf="allowExec === true">
                <app-button
                    [type]="'button'"
                    [matType]="'raised'"
                    [title]="'Tạo mới'"
                    [color]="'warn'"
                    [iconLeft]="'fa fa-plus'"
                    (handleClick)="openDialog(null, 'createTT')"
                ></app-button>
            </div>
        </div>

        <!-- SEARCH -->
        <div class="search-layout">
            <app-search-advanced
                [label]="'Tìm kiếm'"
                [placeHolder]="'Tìm kiếm theo số thông tư'"
                [fieldSearch]="fieldSearch"
                (getSearchInfo)="handleSearchAdvanced($event)"
                (getSearchName)="handleSearch($event)"
            ></app-search-advanced>
        </div>

        <div class="row">
            <div class="col-12 col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <!-- Code Column -->
                    <ng-container matColumnDef="soThongTu">
                        <th mat-header-cell *matHeaderCellDef>Số thông tư</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.soThongTu }}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="tenThongTu">
                        <th mat-header-cell *matHeaderCellDef>Tên thông tư</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.tenThongTu }}
                        </td>
                    </ng-container>

                    <!-- Amount Column -->
                    <ng-container matColumnDef="ngayBanHanh">
                        <th mat-header-cell *matHeaderCellDef>Ngày ban hành</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            {{ element.ngayCoHieuLuc | date : 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- Unit Column -->
                    <ng-container matColumnDef="trangThai">
                        <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                            [ngClass]="
                                element.trangThai === 0 ? 'pause' : 'active'
                            "
                        >
                            {{ getStatus(element.trangThai) }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-center"
                        >
                            <button
                                class="btn btn-xs green-jungle ng-star-inserted"
                                (click)="download(element)"
                            >
                                <i class="fa fa-download"></i>
                                Tải xuống
                            </button>

                            <button
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="openDialog(element, 'editTT')"
                                *ngIf="allowExec === true"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                                Sửa
                            </button>

                            <button
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteData(element)"
                                *ngIf="allowExec === true"
                            >
                                <i class="fa fa-trash"></i>
                                Xoá
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="this.dataSource.data.length <= 0">
                    <p class="text-nodata">Không tìm thấy dữ liệu</p>
                </ng-container>

                <mat-paginator
                    [pageSizeOptions]="[10, 15, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
