<div class="page__list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4 class="title">
                    BẢNG QUI ĐỊNH % SỬ DỤNG ĐƯỢC VÀ NHIỆT LƯỢNG CUNG CẤP CHO 100
                    GAM
                </h4>
            </div>
        </div>

        <!-- SEARCH -->
        <div class="search-layout text-center">
            <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <dynamic-form-builder [form]="form" [fields]="field">
                </dynamic-form-builder>

                <div *ngIf="isEdit">
                    <app-button
                        [type]="'button'"
                        [matType]="'stroked'"
                        [title]="'Huỷ'"
                        [color]="'primary'"
                        (handleClick)="goBackFormCreate()"
                    ></app-button>
                    <app-button
                        [type]="'button'"
                        [matType]="'flat'"
                        [title]="'Cập nhật'"
                        [color]="'primary'"
                        [isDisabled]="!form.valid"
                        (handleClick)="submitDataEdit()"
                    ></app-button>
                </div>

                <div *ngIf="!isEdit">
                    <app-button
                        [type]="'submit'"
                        [matType]="'flat'"
                        [title]="'Thêm'"
                        [color]="'primary'"
                        [isDisabled]="!form.valid"
                    ></app-button>
                </div>
            </form>
        </div>

        <mat-divider class="mt-30"></mat-divider>

        <div class="row">
            <div class="col-12 col-md-12">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef>STT</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            {{ i + 1 }}
                        </td>
                    </ng-container>

                    <!-- Code Column -->
                    <ng-container matColumnDef="lttp">
                        <th mat-header-cell *matHeaderCellDef>Nhóm LTTP, CĐ</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.value2 }}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="dvt">
                        <th mat-header-cell *matHeaderCellDef>ĐVT</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.value3 }}
                        </td>
                    </ng-container>

                    <!-- Amount Column -->
                    <ng-container matColumnDef="usedPercent">
                        <th mat-header-cell *matHeaderCellDef>
                            % sử dụng được
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.number2 }}
                        </td>
                    </ng-container>

                    <!-- Unit Column -->
                    <ng-container matColumnDef="used100">
                        <th mat-header-cell *matHeaderCellDef>
                            Nhiệt lượng trên 100g sử dụng
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.number3 }}
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                        <td mat-cell *matCellDef="let element">
                            <button
                                class="btn btn-xs blue ng-star-inserted"
                                (click)="editData(element)"
                            >
                                <i class="fa fa-pencil-square-o"></i>
                            </button>

                            <button
                                class="btn btn-xs red ng-star-inserted"
                                (click)="deleteData(element)"
                            >
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsOfField"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsOfField"
                    ></tr>
                </table>

                <ng-container *ngIf="this.dataSource.data.length <= 0">
                    <p class="text-nodata">Không tìm thấy dữ liệu</p>
                </ng-container>

                <mat-paginator
                    [pageSizeOptions]="[10, 15, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
