<div class="heading">
    <div mat-dialog-title>Xem đối tượng ăn</div>
</div>
<div mat-dialog-content>
    <div *ngFor="let item of listObject">
        <p style="border-bottom: 1px solid rgb(192, 192, 192)">
            {{ compareIdToNameObject(item) }}
        </p>
    </div>
</div>

<div mat-dialog-actions class="btn-group footer" align="end">
    <app-button
        [type]="'button'"
        [matType]="'stroked'"
        [title]="'Đóng'"
        [color]="'primary'"
        (handleClick)="onCloseDialog()"
    ></app-button>
</div>
