<div class="table-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="table-rate-limit-reached">
        Đang tải dữ liệu, vui lòng chờ trong ít phút
    </div>
</div>

<div class="wraper-tabble">
    <table class="spec-table" id="here_table" *ngIf="dataTable.length > 0">
        <tr>
            <th rowspan="2" style="width: 15px">Ngày</th>
            <th rowspan="2" colspan="2">Quân số ăn</th>
            <th [attr.colspan]="getLengthColspan()">
                Tên lương thực thực phẩm, chất đốt
            </th>
            <th rowspan="2">Nhiệt lượng</th>
        </tr>
        <tr>
            <th class="text-vertical" *ngFor="let trItem of tempDataTable">
                {{ trItem.ten }}
            </th>
        </tr>

        <tr>
            <th></th>
            <ng-container *ngFor="let trItem of dataTable">
                <ng-container [ngSwitch]="true">
                    <th
                        *ngSwitchCase="trItem.ten.toLowerCase().includes('qs')"
                        colspan="2"
                    >
                        ĐVT
                    </th>
                    <th
                        *ngSwitchCase="
                            trItem.ten.toLowerCase().includes('nhiệt lượng')
                        "
                    >
                        Kcalo
                    </th>
                    <th *ngSwitchDefault>{{ trItem.donViTinh }}</th>
                </ng-container>
            </ng-container>
        </tr>

        <!-- Data render column -->
        <tr class="orientation orientation-day">
            <div
                class="td-custom"
                *ngFor="let day of listDayinMonth"
                style="position: relative"
            >
                <td class="td-top">&nbsp;</td>
                <td class="td-bottom">&nbsp;</td>
                <span>{{ day }}</span>
            </div>
        </tr>

        <tr class="orientation orientation-custom">
            <ng-container *ngFor="let day of listDayinMonth">
                <td>Xuất ăn thực tế</td>
                <td>Đl bình quân</td>
            </ng-container>
        </tr>

        <tr class="orientation" *ngFor="let trItem of dataTable">
            <div *ngFor="let itemEat of trItem.ketQua">
                <td>
                    {{
                        itemEat.xuatAnThucTe
                            ? roundNumberFloatNumber(itemEat.xuatAnThucTe, 100)
                            : 0
                    }}
                </td>
                <td>
                    {{
                        itemEat.dinhLuongBinhQuan
                            ? roundNumberFloatNumber(
                                  itemEat.dinhLuongBinhQuan,
                                  100
                              )
                            : 0
                    }}
                </td>
            </div>
        </tr>

        <!-- footer -->

        <tr class="spec-table-footer">
            <th colspan="2">Cộng bình quân</th>
            <ng-container *ngFor="let trItem of dataTable">
                <th>{{ trItem.congBinhQuan }}</th>
            </ng-container>
        </tr>
        <tr class="spec-table-footer">
            <th colspan="2">
                <span style="padding-right: 5px" class="text-warning"
                    >Định lượng quy định</span
                >
                <i
                    class="fa fa-pencil-square-o"
                    (click)="quantitativeRegulation()"
                ></i>
            </th>
            <ng-container *ngFor="let trItem of reportResultCookDefaultCheck">
                <th>{{ trItem }}</th>
            </ng-container>
        </tr>
        <tr class="spec-table-footer">
            <th colspan="2" style="color: #1deb20">So sánh đánh giá</th>
            <ng-container *ngFor="let trItem of dataTable; let ids = index">
                <th [ngSwitch]="true">
                    <div
                        *ngSwitchCase="
                            dataTable[ids].congBinhQuan >
                            reportResultCookDefaultCheck[ids]
                        "
                    >
                        <span style="color: #1deb20">Vượt</span>
                    </div>
                    <div
                        *ngSwitchCase="
                            dataTable[ids].congBinhQuan <
                            reportResultCookDefaultCheck[ids]
                        "
                    >
                        <span class="text-danger">Thấp</span>
                    </div>
                    <div *ngSwitchDefault>
                        <span class="text-warning">Đạt</span>
                    </div>
                </th>
            </ng-container>
        </tr>
    </table>
</div>
