.table-loading-shade {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
}

.wraper-tabble {
    width: 100%;
    overflow-x: auto;
}

table.spec-table {
    border: 1px solid #fff;
    width: 100%;
    margin: 0 0 1em 0;
}
table.spec-table > tr > th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

// table.spec-table tr td:nth-child(even) {
//     background: #ddd;
// }
// table.spec-table tr td:nth-child(odd) {
//     background: #eee;
// }

table.spec-table tr {
    th {
        border: 1px solid #000;
        text-align: center;
        background: #dddddd;
        color: #000;
        font-weight: bold;

        &.text-vertical {
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }
    }
}

table.spec-table .spec-table-footer {
    th {
        background: #fff !important;
        text-align: left;
    }
}

table.spec-table {
    tr.orientation-day {
        td.td-top {
            cursor: default;
            border-bottom: 1px solid transparent;
        }
        td.td-bottom {
            cursor: default;
            border-top: 1px solid transparent;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    td {
        border: 1px solid #000;
    }
}

table.spec-table th,
td {
    font-size: 0.9em;
    padding: 7px;
    text-align: left;
}

tr.orientation {
    display: table-cell;

    &-custom {
        display: grid;
        grid-template-columns: minmax(120px, auto);
    }
}
tr.orientation th,
tr.orientation td {
    display: grid;
}
