<form [formGroup]="form">
    <div class="row">
        <div [class]="field.css" *ngFor="let field of fields">
            <field-builder
                *ngIf="field.groupCode === groupCode"
                [field]="field"
                [form]="form"
            >
            </field-builder>
        </div>
    </div>
</form>
